<ion-list lines="none" inset="false">
    <ng-container *ngFor="let period of periods">
        <ion-item [ngSwitch]="period" mode="md" [class.active]="service.periodString === period"
            (click)="setPeriod(period)" class="ion-text-center" lines="none" button>
            <ion-label *ngSwitchCase="DefaultTypes.PeriodString.DAY" translate>
                Edge.History.day
            </ion-label>
            <ion-label *ngSwitchCase="DefaultTypes.PeriodString.WEEK" translate>
                Edge.History.week
            </ion-label>
            <ion-label *ngSwitchCase="DefaultTypes.PeriodString.MONTH" translate>
                Edge.History.month
            </ion-label>
            <ion-label *ngSwitchCase="DefaultTypes.PeriodString.YEAR" translate>
                Edge.History.year
            </ion-label>
            <ion-label *ngSwitchCase="DefaultTypes.PeriodString.TOTAL" translate>
                Edge.History.TOTAL
            </ion-label>
        </ion-item>
    </ng-container>
    <ion-item mode="md" [class.active]="service.periodString === DefaultTypes.PeriodString.CUSTOM"
        (click)="showCustomDate = !showCustomDate; setPeriod(DefaultTypes.PeriodString.CUSTOM)" class="ion-text-center"
        lines="none" button>
        <ion-label translate>
            Edge.History.otherPeriod
        </ion-label>
    </ion-item>
</ion-list>
<input *ngIf="showCustomDate" (dateChanged)="onDateChanged($event.dateRange)" type="hidden" [locale]="locale"
    angular-mydatepicker name="mydate" [options]="myDpOptions" />
