<div *ngIf="device" fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="100%">
    <md-card class="single">
      <md-card-header>
        <md-icon md-card-avatar>code</md-icon>
        <md-card-title>{{ device.address }}</md-card-title>
        <md-card-subtitle>{{ device.name }}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
        <div>
          <md-slide-toggle (change)="toggleSubscribe($event)" [checked]="isSubscribed" i18n>Automatische Aktualisierung</md-slide-toggle>
        </div>
        <table class="full_width">
          <tr>
            <th i18n>Zeitpunkt</th>
            <th i18n>Level</th>
            <th i18n>Quelle</th>
            <th i18n>Nachricht</th>
          </tr>
          <tr *ngFor="let log of logs" [style.color]="log.color">
            <td>{{ log.time }}</td>
            <td>{{ log.level }}</td>
            <td style="word-break: break-all">{{ log.source }}</td>
            <td>{{ log.message }}</td>
          </tr>
        </table>
      </md-card-content>
    </md-card>
  </div>
</div>