<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>{{ component.alias }}</ion-title>
        <ion-buttons slot="end">
            <oe-help-button key="CONTROLLER_IO_FIX_DIGITAL_OUTPUT"></oe-help-button>
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content class="underline">
        <table class="full_width">
            <tr>
                <td translate>
                    General.mode
                </td>
            </tr>
        </table>
        <!-- ngIf prevents ionChange to trigger on init -->
        <ion-segment *ngIf="component" (ionChange)="updateMode($event)" value="{{ component.properties['isOn'] }}"
            scrollable="false">
            <ion-segment-button value="true">
                <ion-label translate>
                    General.on
                </ion-label>
                <ion-icon color="success" style="width:40px" name="power-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="false">
                <ion-label translate>
                    General.off
                </ion-label>
                <ion-icon name="power-outline" style="width: 40px"></ion-icon>
            </ion-segment-button>
        </ion-segment>
    </ion-card-content>
</ion-content>