<div fxLayout fxLayoutAlign="start start" fxLayoutWrap="wrap">

  <mat-card fxFlex="100%" class="single_leftright single_top">
    <ngx-loading [show]="!(currentData && config)"></ngx-loading>
    <mat-card-header>
      <mat-icon mat-card-avatar>format_list_bulleted</mat-icon>
      <mat-card-title translate>Device.Overview.Energytable.Title</mat-card-title>
    </mat-card-header>
  </mat-card>

  <ng-container *ngIf="currentData && config">
    <!-- Storage -->
    <ng-container *ngFor="let thing of config.storageThings">
      <mat-card class="single_leftright" fxFlex="100%">
        <mat-card-header>
          <img src="assets/img/storage.png" mat-card-avatar/>
          <mat-card-title translate>General.StorageSystem</mat-card-title>
          <mat-card-subtitle>{{ config.things[thing].alias }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="currentData.data[thing] as data">
          <table class="full_width">
            <tr class="underline">
              <td style="width:50%" translate>General.Soc</td>
              <td style="width:15%"></td>
              <td style="width:25%" class="align_right">{{ data.Soc }}</td>
              <td style="width:10%">%</td>
            </tr>
            <!-- Symmetric ESS -->
            <ng-container *ngIf="data.ActivePower != null && data.ReactivePower != null">
              <tr>
                <td translate>General.ChargePower</td>
                <td></td>
                <td class="align_right" *ngIf="data.ActivePower < 0">{{ data.ActivePower | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePower >= 0">0</td>
                <td>W</td>
              </tr>
              <tr class="underline">
                <td translate>General.DischargePower</td>
                <td></td>
                <td class="align_right" *ngIf="data.ActivePower > 0">{{ data.ActivePower }}</td>
                <td class="align_right" *ngIf="data.ActivePower <= 0">0</td>
                <td>W</td>
              </tr>
              <tr class="gray_color">
                <td translate>Device.Overview.Energymonitor.ReactivePower</td>
                <td></td>
                <td class="align_right">{{ data.ReactivePower }}</td>
                <td>var</td>
              </tr>
            </ng-container>
            <!-- Asymmetric ESS -->
            <ng-container *ngIf="data.ActivePowerL1 != null && data.ActivePowerL2 != null && data.ActivePowerL3 != null">
              <tr>
                <td translate>General.ChargePower</td>
                <td>L1</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 < 0">{{ data.ActivePowerL1 | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 >= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 < 0">{{ data.ActivePowerL2 | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 >= 0">0</td>
                <td>W</td>
              </tr>
              <tr class="underline">
                <td></td>
                <td>L3</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 < 0">{{ data.ActivePowerL3 | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 >= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td translate>General.DischargePower</td>
                <td>L1</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 > 0">{{ data.ActivePowerL1 }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 <= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 > 0">{{ data.ActivePowerL2 }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 <= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td></td>
                <td>L3</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 > 0">{{ data.ActivePowerL3 }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 <= 0">0</td>
                <td>W</td>
              </tr>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <!-- Grid -->
    <ng-container *ngFor="let thing of config.gridMeters">
      <mat-card class="single_leftright" fxFlex="100%">
        <mat-card-header>
          <img src="assets/img/grid.png" mat-card-avatar/>
          <mat-card-title translate>Device.Overview.Energymonitor.GridMeter</mat-card-title>
          <mat-card-subtitle>{{ thing }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="currentData.data[thing] as data">
          <table class="full_width">
            <!-- Symmetric Meter -->
            <ng-container *ngIf="data.ActivePower != null && data.ReactivePower != null">
              <tr>
                <td style="width:50%" translate>General.GridBuy</td>
                <td style="width:15%"></td>
                <td style="width:25%" class="align_right" *ngIf="data.ActivePower > 0">{{ data.ActivePower }}</td>
                <td style="width:25%" class="align_right" *ngIf="data.ActivePower <= 0">0</td>
                <td style="width:10%">W</td>
              </tr>
              <tr class="underline">
                <td translate>General.GridSell</td>
                <td></td>
                <td class="align_right" *ngIf="data.ActivePower < 0">{{ data.ActivePower | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePower >= 0">0</td>
                <td>W</td>
              </tr>
              <tr class="gray_color">
                <td translate>Device.Overview.Energymonitor.ReactivePower</td>
                <td></td>
                <td class="align_right">{{ data.ReactivePower }}</td>
                <td>var</td>
              </tr>
            </ng-container>
            <!-- Asymmetric Meter -->
            <ng-container *ngIf="!(data.ActivePower != null && data.ReactivePower != null) && data.ActivePowerL1 != null && data.ActivePowerL2 != null && data.ActivePowerL3 != null">
              <tr>
                <td style="width:50%" translate>General.GridBuy</td>
                <td style="width:15%">L1</td>
                <td style="width:25%" class="align_right" *ngIf="data.ActivePowerL1 > 0">{{ data.ActivePowerL1 }}</td>
                <td style="width:25%" class="align_right" *ngIf="data.ActivePowerL1 <= 0">0</td>
                <td style="width:10%">W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 > 0">{{ data.ActivePowerL2 }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 <= 0">0</td>
                <td>W</td>
              </tr>
              <tr class="underline">
                <td></td>
                <td>L3</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 > 0">{{ data.ActivePowerL3 }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 <= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td translate>General.GridSell</td>
                <td>L1</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 < 0">{{ data.ActivePowerL1 | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 >= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 < 0">{{ data.ActivePowerL2 | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 >= 0">0</td>
                <td>W</td>
              </tr>
              <tr>
                <td></td>
                <td>L3</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 < 0">{{ data.ActivePowerL3 | sign }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 >= 0">0</td>
                <td>W</td>
              </tr>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <!-- Production -->
    <ng-container *ngFor="let thing of config.productionMeters">
      <mat-card class="single_leftright" fxFlex="100%">
        <mat-card-header>
          <img src="assets/img/production.png" mat-card-avatar/>
          <mat-card-title translate>Device.Overview.Energymonitor.ProductionMeter</mat-card-title>
          <mat-card-subtitle>{{ thing }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="currentData.data[thing] as data">
          <table class="full_width">
            <ng-container *ngIf="data.ActualPower != null">
              <tr>
                <td style="width:50%" translate>General.Production</td>
                <td style="width:15%"></td>
                <td style="width:25%" class="align_right">{{ data.ActualPower }}</td>
                <td style="width:10%">W</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.ActivePower != null && data.ReactivePower != null">
              <tr class="underline">
                <td style="width:50%" translate>General.Production</td>
                <td style="width:15%"></td>
                <td style="width:25%" class="align_right">{{ data.ActivePower }}</td>
                <td style="width:10%">W</td>
              </tr>
              <tr class="gray_color">
                <td translate>Device.Overview.Energymonitor.ReactivePower</td>
                <td></td>
                <td class="align_right">{{ data.ReactivePower }}</td>
                <td>var</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="!(data.ActivePower != null && data.ReactivePower != null) && data.ActivePowerL1 != null && data.ActivePowerL2 != null && data.ActivePowerL3 != null">
              <tr>
                <td style="width:50%" translate>General.Production</td>
                <td style="width:15%">L1</td>
                <td style="width:25%" class="align_right">{{ data.ActivePowerL1 }}</td>
                <td style="width:10%">W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right">{{ data.ActivePowerL2 }}</td>
                <td>W</td>
              </tr>
              <tr>
                <td></td>
                <td>L3</td>
                <td class="align_right">{{ data.ActivePowerL3 }}</td>
                <td>W</td>
              </tr>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
    </ng-container>

    <!-- Consumption -->
    <ng-container *ngIf="currentData.summary.consumption as data">
      <mat-card class="single_leftright" fxFlex="100%">
        <mat-card-header>
          <img src="assets/img/consumption.png" mat-card-avatar/>
          <mat-card-title translate>General.Consumption</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <table class="full_width">
            <ng-container *ngIf="data.activePower != null">
              <tr>
                <td style="width:50%" translate>General.Power</td>
                <td style="width:15%"></td>
                <td style="width:25%" class="align_right">{{ data.activePower }}</td>
                <td style="width:10%">W</td>
              </tr>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>