<oe-flat-widget
    [title]="'SETTINGS.SYSTEM_UPDATE.EMS_RESTARTING' | translate: {edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}"
    [icon]="{name: 'hammer-outline', color:'primary', size: 'medium'}" *ngIf="edge" class="ion-padding-top">
    <ng-container *ngFor="let option of options">
        <ion-row *ngIf="OPTION.INFO">
            <ion-col>
                <ion-label>
                    {{OPTION.INFO}}
                </ion-label>
            </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-end">
            <ion-col *ngIf="OPTION.MESSAGE">
                <ion-label color="{{OPTION.COLOR}}">
                    {{OPTION.MESSAGE}}
                </ion-label>
            </ion-col>

            <ng-container *ngIf="(systemRestartState | async)?.state !== SYSTEM_RESTART_STATE.INITIAL">
                <ion-col>
                    <ng-container [ngSwitch]="(systemRestartState | async)?.state">
                        <ng-container *ngIf="(systemRestartState | async)?.key === OPTION.KEY">
                            <div *ngSwitchCase="SYSTEM_RESTART_STATE.RESTARTING" style="height: 3vh">
                                <ngx-spinner [name]="spinnerId + OPTION.KEY"></ngx-spinner>
                            </div>
                        </ng-container>
                    </ng-container>
                </ion-col>
            </ng-container>

            <ion-col *ngIf="!OPTION.BUTTON.DISABLED">
                <ion-item class="ion-float-right" lines="none" style="justify-content: end; ">
                    <ion-button (click)="OPTION.BUTTON.CALLBACK()">{{OPTION.BUTTON.LABEL}}</ion-button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ng-container>
</oe-flat-widget>
