.app-item {
    border: 2px solid black;
    margin-bottom: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.border-red {
    border: 2px solid red;
}

.shifted-right {
    margin-left: 10px;
}