<installation-view iconName="settings-outline" header="App-Installation" (previousClicked)="onPreviousClicked()"
  (nextClicked)="onNextClicked()">
  <ion-item lines="none">
    <ion-textarea readonly auto-grow
      value="Sie können entweder jetzt oder zu einem späteren Zeitpunkt eine der kostenlosen Apps auswählen. Achtung: Wenn die App einmal installiert ist, können Sie Ihre Entscheidung nicht mehr ändern.">
    </ion-textarea>
  </ion-item>

  <!-- Hide/Show Hardy Barth Apps -->
  <ion-item lines="none" color="primary" class="app-item" (click)="isHardyBarthVisible = !isHardyBarthVisible">
    <ion-label>Hardy Barth Ladestation</ion-label>
  </ion-item>

  <!-- Display all Apps -->
  <ng-container *ngFor="let app of apps">
    <ion-item *ngIf="!app.id.startsWith('hardyBarth') || isHardyBarthVisible" lines="none"
      [color]="app.id === 'later' ? 'secondary' : 'primary'" class="app-item"
      [class]="(app.id.startsWith('hardyBarth') ? 'shifted-right' : '') + ' ' + (app.isSelected ? 'border-red' : '')"
      (click)="selectApp(app)">
      <ion-label>{{app.alias}}</ion-label>
    </ion-item>
  </ng-container>
</installation-view>