<ion-card button style="cursor: pointer;" (click)="presentModal()" *ngIf=" edge">
  <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-item lines="full" color="light">
      <ion-avatar>
        <ion-img src="assets/img/evcs.png"></ion-img>
      </ion-avatar>
      <ion-label *ngIf="config.properties.alias as alias" style="padding-left: 20px;">
        {{ alias }}
      </ion-label>
      <ion-label *ngIf="!config.properties.alias" style="padding-left: 20px;" translate>
        Edge.Index.Widgets.EVCS.ChargingStationCluster
      </ion-label>
    </ion-item>
    <ion-label *ngIf="currentData[componentId + '/State'] != 3">
      <ion-card-content>

        <table class="full_width">
          <tr>
            <td style="width:50%" translate>Edge.Index.Widgets.EVCS.AmountOfChargingStations</td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ evcssInCluster.length }}
            </td>
          </tr>
          <tr>
            <td style="width:50%">
              <ion-label *ngIf="!isEvcsCluster" translate>Edge.Index.Widgets.EVCS.TotalChargingPower
              </ion-label>
            </td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ currentData[componentId + '/ChargePower'] | number:'1.0-0' }} W
            </td>
          </tr>
        </table>
      </ion-card-content>
    </ion-label>
    <ion-label *ngIf="currentData[componentId + '/State'] == 3">
      <ion-item class="normalFontSize">
        <table>
          <tr>
            <td translate>
              Edge.Index.Widgets.EVCS.ClusterConfigError
            </td>
          </tr>
        </table>
      </ion-item>
    </ion-label>
  </ng-container>
</ion-card>