<ng-container *ngIf="warningsAndFaultss.length > 0">
  <div fxLayout fxLayoutAlign="start start" fxLayout="wrap">
    <mat-card fxFlex="100%" class="single_leftright single_top">
      <mat-card-header>
        <mat-icon mat-card-avatar>error</mat-icon>
        <mat-card-title>Aktuelle Warnungen und Fehler</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <table class="full_width">
          <ng-container *ngFor="let warningsAndFaults of warningsAndFaultss">
            <ng-container *ngIf="warningsAndFaults.thing as thing">
              <tr colspan="2" style="font-weight: bold">
                <ng-container *ngIf="thing.name">
                  <span>{{ warningsAndFaults.thing.name }} ({{ warningsAndFaults.thing.id }})
                  </span>
                </ng-container>
                <ng-container *ngIf="!thing.name">{{ warningsAndFaults.thing.id }} </ng-container>
              </tr>
              <ng-container *ngIf="warningsAndFaults.faults.length > 0">
                <tr *ngFor="let line of warningsAndFaults.faults">
                  <td style="color:red">Fehler</td>
                  <td>{{ line.name }}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="warningsAndFaults.warnings.length > 0">
                <tr *ngFor="let line of warningsAndFaults.warnings">
                  <td style="color:orange">Warnung</td>
                  <td>{{ line.name }}</td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </table>
      </mat-card-content>

      <mat-card-actions *ngIf="edge" fxLayout fxLayoutAlign="end start">
        <button mat-fab routerLink="/device/{{ edge.name }}/state">
          <mat-icon>navigate_next</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</ng-container>