<div [ngClass]="field.className">
  <ion-list>

    @if (to.label || to.description) {
      <ion-item lines="none">
        <ion-label>
          @if (to.label) {
            <h2>{{ to.label }}</h2>
          }
          @if (to.description) {
            <p class="ion-text-secondary">{{ to.description }}</p>
          }
        </ion-label>
      </ion-item>
    }

    <ion-radio-group [formControl]="formControl" [formlyAttributes]="field">
      @for (option of to.options; track option) {
        <ion-item>
          @if (to.radioSlot === 'start') {
            <ion-radio justify="start" labelPlacement="end" [value]="option.value">
              {{ option.label }}
            </ion-radio>
          } @else {
            <ion-radio [value]="option.value">
              {{ option.label }}
            </ion-radio>
          }
        </ion-item>
      }
    </ion-radio-group>

    @if (showError) {
      <ion-item lines="none">
        <ion-label color="danger" class="ion-text-wrap">
          <formly-validation-message [field]="field"></formly-validation-message>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</div>
