<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>stop</md-icon>
    <md-card-title>Wechselrichter</md-card-title>
    <md-card-subtitle>starten/stoppen</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <button md-raised-button (click)="setInverterState(true)" class="btn btn-default">starten</button>
    <button md-raised-button (click)="setInverterState(false)" class="btn btn-default">stoppen</button>
  </md-card-content>
</md-card>

<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>stop</md-icon>
    <md-card-title>Leistungsvorgabe</md-card-title>
    <md-card-subtitle>Manuelle Vorgabe von Wirk- und Blindleistung</md-card-subtitle>
  </md-card-header>
  <md-card-content [formGroup]="manualPQForm" fxLayout fxLayoutWrap="wrap">
    <div fxFlex="100%">
      <md-input-container fxFlex="200px"><input formControlName="p" type="number" placeholder="Wirkleistung (P)" mdInput><span md-suffix>W</span></md-input-container>
      <div fxFlex></div>
    </div>
    <div fxFlex="100%">
      <md-input-container fxFlex="200px"><input formControlName="q" type="number" placeholder="Blindleistung (Q)" mdInput><span md-suffix>Var</span></md-input-container>
      <div fxFlex></div>
    </div>
    <div fxFlex="100%">
      <button md-raised-button (click)="applyManualPQ(manualPQForm)" class="btn btn-default">Übernehmen</button>
      <button md-raised-button (click)="removeManualPQ()" class="btn btn-default">Zurücksetzen</button>
    </div>
  </md-card-content>
</md-card>

<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>stop</md-icon>
    <md-card-title>Manueller Befehl</md-card-title>
  </md-card-header>
  <md-card-content [formGroup]="manualMessageForm" fxLayout fxLayoutWrap="wrap">
    <div fxFlex="100%" fxLayout>
      <md-input-container fxFlex="100%"><input formControlName="message" placeholder="JSON" mdInput></md-input-container>
      <div fxFlex></div>
    </div>
    <div fxFlex="100%">
      <button md-raised-button (click)="sendManualMessage(manualMessageForm)" class="btn btn-default">Senden</button>
    </div>
  </md-card-content>
</md-card>