<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title *ngIf="behaviour !== 0" translate>Edge.Config.App.Key.useKey</ion-title>
        <ion-title *ngIf="behaviour === 0" translate>Edge.Config.App.Key.registerKey</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<div class="inner-content">
    <ngx-spinner [name]="spinnerId"></ngx-spinner>
    <ion-grid>
        <ion-row>
            <ion-col size="12" translate>
                Edge.Config.App.Key.enterKey
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="12">
                <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-grid>
                <ion-row>
                    <ion-col size="12" size-md="4">
                        <ion-button (click)="modalCtrl.dismiss()" style="display: flex;" translate>
                            General.cancel
                        </ion-button>
                    </ion-col>
                    <ion-col size="12" size-md="8">
                        <ion-button *ngIf="!isKeyValid()" (click)="validateKey()" [disabled]="form.invalid"
                            style="display: flex;" translate>
                            Edge.Config.App.Key.validateKey
                        </ion-button>
                        <ion-button *ngIf="isKeyValid()" (click)="onClickCreateApp()" [ngSwitch]="behaviour"
                            style="display: flex;">
                            <!-- REGISTER -->
                            <ion-label *ngSwitchCase="0" translate>Edge.Config.App.Key.registerKey</ion-label>
                            <!-- NAVIGATE -->
                            <ion-label *ngSwitchCase="1" translate>Edge.Config.App.Key.useKey</ion-label>
                            <!-- SELECT -->
                            <ion-label *ngSwitchCase="2" translate>Edge.Config.App.Key.useKey</ion-label>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
</div>