<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>General.grid</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="service.currentEdge | async as edge">
        <ng-container *ngIf="edge.currentData | async as currentData">
            <ion-card-content *ngIf="currentData.summary.grid as sum">
                <table class="full_width">
                    <tr *ngIf="sum.gridMode == 0 || sum.gridMode == 2">
                        <td colspan="4" translate>General.offGrid</td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.gridBuyAdvanced</td>
                        <td style="width:35%" class="align_right">
                            {{ sum.buyActivePower | unitvalue:'W' }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.gridSellAdvanced</td>
                        <td style="width:35%" class="align_right">
                            {{ sum.sellActivePower | unitvalue:'W' }}
                        </td>
                    </tr>
                </table>
                <!-- for spacing between Phases and GridBuy/Sell -->
                <div *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null"
                    style="padding-top: 5px;"></div>
                <!-- 3 Phases -->
                <table class="full_width"
                    *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null">
                    <tr *ngIf="sum.activePowerL1 > 0">
                        <td style="width:2%"></td>
                        <td style="width:63%"><span translate>Phase</span> L1 <span
                                translate>General.gridBuyAdvanced</span></td>
                        <td style="width:35%" class="align_right">
                            {{ sum.activePowerL1 | unitvalue:'W' }}
                        </td>
                    </tr>
                    <tr *ngIf="sum.activePowerL1 <= 0">
                        <td style="width:2%"></td>
                        <td style="width:63%"><span translate>Phase</span> L1 <span
                                translate>General.gridSellAdvanced</span></td>
                        <td style="width:35%" class="align_right">
                            {{ (sum.activePowerL1 * -1) | unitvalue:'W' }}
                        </td>
                    </tr>
                    <tr *ngIf="sum.activePowerL2 > 0">
                        <td style="width:2%"></td>
                        <td style="width:63%"><span translate>Phase</span> L2 <span
                                translate>General.gridBuyAdvanced</span></td>
                        <td style="width:35%" class="align_right">
                            {{ sum.activePowerL2 | unitvalue:'W' }}
                        </td>
                    </tr>
                    <tr *ngIf="sum.activePowerL2 <= 0">
                        <td style="width:2%"></td>
                        <td style="width:63%"><span translate>Phase</span> L2 <span
                                translate>General.gridSellAdvanced</span></td>
                        <td style="width:35%" class="align_right">
                            {{ (sum.activePowerL2 * -1) | unitvalue:'W' }}
                        </td>
                    </tr>
                    <tr *ngIf="sum.activePowerL3 > 0">
                        <td style="width:2%"></td>
                        <td style="width:63%"><span translate>Phase</span> L3 <span
                                translate>General.gridBuyAdvanced</span></td>
                        <td style="width:35%" class="align_right">
                            {{ sum.activePowerL3 | unitvalue:'W' }}
                        </td>
                    </tr>
                    <tr *ngIf="sum.activePowerL3 <= 0">
                        <td style="width:2%"></td>
                        <td style="width:63%"><span translate>Phase</span> L3 <span
                                translate>General.gridSellAdvanced</span></td>
                        <td style="width:35%" class="align_right">
                            {{ (sum.activePowerL3 * -1) | unitvalue:'W' }}
                        </td>
                    </tr>
                </table>
            </ion-card-content>
        </ng-container>
    </ng-container>

    <!-- Info Text -->
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ng-container *ngIf="edge.currentData | async as currentData">
            <ng-container *ngIf="currentData.summary.grid as sum">
                <ion-grid *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null"
                    class="ion-padding-top">
                    <ion-row class="ion-justify-content-center ion-align-items-center">
                        <ion-col size="2" class="ion-text-center">
                            <ion-icon padding-right color="primary" size="large" name="alert-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="10">
                            <ion-note class="ion-text-wrap"><small translate>Edge.Index.Widgets.phasesInfo</small>
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>