<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>{{ component.alias }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ng-container *ngIf="!loading">


        <ion-card-content class="underline">
            <table class="full_width">
                <tr>
                    <td style="width: 65%" translate>
                        Edge.Index.Widgets.TimeOfUseTariff.storageDischarge
                    </td>
                    <td style="width: 35%" class="align_right" translate>
                        {{ getState(currentData[component.id + '/StateMachine'] )}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 65%" translate>
                        Edge.Index.Widgets.TimeOfUseTariff.currentTariff
                    </td>
                    <td style="width: 35%" class="align_right" translate>
                        {{currentData[component.id + '/QuarterlyPrices'] / 10 | number: '1.0-4'}} Cent/kWh
                    </td>
                </tr>
            </table>
        </ion-card-content>

        <form [formGroup]="formGroup">

            <!--Select Mode-->
            <ion-card-content class="underline">
                <table class="full_width">
                    <ion-text translate>General.mode</ion-text>
                </table>
                <ion-segment (ionChange)="updateProperty('mode',$event)" [value]="this.formGroup.controls['mode'].value"
                    scrollable="false">
                    <ion-segment-button value="AUTOMATIC">
                        <ion-label translate>
                            General.automatic
                        </ion-label>
                        <ion-icon style="width:40px" name="sunny">
                        </ion-icon>
                    </ion-segment-button>
                    <ion-segment-button value="OFF">
                        <ion-label translate>
                            General.off
                        </ion-label>
                        <ion-icon name="power" style="width: 40px"></ion-icon>
                    </ion-segment-button>
                </ion-segment>
            </ion-card-content>

            <!--Automatic Mode-->
            <ng-container *ngIf="this.formGroup.controls['mode'].value == 'AUTOMATIC'">
                <ion-card-content>
                    <table class="full_width">
                        <tr>
                            <td style="width:100%">

                            </td>
                        </tr>
                    </table>
                </ion-card-content>
            </ng-container>

            <!--OFF Mode-->
            <ng-container *ngIf="this.formGroup.controls['mode'].value == 'OFF'">
                <ng-container>
                    <ion-card-content>
                        <table class="full_width">
                            <tr>
                                <td style="width:100%">
                                    <ion-label class="ion-text-wrap" translate>
                                        <!-- Text for Awattar is disabled -->
                                    </ion-label>
                                </td>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
            </ng-container>

            <!--Form Group - Check button-->
            <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center"
                slot="fixed">
                <ion-fab-button (click)="applyChanges(); image = null">
                    <ion-icon size="large" name="checkmark-circle-outline">
                    </ion-icon>
                </ion-fab-button>
            </ion-fab>
            <ion-grid *ngIf="loading == true">
                <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </ion-grid>
        </form>
    </ng-container>
</ion-content>