<ion-grid class="ion-no-padding">
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-item [class.disabled]="props.disabled">
                    <ion-label style="white-space:pre-wrap">{{props.label}}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ng-container *ngIf="!isAllTrue()">
            <ion-row *ngIf="props.description">
                <ion-col>
                    <ion-item [class.disabled]="props.disabled" lines="none">
                        <ion-label style="white-space:pre-wrap">{{props.description}}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="props.attributes?.infoLine" class="ion-padding"
                style="align-items: center;line-height: 1.4;">
                <ion-col>
                    <ion-icon color="primary" name="information-outline" size="small">
                    </ion-icon>
                </ion-col>
                <ion-col size="11">
                    <div>
                        {{props.attributes?.infoLine }}
                    </div>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngFor="let step of steps; let i = index">
            <ion-row class="ion-no-padding">
                <ion-col>
                    <ion-item lines="none">
                        <ion-label style="white-space:pre-wrap">{{step.label}}</ion-label>
                        <ion-checkbox slot="end" [checked]="formControl.value[i]"
                            (ionChange)="onCheckboxChange($event, i)" [disabled]="props.disabled">
                        </ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ng-container *ngIf="showContent(i)">
                <ion-row *ngIf="step.description" class="ion-padding-bottom">
                    <ion-col>
                        <ion-item lines="none">
                            <ion-text style="white-space: pre-line;" [innerHtml]="step.description"></ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let url of step.url" class="ion-justify-content-center">
                    <ion-item lines="none" class="ion-padding-bottom">
                        <img class="center" [src]="url">
                    </ion-item>
                </ion-row>
            </ng-container>
        </ng-container>
    </ion-card>
</ion-grid>
