<ion-grid class="ion-no-padding">
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-item [CLASS.DISABLED]="PROPS.DISABLED">
                    <ion-label style="white-space:pre-wrap">{{PROPS.LABEL}}</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
        <ng-container *ngIf="!isAllTrue()">
            <ion-row *ngIf="PROPS.DESCRIPTION">
                <ion-col>
                    <ion-item [CLASS.DISABLED]="PROPS.DISABLED" lines="none">
                        <ion-label style="white-space:pre-wrap">{{PROPS.DESCRIPTION}}</ion-label>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="PROPS.ATTRIBUTES?.infoLine" class="ion-padding"
                style="align-items: center;line-height: 1.4;">
                <ion-col>
                    <ion-icon color="primary" name="information-outline" size="small">
                    </ion-icon>
                </ion-col>
                <ion-col size="11">
                    <div>
                        {{PROPS.ATTRIBUTES?.infoLine }}
                    </div>
                </ion-col>
            </ion-row>
        </ng-container>
        <ng-container *ngFor="let step of steps; let i = index">
            <ion-row class="ion-no-padding">
                <ion-col>
                    <ion-item lines="none">
                        <ion-label style="white-space:pre-wrap">{{STEP.LABEL}}</ion-label>
                        <ion-checkbox slot="end" [checked]="FORM_CONTROL.VALUE[i]"
                            (ionChange)="onCheckboxChange($event, i)" [disabled]="PROPS.DISABLED">
                        </ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ng-container *ngIf="showContent(i)">
                <ion-row *ngIf="STEP.DESCRIPTION" class="ion-padding-bottom">
                    <ion-col>
                        <ion-item lines="none">
                            <ion-text style="white-space: pre-line;" [innerHtml]="STEP.DESCRIPTION"></ion-text>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let url of STEP.URL" class="ion-justify-content-center">
                    <ion-item lines="none" class="ion-padding-bottom">
                        <img class="center" [src]="url">
                    </ion-item>
                </ion-row>
            </ng-container>
        </ng-container>
    </ion-card>
</ion-grid>
