<ion-footer *ngIf="!SERVICE.IS_SMARTPHONE_RESOLUTION" style="--background: var(--ion-color-toolbar-primary);">
  <ng-container *ngIf="user && edge && displayValues" lines="none">
    <ion-grid style="background-color: var(--ion-color-toolbar-primary); color: var(--ion-color-primary-contrast)">
      <ion-row>
        <ion-col size="12">
          <span *ngIf="DISPLAY_VALUES.COMMENT">
            {{DISPLAY_VALUES.COMMENT}}
            |
          </span>
          <span>
            {{DISPLAY_VALUES.ID}}
          </span>
          |
          <ng-container *ngIf="(SERVICE.METADATA | async)?.user?.globalRole as role">
            <a routerLink="/device/{{EDGE.ID}}/settings/system" style="color: var(--ion-color-primary-contrast)">
              Version {{(DISPLAY_VALUES.VERSION | version:role)}}
            </a>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-footer>