<ion-footer *ngIf="!service.isSmartphoneResolution" style="--ion-background-color: var(--ion-color-toolbar-primary);">
  <ng-container *ngIf="user && edge && displayValues" lines="none">
    <ion-grid style="background-color: var(--ion-color-toolbar-primary); color: var(--ion-color-primary-contrast)">
      <ion-row>
        <ion-col size="12">
          <span *ngIf="displayValues.comment">
            {{displayValues.comment}}
            |
          </span>
          <span>
            {{displayValues.id}}
          </span>
          |
          <ng-container *ngIf="(service.metadata | async)?.user?.globalRole as role">
            <a routerLink="/device/{{edge.id}}/settings/system" style="color: var(--ion-color-primary-contrast)">
              Version {{(displayValues.version | version:role)}}
            </a>
          </ng-container>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-footer>
