<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title>Battery Box Premium Firmware-Update</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center" style="min-height: 100%;">
    <ion-col size="12" class="ion-align-self-start ion-text-center ">
      <img src="assets/img/batterybox.png" style="width: 60%">
    </ion-col>
    <ion-col size="12" class="ion-align-self-center ion-text-center">
      <p>
        Betreiben Sie in Ihrem FENECON Pro System eine Battery Box Premium HVS bzw. HVM? Zur anstehenden Winterzeit gibt
        es ein Software-Update für Ihre Batterie um weiterhin einen reibungslosen Betrieb zu gewährleisten.
      </p>
      <p>
        <a target="_blank" href="https://www1.fenecon.de/page/infocenter/#30-byd-battery-box-pro-lv-hv-premium">Hier</a>
        finden Sie eine Anleitung wie Sie bequem mit Ihrem Smartphone den
        Softwarestatus prüfen beziehungsweise updaten können.
      </p>
    </ion-col>
  </ion-row>
</ion-content>