Bridge.Mbus.26377535-03cb-4aba-8b17-88aca23e1721="reference:file:/home/de424/git/openems/io.openems.edge.bridge.mbus/generated/io.openems.edge.bridge.mbus.jar"
io.openems.edge.meter.abb.89866d48-61ba-4e27-ac0c-b90bd17ca24b="reference:file:/home/de424/git/openems/io.openems.edge.meter.abb/generated/io.openems.edge.meter.abb.jar"
org.ops4j.pax.logging="reference:file:/home/de424/.m2/repository/org/ops4j/pax/logging/pax-logging-service/1.11.2/pax-logging-service-1.11.2.jar"
