<div [formGroup]="form">
    <!-- Field inside an array -->
    <div *ngIf="arrayName; else no_array" [formArrayName]="arrayName">
        <ng-container *ngIf="specialType; else no_special_type">
            <!-- Select from nature list -->
            <select *ngIf="specialType == 'selectNature'; else no_select" [formControlName]="controlName" fxFlex>
                <ng-container *ngFor="let nature of tmpl.keyvalues(allMeta.natures)">
                    <ng-container *ngFor="let natureImplement of nature.value.implements">
                        <option *ngIf="natureImplement == type" [value]="nature.key">{{ nature.key }}</option>
                    <!-- TODO check if nature.key is already in this array -->
                    </ng-container>
                </ng-container>
            </select>
        </ng-container>
        <!-- Simple input field -->
        <ng-template #no_special_type>
            <md-input-container fxFlex="100%" [formGroup]="form">
                <input [placeholder]="meta.title" [formControlName]="controlName" [type]="type" mdInput/>
            </md-input-container>
        </ng-template>
    </div>
    <ng-template #no_array>
        <ng-container *ngIf="specialType; else no_special_type">
            <!-- Select from nature list -->
            <div *ngIf="specialType == 'selectNature'; else no_select_nature">
                <p fxFlex="100px">{{ meta.title }}</p>
                <select fxFlex [formControlName]="controlName" fxFlex>
                <option value=""></option>
                <ng-container *ngFor="let nature of tmpl.keyvalues(allMeta.natures)">
                    <ng-container *ngFor="let natureImplement of nature.value.implements">
                        <option *ngIf="natureImplement == type" [value]="nature.key">{{ nature.key }}</option>
                        <!-- TODO check if nature.key is already in this array -->
                    </ng-container>
                </ng-container>
            </select>
            </div>
            <ng-template #no_select_nature>
                <!-- Boolean field -->
                <div *ngIf="specialType == 'selectNature'; else no_boolean" [formGroup]="form">
                    <md-slide-toggle [formControlName]="controlName">
                        {{ meta.title }}
                    </md-slide-toggle>
                </div>
                <!-- Special field -->
                <ng-template #no_boolean>
                    <!-- Ignore -->
                    <ng-container *ngIf="specialType == 'ignore'"></ng-container>
                </ng-template>
            </ng-template>
        </ng-container>
        <ng-template #no_special_type>
            <!-- Simple input field -->
            <md-input-container fxFlex="100%" [formGroup]="form">
                <input [placeholder]="meta.title" [formControlName]="controlName" [type]="type" mdInput/>
            </md-input-container>
        </ng-template>
    </ng-template>
</div>