<mat-card class="single">
  <mat-card-header>
    <mat-icon mat-card-avatar>stop</mat-icon>
    <mat-card-title>Direct Control</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout fxLayout="wrap">
    <form fxLayout fxLayout="wrap">
      <table fxFlex="100%">
        <tr>
          <th>Thing</th>
          <th>Channel</th>
          <th>Value</th>
          <th></th>
        </tr>
        <tr *ngFor="let form of forms; let i = index" [formGroup]="form">
          <td>
            <mat-form-field>
              <input type="text" formControlName="thing" placeholder="Thing" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input type="text" formControlName="channel" placeholder="Channel" matInput>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input type="text" formControlName="value" placeholder="Value" matInput>
            </mat-form-field>
          </td>
          <td width="50">
            <button type="button" (click)="removeLine(index)" mat-mini-fab>
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </table>
      <div fxFlex="100%">
        <button type="button" (click)="addLine()" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div fxFlex="100%">
        <button mat-raised-button type=submit (click)="send()" class="btn btn-default">
          <span>Execute</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>