:org.apache.felix.configadmin.revision:=L"1"
alias="Battery"
capacity=I"10000"
datasource.target=""
enabled=B"true"
gridMode="ON_GRID"
id="ess0"
initialSoc=I"30"
maxApparentPower=I"10000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.e8b3db03-493d-49a2-a060-b9f7c18357e0"
