<header></header>
<ion-content>
  <ion-grid>

    <ion-row class="ion-justify-content-center">
      <ion-progress-bar [value]="progressValue"
        style="transform: scaleY(2);margin-bottom: 0.5%; margin-top: 0.5%; border-radius: 50px;">
      </ion-progress-bar>
      <ion-item lines="none">
        <ion-title>{{progressText}}</ion-title>
      </ion-item>
    </ion-row>

    <ng-container *ngIf="websocket.status === 'online'; else spinner">
      <ng-container [ngSwitch]="displayedView">

        <!-- Collect Data -->

        <pre-installation *ngSwitchCase="view.PreInstallation" [installationData]="installationData"
          (nextViewEvent)="displayNextView($event)">
        </pre-installation>

        <protocol-installer *ngSwitchCase="view.ProtocolInstaller" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
        </protocol-installer>

        <protocol-customer *ngSwitchCase="view.ProtocolCustomer" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
        </protocol-customer>

        <protocol-system *ngSwitchCase="view.ProtocolSystem" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
        </protocol-system>

        <configuration-system *ngSwitchCase="view.ConfigurationSystem" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
        </configuration-system>

        <configuration-emergency-reserve *ngSwitchCase="view.ConfigurationEmergencyReserve"
          [installationData]="installationData" (previousViewEvent)="displayPreviousView()"
          (nextViewEvent)="displayNextView($event)">
        </configuration-emergency-reserve>

        <configuration-line-side-meter-fuse *ngSwitchCase="view.ConfigurationLineSideMeterFuse"
          [installationData]="installationData" (previousViewEvent)="displayPreviousView()"
          (nextViewEvent)="displayNextView($event)">
        </configuration-line-side-meter-fuse>

        <protocol-pv *ngSwitchCase="view.ProtocolPv" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
        </protocol-pv>

        <protocol-additional-ac-producers *ngSwitchCase="view.ProtocolAdditionalAcProducers"
          [installationData]="installationData" (previousViewEvent)="displayPreviousView()"
          (nextViewEvent)="displayNextView($event)">
        </protocol-additional-ac-producers>

        <protocol-dynamic-feed-in-limitation *ngSwitchCase="view.ProtocolDynamicFeedInLimitation"
          [installationData]="installationData" (previousViewEvent)="displayPreviousView()"
          (nextViewEvent)="displayNextView($event)">
        </protocol-dynamic-feed-in-limitation>

        <!-- Configuration and Protocol -->

        <heckert-app-installer *ngSwitchCase="view.HeckertAppInstaller" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
        </heckert-app-installer>

        <configuration-summary *ngSwitchCase="view.ConfigurationSummary" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
        </configuration-summary>

        <configuration-execute *ngSwitchCase="view.ConfigurationExecute" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
        </configuration-execute>

        <protocol-serial-numbers *ngSwitchCase="view.ProtocolSerialNumbers" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()"></protocol-serial-numbers>

        <completion *ngSwitchCase="view.Completion" [installationData]="installationData"
          (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
        </completion>

      </ng-container>
    </ng-container>

    <ng-template #spinner>
      <ngx-spinner [name]="spinnerId"></ngx-spinner>
    </ng-template>

  </ion-grid>
</ion-content>