<header></header>
<ion-content>
    <ion-grid>

        <ion-row class="ion-justify-content-center">
            <ion-progress-bar [value]="progressValue"
                style="transform: scaleY(2);margin-bottom: 0.5%; margin-top: 0.5%; border-radius: 50px;">
            </ion-progress-bar>
            <ion-item lines="none">
                <ion-title>{{progressText}}</ion-title>
            </ion-item>
        </ion-row>

        <ng-container *ngIf="websocket.status === 'online'; else spinner">
            <ng-container [ngSwitch]="displayedView">

                <pre-installation *ngSwitchCase="view.PreInstallation" (edgeChange)="edge=$event"
                    (nextViewEvent)="displayNextView($event)">
                </pre-installation>

                <pre-installation-update *ngSwitchCase="view.PreInstallationUpdate"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)" [edge]="edge">
                </pre-installation-update>

                <configuration-system *ngSwitchCase="view.ConfigurationSystem" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </configuration-system>

                <configuration-commercial *ngSwitchCase="view.ConfigurationCommercialComponent" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </configuration-commercial>

                <configuration-features-storage-system *ngSwitchCase="view.ConfigurationFeaturesStorageSystem"
                    [ibn]="ibn" (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </configuration-features-storage-system>

                <protocol-installer *ngSwitchCase="view.ProtocolInstaller" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </protocol-installer>

                <protocol-customer *ngSwitchCase="view.ProtocolCustomer" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </protocol-customer>

                <protocol-system *ngSwitchCase="view.ProtocolSystem" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </protocol-system>

                <configuration-emergency-reserve *ngSwitchCase="view.ConfigurationEmergencyReserve" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </configuration-emergency-reserve>

                <configuration-peak-shaving *ngSwitchCase="view.ConfigurationPeakShaving" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </configuration-peak-shaving>

                <configuration-line-side-meter-fuse *ngSwitchCase="view.ConfigurationLineSideMeterFuse" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </configuration-line-side-meter-fuse>

                <protocol-pv *ngSwitchCase="view.ProtocolPv" [ibn]="ibn" (previousViewEvent)="displayPreviousView()"
                    (nextViewEvent)="displayNextView($event)">
                </protocol-pv>

                <protocol-additional-ac-producers *ngSwitchCase="view.ProtocolAdditionalAcProducers" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </protocol-additional-ac-producers>

                <protocol-feed-in-limitation *ngSwitchCase="view.ProtocolFeedInLimitation" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView($event)">
                </protocol-feed-in-limitation>

                <!-- Configuration and Protocol -->

                <heckert-app-installer *ngSwitchCase="view.HeckertAppInstaller" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
                </heckert-app-installer>

                <configuration-summary *ngSwitchCase="view.ConfigurationSummary" [edge]="edge" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
                </configuration-summary>

                <configuration-execute *ngSwitchCase="view.ConfigurationExecute" [edge]="edge" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
                </configuration-execute>

                <protocol-serial-numbers *ngSwitchCase="view.ProtocolSerialNumbers" [edge]="edge" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
                </protocol-serial-numbers>

                <completion *ngSwitchCase="view.Completion" [edge]="edge" [ibn]="ibn"
                    (previousViewEvent)="displayPreviousView()" (nextViewEvent)="displayNextView()">
                </completion>

            </ng-container>
        </ng-container>

        <ng-template #spinner>
            <ngx-spinner [name]="spinnerId"></ngx-spinner>
        </ng-template>

    </ion-grid>
</ion-content>