<div [formGroup]="controller.form">
    <md-tab-group fxFlex="100%">
        <md-tab *ngFor="let day of days">
            <ng-template md-tab-label>{{ controller.meta.channels[day].title }}</ng-template>
            <div [formArrayName]="day">
                <div *ngFor="let entry of controller.form.value[day]; let i=index" [formGroupName]="i" fxLayout>
                    <p fxFlex="100px">Device.Config.Log.Timestamp</p>
                    <input fxFlex formControlName="time" type="text">
                    <p fxFlex="100px"><span translate>General.Soc</span> [%]</p>
                    <input fxFlex formControlName="soc" type="number">
                    <div fxFlex="50px">
                        <button md-mini-fab (click)="deleteFromDay(day, i)"><md-icon>delete</md-icon></button>
                    </div>
                </div>
            </div>
            <div fxFlex="50px" style="margin: 20px">
                <button md-mini-fab (click)="addToDay(day)"><md-icon>add</md-icon></button>
            </div>
        </md-tab>
    </md-tab-group>
</div>