:org.apache.felix.configadmin.revision:=L"1"
alias=""
enabled=B"true"
ess.id="ess0"
forceChargePower=""
forceChargeSoc=I"10"
id="ctrlLimitTotalDischarge0"
minSoc=I"15"
service.factoryPid="Controller.Ess.LimitTotalDischarge"
service.pid="Controller.Ess.LimitTotalDischarge.5d5d6c32-fd4e-4857-ac8b-31b1d6f23895"
