<ng-container *ngIf="device">
  <ng-container *ngFor="let bridge of (device.config | async)?.things">
    <ng-container *ngFor="let device of bridge.devices">
      <ng-container *ngIf="device.class == 'io.openems.impl.device.refu.Refu'">

        <md-card class="single">
          <md-card-header>
            <md-icon md-card-avatar>stop</md-icon>
            <md-card-title>Leistungsvorgabe</md-card-title>
            <md-card-subtitle>Manuelle Vorgabe von Wirk- und Blindleistung</md-card-subtitle>
          </md-card-header>
          <md-card-content [formGroup]="manualPQForm" fxLayout fxLayoutWrap="wrap">
            <div fxFlex="100%">
              <md-input-container fxFlex="200px"><input formControlName="p" type="number" placeholder="Wirkleistung (P)" mdInput><span md-suffix>W</span></md-input-container>
              <div fxFlex></div>
            </div>
            <div fxFlex="100%">
              <md-input-container fxFlex="200px"><input formControlName="q" type="number" placeholder="Blindleistung (Q)" mdInput><span md-suffix>Var</span></md-input-container>
              <div fxFlex></div>
            </div>
            <div fxFlex="100%">
              <button md-raised-button (click)="applyManualPQ(device.ess.id, manualPQForm)" class="btn btn-default">Übernehmen</button>
              <button md-raised-button (click)="removeManualPQ(device.ess.id)" class="btn btn-default">Zurücksetzen</button>
            </div>
          </md-card-content>
        </md-card>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>