<ion-searchbar (ionChange)="updateFilter($event.detail.value)"></ion-searchbar>

<ion-list>
  <ng-container *ngFor="let item of list">
    <ng-container *ngIf="item.filteredEntries.length > 0">

      <ion-list-header *ngIf="item.nature as nature" (click)="item.isNatureClicked = !item.isNatureClicked"
        color="light">
        <ion-label>{{ nature.name }}</ion-label>
      </ion-list-header>

      <ng-container *ngIf="item.isNatureClicked || showAllEntries">
        <ng-container *ngFor="let entry of item.filteredEntries">
          <ion-item *ngIf="entry.isFiltered" [routerLink]="[entry.component.id]">
            <ion-label>
              <h2>{{ entry.component.id }}</h2>
              <p>{{ entry.factory.description }}</p>
            </ion-label>
          </ion-item>
        </ng-container>
      </ng-container>

    </ng-container>
  </ng-container>
</ion-list>