<ng-container *ngIf="component && edge">
    <ion-header>
        <ion-toolbar style="--ion-background-color: var(--ion-color-toolbar-primary);">
            <ion-title style="color: var(--ion-color-white);">{{ component.alias }}</ion-title>
            <ion-buttons style="color: var(--ion-color-white);" slot="end">
                <ion-button routerLink="/device/{{edge.id}}/history/">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="secondary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card-content>
            <asymmetricpeakshavingchart [component]="component" [period]="service.historyPeriod.value">
            </asymmetricpeakshavingchart>
        </ion-card-content>
    </ion-content>
</ng-container>
