<ion-card *ngIf="edge">
  <ion-item>
    <ion-icon slot="start" name="stats" color="primary"></ion-icon>
    <ion-label>
      <ion-card-title translate>General.History</ion-card-title>
    </ion-label>
  </ion-item>
  <ion-card-content>
    <div style="height: 150px">
      <socchart [fromDate]="fromDate" [toDate]="toDate"></socchart>
    </div>
    <ion-button float-right routerLink="/device/{{ edge.id }}/history">
      <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
    </ion-button>
  </ion-card-content>
</ion-card>