<oe-flat-widget [title]="'General.consumption' | translate" img="assets/img/consumption.png" button
    routerLink="/device/{{edge.id}}/history/consumptionchart" *ngIf="isInitialized">

    <oe-flat-widget-line *ngIf="evcsComponents.length === 0 && consumptionMeterComponents.length === 0, else meters"
        channelAddress="_sum/ConsumptionActiveEnergy"
        [converter]="Utils.CONVERT_TO_KILO_WATTHOURS"></oe-flat-widget-line>

    <ng-template #meters>
        <ng-container *ngFor="let component of evcsComponents">
            <oe-flat-widget-line [name]="component.alias" [channelAddress]="component.id + '/ActiveConsumptionEnergy'"
                [converter]="Utils.CONVERT_TO_KILO_WATTHOURS"></oe-flat-widget-line>
        </ng-container>

        <ng-container *ngFor="let component of consumptionMeterComponents">
            <oe-flat-widget-line [name]="component.alias" [channelAddress]="component.id + '/ActiveProductionEnergy'"
                [converter]="Utils.CONVERT_TO_KILO_WATTHOURS"></oe-flat-widget-line>
        </ng-container>

    </ng-template>
    <ng-container *ngIf="(evcsComponents.length !== 0 || consumptionMeterComponents.length !== 0)">

        <oe-flat-widget-horizontal-line></oe-flat-widget-horizontal-line>
        <oe-flat-widget-line [name]="'General.otherConsumption'| translate" [value]="totalOtherEnergy"
            [converter]="Utils.CONVERT_TO_KILO_WATTHOURS">
        </oe-flat-widget-line>

    </ng-container>
</oe-flat-widget>


<!-- <ng-container *ngFor="let component of evcsComponents">
    <ng-container>
        <tr>
            <td style="width:65%">{{ component.alias }}
            </td>
            <td style="width:35%" class="align_right">
                {{ data[component.id + "/ActiveConsumptionEnergy"] ?? 0 | unitvalue:'kWh' }}
            </td>
        </tr>
    </ng-container>
</ng-container> -->