<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>General.SYSTEM_STATE</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ng-container *ngIf="edge && components">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-content>
            <ion-card-content>
                <ng-container *ngIf="currentData.summary.system as sum">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="analytics-outline"></ion-icon>
                        <ion-label class="ion-padding-start" translate>
                            General.totalState
                        </ion-label>
                        <ng-container [ngSwitch]="sum.state">
                            <ion-icon *ngSwitchCase="0" color="success" name="checkmark-circle-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="1" color="success" name="information-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="2" color="warning" name="alert-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="3" color="danger" name="alert-outline"></ion-icon>
                        </ng-container>
                    </ion-item>
                </ng-container>
                <ion-list>
                    <ng-container *ngFor="let category of components">
                        <ion-item-group>
                            <ion-item lines="inset">
                                <ion-icon name="{{ category.category.icon }}"></ion-icon>
                                <ion-label class="ion-padding-start">
                                    {{ category.category.title }}
                                </ion-label>
                            </ion-item>
                        </ion-item-group>
                        <ng-container *ngFor="let item of category.components">
                            <ion-item lines="none" *ngIf="item.id !== '_sum'">
                                <ion-label class="ion-text-wrap">
                                    <ion-text color="primary">
                                        <h3>{{ item.alias }}
                                            <span *ngIf="item.id !== item.alias"> {{ item.id }}</span>
                                            <small *ngIf="!item.isEnabled"> (<span
                                                    translate>General.componentInactive</span>) </small>
                                        </h3>
                                    </ion-text>
                                    <ng-container *ngIf="config.factories[item.factoryId] as factory">
                                        <p>{{ factory.name }}</p>
                                    </ng-container>
                                    <ng-container *ngIf="item['showProperties']">
                                        <ng-container *ngFor="let address of subscribedInfoChannels">
                                            <ng-container
                                                *ngIf="address.componentId === item.id && address.channelId !== 'State'">
                                                <ng-container *ngIf="currentData.channel[address.toString()] === 1">
                                                    <!-- State-Channel is active -->
                                                    <ion-label class="ion-text-wrap"
                                                        *ngIf="item.channels[address.channelId]['text'].length !== 0">
                                                        <ng-container
                                                            [ngSwitch]="item.channels[address.channelId]['level']">
                                                            <ion-text *ngSwitchCase="'INFO'" color="success" translate>
                                                                General.info&nbsp;
                                                            </ion-text>
                                                            <ion-text *ngSwitchCase="'WARNING'" color="warning"
                                                                translate>
                                                                General.warning&nbsp;
                                                            </ion-text>
                                                            <ion-text *ngSwitchCase="'FAULT'" color="danger" translate>
                                                                General.fault&nbsp;
                                                            </ion-text>
                                                        </ng-container>
                                                        {{ item.channels[address.channelId]['text'] }}
                                                    </ion-label>
                                                    <ion-label class="ion-text-wrap"
                                                        *ngIf="item.channels[address.channelId]['text'].length === 0">
                                                        <ng-container
                                                            [ngSwitch]="item.channels[address.channelId]['level']">
                                                            <ion-text *ngSwitchCase="'INFO'" color="success" translate>
                                                                General.info&nbsp;
                                                            </ion-text>
                                                            <ion-text *ngSwitchCase="'WARNING'" color="warning"
                                                                translate>
                                                                General.warning&nbsp;
                                                            </ion-text>
                                                            <ion-text *ngSwitchCase="'FAULT'" color="danger" translate>
                                                                General.fault&nbsp;
                                                            </ion-text>
                                                        </ng-container>
                                                        {{ address.channelId.toString() }}
                                                    </ion-label>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ion-label>
                                <ion-icon style="cursor: pointer"
                                    *ngIf="(currentData.channel[item.id+'/State'] ?? -1) > 0 && !item['showProperties']"
                                    name="arrow-down-circle-outline" color="primary"
                                    (click)="item['showProperties'] = !item['showProperties']; subscribeInfoChannels(item)">
                                </ion-icon>

                                <ion-icon style="cursor: pointer" *ngIf="item['showProperties']"
                                    name="arrow-up-circle-outline" color="primary"
                                    (click)="item['showProperties'] = !item['showProperties']; unsubscribeInfoChannels(item)">
                                </ion-icon>

                                <ng-container [ngSwitch]="currentData.channel[item.id+'/State']">
                                    <ion-icon *ngSwitchCase="0" color="success" name="checkmark-circle-outline">
                                    </ion-icon>
                                    <ion-icon *ngSwitchCase="1" color="success" name="information-outline"></ion-icon>
                                    <ion-icon *ngSwitchCase="2" color="warning" name="alert-outline"></ion-icon>
                                    <ion-icon *ngSwitchCase="3" color="danger" name="alert-outline"></ion-icon>
                                </ng-container>
                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ion-list>
            </ion-card-content>
        </ion-content>
    </ng-container>
</ng-container>