:org.apache.felix.configadmin.revision:=L"1"
_lastChangeAt="2020-09-15T19:21:03"
_lastChangeBy="UNDEFINED"
alias=""
debugMode=B"false"
enabled=B"true"
id="ctrlApiRest0"
port=I"8084"
service.factoryPid="Controller.Api.Rest.ReadOnly"
service.pid="Controller.Api.Rest.ReadOnly.fa382062-22d0-40d9-9cbd-006f131ed0dc"
