<!-- TODO Migrate to oe-flat-widget -->
<ng-container *ngIf="component && service.currentEdge | async as edge">
    <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
        <ion-card button (click)="presentModal()">
            <ion-item lines="full" color="light">
                <ion-avatar slot="start">
                    <img src="assets/img/gridStorage.png">
                </ion-avatar>
                <ion-label>{{ component.alias }}</ion-label>
            </ion-item>
            <ion-card-content>

                <!--Selected mode-->
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            General.mode
                        </td>
                        <td *ngIf="component.properties['mode'] == 'MANUAL'" style="width: 35%" class="align_right"
                            translate>
                            General.manually
                        </td>
                        <td *ngIf="component.properties['mode'] == 'OFF'" style="width: 35%" class="align_right"
                            translate>
                            General.off
                        </td>
                        <td *ngIf="component.properties['mode'] == 'AUTOMATIC'" style="width: 35%" class="align_right"
                            translate>
                            General.automatic
                        </td>
                    </tr>
                </table>
                <ng-container *ngIf="component.properties.mode != 'OFF'">

                    <!--SellToGridLimit - Grid feed in limitation is avoided-->
                    <table class="full_width"
                        *ngIf="(currentData[component.id + '/SellToGridLimitState'] == 0 || (currentData[component.id + '/SellToGridLimitState'] == 3 && currentData[component.id + '/DelayChargeState'] != 0 && currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] > 0)); else sellToGridLimitNotActiveTemp">
                        <tr>
                            <td style="width:65%" translate>General.state</td>
                            <td style="width:35%" class="align_right" class="align_right" translate>
                                Edge.Index.Widgets.GridOptimizedCharge.State.gridFeedInLimitationIsAvoided
                            </td>
                        </tr>
                        <!--Minimum charge limit - negative are not shown-->
                        <ng-container
                            *ngIf="currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] != null && currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] > 0">
                            <tr>
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.GridOptimizedCharge.minimumCharge
                                </td>
                                <td style="width:35%" class="align_right" class="align_right" translate>
                                    <ng-container>
                                        {{currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] |
                                        unitvalue:
                                        'kW'}}
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </table>

                    <!--DelayCharge-->
                    <ng-template #sellToGridLimitNotActiveTemp>
                        <table class="full_width">
                            <!--DelayCharge State-->
                            <tr [ngSwitch]="currentData[component.id + '/DelayChargeState']">
                                <td style="width:65%" translate>General.state</td>
                                <td style="width:35%" class="align_right" class="align_right" translate>
                                    <ng-container *ngSwitchCase="-1">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.notDefined
                                    </ng-container>
                                    <ng-container *ngSwitchCase="0">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.chargeLimitActive
                                    </ng-container>
                                    <ng-container *ngSwitchCase="1">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.passedEndTime
                                    </ng-container>
                                    <ng-container *ngSwitchCase="2">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.storageAlreadyFull
                                    </ng-container>
                                    <ng-container *ngSwitchCase="3">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.endTimeNotCalculated
                                    </ng-container>
                                    <ng-container *ngSwitchCase="4">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.noLimitPossible
                                    </ng-container>
                                    <ng-container *ngSwitchCase="5">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.noLimitActive
                                    </ng-container>
                                    <ng-container *ngSwitchCase="7">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.noLimitActive
                                    </ng-container>
                                </td>
                            </tr>
                            <!--DelayCharge maximum charge limit-->
                            <ng-container *ngIf="currentData[component.id + '/DelayChargeMaximumChargeLimit'] != null">
                                <tr>
                                    <td style="width:65%" translate>
                                        Edge.Index.Widgets.GridOptimizedCharge.maximumCharge
                                    </td>
                                    <td style="width:35%" class="align_right" translate>
                                        <ng-container>
                                            {{ currentData[component.id + '/DelayChargeMaximumChargeLimit'] |
                                            unitvalue:'kW' }}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </ng-template>

                </ng-container>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>