<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>REGISTER.TITLE</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="activeSegment" (ionChange)="updateRegistrationForm($event)">
    <ion-segment-button value="installer">
        <ion-label translate>REGISTER.SEGMENT.INSTALLER</ion-label>
    </ion-segment-button>
    <ion-segment-button value="owner">
        <ion-label translate>REGISTER.SEGMENT.USER</ion-label>
    </ion-segment-button>
</ion-segment>

<ion-content>
    <ion-grid class="ion-padding-top">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" [ngSwitch]="activeSegment">
            <!-- owner form -->
            <div *ngSwitchCase="'owner'">
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.FIRSTNAME<span>*</span></ion-label>
                    <ion-input formControlName="firstname" type="input"
                        [placeholder]="'REGISTER.FORM.FIRSTNAME' | translate"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.LASTNAME<span>*</span></ion-label>
                    <ion-input formControlName="lastname" type="input"
                        [placeholder]="'REGISTER.FORM.LASTNAME' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.STREET<span>*</span></ion-label>
                    <ion-input formControlName="street" type="input" [placeholder]="'REGISTER.FORM.STREET' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.ZIP<span>*</span></ion-label>
                    <ion-input formControlName="zip" type="input" [placeholder]="'REGISTER.FORM.ZIP' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.CITY<span>*</span></ion-label>
                    <ion-input formControlName="city" type="input" [placeholder]="'REGISTER.FORM.CITY' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.COUNTRY<span>*</span></ion-label>
                    <ion-select formControlName="country">
                        <ng-container *ngFor="let country of countries">
                            <ion-select-option [value]="country.value">{{country.label}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.PHONE<span>*</span></ion-label>
                    <ion-input formControlName="phone" type="input" [placeholder]="'REGISTER.FORM.PHONE' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.EMAIL<span>*</span></ion-label>
                    <ion-input formControlName="email" type="input" [placeholder]="'REGISTER.FORM.EMAIL' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.CONFIRM_EMAIL<span>*</span></ion-label>
                    <ion-input formControlName="confirmEmail" type="input"
                        [placeholder]="'REGISTER.FORM.CONFIRM_EMAIL' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.PASSWORD<span>*</span></ion-label>
                    <ion-input formControlName="password" type="password"
                        [placeholder]="'REGISTER.FORM.PASSWORD' | translate"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.CONFIRM_PASSWORD<span>*</span></ion-label>
                    <ion-input formControlName="confirmPassword" type="password"
                        [placeholder]="'REGISTER.FORM.CONFIRM_PASSWORD' | translate">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="white-space: pre-wrap;"
                        [innerHTML]="'REGISTER.FORM.USER.ACCEPT_PRIVACY_POLICY' | translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="acceptPrivacyPolicy"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label style="white-space: pre-wrap;" [innerHTML]="'Register.Form.acceptAgb' | translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="acceptAgb"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label style="white-space: pre-wrap;"
                        [innerHTML]="'Register.Form.subscribeNewsletter' | translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="subscribeNewsletter"></ion-checkbox>
                </ion-item>
            </div>
            <!-- installer form -->
            <div *ngSwitchCase="'installer'">
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.COMPANY_NAME<span>*</span></ion-label>
                    <ion-input formControlName="companyName" type="input"
                        [placeholder]="'REGISTER.FORM.COMPANY_NAME' | translate"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.FIRSTNAME<span>*</span></ion-label>
                    <ion-input formControlName="firstname" type="input"
                        [placeholder]="'REGISTER.FORM.FIRSTNAME' | translate"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.LASTNAME<span>*</span></ion-label>
                    <ion-input formControlName="lastname" type="input"
                        [placeholder]="'REGISTER.FORM.LASTNAME' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.STREET<span>*</span></ion-label>
                    <ion-input formControlName="street" type="input" [placeholder]="'REGISTER.FORM.STREET' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.ZIP<span>*</span></ion-label>
                    <ion-input formControlName="zip" type="input" [placeholder]="'REGISTER.FORM.ZIP' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.CITY<span>*</span></ion-label>
                    <ion-input formControlName="city" type="input" [placeholder]="'REGISTER.FORM.CITY' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.COUNTRY<span>*</span></ion-label>
                    <ion-select formControlName="country">
                        <ng-container *ngFor="let country of countries">
                            <ion-select-option [value]="country.value">{{country.label}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.PHONE<span>*</span></ion-label>
                    <ion-input formControlName="phone" type="input" [placeholder]="'REGISTER.FORM.PHONE' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.EMAIL<span>*</span></ion-label>
                    <ion-input formControlName="email" type="input" [placeholder]="'REGISTER.FORM.EMAIL' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.CONFIRM_EMAIL<span>*</span></ion-label>
                    <ion-input formControlName="confirmEmail" type="input"
                        [placeholder]="'REGISTER.FORM.CONFIRM_EMAIL' | translate">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.PASSWORD<span>*</span></ion-label>
                    <ion-input formControlName="password" type="password"
                        [placeholder]="'REGISTER.FORM.PASSWORD' | translate"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating" translate>REGISTER.FORM.CONFIRM_PASSWORD<span>*</span></ion-label>
                    <ion-input formControlName="confirmPassword" type="password"
                        [placeholder]="'REGISTER.FORM.CONFIRM_PASSWORD' | translate">
                    </ion-input>
                </ion-item>

                <ion-item>
                    <ion-label style="white-space: pre-wrap;" [innerHTML]="'Register.Form.isElectrician'| translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="isElectrician"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label style="white-space: pre-wrap;"
                        [innerHTML]="'REGISTER.FORM.INSTALLER.ACCEPT_PRIVACY_POLICY' | translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="acceptPrivacyPolicy"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label style="white-space: pre-wrap;" [innerHTML]="'Register.Form.acceptAgb' | translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="acceptAgb"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label style="white-space: pre-wrap;"
                        [innerHTML]="'Register.Form.subscribeNewsletter' | translate">
                    </ion-label>
                    <ion-checkbox slot="start" formControlName="subscribeNewsletter"></ion-checkbox>
                </ion-item>
            </div>
            <!-- workaround for submit with enter key https://github.com/ionic-team/ionic-framework/issues/19368 -->
            <input type="submit" style="visibility: hidden; position: absolute; position: -999px" />

            <ion-button type="submit" class="ion-float-right">
                <small translate>REGISTER.BUTTON</small>
                <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
            </ion-button>
        </form>
    </ion-grid>
</ion-content>