[Unit]
Description=FEMS Remote-Service
After=network.target

[Service]
User=fems
Group=fems
Type=simple
WorkingDirectory=/home/fems
ExecStart=/bin/sh -ce "/usr/bin/python /usr/bin/pagekite.py --clean --logfile=stdio --frontend=remote-service.fenecon.de:443 --service_on=raw:$(/bin/hostname).remote-service.fenecon.de:localhost:22:$(grep 'apikey=' /etc/fems | cut -d'=' -f2)"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
