<oe-chart [title]="'General.production' | translate" [isPopoverNeeded]="isPopoverNeeded" [showPhases]="showPhases"
  [showTotal]="showTotal" (setShowTotal)="setShowTotal($event)" (setShowPhases)="setShowPhases($event)"
  *ngIf="isInitialized" [period]="service.historyPeriod">
  <!-- Total Chart -->
  <ng-container *ngIf="showTotal, else singleMeter">
    <productionTotalChart [chartTitle]="'General.total' | translate" [period]="service.historyPeriod"
      [showPhases]="showPhases" [showTotal]="showTotal">
    </productionTotalChart>
  </ng-container>

  <ng-template #singleMeter>

    <!-- Production TotalAcChart if more than one charger-->
    <productionTotalAcChart *ngIf="productionMeterComponents?.length > 1" [chartTitle]="'General.total'| translate"
      [period]="service.historyPeriod">
    </productionTotalAcChart>

    <!-- ProductionMeters -->
    <ng-container *ngFor="let component of productionMeterComponents">
      <productionMeterchart [chartTitle]="component.alias ?? component.id" [period]="service.historyPeriod"
        [component]="component" [showPhases]="showPhases">
      </productionMeterchart>
    </ng-container>

    <!-- Total DC Chart if more than one charger -->
    <totalDcChart [chartTitle]="('General.total' | translate) + ' DC'" *ngIf="chargerComponents.length > 1"
      [period]="service.historyPeriod">
    </totalDcChart>

    <!-- ChargerComponents -->
    <ng-container *ngFor="let component of chargerComponents">
      <productionChargerChart [chartTitle]="component.alias ?? component.id" [period]="service.historyPeriod"
        [component]="component">
      </productionChargerChart>
    </ng-container>
  </ng-template>
</oe-chart>