<ion-grid [ngClass]="{'disabled-field': FORM_CONTROL.DISABLED}">
    <ion-row>
        <ion-col size="12" size-md="6">
            <ion-item lines="none">
                <ion-label [position]="TO.LABEL_POSITION" [ngStyle]="{
                   'margin-left': props?.boxBorder ? '15%' : 'auto',
                   'max-width': 'none'
                 }">
                    <span>{{TO.LABEL}}</span>
                    <span *ngIf="TO.REQUIRED && TO.HIDE_REQUIRED_MARKER !== true">*</span>
                    <span *ngIf="TO.DESCRIPTION"><br /><small>{{ TO.DESCRIPTION }}</small></span>
                </ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="12" size-md="6">
            <ion-item lines="none" class="ion-no-padding input-box" [ngClass]="{'input-box': PROPS.BOX_BORDER}"
                [ngStyle]="{
                    'border-bottom-color': FORM_CONTROL.INVALID && FORM_CONTROL.TOUCHED
                    ? 'var(--highlight-color-invalid)'
                    : (FORM_CONTROL.VALID ? 'var(--highlight-color-valid)' : (isFocused ? 'var(--highlight-color-focused)' : 'hidden')),
                    'border-bottom-style': (FORM_CONTROL.INVALID && FORM_CONTROL.TOUCHED) || FORM_CONTROL.VALID || isFocused ? 'solid' : 'hidden'
                }">
                <span *ngIf="TO.PREFIX" [STYLE.COLOR]="'var(--ion-color-text)'">{{TO.PREFIX}}</span>
                <ion-input [formControl]="formControl" (ionFocus)="setFocus(true)" (ionBlur)="setFocus(false)"
                    [type]="PROPS.TYPE || 'text'" [formlyAttributes]="field" text-left></ion-input>
            </ion-item>

            <ion-item lines="none" *ngIf="showError">
                <ion-label class="ion-text-wrap">
                    <ion-text class="ion-font-size-smaller" color="danger">
                        <formly-validation-message [field]="field"></formly-validation-message>
                    </ion-text>
                </ion-label>
            </ion-item>

            <ion-checkbox *ngIf="PROPS.CHECKBOX" class="ion-padding-top" color="primary" alignment="start"
                labelPlacement="end" [checked]="PROPS.CHECKBOX.VALUE"
                (ionChange)="onCheckboxChange($EVENT.DETAIL.CHECKED)">
                {{ PROPS.CHECKBOX.LABEL }}
            </ion-checkbox>
        </ion-col>
    </ion-row>
</ion-grid>
