<ion-input *ngIf="PROPS.TYPE === 'number'; else noNumberInput" placeholder="{{PROPS.PLACEHOLDER}}"
    style="width:100%; float:right; text-align: right" labelPlacement="floating" [type]="PROPS.TYPE || 'text'"
    [formControl]="formControl" [min]="PROPS.MIN"
    [label]="PROPS.LABEL + ((PROPS.REQUIRED && PROPS.HIDE_REQUIRED_MARKER !== true) ? '*': '')"
    [helperText]="PROPS.DESCRIPTION" [step]="PROPS.STEP">
</ion-input>
<ng-template #noNumberInput>
    <ion-input placeholder="{{PROPS.PLACEHOLDER}}" [type]="PROPS.TYPE || 'text'" [formControl]="formControl"
        [formlyAttributes]="field" labelPlacement="floating" style="text-align: right"
        [label]="PROPS.LABEL + ((PROPS.REQUIRED && PROPS.HIDE_REQUIRED_MARKER !== true) ? '*': '')"
        [helperText]="PROPS.DESCRIPTION">
    </ion-input>
</ng-template>
