<ion-input *ngIf="props.type === 'number'; else noNumberInput" placeholder="{{props.placeholder}}"
    style="width:100%; float:right; text-align: right" [type]="props.type || 'text'" [formControl]="formControl"
    [min]="props.min" [label]="props.label">
</ion-input>
<ng-template #noNumberInput>
    <ion-input placeholder="{{props.placeholder}}" [type]="props.type || 'text'" [formControl]="formControl"
        style="text-align: right" labelPlacement="start" justify="space-between">
        <div style="text-align: left;">
            <ion-label [position]="to.labelPosition">
                <span>{{ to.label }}</span>
                <span *ngIf="to.required && to.hideRequiredMarker !== true">*</span>
                <span *ngIf="to.description"><br /><small>{{ to.description }}</small></span>
            </ion-label>
        </div>
    </ion-input>
</ng-template>
