:org.apache.felix.configadmin.revision:=L"4"
alias="Control\ Manually"
enabled=B"true"
id="ctrlIoFixDigitalOutput0"
isOn=B"false"
outputChannelAddress="io0/InputOutput1"
service.factoryPid="Controller.Io.FixDigitalOutput"
service.pid="Controller.Io.FixDigitalOutput.c3f3cb2d-d3ed-4000-b7b3-2d0b2af69b64"
