<table class="full_width" style="cursor: pointer;" (click)="presentModal()">
    <tr>
        <td style="width: 100%" style="text-align: center;">
            <h4>Starten auch Sie in die Elektromobilität?</h4>
            <p>Holen Sie sich jetzt die <strong>Förderung für private Ladeinfrastruktur</strong> und profitieren Sie von
                den Vorteilen
                des FEMS.</p>
            <p>Für weitere Informationen <ion-text color="primary">hier</ion-text> klicken.</p>
        </td>
    </tr>
</table>