<table class="full_width" style="cursor: pointer;" (click)="presentModal()">
    <tr>
        <td style="width: 100%" style="text-align: center;font-size: small;">
            <h4>Starten auch Sie in die Elektromobilität?</h4>
            Holen Sie sich jetzt die <strong>Förderung für private Ladeinfrastruktur</strong> und profitieren Sie von
            den Vorteilen
            des FEMS.
            Für weitere Informationen <ion-text color="primary"><br>hier</ion-text> klicken.
        </td>
    </tr>
</table>