<ion-card button (click)="presentModal()">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <ion-img src="assets/img/evcs.png"></ion-img>
        </ion-avatar>
        <ion-label>Ladesäulen Erweiterung</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width: 100%" style="text-align: center;">
                    <p>Starten auch Sie in die Elektromobilität?</p>
                    <p>FEMS integriert Ladesäulen intelligent mit Ihrer PV-Anlage und Stromspeicher!</p>
                    <p>Für weitere Informationen hier klicken.</p>
                </td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>