# Created by https://www.gitignore.io/api/java,maven,gradle,angular,eclipse,node

### Angular ###
## Angular ##
# compiled output
/dist
/tmp
/app/**/*.js
/app/**/*.js.map

# dependencies
/node_modules
/bower_components

# IntelliJ IDEA files and metadata
/.idea
*.iml
*.eml

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
.gradle/
/generated/

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core
#.project

# JDT-specific (Eclipse Java Development Tools)
#.classpath

# Annotation Processing
.apt_generated

### Java ###
# Compiled class file
*.class

# Log file
*.log
# do not ignore directories ending in 'log'
!*.log/

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

### Node ###
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage

# nyc test coverage
.nyc_output

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env

### Gradle ###
.gradle
**/build/
# do not ignore '/doc/build' directory
!*doc/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties


# End of https://www.gitignore.io/api/java,maven,gradle,angular,eclipse,node

# docs
/doc/build/package-lock.json

# tools (docker) build Directories
/tools/docker/openems-backend/build
/tools/docker/openems-edge/build
/tools/docker/openems-ui/build
.atom-build.yml

# OpenEMS temp files
io.openems.edge.controller.api.mqtt/edge0
io.openems.edge.application/c:/
io.openems.edge.controller.asymmetric.fixactivepower/bin_test/.gitignore
io.openems.edge.controller.asymmetric.fixactivepower/generated/buildfiles
io.openems.edge.predictor.lstm/TestFolder/0seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/0trend.txt
io.openems.edge.predictor.lstm/TestFolder/1.csv
io.openems.edge.predictor.lstm/TestFolder/10.csv
io.openems.edge.predictor.lstm/TestFolder/10seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/10trend.txt
io.openems.edge.predictor.lstm/TestFolder/11.csv
io.openems.edge.predictor.lstm/TestFolder/11544.csv
io.openems.edge.predictor.lstm/TestFolder/11seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/11trend.txt
io.openems.edge.predictor.lstm/TestFolder/12.csv
io.openems.edge.predictor.lstm/TestFolder/12seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/12trend.txt
io.openems.edge.predictor.lstm/TestFolder/13.csv
io.openems.edge.predictor.lstm/TestFolder/13seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/13trend.txt
io.openems.edge.predictor.lstm/TestFolder/14.csv
io.openems.edge.predictor.lstm/TestFolder/14seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/14trend.txt
io.openems.edge.predictor.lstm/TestFolder/15.csv
io.openems.edge.predictor.lstm/TestFolder/15seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/15trend.txt
io.openems.edge.predictor.lstm/TestFolder/16.csv
io.openems.edge.predictor.lstm/TestFolder/16seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/16trend.txt
io.openems.edge.predictor.lstm/TestFolder/17.csv
io.openems.edge.predictor.lstm/TestFolder/17seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/17trend.txt
io.openems.edge.predictor.lstm/TestFolder/18.csv
io.openems.edge.predictor.lstm/TestFolder/18seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/18trend.txt
io.openems.edge.predictor.lstm/TestFolder/19.csv
io.openems.edge.predictor.lstm/TestFolder/19seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/19trend.txt
io.openems.edge.predictor.lstm/TestFolder/1seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/1trend.txt
io.openems.edge.predictor.lstm/TestFolder/2.csv
io.openems.edge.predictor.lstm/TestFolder/20.csv
io.openems.edge.predictor.lstm/TestFolder/20seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/20trend.txt
io.openems.edge.predictor.lstm/TestFolder/21.csv
io.openems.edge.predictor.lstm/TestFolder/21seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/21trend.txt
io.openems.edge.predictor.lstm/TestFolder/22.csv
io.openems.edge.predictor.lstm/TestFolder/22seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/22trend.txt
io.openems.edge.predictor.lstm/TestFolder/23.csv
io.openems.edge.predictor.lstm/TestFolder/23seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/23trend.txt
io.openems.edge.predictor.lstm/TestFolder/24.csv
io.openems.edge.predictor.lstm/TestFolder/24seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/24trend.txt
io.openems.edge.predictor.lstm/TestFolder/25.csv
io.openems.edge.predictor.lstm/TestFolder/25seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/25trend.txt
io.openems.edge.predictor.lstm/TestFolder/26.csv
io.openems.edge.predictor.lstm/TestFolder/26seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/26trend.txt
io.openems.edge.predictor.lstm/TestFolder/27.csv
io.openems.edge.predictor.lstm/TestFolder/27seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/27trend.txt
io.openems.edge.predictor.lstm/TestFolder/28.csv
io.openems.edge.predictor.lstm/TestFolder/28seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/29.csv
io.openems.edge.predictor.lstm/TestFolder/2seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/2trend.txt
io.openems.edge.predictor.lstm/TestFolder/3.csv
io.openems.edge.predictor.lstm/TestFolder/30.csv
io.openems.edge.predictor.lstm/TestFolder/3seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/3trend.txt
io.openems.edge.predictor.lstm/TestFolder/4.csv
io.openems.edge.predictor.lstm/TestFolder/4seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/4trend.txt
io.openems.edge.predictor.lstm/TestFolder/5.csv
io.openems.edge.predictor.lstm/TestFolder/5seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/5trend.txt
io.openems.edge.predictor.lstm/TestFolder/6.csv
io.openems.edge.predictor.lstm/TestFolder/6seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/6trend.txt
io.openems.edge.predictor.lstm/TestFolder/7.csv
io.openems.edge.predictor.lstm/TestFolder/7seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/7trend.txt
io.openems.edge.predictor.lstm/TestFolder/8.csv
io.openems.edge.predictor.lstm/TestFolder/8seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/8trend.txt
io.openems.edge.predictor.lstm/TestFolder/9.csv
io.openems.edge.predictor.lstm/TestFolder/9seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/9trend.txt
io.openems.edge.predictor.lstm/TestFolder/aseasonality.txt
io.openems.edge.predictor.lstm/TestFolder/BestModels.txt
io.openems.edge.predictor.lstm/TestFolder/seasonality.txt
io.openems.edge.predictor.lstm/TestFolder/Trend.txt
