# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#
# These files are text and should be normalized (Convert crlf => lf)
*.adoc			text
*.auth 			text
*.bnd			text
*.bndrun 		text
*.css           text
*.csv 			text
*.conf 			text
*.gradle 		text
*.groovy 		text
*.htm           text
*.html          text
*.java          text
*.js            text
*.json          text
*.md 			text
*.pom 			text
*.properties    text
*.sh            text
*.tld           text
*.txt           text
*.tag           text
*.ts			text
*.xml           text
*.yml           text
.classpath 		text
.project 		text
packageinfo 	text
LICENSE			text
README 			text

# These files are binary and should be left untouched
# (binary is a macro for -text -diff)
*.class         binary
*.dll           binary
*.ear           binary
*.eps 			binary
*.gif           binary
*.ico           binary
*.jar           binary
*.jpg           binary
*.jpeg          binary
*.png           binary
*.so            binary
*.svg			binary
*.war 			binary