<ion-card button (click)="presentModal()">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/Mini-3-6.png">
        </ion-avatar>
        <ion-label>Batterieerweiterung auf 6 kWh</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width: 100%" style="text-align: center;">
                    <p>Ihr System bietet sich für eine Batterieerweiterung an.</p>
                    <p>Für weitere Informationen hier klicken.</p>
                </td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>