<div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="50%" fxFlex.xs="100%">
    <form [formGroup]="form" (ngSubmit)="doLogin()">
      <mat-card class="single">
        <mat-card-header *ngIf="websocket.status == 'online'">
          <mat-icon mat-card-avatar>face</mat-icon>
          <mat-card-title translate [translateParams]="{value: 'FEMS'}">Overview.ConnectionSuccessful</mat-card-title>
          <mat-card-subtitle>
            <small>{{ websocket.url }}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-header *ngIf="websocket.status == 'failed'">
          <mat-icon mat-card-avatar>stop</mat-icon>
          <mat-card-title translate [translateParams]="{value: 'FEMS'}">Overview.ConnectionFailed</mat-card-title>
          <mat-card-subtitle>
            <small>{{ websocket.url }}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-header *ngIf="websocket.status == 'connecting'">
          <!-- TODO show spinner -->
          <mat-icon mat-card-avatar>play</mat-icon>
          <mat-card-title>Connecting...</mat-card-title>
          <!-- TODO translate -->
          <mat-card-subtitle>
            <small>{{ websocket.url }}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <!-- Waiting for authentication -->
        <ng-container *ngIf="env.backend === 'OpenEMS Edge' && websocket.status == 'waiting for authentication'">
          <mat-card-header>
            <mat-icon mat-card-avatar>stop</mat-icon>
            <mat-card-title>Bitte geben Sie Ihre Zugangsdaten ein</mat-card-title>
            <!-- TODO translate -->
          </mat-card-header>
          <mat-card-content fxLayout fxLayoutWrap="wrap">
            <mat-input-container fxFlex="100%">
              <input matInput formControlName="password" matInput type="password" placeholder="Passwort">
            </mat-input-container>
            <!-- Messages -->
            <p fxFlex="100%">{{ (websocket.event | async)?.message }}</p>
          </mat-card-content>
          <mat-card-actions fxLayout fxLayoutAlign="end start">
            <button type="button" mat-fab (click)="doLogin()" color="primary">
              <mat-icon>check</mat-icon>
            </button>
          </mat-card-actions>
        </ng-container>
        <!-- Logout from OpenEMS Edge -->
        <ng-container *ngIf="env.backend === 'OpenEMS Edge' && websocket.status == 'online'">
          <mat-card-actions fxLayout fxLayoutAlign="end start">
            <button type="button" mat-fab (click)="doLogout()" color="accent">
              <mat-icon>exit_to_app</mat-icon>
            </button>
          </mat-card-actions>
        </ng-container>
      </mat-card>
    </form>

    <!-- List of devices -->
    <ng-container *ngIf="env.backend === 'OpenEMS Backend' && websocket.status == 'online'">
      <mat-card class="single">
        <mat-card-content fxLayout fxLayoutWrap="wrap">
          <mat-input-container fxFlex="100%" [formGroup]="filter">
            <input type="text" formControlName="filter" placeholder="Filter" matInput autofocus>
          </mat-input-container>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngFor="let device of utils.values(websocket.devices | async)">
      <ng-container *ngIf="env.backend === 'OpenEMS Edge' || device.name.toLowerCase().includes(filter.value.filter.toLowerCase()) || device.comment.toLowerCase().includes(filter.value.filter.toLowerCase())">
        <mat-card class="single">
          <mat-card-header>
            <mat-icon *ngIf="device.online" mat-card-avatar color="primary">folder</mat-icon>
            <mat-icon *ngIf="!device.online" mat-card-avatar>error</mat-icon>
            <mat-card-title *ngIf="env.backend === 'OpenEMS Edge'" translate>Overview.ToEnergymonitor</mat-card-title>
            <mat-card-title *ngIf="env.backend === 'OpenEMS Backend'">
              <span>{{ device.comment }}
                <span *ngIf="!device.online">
                  <br/>
                  <span translate>Overview.IsOffline</span>
                </span>
              </span>
            </mat-card-title>
            <mat-card-subtitle>
              <p *ngIf="env.backend === 'OpenEMS Backend'">{{ device.name }}: {{ device.producttype }}</p>
              <p>Angemeldet als '{{ device.role }}'.</p>
              <!-- TODO translate -->
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions fxLayout fxLayoutAlign="end start" *ngIf="device.online">
            <button type="button" mat-fab routerLink="/device/{{ device.name }}">
              <mat-icon>navigate_next</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>