<div fxLayout fxLayoutAlign="center start" fxLayout="wrap">
  <div fxFlex="35%" fxFlex.xs="100%">
    <form [formGroup]="form" (ngSubmit)="doLogin()">
      <mat-card class="single">
        <mat-card-header *ngIf="websocket.status == 'online'">
          <ion-icon mat-card-avatar color="primary" name="contact"></ion-icon>
          <mat-card-title translate [translateParams]="{value: 'hy-control'}">Overview.ConnectionSuccessful</mat-card-title>
          <mat-card-subtitle>
            <small>{{ websocket.url }}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-header *ngIf="websocket.status == 'failed'">
          <ion-icon mat-card-avatar name="close"></ion-icon>
          <mat-card-title translate [translateParams]="{value: 'hy-control'}">Overview.ConnectionFailed</mat-card-title>
          <mat-card-subtitle>
            <small>{{ websocket.url }}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-header *ngIf="websocket.status == 'connecting'">
          <!-- TODO show spinner -->
          <ion-icon mat-card-avatar name="wifi"></ion-icon>
          <mat-card-title>Connecting...</mat-card-title>
          <!-- TODO translate -->
          <mat-card-subtitle>
            <small>{{ websocket.url }}</small>
          </mat-card-subtitle>
        </mat-card-header>
        <!-- Waiting for authentication -->
        <ng-container *ngIf="env.backend === 'OpenEMS Edge' && websocket.status == 'waiting for authentication'">
          <ion-card-header>
            <ion-row>
              <ion-avatar>
                <ion-icon size="large" name="hand"></ion-icon>
              </ion-avatar>
              Bitte geben Sie Ihre Zugangsdaten ein
            </ion-row>
            <!-- TODO translate -->
          </ion-card-header>
          <ion-card-content fxLayout fxLayout="wrap">
            <mat-form-field fxFlex="100%">
              <input matInput formControlName="password" matInput type="password" placeholder="Passwort">
            </mat-form-field>
            <!-- Messages -->
            <p fxFlex="100%">{{ (websocket.event | async)?.message }}</p>
          </ion-card-content>
          <mat-card-actions fxLayout fxLayoutAlign="end start">
            <ion-button slot="center" (click)="doLogin()" color="primary">
              <ion-icon name="log-in"></ion-icon>
            </ion-button>
          </mat-card-actions>
        </ng-container>
        <!-- Logout from OpenEMS Edge -->
        <ng-container *ngIf="env.backend === 'OpenEMS Edge' && websocket.status == 'online'">
          <mat-card-actions fxLayout fxLayoutAlign="end start">
            <ion-button (click)="doLogout()" color="primary">
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </mat-card-actions>
        </ng-container>
      </mat-card>
    </form>

    <!-- List of edges -->
    <ng-container *ngIf="env.backend === 'OpenEMS Backend' && websocket.status == 'online'">
      <mat-card class="single">
        <mat-card-content fxLayout fxLayout="wrap">
          <mat-form-field fxFlex="100%" [formGroup]="filter">
            <input type="text" formControlName="filter" placeholder="Filter" matInput autofocus>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-container *ngFor="let edge of utils.values(websocket.edges | async)">
      <ng-container
        *ngIf="env.backend === 'OpenEMS Edge' || edge.name.toLowerCase().includes(filter.value.filter.toLowerCase()) || edge.comment.toLowerCase().includes(filter.value.filter.toLowerCase())">
        <mat-card class="single">
          <mat-card-header>
            <ion-icon *ngIf="edge.online" mat-card-avatar name="tv" color="primary"></ion-icon>
            <ion-icon *ngIf="!edge.online" mat-card-avatar name="bug"></ion-icon>
            <mat-card-title *ngIf="env.backend === 'OpenEMS Edge'" translate>Overview.ToEnergymonitor</mat-card-title>
            <mat-card-title *ngIf="env.backend === 'OpenEMS Backend'">
              <span>{{ edge.comment }}
                <span *ngIf="!edge.online">
                  <br />
                  <span translate>Overview.IsOffline</span>
                </span>
              </span>
            </mat-card-title>
            <mat-card-subtitle>
              <p *ngIf="env.backend === 'OpenEMS Backend'">{{ edge.name }}: {{ edge.producttype }}</p>
              <p>Angemeldet als '{{ edge.role }}'.</p>
              <!-- TODO translate -->
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions fxLayout fxLayoutAlign="end start" *ngIf="edge.online">
            <!-- <button type="button" mat-fab routerLink="/device/{{ edge.name }}">
              <mat-icon>navigate_next</mat-icon>
            </button> -->
            <ion-button routerLink="/device/{{ edge.name }}">
              <ion-icon name="arrow-forward"></ion-icon>
            </ion-button>
          </mat-card-actions>
        </mat-card>
      </ng-container>
    </ng-container>
  </div>
</div>