<div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div fxFlex="50%" fxFlex.xs="100%">
    <form [formGroup]="form" (ngSubmit)="doLogin(form)">
      <md-card class="single">
        <md-card-header *ngIf="websocket.status == 'failed'">
          <md-icon md-card-avatar>stop</md-icon>
          <md-card-title translate [translateParams]="{value: 'FEMS'}">Overview.ConnectionFailed</md-card-title>
          <md-card-subtitle><small>{{ websocket.url }}</small></md-card-subtitle>
        </md-card-header>
        <md-card-header *ngIf="websocket.status == 'connecting'">
          <md-icon md-card-avatar>play</md-icon>
          <md-card-title>Connecting...</md-card-title>
          <!-- TODO translate -->
          <md-card-subtitle><small>{{ websocket.url }}</small></md-card-subtitle>
        </md-card-header>
        <!-- TODO show spinner -->
        <md-card-header *ngIf="websocket.status == 'online'">
          <md-icon md-card-avatar>face</md-icon>
          <md-card-title translate [translateParams]="{value: 'FEMS'}">Overview.ConnectionSuccessful</md-card-title>
        </md-card-header>
        <md-card-content fxLayout fxLayoutWrap="wrap">
          <ng-container *ngIf="env.backend == 'openems_edge'">
            <md-input-container *ngIf="websocket.status == 'failed'" fxFlex="100%"><input formControlName="password" mdInput type="password" placeholder="Passwort"></md-input-container>
          </ng-container>
          <!-- Messages -->
          <p fxFlex="100%">{{ (websocket.event | async)?.message }}</p>
        </md-card-content>
        <md-card-actions *ngIf="websocket.backend == 'openems_edge'" fxLayout fxLayoutAlign="end start">
          <button type="button" md-fab *ngIf="websocket.status == 'failed'" (click)="doLogin(form)" color="primary"><md-icon>check</md-icon></button>
          <button type="button" md-fab *ngIf="websocket.status != 'failed'" (click)="doLogout(form)" color="accent"><md-icon>exit_to_app</md-icon></button>
        </md-card-actions>
      </md-card>
    </form>

    <!-- List of devices -->
    <ng-container *ngFor="let device of utils.values(websocket.devices)">
      <md-card class="single">
        <md-card-header>
          <md-icon *ngIf="device.online" md-card-avatar color="primary">folder</md-icon>
          <md-icon *ngIf="!device.online" md-card-avatar>error</md-icon>
          <md-card-title *ngIf="env.backend == 'openems_edge'" translate>Overview.ToEnergymonitor</md-card-title>
          <md-card-title *ngIf="env.backend == 'openems_backend'" translate>
            <span>{{ device.name }} <span *ngIf="!device.online"><br/>Overview.IsOffline</span></span>
            <!-- TODO show device.comment -->
          </md-card-title>
          <md-card-subtitle *ngIf="env.backend == 'openems_backend'">
            <span>{{ device.name }}: {{ device.producttype }}</span>
            <!-- TODO producttype is not available -->
          </md-card-subtitle>
        </md-card-header>
        <md-card-actions fxLayout fxLayoutAlign="end start">
          <button type="button" md-fab routerLink="/device/{{ device.name }}"><md-icon>navigate_next</md-icon></button>
        </md-card-actions>
      </md-card>
    </ng-container>
  </div>
</div>