<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>General.digitalInputs</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="service.currentEdge | async as edge">
        <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
            <ng-container *ngFor="let component of ioComponents">
                <ion-card-content>
                    <table class="full_width">
                        <tr class="underline">
                            <td style="width: 100%;">{{ component.alias}}</td>
                        </tr>
                        <ng-container *ngFor="let channel of (component.channels | keys)">
                            <ng-container *ngIf="channel.value['accessMode'] === 'RO'">
                                <ng-container
                                    *ngIf="channel.value.type === 'BOOLEAN' && channel.key !== '_PropertyEnabled'">
                                    <tr>
                                        <td style="width:65%">{{ channel.key }}</td>
                                        <td style="width:36%" class="align_right">
                                            <ion-icon name="radio-button-off"
                                                *ngIf="currentData[component.id + '/' + channel.key] === 0; else inputOn">
                                            </ion-icon>
                                            <ng-template #inputOn>
                                                <ion-icon name="radio-button-on"></ion-icon>
                                            </ng-template>
                                        </td>
                                    </tr>
                                </ng-container>
                            </ng-container>

                        </ng-container>

                    </table>
                </ion-card-content>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>