<div *ngIf="form" [formGroup]="form">
    <!-- <p>Address: {{ thingId }}: {{ channelId }}</p>
    <p>Form: {{ form.value | json }}</p>
    <p>Role: {{ role | json }}</p>
    <p>Meta: {{ meta | json }}</p> -->

    <ng-container *ngIf="role.isHigherThan(meta.accessLevel)">
        <!-- array -->
        <div *ngIf="meta.array == true; else no_array" formArrayName="channelValue" fxFlex="100%">
            Array: {{ channelId }}
        </div>
        <!-- no array -->
        <ng-template #no_array>
            <ng-container [ngSwitch]="specialType">
                <ng-container *ngSwitchCase="'ignore'">
                    <!-- ignore -->
                </ng-container>
                <ng-container *ngSwitchCase="'boolean'">
                    <md-slide-toggle formControlName="channelValue">{{ meta.title }}</md-slide-toggle>
                </ng-container>
                <ng-container *ngSwitchCase="'deviceNature'"><i>deviceNature</i></ng-container>
                <ng-container *ngSwitchCase="'simple'">
                    <!-- Simple input field -->
                    <md-form-field>
                        <input mdInput [placeholder]="meta.title" formControlName="channelValue" [type]="type">
                    </md-form-field>
                </ng-container>
                <ng-container *ngSwitchDefault>undefined: {{ specialType }} - {{ form.value | json }}</ng-container>
            </ng-container>
        </ng-template>
    </ng-container>
</div>