<div *ngIf="form" [formGroup]="form">
    <!-- <p>Address: {{ thingId }}: {{ channelId }}</p>
    <p>Form: {{ form.value | json }}</p>
    <p>Role: {{ role | json }}</p>
    <p>Meta: {{ meta | json }}</p> -->

    <ng-container *ngIf="role.isHigherThan(meta.accessLevel)">
        <!-- array -->
        <div *ngIf="meta.array == true; else no_array" formArrayName="channelValue" fxFlex="100%">
            {{ channelId }}
        </div>
        <!-- no array -->
        <ng-template #no_array>
            <ng-container *ngIf="specialType; else no_special_type">
                <p>SpecialType: {{ specialType }}</p>
                <!-- Select from nature list -->
                <div *ngIf="specialType == 'selectNature'; else no_select_nature">
                    <p>SELECTNATURE</p>
                </div>
                <ng-template #no_select_nature>
                    {{ channelId }}
                </ng-template>
            </ng-container>
            <ng-template #no_special_type>
                <!-- Simple input field -->
                <md-form-field>
                    <input mdInput [placeholder]="meta.title" formControlName="channelValue" [type]="type">
                </md-form-field>
            </ng-template>
        </ng-template>
    </ng-container>
</div>