<ng-container *ngIf="component && service.currentEdge | async as edge">
  <ng-container *ngIf="edge.currentData | async as currentData">
    <ion-card button (click)="presentModal()">
      <ion-item lines="full" color="light">
        <ion-avatar slot="start">
          <ng-container *ngIf="currentData.channel[outputChannel] == 1">
            <ion-icon color="primary" size="large" name="aperture"></ion-icon>
          </ng-container>
          <ng-container *ngIf="currentData.channel[outputChannel] == 0">
            <ion-icon color="primary" size="large" name="radio-button-off"></ion-icon>
          </ng-container>
          <ng-container *ngIf="currentData.channel[outputChannel] == null">
            <ion-icon size="large" name="help-circle-outline"></ion-icon>
          </ng-container>
        </ion-avatar>
        <ion-label>{{ component.alias }}</ion-label>
      </ion-item>
      <ion-card-content>
        <table class="full_width">
          <tr>
            <td style="width: 65%" translate>
              General.state
            </td>
            <td style="width: 35%" class="align_right" translate>
              <ion-icon *ngIf="currentData.channel[outputChannel] == null" name="help"></ion-icon>
              <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                General.on
              </ng-container>
              <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                General.off
              </ng-container>
            </td>
          </tr>
          <tr>
            <td style="width: 65%;" translate>
              General.mode</td>
            <td *ngIf="component.properties['mode'] == 'ON'" style="width: 35%" class="align_right" translate>
              General.on
            </td>
            <td *ngIf="component.properties['mode'] == 'OFF'" style="width: 35%" class="align_right" translate>
              General.off
            </td>
            <td *ngIf="component.properties['mode'] == 'AUTOMATIC'" style="width: 35%" class="align_right" translate>
              General.automatic
            </td>
          </tr>
        </table>
        <div *ngIf="component.properties['mode'] == 'AUTOMATIC'">
          <table class="full_width">
            <tr>
              <td style="width: 65%" translate>
                Edge.Index.Widgets.Singlethreshold.dependendOn</td>
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/EssSoc'" translate>
                General.soc
              </td>
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/ProductionActivePower'" translate>
                General.production
              </td>
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/GridActivePower' && component.properties.threshold < 0"
                translate>
                General.gridSell
              </td>
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/GridActivePower' && component.properties.threshold > 0"
                translate>
                General.gridBuy
              </td>
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress != '_sum/EssSoc' && component.properties.inputChannelAddress != '_sum/GridActivePower'
            && component.properties.inputChannelAddress != '_sum/ProductionActivePower' && component.properties.inputChannelAddress != null">
                <span
                  translate>Edge.Index.Widgets.Singlethreshold.other</span>&nbsp;({{ component.properties.inputChannelAddress }})
              </td>
            </tr>
            <!-- show current value only if input channel address is other -->
            <tr
              *ngIf="component.properties.inputChannelAddress != null && component.properties.inputChannelAddress != '_sum/EssSoc' && component.properties.inputChannelAddress != '_sum/GridActivePower' && component.properties.inputChannelAddress != '_sum/ProductionActivePower'">
              <td style=" width: 65%" translate>
                General.currentValue
              </td>
              <td style="width: 35%" class="align_right">
                {{ currentData.channel[component.properties['inputChannelAddress']] }}
                <ng-container *ngIf="config.getChannel(inputChannel)['unit'] !== ''">
                  &nbsp;{{ config.getChannel(inputChannel)['unit'] }}
                </ng-container>
              </td>
            </tr>

            <tr *ngIf="currentData.channel[outputChannel] != null">
              <td style="width: 65%;" translate>
                <ng-container *ngIf="component.properties.threshold > 0">
                  <ng-container *ngIf="component.properties.invert == false">
                    <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                      Edge.Index.Widgets.Singlethreshold.switchOnAbove
                    </ng-container>
                    <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                      Edge.Index.Widgets.Singlethreshold.switchOffBelow
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="component.properties.invert == true">
                    <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                      Edge.Index.Widgets.Singlethreshold.switchOnBelow
                    </ng-container>
                    <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                      Edge.Index.Widgets.Singlethreshold.switchOffAbove
                    </ng-container>
                  </ng-container>
                </ng-container>
                <!-- revert logic for GridSell -->
                <ng-container *ngIf="component.properties.threshold < 0">
                  <ng-container *ngIf="component.properties.invert == false">
                    <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                      Edge.Index.Widgets.Singlethreshold.switchOnBelow
                    </ng-container>
                    <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                      Edge.Index.Widgets.Singlethreshold.switchOffAbove
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="component.properties.invert == true">
                    <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                      Edge.Index.Widgets.Singlethreshold.switchOnAbove
                    </ng-container>
                    <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                      Edge.Index.Widgets.Singlethreshold.switchOffBelow
                    </ng-container>
                  </ng-container>
                </ng-container>
              </td>
              <!-- SOC -->
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/EssSoc'">
                {{ component.properties['threshold'] | unitvalue:'%' }}
              </td>
              <!-- PRODUCTION -->
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/ProductionActivePower'">
                {{ component.properties['threshold'] | unitvalue: 'kW' }}
              </td>
              <!-- GRIDBUY -->
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/GridActivePower' && component.properties.threshold > 0">
                <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                  {{ component.properties['threshold'] | unitvalue: 'kW' }}
                </ng-container>
                <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                  {{ (component.properties['threshold'] - component.properties['switchedLoadPower']) | unitvalue: 'kW' }}
                </ng-container>
              </td>
              <!-- GRIDSELLL -->
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress == '_sum/GridActivePower' && component.properties.threshold < 0">
                <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                  {{ component.properties['threshold'] * -1 | unitvalue: 'kW' }}
                </ng-container>
                <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                  {{ ((component.properties['threshold'] * -1) - component.properties['switchedLoadPower']) | unitvalue: 'kW' }}
                </ng-container>
              </td>
              <!-- OTHER -->
              <td style="width: 35%" class="align_right"
                *ngIf="component.properties.inputChannelAddress != '_sum/EssSoc' && component.properties.inputChannelAddress != '_sum/GridActivePower' && component.properties.inputChannelAddress != '_sum/ProductionActivePower'">
                <ng-container *ngIf="component.properties.threshold < 0">
                  {{ component.properties['threshold'] * -1 }}
                  <div *ngIf="config.getChannel(inputChannel)['unit'] !== ''">
                    &nbsp;{{ config.getChannel(inputChannel)['unit'] }}
                  </div>
                </ng-container>
                <ng-container *ngIf="component.properties.threshold > 0">
                  {{ component.properties['threshold'] }}
                  <div *ngIf="config.getChannel(inputChannel)['unit'] !== ''">
                    &nbsp;{{ config.getChannel(inputChannel)['unit'] }}
                  </div>
                </ng-container>
              </td>
            </tr>
          </table>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ng-container>