<header></header>
<ion-grid>
    <ion-row class="ion-justify-content-center">

        <ion-col size="12">
            <ion-card>
                <ion-item lines="full" color="light">
                    <ion-icon size="large" slot="start" name="lock-open-outline" color="primary"></ion-icon>
                    <ion-label translate>
                        Edge.Config.Kaco.ChangePassword
                    </ion-label>
                </ion-item>
                <ion-card-content>
                    <form [formGroup]="form" (ngSubmit)="submit(password.value)">
                        <ion-item>
                            <ion-label translate>Edge.Config.Kaco.EnterNewPassword</ion-label>
                        </ion-item>
                        <ion-item>
                            <ion-input #password formControlName="password" required type="password"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-button type="submit" color="primary" translate>Edge.Config.Kaco.UpdatePassword
                            </ion-button>
                        </ion-item>
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-col>

    </ion-row>
</ion-grid>