server {
	listen 8080 default_server;
	listen [::]:8080 default_server;

	server_name openems;

	# OpenEMS Apache felix
	location / {
		root								http://127.0.0.1:8080/system/console/configMgr;
		index								index.html index.htm index.php;
		error_page							404 300 /index.html;
	}
}