<installation-view iconName="checkmark-done-outline" header="{{ 'INSTALLATION.COMPLETION.TITLE' | translate }}"
  (previousClicked)="onPreviousClicked()" (nextClicked)="onNextClicked()" isLastView="true">

  <ion-textarea readonly auto-grow value="{{ 'INSTALLATION.COMPLETION.SUB_TITLE' | translate:
  { value: ibn.type } }}">
  </ion-textarea>

  <ion-item>
    <ion-button (click)="downloadProtocol()">
      <ion-label>{{ 'INSTALLATION.COMPLETION.DOWNLOAD' | translate}}</ion-label>
      <ion-icon name="download-outline" slot="end"></ion-icon>
    </ion-button>
  </ion-item>

</installation-view>