<ng-container *ngIf="edge">

    <!-- Is Edge online? -->
    <ng-container *ngIf="!EDGE.IS_ONLINE; else edgeIsOnline">
        <!-- Edge is Restarting after Update -->
        <ng-container *ngIf="EXECUTE_UPDATE.IS_EDGE_RESTARTING; else edgeIsOffline">
            <ion-item lines="none" color="light">
                <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.EDGE_RESTARTING' | translate:
                    { edge: ENVIRONMENT.EDGE_SHORT_NAME } }}<br />
                    {{ 'SETTINGS.SYSTEM_UPDATE.UPDATE_TIME'| translate}}</ion-label>
            </ion-item>
            <ion-item lines="none" color="light">
                <ion-progress-bar type="indeterminate" style="margin-top: 1%"></ion-progress-bar>
            </ion-item>
        </ng-container>

        <!-- Edge is offline -->
        <ng-template #edgeIsOffline>
            <ion-item lines="none" color="light">
                <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.OFFLINE' | translate:
                    { edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME } }}
                </ion-label>
            </ion-item>
        </ng-template>
    </ng-container>

    <ng-template #edgeIsOnline>
        <ng-container *ngIf="executeUpdate?.systemUpdateState as systemUpdateState">
            <ng-container *ngIf="isWaiting; else isNotWaiting">

                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <ng-container *ngIf="SYSTEM_UPDATE_STATE.UNKNOWN">
                                <!-- Update State is unknown  -->
                                <ng-container *ngIf="!EXECUTE_UPDATE.CAN_NOT_BE_UPDATED; else canNotBeUpdated">
                                    <ion-item lines="none">
                                        <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.UPDATE_SEARCH'| translate}}</ion-label>
                                    </ion-item>
                                </ng-container>

                                <ng-template #canNotBeUpdated>
                                    <ion-item lines="none">
                                        <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.UPDATE_NOT_POSSIBLE'| translate}}
                                        </ion-label>
                                    </ion-item>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="SYSTEM_UPDATE_STATE.RUNNING as state">
                                <!-- Update is running -->
                                <ion-item lines="none">
                                    <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.UPDATE_PROGRESS'| translate}}<br />{{
                                        'SETTINGS.SYSTEM_UPDATE.UPDATE_TIME'| translate}}
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <oe-flat-widget-percentagebar
                                        [value]="STATE.PERCENT_COMPLETED"></oe-flat-widget-percentagebar>
                                </ion-item>
                            </ng-container>
                        </ion-col>
                        <ion-col>
                            <div style="height: 3vh">
                                <ngx-spinner [name]="spinnerId"></ngx-spinner>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <!-- Debug Logs -->
                <ng-container *ngIf="ENVIRONMENT.DEBUG_MODE && SYSTEM_UPDATE_STATE.RUNNING as state">
                    <div *ngIf="STATE.LOGS.LENGTH > 0">
                        <p style="cursor: pointer" (click)="showLog = !showLog">
                            <ion-icon *ngIf="!showLog" name="arrow-down-circle-outline">
                            </ion-icon>
                            <ion-icon *ngIf="showLog" name="arrow-up-circle-outline">
                            </ion-icon>
                            <span>&nbsp;Details</span>
                        </p>
                        <p *ngIf="showLog">
                            <ng-container *ngFor="let log of STATE.LOGS">
                                <small>{{ log }}</small><br />
                            </ng-container>
                        </p>
                    </div>
                </ng-container>

            </ng-container>
            <ng-template #isNotWaiting>

                <ng-container *ngIf="SYSTEM_UPDATE_STATE.UPDATED as state">
                    <!-- Latest update is installed -->
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.INSTALLED_VERSION'| translate}}</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ STATE.VERSION }}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label color="success" class="ion-text-wrap">
                                        {{ 'SETTINGS.SYSTEM_UPDATE.LATEST_VERISON'| translate}}
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>

                <ng-container *ngIf="SYSTEM_UPDATE_STATE.AVAILABLE as state">
                    <!-- Update is available -->
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.INSTALLED_VERSION'| translate}}</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ STATE.CURRENT_VERSION }}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ 'SETTINGS.SYSTEM_UPDATE.NEW_VERSION'| translate}}</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ STATE.LATEST_VERSION }}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-item lines="none" class="ion-float-right">
                                    <ion-button (click)="confirmationAlert()">{{
                                        'SETTINGS.SYSTEM_UPDATE.NEW_VERSION_INSTALLING'| translate }}
                                    </ion-button>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>
            </ng-template>
        </ng-container>
    </ng-template>
</ng-container>
