<ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title *ngIf="evcsComponent.alias === evcsComponent.id" translate>
                Edge.Index.Widgets.EVCS.ChargingStation
            </ion-title>
            <ion-title *ngIf="evcsComponent.alias !== evcsComponent.id">
                {{evcsComponent.alias}}
            </ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="presentModal()">
                    <ion-icon [color]="evcsComponent.properties['minHwCurrent'] === 10000 ? 'success' : ''"
                        name="car-outline"></ion-icon>
                </ion-button>

                <ng-container [ngSwitch]="evcsComponent.factoryId">
                    <oe-help-button *ngSwitchCase="'Evcs.Keba.KeContact'" key="EVCS_KEBA_KECONTACT"></oe-help-button>
                    <oe-help-button *ngSwitchCase="'Evcs.HardyBarth'" key="EVCS_HARDY_BARTH"></oe-help-button>
                    <oe-help-button *ngSwitchCase="'Evcs.Ocpp.IesKeywattSingle'" key="EVCS_OCPP_IESKEYWATTSINGLE">
                    </oe-help-button>
                </ng-container>

                <ion-button (click)="modalCtrl.dismiss()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ng-container *ngIf="currentData[componentId + '/State'] !== 3">
            <ion-card-content class="underline">
                <table class="full_width">
                    <tr>
                        <td style="width:20%" translate>
                            Edge.Index.Widgets.EVCS.status
                        </td>
                        <td style="width:80%" class="align_right">
                            {{ getState(currentData[componentId + "/Status"], currentData[componentId + "/Plug"]) }}
                        </td>
                    </tr>
                </table>
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            Edge.Index.Widgets.EVCS.chargeTarget
                        </td>
                        <ng-container
                            *ngIf="currentData[componentId + '/SetChargePowerLimit'] >= currentData[componentId + '/MaximumHardwarePower']; else chargePowerLimitValid">
                            <td style="width: 35%" class="align_right">
                                {{ formatNumber(currentData[componentId + "/MaximumHardwarePower"]) | unitvalue:'W' }}
                            </td>
                        </ng-container>
                        <ng-template #chargePowerLimitValid>
                            <td style="width: 35%" class="align_right">
                                {{ formatNumber(currentData[componentId + "/SetChargePowerLimit"]) | unitvalue:'W' }}
                            </td>
                        </ng-template>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>
                            Edge.Index.Widgets.EVCS.chargingPower
                        </td>
                        <ng-container *ngIf="currentData[componentId + '/ChargePower'] > 0;else empty">
                            <td style="width:35%" class="align_right">
                                {{ currentData[componentId + "/ChargePower"] | number:'1.0-0' }}&nbsp;W&nbsp;
                            </td>
                        </ng-container>
                        <ng-template #empty>
                            <td style="width:35%" class="align_right">
                                -&nbsp;
                            </td>
                        </ng-template>
                    </tr>
                    <tr
                        *ngIf="currentData[componentId + '/ChargePower'] > 0 || currentData[componentId + '/Status'] === 2 || currentData[componentId + '/Status'] === 7">
                        <td style="width:65%" translate>
                            Edge.Index.Widgets.EVCS.energySinceBeginning</td>
                        <td style="width:35%" class="align_right">
                            {{ currentData[componentId + "/EnergySession"] | number:'1.0-0' }}&nbsp;Wh
                        </td>
                    </tr>
                </table>
            </ion-card-content>
            <ng-container *ngIf="controller">
                <!--Controllable Evcs-->
                <ion-card-content>
                    <table class="full_width">
                        <tr>
                            <td translate>
                                General.mode
                            </td>
                            <td class="align_right" *ngIf="chargeMode !== 'OFF'">
                                <ion-icon (click)="isPrioritization = false; presentPopover()" class="ion-no-padding"
                                    style="text-align: right; font-size: 20px" style="cursor: pointer"
                                    name="information-circle-outline">
                                </ion-icon>
                            </td>
                        </tr>
                    </table>
                    <ion-segment (ionChange)="updateChargeMode($event, controller)" value="{{chargeMode}}"
                        scrollable="false">
                        <ion-segment-button value="FORCE_CHARGE">
                            <ion-label translate>
                                General.manually
                            </ion-label>
                            <ion-icon color="success" style="width:40px" name="power-outline"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="EXCESS_POWER">
                            <ion-label translate>
                                General.automatic
                            </ion-label>
                            <ion-icon style="width:40px" name="sunny-outline">
                            </ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="OFF">
                            <ion-label translate>
                                General.off
                            </ion-label>
                            <ion-icon name="power-outline" style="width: 40px"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-card-content>
                <ng-container *ngIf="chargeMode === 'EXCESS_POWER'">
                    <!--Excess Power settings-->
                    <ion-card-content>
                        <table class="full_width">
                            <tr>
                                <td style="width: 65%" translate>
                                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.minCharging
                                </td>
                                <td style="width: 35%" class="align_right">
                                    <ion-toggle
                                        (ionChange)="allowMinimumChargePower(currentData[componentId + '/Phases'], controller)"
                                        [checked]="controller.properties['defaultChargeMinPower'] !== 0">
                                    </ion-toggle>
                                </td>
                            </tr>
                            <tr *ngIf="controller.properties['defaultChargeMinPower'] !== 0">
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.minChargePower
                                </td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['defaultChargeMinPower'] | unitvalue:'W'}}
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range class="swiper-no-swiping" style="z-index: 10000; page-break-inside: auto"
                                    *ngIf="controller.properties['defaultChargeMinPower'] !== 0"
                                    (ionChange)="updateDefaultMinPower($event, controller)"
                                    min="{{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) }}"
                                    max="{{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) }}"
                                    color="dark" pin="true" style="padding-top: 8px;" step="100" debounce="500"
                                    value="{{controller.properties['defaultChargeMinPower']}}">
                                    <ion-label slot="start">
                                        {{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) |
                                        unitvalue:'W'}}
                                    </ion-label>
                                    <ion-label slot="end">
                                        {{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) |
                                        unitvalue:'W'}}
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ion-card-content>
                    <ion-card-content class="underline">
                        <table class="full_width">
                            <tr>
                                <td translate>
                                    Edge.Index.Widgets.EVCS.prioritization
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <td>
                                    <ion-segment (ionChange)="priorityChanged($event, controller)"
                                        value="{{controller.properties['priority']}}" scrollable="false">
                                        <ion-segment-button value="CAR" layout="icon-start">
                                            <ion-icon style="width:40px" name="oe-evcs" color="environmental" />
                                            <ion-label translate>
                                                Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.car
                                            </ion-label>
                                        </ion-segment-button>
                                        <ion-segment-button value="STORAGE" layout="icon-start">
                                            <ion-icon style="width:40px" name="oe-storage" color="success" />
                                            <ion-label translate>
                                                Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.storage
                                            </ion-label>
                                        </ion-segment-button>
                                    </ion-segment>
                                </td>
                            </tr>
                        </table>

                    </ion-card-content>
                </ng-container>
                <ng-container *ngIf="chargeMode === 'FORCE_CHARGE'">
                    <ion-card-content *ngIf="getNumberOfPhasesOrThree() as numberOfPhases" class="underline">
                        <!--Force Charge settings-->
                        <table class="full_width">
                            <tr>
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.EVCS.ForceChargeMode.maxCharging
                                </td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['forceChargeMinPower'] * numberOfPhases | unitvalue:'W'}}
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range style="width: 100%"
                                    (ionChange)="updateForceMinPower($event, controller, numberOfPhases)"
                                    min="{{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) }}"
                                    max="{{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) }}"
                                    color="dark" pin="true" style="padding-top: 8px;" step="100" debounce="500"
                                    value="{{controller.properties['forceChargeMinPower'] * numberOfPhases}}">
                                    <ion-label slot="start">
                                        {{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) |
                                        unitvalue:'W'}}
                                    </ion-label>
                                    <ion-label slot="end">
                                        {{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) |
                                        unitvalue:'W'}}
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
                <ion-card-content *ngIf="controller && chargeMode !== 'OFF'">
                    <table class="full_width">
                        <tr>
                            <td style="width: 65%" translate>
                                Edge.Index.Widgets.EVCS.maxEnergyRestriction
                            </td>
                            <td style="width: 35%" class="align_right">
                                <ion-toggle (ionChange)="allowEnergySessionLimit(controller)"
                                    [checked]="controller.properties['energySessionLimit'] !== 0">
                                </ion-toggle>
                            </td>
                        </tr>
                    </table>
                    <ng-container *ngIf="controller.properties['energySessionLimit'] !== 0">
                        <div style="padding-top: 10px;"></div>

                        <table class="full_width">
                            <tr>
                                <td style="width: 65%" translate>Edge.Index.Widgets.EVCS.energyLimit</td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['energySessionLimit'] | unitvalue:'kWh'}}</td>
                                <td class="align_right" style="width: 100%">
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range (ionChange)="updateEnergySessionLimit($event, controller)" min="1" max="100"
                                    color="dark" pin="true" style="width: 100%" step="1" debounce="500"
                                    value="{{(controller.properties['energySessionLimit'] / 1000)}}">
                                    <ion-label slot="start">
                                        {{1000 | unitvalue:'kWh'}}
                                    </ion-label>
                                    <ion-label slot="end">
                                        {{100000 | unitvalue:'kWh'}}
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ng-container>
                </ion-card-content>
            </ng-container>
            <!--Uncontrollable Evcs-->
            <ng-container *ngIf="!controller">
                <ion-item>
                    <ion-label translate>
                        Diese Ladesäule kann nicht gesteuert werden
                    </ion-label>
                </ion-item>
            </ng-container>
        </ng-container>

        <ion-item class="normalFontSize" style="padding-top: 20px" *ngIf="currentData[componentId + '/State'] === 3">
            <tr>
                <td translate>
                    Edge.Index.Widgets.EVCS.NoConnection.description
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li translate>Edge.Index.Widgets.EVCS.NoConnection.help1</li>
                    </ul>
                </td>
            </tr>
        </ion-item>
    </ion-content>
</ng-container>