<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title text-start padding-left translate>CHP Controller</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="componentId ">
        <ng-container *ngIf="edge.currentData | async as currentData">
            <ng-container *ngIf="controller">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td translate>
                                General.Mode
                            </td>
                            <td class="align_right">
                                <ion-icon class="ion-no-padding" style="text-align: right; font-size: 20px"
                                    style="cursor: pointer" name="information-circle-outline">
                                </ion-icon>
                            </td>
                        </tr>
                    </table>
                    <table class="full_width">
                        <tr>
                            <td colspan="3">
                                <ion-segment (ionChange)="updateMode($event, controller)"
                                    value="{{controller.properties['mode']}}">
                                    <ion-segment-button value="MANUAL_ON">
                                        <ion-item lines="none">
                                            <ion-icon color="success" style="width:40px" name="power"></ion-icon>
                            <td translate>
                                General.On
                            </td>
                            </ion-item>
                            </ion-segment-button>

                            <ion-segment-button value="AUTOMATIC">
                                <ion-item lines="none">
                                    <ion-icon style="width:40px" name="sunny">
                                    </ion-icon>
                                    <td translate>
                                        General.Automatic
                                    </td>
                                </ion-item>
                            </ion-segment-button>


                            <ion-segment-button value="MANUAL_OFF">
                                <ion-item lines="none">
                                    <ion-icon name="power" style="width: 40px"></ion-icon>
                                    <td translate>
                                        General.Off
                                    </td>
                                </ion-item>
                            </ion-segment-button>
                            </ion-segment>
                            </td>
                        </tr>
                    </table>
                </ion-card-content>
                <ng-container *ngIf="controller.properties['mode'] == 'AUTOMATIC' && edge.roleIsAtLeast('owner')">
                    <ion-card-content>
                        <table class="full_width">
                            <tr>
                                <td>
                                    Schwellwertkonfiguration
                                </td>
                            </tr>
                            <div style="padding-top: 10px;"></div>
                            <tr>
                                <td style="width: 65%">
                                    Oberer Schwellwert
                                </td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['highThreshold'] | unitvalue:'%'}}
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 65%">
                                    Unterer Schwellwert
                                </td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['lowThreshold'] | unitvalue:'%'}}
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range (ionChange)="updateThresholds(controller)" dual-knobs pin color="dark"
                                    min="20" max="80" [(ngModel)]="thresholds">
                                    <ion-label slot="start">
                                        20&nbsp;%
                                    </ion-label>
                                    <ion-label slot="end">
                                        80&nbsp;%
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>