<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title class="ion-text-start ion-padding-left" translate>General.StorageSystem</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content class="underline">
        <socStorageChart [period]="service.historyPeriod"></socStorageChart>
        <storageTotalChart [period]="service.historyPeriod">
        </storageTotalChart>
        <ng-container *ngIf="config.getComponentsImplementingNature('io.openems.edge.ess.api.SymmetricEss').length > 1">
            <storageESSChart [period]="service.historyPeriod">
            </storageESSChart>
        </ng-container>
    </ion-card-content>
</ion-content>