<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" size-md="8" size-lg="6">
                <ng-container *ngIf="ENVIRONMENT.BACKEND === 'OpenEMS Backend'">
                    <ng-container *ngIf="noEdges; else showEdges">
                        <ion-card class="ion-justify-content-center">

                            <ng-container *ngIf="(SERVICE.METADATA | async)?.user as user">
                                <ng-container
                                    *ngIf="(USER.GLOBAL_ROLE === 'installer' || USER.GLOBAL_ROLE === 'admin'), else others">
                                    <!-- No access to Edges -->
                                    <ion-item color="warning" lines="full">
                                        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
                                        <ion-label class="ion-text-wrap ion-text-center" translate
                                            [translateParams]="{edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}">INDEX.NO_EDGE_AVAILABLE</ion-label>
                                    </ion-item>
                                    <ion-card-content class="ion-text-center">
                                        <p translate [translateParams]="{edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}">
                                            INSTALLATION.CLICK_RECOMMENDATION</p>
                                    </ion-card-content>
                                </ng-container>
                                <ng-template #others>
                                    <ion-item color="warning" lines="full">
                                        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
                                        <ion-label class="ion-text-wrap ion-text-center" translate
                                            [translateParams]="{edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}">INDEX.NO_EDGE_FOR_USER</ion-label>
                                    </ion-item>
                                    <ion-card-content class="ion-text-center">
                                        <p translate [translateParams]="{edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}">
                                            INDEX.VISIBLE_HERE_AFTER_INSTALLATION</p>
                                    </ion-card-content>
                                </ng-template>
                            </ng-container>
                        </ion-card>

                    </ng-container>
                    <ng-template #showEdges>
                        <!-- Show searchbar and list of Edges -->
                        <ion-grid>
                            <ion-row class="ion-justify-content-center">
                                <ion-col>
                                    <ion-searchbar mode="md"
                                        style="--background: var(--ion-color-searchbar-background); color:var(--ion-color-searchbar-text);"
                                        [(ngModel)]="query" (ionInput)="searchOnChange()" [debounce]="1000">
                                    </ion-searchbar>
                                </ion-col>
                            </ion-row>

                            <!-- Filter -->
                            <ng-container *ngIf="(SERVICE.METADATA | async)?.user as user">
                                <oe-filter (setSearchParams)="searchOnChange($event)"
                                    *ngIf="isAtLeastInstaller"></oe-filter>
                            </ng-container>

                            <ion-row class="ion-justify-content-center">
                                <ion-col>
                                    <ion-list lines="full">
                                        <ion-item *ngIf="loading" lines="none">
                                            <ion-spinner [name]="'crescent'"></ion-spinner>
                                        </ion-item>

                                        <ng-container *ngFor="let edge of filteredEdges; let i=index">
                                            <ion-item lines="inset" [routerLink]="['/device', EDGE.ID]"
                                                [color]="EDGE.IS_ONLINE ? null : 'light'"
                                                (click)="getAndSubscribeEdge(edge)">
                                                <ion-label>
                                                    <h2 class="ion-text-wrap">{{ EDGE.COMMENT }}</h2>
                                                    <p *ngIf="!EDGE.IS_ONLINE" class="ion-text-wrap">
                                                        <ion-text translate>INDEX.DEVICE_OFFLINE</ion-text>
                                                        <ion-label *ngIf="EDGE.LASTMESSAGE">
                                                            <ion-text translate>INDEX.OFFLINE_SINCE</ion-text>
                                                            {{EDGE.LASTMESSAGE | date:'DD.MM.YYYY HH:mm'}}
                                                        </ion-label>
                                                    </p>
                                                </ion-label>
                                                <ion-label>
                                                    <ng-container *ngIf="ENVIRONMENT.BACKEND === 'OpenEMS Backend'">
                                                        <p class="custom-theme-text">ID: {{ EDGE.ID }}</p>
                                                        <p class="ion-text-wrap" class="custom-theme-text">
                                                            <ion-text translate>INDEX.TYPE</ion-text>: {{
                                                            EDGE.PRODUCTTYPE }}
                                                        </p>
                                                    </ng-container>
                                                    <p class="ion-text-wrap" class="custom-theme-text">
                                                        <ion-text translate>INDEX.LOGGED_IN_AS</ion-text>: {{
                                                        EDGE.GET_ROLE_STRING() }}
                                                    </p>
                                                </ion-label>
                                                <oe-sum-state [sumState]="EDGE.SUM_STATE"
                                                    [isEdgeOnline]="EDGE.IS_ONLINE"></oe-sum-state> </ion-item>
                                        </ng-container>
                                        <ion-infinite-scroll (ionInfinite)="doInfinite($event)"
                                            [disabled]="limitReached">
                                            <ion-infinite-scroll-content [loadingSpinner]="'crescent'"
                                                ngClass="custom-spinner">
                                            </ion-infinite-scroll-content>
                                        </ion-infinite-scroll>

                                    </ion-list>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ng-template>
                </ng-container>

                <!-- Add-Button for desktop devices -->
                <ion-fab style="position: fixed; margin-top: 10%; display: block;" vertical="bottom" horizontal="center"
                    testId="ibn-button" *ngIf="loggedInUserCanInstall && !THIS.SERVICE.IS_SMARTPHONE_RESOLUTION">
                    <ion-fab-button size="large">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top" style="left: 0; align-items: flex-start;" id="blurred">
                        <ion-button color="primary" [routerLink]="['./installation']" routerLinkActive="active"
                            translate
                            [translateParams]="{edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}">INDEX.ADD_EDGE</ion-button>
                    </ion-fab-list>
                </ion-fab>

                <!-- Add-Button for mobile devices -->
                <ion-fab style="position: fixed;" horizontal="end" vertical="bottom" testId="ibn-button"
                    *ngIf="loggedInUserCanInstall && THIS.SERVICE.IS_SMARTPHONE_RESOLUTION">
                    <ion-fab-button size="small">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-fab-button>
                    <ion-fab-list side="top" style="right: 0; align-items: flex-end;">
                        <ion-button color="primary" [routerLink]="['./installation']" routerLinkActive="active"
                            translate
                            [translateParams]="{edgeShortName: ENVIRONMENT.EDGE_SHORT_NAME}">INDEX.ADD_EDGE</ion-button>
                    </ion-fab-list>
                </ion-fab>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
