:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2024-10-07T22:52:53"
_lastChangeBy="admin:\ Admin"
alias="Frog \Trampoline \ Reactor"
datasource.id="simulateProduction"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.ProductionMeter.Acting.9fadc559-6032-4d7f-bf48-50eede6bd9b3))(|(id\=simulateProduction)))"
enabled="true"
id="frogTrampolineReactor"
service.factoryPid="Simulator.ProductionMeter.Acting"
service.pid="Simulator.ProductionMeter.Acting.9fadc559-6032-4d7f-bf48-50eede6bd9b3"
