<oe-flat-widget button *ngIf="isInitialized" [title]="'Laststeuerung'" button
    routerLink="/device/{{edge.id}}/history/digitaloutputchart" [icon]="{name:
    'power-outline'}">

    <ng-container *ngFor="let controller of singleThresholdControllers; let first = first">
        <oe-flat-widget-line [name]="controller.alias" [channelAddress]="controller.id + '/CumulatedActiveTime'"
            [converter]="FORMAT_SECONDS_TO_DURATION">
        </oe-flat-widget-line>
    </ng-container>

    <oe-flat-widget-horizontal-line
        *ngIf="singleThresholdControllers.length > 0 && fixDigitalOutputControllers.length > 0"></oe-flat-widget-horizontal-line>

    <ng-container *ngFor="let controller of fixDigitalOutputControllers; let first = first">
        <oe-flat-widget-line [name]="controller.alias" [channelAddress]="controller.id + '/CumulatedActiveTime'"
            [converter]="FORMAT_SECONDS_TO_DURATION">
        </oe-flat-widget-line>
    </ng-container>
</oe-flat-widget>
