<ion-header>
    <ion-toolbar color="primary">
        <ion-title translate>Edge.Index.Widgets.Channeltreshold.Output
        </ion-title>
        <ion-buttons slot="start">
            <chartOptions (setShowTotal)='onNotifyTotal($event)' [showTotal]="showTotal"></chartOptions>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons class="ion-justify-content-center">
            <pickdate></pickdate>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="showTotal">
        <ion-card-content>
            <channelthresholdTotalChart [period]="service.historyPeriod">
            </channelthresholdTotalChart>
        </ion-card-content>
    </ng-container>
    <ng-container *ngIf="!showTotal || showTotal == null">
        <ion-card-content>
            <channelthresholdSingleChart [controllerId]="controllerId" [period]="service.historyPeriod">
            </channelthresholdSingleChart>
        </ion-card-content>
    </ng-container>
</ion-content>