<ion-header>
    <ion-toolbar color="primary">
        <ion-title translate>Edge.Index.Widgets.Channeltreshold.Output
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content class="underline">
        <ion-row>
            <ion-col>
                <channelthresholdChart [period]="service.historyPeriod"></channelthresholdChart>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-content>