<ion-item lines="none" class="ion-no-padding custom-item">
    <ion-checkbox slot="start" [checked]="FORM_CONTROL.VALUE" (ionChange)="onCheckboxChange($event)"
        labelPlacement="end"></ion-checkbox>

    <!-- Label after checkbox -->
    <span class="checkbox-label">{{ TO.LABEL }}</span>

    <ng-container *ngIf="PROPS.BUTTON_AVAILABLE">

        <ion-button [disabled]="!FORM_CONTROL.VALUE" class="ion-text-wrap button-with-icon" (click)="onButtonClick()"
            size="small">
            {{PROPS.BUTTON_TEXT}}
            <ion-icon name="open-outline" slot="start"></ion-icon>
        </ion-button>
    </ng-container>
</ion-item>
