<oe-modal [title]="component.alias" [component]="component" [formGroup]="formGroup"
    helpKey="CONTROLLER_ESS_TIME_OF_USE_TARIFF" *ngIf="isInitialized && formGroup">

    <!-- Discharge State -->
    <oe-modal-line [name]="'General.state' | translate" [converter]="CONVERT_TIME_OF_USE_TARIFF_STATE"
        [channelAddress]="component.id + '/StateMachine'"></oe-modal-line>

    <!-- Price -->
    <oe-modal-line [name]="'Edge.Index.Widgets.TIME_OF_USE_TARIFF.PRICE' | translate"
        [value]="priceWithCurrency"></oe-modal-line>

    <oe-modal-horizontal-line></oe-modal-horizontal-line>

    <!--Select Mode-->
    <oe-modal-line [name]="'General.mode'| translate"></oe-modal-line>
    <oe-modal-buttons [formGroup]="formGroup" controlName="mode" [component]="component" [buttons]="[
        { name: ('General.automatic' | translate), value: 'AUTOMATIC', icon: {color:'primary', name: 'sunny'}},
        { name: ('General.off' | translate), value: 'OFF', icon: {color:'light-contrast', name: 'power'}}]">
    </oe-modal-buttons>

    <ng-container *ngIf="component.factoryId  === 'Controller.Ess.Time-Of-Use-Tariff'">

        <!-- AUTOMATIC Mode -->
        <ng-container *ngIf="formGroup.value.mode === 'AUTOMATIC' && edge.roleIsAtLeast('admin')">
            <oe-modal-horizontal-line></oe-modal-horizontal-line>
            <scheduleChart [refresh]="refreshChart" [component]="component" [edge]="edge">
            </scheduleChart>
            <oe-modal-horizontal-line></oe-modal-horizontal-line>
        </ng-container>

        <!-- OFF Mode -->
        <ng-container *ngIf="formGroup.value.mode === 'OFF'">
            <oe-modal-horizontal-line></oe-modal-horizontal-line>
            <ion-card-content>
                <!-- TODO - show Some information -->
            </ion-card-content>
        </ng-container>

        <!-- Control Mode -->
        <oe-modal-line [name]="'Edge.Index.Widgets.TIME_OF_USE_TARIFF.CHARGE_CONSUMPTION_ACTIVATE'| translate"
            [formGroup]="formGroup" controlName="chargeConsumptionIsActive" [control]="{ type: 'TOGGLE' }"
            leftColumnWidth="100">
        </oe-modal-line>

        <!-- Control-Mode description -->
        <ng-container style="font-size: smaller">
            <ng-container *ngIf="formGroup.value.chargeConsumptionIsActive">
                <span
                    [innerHtml]="'Edge.Index.Widgets.TIME_OF_USE_TARIFF.CONTROL_MODE_DESCRIPTION.CHARGE_CONSUMPTION' | translate"></span>
            </ng-container>
        </ng-container>

    </ng-container>

</oe-modal>