<ion-header>
    <ion-toolbar class="ion-justify-content-center"
        style="--background: var(--ion-color-toolbar-primary); color: var(--ion-title-color);">
        <ion-title translate>GENERAL.SYSTEM_STATE</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="MODAL_CTRL.DISMISS()">
                <ion-icon name="close" style="color: var(--ion-title-color);"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ng-container *ngIf="edge && components">
    <ng-container *ngIf="EDGE.CURRENT_DATA | async as currentData">
        <ion-content>
            <ion-card-content>
                <ng-container *ngIf="CURRENT_DATA.SUMMARY.SYSTEM as sum">
                    <ion-item lines="full">
                        <ion-icon color="primary" name="analytics-outline"></ion-icon>
                        <ion-label class="ion-padding-start" translate>
                            GENERAL.TOTAL_STATE
                        </ion-label>
                        <ng-container [ngSwitch]="SUM.STATE">
                            <ion-icon *ngSwitchCase="0" color="success" name="checkmark-circle-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="1" color="success" name="information-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="2" color="warning" name="alert-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="3" color="danger" name="alert-outline"></ion-icon>
                        </ng-container>
                    </ion-item>
                </ng-container>
                <ion-list>
                    <ng-container *ngFor="let category of components">
                        <ion-item-group>
                            <ion-item lines="inset">
                                <ion-icon class="normal-icon" name="{{ CATEGORY.CATEGORY.ICON }}"></ion-icon>
                                <ion-label class="ion-padding-start">
                                    {{CATEGORY.CATEGORY.TITLE}}
                                </ion-label>
                            </ion-item>
                        </ion-item-group>
                        <ng-container *ngFor="let item of CATEGORY.COMPONENTS">
                            <ion-item lines="none" *ngIf="ITEM.ID !== '_sum'">
                                <ion-label class="ion-text-wrap">
                                    <ion-text color="primary">
                                        <h3>{{ ITEM.ALIAS }}
                                            <span *ngIf="ITEM.ID !== ITEM.ALIAS"> {{ ITEM.ID }}</span>
                                            <small *ngIf="!ITEM.IS_ENABLED"> (<span
                                                    translate>GENERAL.COMPONENT_INACTIVE</span>) </small>
                                        </h3>
                                    </ion-text>
                                    <ng-container *ngIf="CONFIG.FACTORIES[ITEM.FACTORY_ID] as factory">
                                        <p class="custom-channels-text">{{ FACTORY.NAME }}</p>
                                    </ng-container>
                                    <ng-container *ngIf="item['showProperties']">
                                        <ng-container *ngFor="let address of subscribedInfoChannels">
                                            <ng-container
                                                *ngIf="ADDRESS.COMPONENT_ID === ITEM.ID && ADDRESS.CHANNEL_ID !== 'State'">
                                                <ng-container *ngIf="CURRENT_DATA.CHANNEL[ADDRESS.TO_STRING()] === 1">
                                                    <!-- State-Channel is active -->
                                                    <ion-label class="ion-text-wrap">
                                                        <ng-container
                                                            [ngSwitch]="channels[ADDRESS.COMPONENT_ID][ADDRESS.CHANNEL_ID].level">
                                                            <ion-text *ngSwitchCase="'INFO'" color="success" translate>
                                                                GENERAL.INFO&nbsp;
                                                            </ion-text>
                                                            <ion-text *ngSwitchCase="'WARNING'" color="warning"
                                                                translate>
                                                                GENERAL.WARNING&nbsp;
                                                            </ion-text>
                                                            <ion-text *ngSwitchCase="'FAULT'" color="danger" translate>
                                                                GENERAL.FAULT&nbsp;
                                                            </ion-text>
                                                        </ng-container>
                                                        <ion-text
                                                            *ngIf="channels[ADDRESS.COMPONENT_ID][ADDRESS.CHANNEL_ID].TEXT.LENGTH > 0; else noText">
                                                            {{ channels[ADDRESS.COMPONENT_ID][ADDRESS.CHANNEL_ID].text }}
                                                        </ion-text>
                                                        <ng-template #noText>
                                                            {{ ADDRESS.CHANNEL_ID.TO_STRING() }}
                                                        </ng-template>
                                                    </ion-label>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                </ion-label>
                                <ion-icon style="cursor: pointer"
                                    *ngIf="(CURRENT_DATA.CHANNEL[ITEM.ID+'/State'] ?? -1) > 0 && !item['showProperties']"
                                    name="arrow-down-circle-outline" color="primary"
                                    (click)="item['showProperties'] = !item['showProperties']; subscribeInfoChannels(item)">
                                </ion-icon>

                                <ion-icon style="cursor: pointer" *ngIf="item['showProperties']"
                                    name="arrow-up-circle-outline" color="primary"
                                    (click)="item['showProperties'] = !item['showProperties']; unsubscribeInfoChannels(item)">
                                </ion-icon>

                                <ng-container [ngSwitch]="CURRENT_DATA.CHANNEL[ITEM.ID+'/State']">
                                    <ion-icon *ngSwitchCase="0" color="success" name="checkmark-circle-outline">
                                    </ion-icon>
                                    <ion-icon *ngSwitchCase="1" color="success" name="information-outline"></ion-icon>
                                    <ion-icon *ngSwitchCase="2" color="warning" name="alert-outline"></ion-icon>
                                    <ion-icon *ngSwitchCase="3" color="danger" name="alert-outline"></ion-icon>
                                </ng-container>
                            </ion-item>
                        </ng-container>
                    </ng-container>
                </ion-list>
            </ion-card-content>
        </ion-content>
    </ng-container>
</ng-container>
