// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

//252px for the exact width of my-date-range-picker in PickDateComponent
.pickdate-popover .popover-content{
    width: 252px;
    position: center;
}

mat-card.single {
    margin: 20px;
}
  
mat-card.single_leftright {
    margin-left: 20px;
    margin-right: 20px;
}
  
mat-card.single_top {
    margin-top: 20px;
}
  
table.full_width {
    width: 100%;
}
  
td.align_right {
    text-align: right;
}
  
table {
    border-collapse: collapse;
}
  
.underline {
    border-bottom: 1pt solid lightgray;
}
  
.gray_color {
    color: gray;
}
  
button.activated {
    color: black;
    background-color: lightgreen;
}
  
#toast-container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.no-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}
