// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~@ionic/angular/css/display.css';

//251px for the exact width of my-date-range-picker in PickDateComponent
.pickdate-popover .popover-content{
    width: 251px;
    position: center;
    overflow-y: hidden;
    overflow-x: hidden;
}

//is used for PickDateComponent - shows active PeriodString
.active {
    color: #2d8fab;
}

ion-label {
    font-family: Arial, Helvetica, sans-serif;
}

mat-card.single {
    margin: 20px;
}
  
mat-card.single_leftright {
    margin-left: 20px;
    margin-right: 20px;
}
  
mat-card.single_top {
    margin-top: 20px;
}
  
table.full_width {
    width: 100%;
}
  
td.align_right {
    text-align: right;
}
  
table {
    border-collapse: collapse;
}
  
.underline {
    border-bottom: 1pt solid lightgray;
}
  
.gray_color {
    color: gray;
}
  
button.activated {
    color: black;
    background-color: lightgreen;
}
  
#toast-container {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// 360px is aproximate min. width of mobile devices
ion-toast.container {
    text-align: center;
    --max-width: 360px;
}

.no-scroll {
    overflow-y: hidden;
    overflow-x: hidden;
}

/*
 * Applies to ngx-formly sections
 */
formly-input-section {
    flex: auto; // use all remaining space in a row
}