@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($energydepot);
$accent:  mat-palette($energydepot);




$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);