<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>{{connection.name}} <small><a routerLink="/monitor/{{connection.name}}/configuration">konfigurieren...</a></small></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Datum:
        <span class="label label-default" (click)="dateIsCollapsed = !dateIsCollapsed">{{ date | date:"dd.MM.yyyy" }}
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </span>
      </h4>
      <datepicker [collapse]="dateIsCollapsed" [(ngModel)]="datepicker" (ngModelChange)="lineChartUpdateData()"></datepicker>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <canvas baseChart width="300" height="100" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
        [colors]="lineChartColors" legend="false" [chartType]="lineChartType" (chartClick)="lineChartClicked($event)"></canvas>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Uhrzeit: <span class="label label-default">{{ date | date:"HH:mm" }} </span></h4>
      <table class="table">
        <tr *ngFor="let data of tableData">
          <td>{{data.key}}</td>
          <td class="text-right">{{data.value}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>