<table class="full_width">
    <tr>
        <td style="width: 100%" style="text-align: center;">
            <p>Mit wenigen Klicks können Sie dazu beitragen, dass die FENECON Heimspeicher noch mehr Ihren Erwartungen
                entsprechen.</p>
            <p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=BGJHevOPW02D8NBeJJ3XxAvje8CVCF9PmWCYis_2uMVUMTVXV0RPTzVaN1BZRkM5UjFZNDNXRlVUTy4u"
                    target="_blank">Endkunden -
                    Umfrage</a></p>
            <p><a href="https://forms.office.com/Pages/ResponsePage.aspx?id=BGJHevOPW02D8NBeJJ3XxAvje8CVCF9PmWCYis_2uMVUQkJUMDZTSTM3RlBUMDZPTjk4QVlRMTdLTy4u"
                    target="_blank">Installateur
                    Großhändler Vetriebspartner - Umfrage</a></p>
        </td>
    </tr>
</table>