:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2024-10-07T22:54:21"
_lastChangeBy="admin:\ Admin"
alias="Frog\ amusement\ park"
datasource.id="simulateConsumption"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.3dfb6af9-a96a-416e-a03d-ae2ffe6c7147))(|(id\=simulateConsumption)))"
enabled="true"
id="frogAmusementPark"
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.3dfb6af9-a96a-416e-a03d-ae2ffe6c7147"
