<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>General.SelfConsumption</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Info Text -->
<ion-content>
    <ion-grid class="ion-padding-top">
        <ion-row class="ion-justify-content-center ion-align-items-center">
            <ion-col size="2" class="ion-text-center">
                <ion-icon class="ion-padding-right" color="primary" size="large" name="alert"></ion-icon>
            </ion-col>
            <ion-col size="10">
                <ion-note class="ion-text-wrap"><small translate>Edge.Index.Widgets.selfconsumptionInfo</small>
                </ion-note>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>