<oe-modal style="height: 100%;" [title]="this.component.alias" [component]="component" [formGroup]="formGroup">

  <oe-modal-line [name]="'General.state' | translate" [channelAddress]="component.id + '/_PropertyMode'"
    [converter]="CONVERT_MANUAL_ON_OFF">
  </oe-modal-line>
  <oe-modal-line [name]="chargeState.name" [value]="chargeState.value" [converter]="CONVERT_TO_WATT">
  </oe-modal-line>

  <oe-modal-horizontal-line></oe-modal-horizontal-line>

  <oe-modal-buttons [formGroup]="formGroup" controlName="mode" [component]="component" [buttons]="[
    { name: ('General.on' | translate), value: 'MANUAL_ON', icon: {color:'success', name: 'power-outline'}},
    { name: ('General.off' | translate), value: 'MANUAL_OFF', icon: {color:'primary', name: 'power-outline'}}]">
  </oe-modal-buttons>

  <oe-modal-horizontal-line></oe-modal-horizontal-line>

  <oe-modal-line-input [name]="'General.power'| translate" [formGroup]="formGroup" controlName="power">
  </oe-modal-line-input>

  <oe-modal-horizontal-line></oe-modal-horizontal-line>

  <oe-modal-line [name]="'Negative values = memory loading'" [value]="'Positive values = memory discharge'">
  </oe-modal-line>

</oe-modal>