<!-- <ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title>{{ component.alias }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading">
    <form [formGroup]="formGroup">
      <ion-card-content class="underline">
        <table class="full_width">
          <tr>
            <td style="width: 65%" translate>
              General.state
            </td>
            <td style="width: 35%" class="align_right" translate>
              <ng-container *ngIf="component.properties.mode == 'MANUAL_ON'">
                General.on
              </ng-container>
              <ng-container *ngIf="component.properties.mode == 'MANUAL_OFF'">
                General.off
              </ng-container>
              <ion-icon *ngIf="component.properties.mode != 'MANUAL_OFF' && component.properties.mode != 'MANUAL_ON'"
                name="help-outline"></ion-icon>
            </td>
          </tr>
          <tr *ngIf="component.properties.power >= 0">
            <td style="width: 65%" translate>
              General.dischargePower
            </td>
            <td style="width: 35%" class="align_right">
              {{ component.properties.power | unitvalue:'W' }}
            </td>
          </tr>
          <tr *ngIf="component.properties.power < 0">
            <td style="width: 65%" translate>
              General.chargePower
            </td>
            <td style="width: 35%" class="align_right">
              {{ (component.properties.power) * -1 | unitvalue:'W' }}
            </td>
          </tr>
        </table>
      </ion-card-content>
      <ion-card-content class="underline">
        <ion-segment (ionChange)="updateControllerMode($event)" [value]="component.properties['mode']"
          scrollable="false">
          <ion-segment-button value="MANUAL_ON">
            <ion-label translate>
              General.on
            </ion-label>
            <ion-icon color="success" style="width:40px" name="power-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="MANUAL_OFF">
            <ion-label translate>
              General.off
            </ion-label>
            <ion-icon style="width:40px" name="power-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
      <ion-card-content class="underline">
        <table class="full_width">
          <tr>
            <td style="width: 65%" translate>
              General.power
            </td>
            <td style="width: 35%" class="align_right">
              <ion-item lines="inset" class="noPadding">
                <ion-input class="regularFont" type="number" formControlName="power" style="text-align: end;">
                </ion-input>
                <ion-label class="regularFont">&nbsp;W</ion-label>
              </ion-item>
            </td>
          </tr>
        </table>
      </ion-card-content>
      <ion-card-content>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            Negative Leistung = Beladung
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            Positive Leistung = Entladung
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="applyChanges()">
          <ion-icon size="large" name="checkmark-circle-outline">
          </ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </ng-container>
  <ion-grid *ngIf="loading == true">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-grid>
</ion-content> -->

<oe-modal [title]="this.component.alias" style="height: 100%; margin-bottom: 10%;" [component]="component">
  <div style="margin-top: 3%;">
    <oe-modal-line [name]="'General.state' | translate" [channelAddress]="component.id + '/_PropertyMode'"
      [converter]="stateConverter">
    </oe-modal-line>
    <ng-container>
      <oe-modal-line [name]="chargeState | translate" [value]="chargeStateValue | async" [converter]="CONVERT_TO_WATT">
      </oe-modal-line>
    </ng-container>

    <oe-modal-horizontal-line></oe-modal-horizontal-line>

    <oe-modal-buttons [value]="component.properties['mode']" [formGroup]="formGroup" [component]="component"
      controlName="mode"
      [labels]="[{name: ('General.on' | translate), value: 'MANUAL_ON'},{name: ('General.off'| translate), value:'MANUAL_OFF'}]"
      [icons]="[{color:'success', name: 'power-outline'},{color:'primary', name: 'power-outline'},{color:'primary', name: 'power-outline'}]">
    </oe-modal-buttons>

    <oe-modal-horizontal-line></oe-modal-horizontal-line>

    <oe-modal-line-input [name]="'General.power'| translate" type="number" [formGroup]="formGroup" controlName="power"
      [component]="component">
    </oe-modal-line-input>

    <oe-modal-horizontal-line></oe-modal-horizontal-line>

    <oe-modal-line [name]="'Negative values correspond to memory loading'"
      [value]="'Positive values correspond to memory discharge'"></oe-modal-line>
  </div>
</oe-modal>