<ng-container *ngIf="device && _currentData">
  <ng-container *ngIf="_currentData | haswarningorfault as things">
    <div *ngIf="utils.keys(things).length > 0" fxLayout fxLayoutAlign="start start" fxLayoutWrap="wrap">
      <mat-card fxFlex="100%" class="single_leftright single_top">
        <mat-card-header>
          <mat-icon mat-card-avatar>error</mat-icon>
          <mat-card-title>Warnungen und Fehler</mat-card-title>
          <!-- TODO translate -->
        </mat-card-header>

        <mat-card-content>
          <table class="full_width">
            <ng-container *ngFor="let thingId of utils.keys(things)">
              <ng-container *ngIf="things[thingId] as thing">
                <tr>
                  <td style="width:50%">{{ thingId }}</td>
                  <td style="width:50%">
                    <span *ngIf="thing['State'] == 1" style="color:orange">Warnung</span>
                    <span *ngIf="thing['State'] == 2" style="color:red">Fehler</span>
                  </td>
                </tr>
              </ng-container>
            </ng-container>
          </table>
        </mat-card-content>

        <mat-card-actions *ngIf="device" fxLayout fxLayoutAlign="end start">
          <button mat-fab routerLink="/device/{{ device.name }}/state">
            <mat-icon>navigate_next</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </ng-container>
</ng-container>