<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>announcement</md-icon>
    <md-card-title>FEMS UI</md-card-title>
    <md-card-subtitle i18n>Benutzeroberfläche für FEMS und OpenEMS</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p i18n>Diese Benutzeroberfläche wird von FENECON als Open-Source-Software entwickelt.</p>
    <ul>
      <li><a target="_blank" href="https://fenecon.de" i18n>Mehr zu FENECON</a></li>
      <li><a target="_blank" href="https://fenecon.de/page/stromspeicher-fems" i18n>Mehr zu FEMS</a></li>
      <li><a target="_blank" href="https://github.com/OpenEMS/openems-gui" i18n>Quellcode</a></li>
      <li><a target="_blank" href="https://github.com/OpenEMS/openems-gui/commits/master" i18n>Aktuelle Entwicklungen</a></li>
      <li><a target="_blank" href="https://github.com/OpenEMS/openems-gui/commit/COMMIT_ID" i18n>Dieser Build</a></li>
    </ul>
    <p i18n>Für Rückfragen und Anregungen zum System, wenden Sie sich bitte an unser FEMS-Team unter <a href="mailto:fems@fenecon.de">fems@fenecon.de</a>.</p>
  </md-card-content>
</md-card>