<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}} <span class="label label-default">{{thing}}</span></h3>
  </div>
  <table class="table">
    <tr>
      <td>Ladezustand</td>
      <td align="right">{{soc}} %</td>
    </tr>
    <tr>
      <td colspan="2"><common-soc [soc]="soc"></common-soc></td>
    </tr>
    <tr>
      <td>Wirkleistung</td>
      <td align="right">{{activePower}} W</td>
    </tr>
    <tr>
      <td>Blindleistung</td>
      <td align="right">{{reactivePower}} W</td>
    </tr>
    <tr *ngIf="warning">
      <td>Warnung</td>
      <td>{{warning}}</td>
    </tr>
  </table>
</div>