<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Umbennen
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="popoverController.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-card-content>
    <form [formGroup]="formGroup">
        <ion-item lines="full" class="noPadding">
            <ion-input [value]="alias.value" formControlName="alias">
            </ion-input>
            <ion-icon *ngIf="component.properties['alias'].length > 0" (click)="resetAlias()" name="backspace-outline">
            </ion-icon>
        </ion-item>
    </form>
    <ion-row class="ion-justify-content-center">
        <ion-col size="12" class="ion-text-center">
            <ion-button (click)="updateAlias()" fill="outline">
                Übernehmen
            </ion-button>
        </ion-col>
    </ion-row>
</ion-card-content>