<ng-container *ngIf="controller && service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card>
            <ion-item lines="full" color="light">
                <ion-icon slot="start" size="large" color="primary" name="flame"></ion-icon>
                <ion-label>{{ controller.alias }}</ion-label>
            </ion-item>
            <ion-card-content>
                <ion-grid no-padding>
                    <table class="full_width">
                        <tr class="underline">
                            <td style="width:65%" translate>Edge.Index.Widgets.CHP.HighThreshold</td>
                            <td style="width:25%" class="align_right">
                                {{ highThresold  }}</td>
                            <td style="width:10%">&nbsp;%</td>
                        </tr>
                        <tr class="underline" *ngIf="currentData.channel[inputChannel] as value">
                            <td style="width:65%" translate>General.Soc</td>
                            <td style="width:25%" class="align_right">
                                {{ value | number:'1.0-0'}}</td>
                            <td style="width:10%">&nbsp;%</td>
                        </tr>
                        <tr class="underline">
                            <td style="width:65%" translate>Edge.Index.Widgets.CHP.LowThreshold</td>
                            <td style="width:25%" class="align_right">
                                {{ lowThreshold  }}</td>
                            <td style="width:10%">&nbsp;%</td>
                        </tr>
                        <tr class="underline">
                            <td style="width:65%" translate>Signal</td>
                            <td style="width:25%" class="align_right">
                                <ion-icon *ngIf="currentData.channel[outputChannel] == null" name="help"></ion-icon>
                                <ion-icon *ngIf="currentData.channel[outputChannel] == 1" name="radio-button-on">
                                </ion-icon>
                                <ion-icon *ngIf="currentData.channel[outputChannel] == 0" name="radio-button-off">
                                </ion-icon>
                            </td>
                            <td style="width:10%">&nbsp;</td>
                        </tr>
                    </table>
                </ion-grid>
            </ion-card-content>

        </ion-card>
    </ng-container>
</ng-container>