<ng-container *ngIf="component && service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card button (click)="presentModal()">

            <ion-item lines="full" color="light">
                <ion-icon slot="start" size="large" color="primary" name="flame-outline"></ion-icon>
                <ion-label>{{ component.alias }}</ion-label>
            </ion-item>
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            General.mode
                        </td>
                        <td *ngIf="component.properties['mode'] == 'MANUAL_ON'" style="width: 35%" class="align_right"
                            translate>
                            General.on
                        </td>
                        <td *ngIf="component.properties['mode'] == 'MANUAL_OFF'" style="width: 35%" class="align_right"
                            translate>
                            General.off
                        </td>
                        <td *ngIf="component.properties['mode'] == 'AUTOMATIC'" style="width: 35%" class="align_right"
                            translate>
                            General.automatic
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.state</td>
                        <td style="width:35%" class="align_right" translate>
                            <ion-icon *ngIf="currentData.channel[outputChannel] == null" name="help-outline"></ion-icon>
                            <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                                General.active
                            </ng-container>
                            <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                                General.inactive
                            </ng-container>
                        </td>
                    </tr>
                </table>
                <ng-container *ngIf="component.properties['mode'] == 'AUTOMATIC'">
                    <div style="padding-top: 5px;"></div>
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%">
                                <svg width="100%" height="20">
                                    <rect width="100%" rx="5" ry="5" height="20" style="fill:#f4f4f4" />
                                    <rect attr.x="{{ component.properties['lowThreshold'] }}%" y="2" rx="5" ry="5"
                                        attr.width="{{ component.properties['highThreshold'] - component.properties['lowThreshold'] }}%"
                                        height="16" style="fill:#2d8fab" />
                                    <rect y="2" rx="5" ry="5" attr.x="{{currentData.channel[inputChannel] + 2}}%"
                                        width="1%" height="16" style="fill:#bdbdbd" />
                                    <text attr.x="{{ component.properties['lowThreshold'] }}%" y="58%"
                                        dominant-baseline="middle" text-anchor="start"
                                        style="font-weight: 500; fill: white">{{ component.properties['lowThreshold'] + " %" }}</text>
                                    <text attr.x="{{ component.properties['highThreshold'] }}%" y="58%"
                                        dominant-baseline="middle" text-anchor="end"
                                        style="font-weight: 500; fill: white">{{ component.properties['highThreshold'] + " %" }}</text>
                                </svg>
                            </td>
                        </tr>
                    </table>
                </ng-container>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>