:org.apache.felix.configadmin.revision:=L"1"
alias=""
capacity="2000"
enabled="true"
gridMode="ON_GRID"
id="ess1"
initialSoc="50"
maxApparentPower="100000"
maxChargePower="100000"
maxDischargePower="100000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.ess1"
