<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title style="font-size: 18px">Info</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="chargeMode=='EXCESS_POWER'" padding>
  <ion-label translate>
    Edge.Index.Widgets.EVCS.OptimizedChargeMode.Info
  </ion-label>
  <br>
  <ion-label translate>
    Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinInfo
  </ion-label>
</ion-content>
<ion-content *ngIf="chargeMode=='FORCE_CHARGE'" padding>
  <ion-label translate> Edge.Index.Widgets.EVCS.ForceChargeMode.Info </ion-label>
</ion-content>