<!-- If formgroup needed -->
<ng-container *ngIf="props.component, else noFormGroup">
    <oe-modal [title]="props.attributes.title" *ngIf="formGroup" [component]="props.component" [formGroup]="formGroup">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </oe-modal>
</ng-container>

<!-- If no formGroup needed -->
<ng-template #noFormGroup>
    <oe-modal [title]="props.attributes.title">
        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </oe-modal>
</ng-template>

<!-- Modal content -->
<ng-template #contentTpl>
    <ng-container *ngFor="let line of props?.lines">
        <ng-container [ngSwitch]="line.type">

            <!-- OeFormlyField.ChannelLine -->
            <oe-modal-line *ngSwitchCase="'channel-line'" [filter]="line.filter" [textIndent]="line.indentation ?? '0%'"
                [name]="line.name" [channelAddress]="line.channel" [converter]="line.converter">
            </oe-modal-line>

            <oe-modal-line *ngSwitchCase="'name-line'" [filter]="line.filter" [textIndent]="line.indentation ?? '0%'"
                [name]="line.name">
            </oe-modal-line>

            <!-- OeFormlyField.ChildrenLine -->
            <oe-modal-line *ngSwitchCase="'children-line'" [filter]="line.filter"
                [textIndent]="line.indentation ?? '0%'" [name]="line.name">
                <ng-container *ngFor="let lineItem of line.children">
                    <!-- OeFormlyField.Item -->
                    <oe-modal-line-item [channelAddress]="lineItem.channel" [filter]="lineItem.filter"
                        [converter]="lineItem.converter">
                    </oe-modal-line-item>
                </ng-container>
            </oe-modal-line>

            <!-- OeFormlyField.InfoLine -->
            <oe-modal-info-line *ngSwitchCase="'info-line'" [info]="line.name">
            </oe-modal-info-line>

            <!-- OeFormlyField.HorizontalLine -->
            <oe-modal-horizontal-line *ngSwitchCase="'horizontal-line'"></oe-modal-horizontal-line>

            <!-- OeFormlyField.ButtonsFromChannelLine -->
            <ng-container *ngSwitchCase="'buttons-from-channel-line'">
                <oe-modal-buttons *ngIf="formGroup" [formGroup]="formGroup" [controlName]="line.controlName"
                    [component]="props.component" [buttons]="line.buttons" [channelAddress]="line.channel">
                </oe-modal-buttons>
            </ng-container>
        </ng-container>
    </ng-container>
</ng-template>