<div class="container">
  <div class="row">
    <div *ngFor="let conn of connectionService.connections | keys">
      <div *ngIf="conn.value.isConnected" class="col-xs-4 col-md-3">
        <div routerLink="/monitor/{{conn.value.name}}" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{conn.value.name}}</h3>
          </div>
          <div *ngFor="let dev of conn.value.data | async | keys">
            <div [ngSwitch]="dev.key">
              <template [ngSwitchCase]="'ess0'">
                <table class="table">
                  <tr>
                    <th colspan="3">Speicher</th>
                  </tr>
                  <tr>
                    <td>Ladezustand</td>
                    <td></td>
                    <td class="align-right">{{dev.value.Soc}} %</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <common-soc [soc]="dev.value.Soc"></common-soc>
                    </td>
                  </tr>
                  <tr>
                    <td>Wirkleistung</td>
                    <td></td>
                    <td class="align-right">{{dev.value.ActivePower}} W</td>
                  </tr>
                </table>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>