:org.apache.felix.configadmin.revision:=L"3"
Component.target="(&(enabled\=true)(!(service.pid\=Controller.Api.ModbusTcp.ReadOnly.17b969c5-fd9f-4cc3-9fba-fe7f41ff7146))(|(id\=_sum)))"
_lastChangeAt="2020-09-15T19:21:03"
_lastChangeBy="UNDEFINED"
alias=""
component.ids=[ \
  "_sum", \
  ]
enabled=B"false"
id="ctrlApiModbusTcp0"
maxConcurrentConnections=I"5"
port=I"502"
service.factoryPid="Controller.Api.ModbusTcp.ReadOnly"
service.pid="Controller.Api.ModbusTcp.ReadOnly.17b969c5-fd9f-4cc3-9fba-fe7f41ff7146"
