<ion-content>
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title class="ion-text-start ion-padding-left" translate>Edge.Index.Energymonitor.title</ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="modalCtrl.dismiss()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-card-content class="underline">
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-button (click)="exportToXlxs()" translate>Edge.History.export</ion-button>
            </ion-col>
        </ion-row>
    </ion-card-content>
</ion-content>