<ion-card *ngIf="edge">
  <ngx-loading [show]="!(edge.currentData | async)"></ngx-loading>
  <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-item>
      <ion-img (click)="presentModal()" style="width:40px; cursor: pointer;" src="assets/img/evcs.png"></ion-img>
      <!-- TODO Fix formatting -->
      <ion-label (click)="presentModal()" style="cursor: pointer;">
        <ion-card-title translate>Edge.Index.Widgets.EVCS.ChargingStation</ion-card-title>
      </ion-label>
    </ion-item>
    <ion-label *ngIf="currentData[componentId + '/State'] != 3">
      <ion-card-content>
        <table class="full_width">
          <tr>
            <td style="width:50%" translate>Edge.Index.Widgets.EVCS.ChargingPower</td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ outputPowerOrState(currentData[componentId + "/ChargePower"] | number:'1.0-0',
                 currentData[componentId + "/Status"], 
                 currentData[componentId + "/Plug"]) }}
            </td>
          </tr>
          <tr>
            <td style="width: 50%" translate>Edge.Index.Widgets.EVCS.EnergieSinceBeginning</td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ (currentData[componentId + "/EnergySession"] * 0.1) | number:'1.0-0' }} Wh
            </td>
          </tr>
        </table>
      </ion-card-content>

    </ion-label>
    <ion-card-content *ngIf="currentData[componentId + '/State'] == 3">
      <ion-label translate>
        Edge.Index.Widgets.EVCS.NoConnection.Description
        <ul>
          <li translate>Edge.Index.Widgets.EVCS.NoConnection.Help1</li>
          <ul>
            <li translate>Edge.Index.Widgets.EVCS.NoConnection.Help1_1</li>
          </ul>
        </ul>
      </ion-label>
    </ion-card-content>
  </ng-container>
</ion-card>


<!-- Eventueally this code whith an ngIf andvanced settings
     Attention: onchange can cause unexpected Errors
                use click event

  <ng-container *ngIf="controller">
        <ion-item color="light" (click)="showBelademodus = !showBelademodus">
          <ion-icon style="width: 40px" name="options"></ion-icon>
          <ion-label translate>Edge.Index.Widgets.EVCS.ChargeMode</ion-label>
        </ion-item>
        <ion-card-content *ngIf="!showBelademodus">
          <ion-segment width="full_width" ion-margin="0px;" (ionChange)="updateChargeMode($event)"
            value={{controller.properties.chargeMode}}>
            <ion-segment-button ion-margin="0px" ion-padding="0px" value="EXCESS_POWER">
              <ion-item lines="none">
                <ion-icon style="width:40px" name="sunny"></ion-icon>
                <ion-label *ngIf=" screenWidth >= 1555 " translate>Edge.Index.Widgets.EVCS.OptimizedChargeMode.Name
                </ion-label>
                <ion-label *ngIf=" 1555 > screenWidth " translate>Edge.Index.Widgets.EVCS.OptimizedChargeMode.ShortName
                </ion-label>
              </ion-item>
            </ion-segment-button>
            <ion-segment-button ion-margin="0px" ion-padding="0px" value="FORCE_CHARGE">
              <ion-item lines="none">
                <ion-img style="width:30px" src="assets/img/gridStorage.png"></ion-img>
                <ion-label *ngIf=" screenWidth >= 1555 " translate>Edge.Index.Widgets.EVCS.ForceChargeMode.Name
                </ion-label>
                <ion-label *ngIf=" 1555 > screenWidth " translate>Edge.Index.Widgets.EVCS.ForceChargeMode.ShortName
                </ion-label>
              </ion-item>
            </ion-segment-button>
          </ion-segment>
          <table style="margin-top: 20px;">
            <tr *ngIf="controller.properties.chargeMode == 'EXCESS_POWER'">
              <td>
                <ion-label translate> Edge.Index.Widgets.EVCS.OptimizedChargeMode.Info </ion-label> <br>
                <ion-label translate> Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinInfo </ion-label>
                <br>
                <table>
                  <tr>
                    <td width="90%" translate> Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinCharging </td>
                    <td width="10%">
                      <ion-toggle style="margin: 2px;" (ionChange)="allowMinimumChargePower($event)"
                        [checked]="controller.properties.defaultChargeMinPower != 0">
                      </ion-toggle>
                    </td>
                  </tr>
                </table>
                <ion-range *ngIf="controller.properties.defaultChargeMinPower != 0"
                  (ionChange)="updateDefaultMinPower($event)"
                  min="{{ formatNumber(currentData[componentId + '/MinimumPower']) }}"
                  max="{{ formatNumber(currentData[componentId + '/MaximumPower']) }}" color="dark" pin="true"
                  style="padding-top: 8px;" step="100" debounce="1000"
                  value="{{controller.properties.defaultChargeMinPower}}">
                  <ion-label slot="start">
                    {{ formatNumber(currentData[componentId + '/MinimumPower']) | number:'1.0-0'}} &nbsp;W
                  </ion-label>
                  <ion-label slot="end">
                    {{ formatNumber(currentData[componentId + '/MaximumPower']) | number:'1.0-0'}}&nbsp;W
                  </ion-label>
                </ion-range>

                <table class="ion-justify-content-center">
                  <tr>
                    <td width="50%">Priorisierung: <ion-icon width="30px" name="information-circle-outline"
                        (mouseenter)="showPriorityInfo = !showPriorityInfo"
                        (mouseleave)="showPriorityInfo = !showPriorityInfo"></ion-icon>
                    </td>
                    <td width="50%">
                      <ion-segment ion-width="50%" (ionChange)="priorityChanged($event)"
                        value="{{controller.properties.priority}}">
                        <ion-segment-button ion-margin="0px" ion-padding="0px" value="CAR">
                          
                          Todo: Mehrsprachenfähig
                          <ion-label lines="none">Auto</ion-label>
                        </ion-segment-button>
                        <ion-segment-button ion-margin="0px" ion-padding="0px" value="STORAGE">
                          <ion-label lines="none">Speicher</ion-label>
                        </ion-segment-button>
                      </ion-segment>
                    </td>
                  </tr>
                </table>
                <br>
                <ion-label *ngIf="showPriorityInfo" style="color:steelblue; border-radius: 5px;" translate>
                  Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Info
                </ion-label>
              </td>
            </tr>
            <tr *ngIf="controller.properties.chargeMode == 'FORCE_CHARGE'">
              <td>
                <ion-label translate> Edge.Index.Widgets.EVCS.ForceChargeMode.Info </ion-label><br>
                <ion-label translate> Edge.Index.Widgets.EVCS.ForceChargeMode.MaxCharging</ion-label>
                <ion-label>
                  <ion-range (ionChange)="updateForceMinPower($event)"
                    min="{{ formatNumber(currentData[componentId + '/MinimumPower']) }}"
                    max="{{ formatNumber(currentData[componentId + '/MaximumPower']) }}" color="dark" pin="true"
                    style="padding-top: 8px;" step="100" debounce="1000"
                    value="{{controller.properties.forceChargeMinPower}}">
                    <ion-label slot="start">
                      {{ formatNumber(currentData[componentId + '/MinimumPower']) | number:'1.0-0'}}&nbsp;W
                    </ion-label>
                    <ion-label slot="end">
                      {{ formatNumber(currentData[componentId + '/MaximumPower']) | number:'1.0-0'}}&nbsp;W
                    </ion-label>
                  </ion-range>
                </ion-label>
                <ion-label translate> Edge.Index.Widgets.EVCS.ForceChargeMode.MaxChargingDetails </ion-label>
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ng-container>
-->