<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/productionchart">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/production.png">
        </ion-avatar>
        <ion-label translate>General.production</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <ng-container *ngIf="data && edge && service.isKwhAllowed(edge); else noData">
                <ng-container *ngIf="productionMeterComponents.length != 0">
                    <ng-container *ngFor="let component of productionMeterComponents">
                        <tr>
                            <td style="width: 65%">
                                {{ component.alias }}
                            </td>
                            <td style="width: 35%" class="align_right">
                                {{ data[component.id + "/ActiveProductionEnergy"] | unitvalue:'kWh' }}
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="chargerComponents.length != 0">
                    <ng-container *ngFor="let component of chargerComponents">
                        <tr>
                            <td style="width: 65%">
                                {{ component.alias }}
                            </td>
                            <td style="width: 35%" class="align_right">
                                {{ data[component.id + "/ActualEnergy"] | unitvalue:'kWh' }}
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
            </ng-container>

            <ng-template #noData>
                <tr>
                    <td style="width:65%"></td>
                    <td style="width:35%" class="align_right">
                        &nbsp;
                    </td>
                </tr>
            </ng-template>
        </table>
    </ion-card-content>
</ion-card>