<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>General.production</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <!-- total summary of AC + DC -->
    <ng-container
        *ngIf="productionMeterComponents != null && productionMeterComponents.length > 0 && chargerComponents != null && chargerComponents.length > 0">
        <ng-container *ngIf="service.currentEdge | async as edge">
            <ng-container *ngIf="edge.currentData | async as currentData">
                <ion-card-content class="underline" *ngIf="currentData.summary.production as sum">
                    <table class="full_width">
                        <tr>
                            <td style="width:65%" translate>General.total</td>
                            <td style="width:35%" class="align_right">
                                {{ sum.activePower | unitvalue:'W' }}
                            </td>
                        </tr>
                    </table>
                </ion-card-content>
            </ng-container>
        </ng-container>
    </ng-container>

    <!-- One Production Meter -->
    <ng-container *ngIf="productionMeterComponents != null && productionMeterComponents.length == 1">
        <ng-container *ngFor="let component of productionMeterComponents">
            <ng-container *ngIf="config.factories[component.factoryId] as factory">
                <ion-card-content [class.underline]="chargerComponents.length > 0">
                    <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
                        <table class="full_width">
                            <ng-container
                                *ngIf="factory.natureIds.includes('io.openems.edge.meter.api.SymmetricMeter')">
                                <tr>
                                    <td style="width:65%" *ngIf="component.id == component.alias">{{component.id}}
                                    </td>
                                    <td style="width:65%" *ngIf="component.id != component.alias">
                                        {{component.alias}}</td>
                                    <td style="width:35%" class="align_right">
                                        {{ currentData[component.id + '/ActivePower'] | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </ng-container>
                    <ng-container *ngIf="service.currentEdge | async as edge">
                        <ng-container *ngIf="edge.currentData | async as currentData">
                            <ng-container *ngIf="currentData.summary.production as sum">

                                <!-- 3 Phases -->
                                <table class="full_width"
                                    *ngIf="sum.activePowerAcL1 != null && sum.activePowerAcL2 != null && sum.activePowerAcL3 != null">
                                    <!-- for spacing between Phases and Production -->
                                    <div style="padding-top: 5px;"></div>
                                    <tr>
                                        <td style="width:2%"></td>
                                        <td style="width:23%"><span translate>General.phase</span> L1</td>
                                        <td style="width:40%"></td>
                                        <td style="width:35%" class="align_right">
                                            {{ sum.activePowerAcL1 | unitvalue:'W' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:2%"></td>
                                        <td style="width:23%"><span translate>General.phase</span> L2</td>
                                        <td style="width:40%"></td>
                                        <td style="width:35%" class="align_right">
                                            {{ sum.activePowerAcL2 | unitvalue:'W' }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:2%"></td>
                                        <td style="width:23%"><span translate>General.phase</span> L3</td>
                                        <td style="width:40%"></td>
                                        <td style="width:35%" class="align_right">
                                            {{ sum.activePowerAcL3 | unitvalue:'W' }}
                                        </td>
                                    </tr>
                                </table>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </ion-card-content>
            </ng-container>
        </ng-container>
    </ng-container>

    <!-- more than one Production Meter -->
    <!-- summary of Production Meters -->
    <ng-container *ngIf="service.currentEdge | async as edge">
        <ng-container *ngIf="edge.currentData | async as currentData">
            <ng-container *ngIf="currentData.summary.production as sum">
                <ion-card-content class="underline"
                    *ngIf="productionMeterComponents != null && productionMeterComponents.length > 1">
                    <table class="full_width">
                        <tr>
                            <ng-container *ngIf="chargerComponents.length > 0; else onlyProductionMeters">
                                <td style="width:65%"><span translate>General.total</span> AC</td>
                            </ng-container>
                            <ng-template #onlyProductionMeters>
                                <td style="width:65%" translate>General.total</td>
                            </ng-template>
                            <td style="width:35%" class="align_right">
                                {{ sum.activePowerAc | unitvalue:'W' }}
                            </td>
                        </tr>
                    </table>

                    <ng-container
                        *ngIf="sum.activePowerAcL1 != null && sum.activePowerAcL2 != null && sum.activePowerAcL3 != null">
                        <!-- for spacing between Phases and Production -->
                        <div style="padding-top: 5px;"></div>
                        <table class="full_width">
                            <tr>
                                <td style="width:2%"></td>
                                <td style="width:23%"><span translate>General.phase</span> L1</td>
                                <td style="width:40%"></td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.activePowerAcL1 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%"></td>
                                <td style="width:23%"><span translate>General.phase</span> L2</td>
                                <td style="width:40%"></td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.activePowerAcL2 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:2%"></td>
                                <td style="width:23%"><span translate>General.phase</span> L3</td>
                                <td style="width:40%"></td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.activePowerAcL3 | unitvalue:'W' }}
                                </td>
                            </tr>
                        </table>
                    </ng-container>
                </ion-card-content>
            </ng-container>
        </ng-container>
    </ng-container>

    <ng-container
        *ngIf="productionMeterComponents != null && productionMeterComponents.length > 1 && (edge.currentData | async)['channel'] as currentData">
        <ng-container *ngFor="let component of productionMeterComponents">
            <ng-container *ngIf="config.factories[component.factoryId] as factory">
                <ion-card-content
                    [class.underline]="chargerComponents.length > 0 || !isLastElement(component, productionMeterComponents)">
                    <table class="full_width">
                        <ng-container *ngIf="factory.natureIds.includes('io.openems.edge.meter.api.SymmetricMeter')">
                            <tr>
                                <td style="width:65%" *ngIf="component.id == component.alias">{{component.id}}</td>
                                <td style="width:65%" *ngIf="component.id != component.alias">{{component.alias}}</td>
                                <td style="width:35%" class="align_right">
                                    {{ currentData[component.id + '/ActivePower'] | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                </ion-card-content>
            </ng-container>
        </ng-container>
    </ng-container>

    <!-- one DC Charger -->
    <ng-container
        *ngIf="chargerComponents != null && chargerComponents.length == 1 && (edge.currentData | async)['channel'] as currentData">
        <ng-container *ngFor="let component of chargerComponents">
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width:65%" *ngIf="component.id == component.alias">{{component.id}}</td>
                        <td style="width:65%" *ngIf="component.id != component.alias">{{component.alias}}</td>
                        <td style="width:35%" class="align_right">
                            {{ currentData[component.id + '/ActualPower'] | unitvalue:'W' }}
                        </td>
                    </tr>
                </table>
            </ion-card-content>
        </ng-container>
    </ng-container>

    <!-- more than one DC Charger -->
    <ng-container
        *ngIf="chargerComponents != null && chargerComponents.length > 1 && (edge.currentData | async)['channel'] as currentData">

        <!-- summary of DC Charger -->
        <ng-container *ngIf="service.currentEdge | async as edge">
            <ng-container *ngIf="edge.currentData | async as currentData">
                <ng-container *ngIf="currentData.summary.production as sum">
                    <ion-card-content class="underline">
                        <table class="full_width">
                            <tr>
                                <ng-container *ngIf="productionMeterComponents.length > 0; else onlyCharger">
                                    <td style="width:35%"><span translate>General.total</span> DC</td>
                                </ng-container>
                                <ng-template #onlyCharger>
                                    <td style="width:35%" translate>General.total</td>
                                </ng-template>
                                <td style="width:15%"></td>
                                <td style="width:50%" class="align_right">
                                    {{ sum.activePowerDc | unitvalue:'W' }}
                                </td>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let component of chargerComponents">
            <ion-card-content [class.underline]="!isLastElement(component, chargerComponents)">
                <table *ngIf="(edge.currentData | async)['channel'] as currentData" class="full_width">
                    <tr>
                        <td style="width:35%" *ngIf="component.id == component.alias">{{component.id}}</td>
                        <td style="width:35%" *ngIf="component.id != component.alias">{{component.alias}}</td>
                        <td style="width:15%"></td>
                        <td style="width:50%" class="align_right">
                            {{ currentData[component.id + '/ActualPower'] | unitvalue:'W' }}
                        </td>
                    </tr>
                </table>
            </ion-card-content>
        </ng-container>
    </ng-container>

    <!-- Info Text -->
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ng-container *ngIf="edge.currentData | async as currentData">
            <ng-container *ngIf="currentData.summary.production as sum">
                <ion-grid
                    *ngIf="sum.activePowerAcL1 != null && sum.activePowerAcL2 != null && sum.activePowerAcL3 != null"
                    class="ion-padding-top">
                    <ion-row class="ion-justify-content-center ion-align-items-center">
                        <ion-col size="2" class="ion-text-center">
                            <ion-icon padding-right color="primary" size="large" name="alert-outline"></ion-icon>
                        </ion-col>
                        <ion-col size="10">
                            <ion-note class="ion-text-wrap"><small translate>Edge.Index.Widgets.phasesInfo</small>
                            </ion-note>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ng-container>
        </ng-container>
    </ng-container>
</ion-content>