<table class="full_width" style="line-height: 1.4; margin-top: 0.5%" *ngIf="isAllowedToBeSeen && show">
    <tr *ngIf="textIndent" [STYLE.TEXT-indent]="textIndent">

        <!-- Name of Parameter on the left side -->
        <td [STYLE.WIDTH]="(leftColumnWidth ?? 50)  + '%'" class="align_left">
            <ng-container *ngIf="displayName">{{ displayName }}</ng-container>
        </td>

        <!-- Value of Parameter on the right side -->
        <td [STYLE.WIDTH]="(leftColumnWidth ?? 50)  + '%'" class="align_right" *ngIf="displayValue">
            <!-- 'Normal' line, name and value  -->
            <ng-container>{{ displayValue }}</ng-container>
        </td>

        <td [STYLE.WIDTH]="(leftColumnWidth ?? 50)  + '%'" class="align_right" *ngIf="button">
            <!-- 'Normal' line, name and value  -->
            <ion-icon [name]="BUTTON.ICON?.name ??'help-circle-outline'" [color]="BUTTON.ICON?.color ??'light'"
                [size]="BUTTON.ICON?.size ??'medium'">
            </ion-icon>
        </td>

        <ng-container *ngIf="formGroup && control">
            <!-- 'Input' Line, name and changeable value -->
            <td style="width: 30%" class="align_right" *ngIf="CONTROL.TYPE === 'INPUT'" [formGroup]="formGroup">
                <ion-item>
                    <ion-input class="regularFont" type="number" style="text-align: right;"
                        [formControlName]="controlName" label-placement="floating"
                        label="&nbsp;{{control?.properties?.unit ?? 'W' }}&nbsp;">
                    </ion-input>
                </ion-item>
            </td>

            <!-- 'TOGGLE' Line, provides toggle option -->
            <td *ngIf="CONTROL.TYPE === 'TOGGLE'" [formGroup]="formGroup"
                [style]="THIS.SERVICE.IS_SMARTPHONE_RESOLUTION ? 'transform: scale(0.7)': ''" class="align_right">
                <ion-toggle mode="md" [formControlName]="controlName">
                </ion-toggle>
            </td>

            <!-- 'SELECT' Line, provides select dropdown -->
            <td *ngIf="CONTROL.TYPE === 'SELECT'" [formGroup]="formGroup">
                <ng-container *ngIf="CONTROL.OPTIONS">
                    <ion-select interface="popover" [formControlName]="controlName" [okText]="'GENERAL.OK'| translate"
                        [cancelText]="'GENERAL.CANCEL'| translate" style="text-align:end">

                        <ion-select-option *ngFor="let option of CONTROL.OPTIONS" [value]="OPTION.VALUE">
                            {{OPTION.NAME}}
                        </ion-select-option>
                    </ion-select>
                </ng-container>
            </td>

            <td [STYLE.WIDTH]="(100 - (leftColumnWidth ?? 50))  + '%'" *ngIf="CONTROL.TYPE === 'TEXT'"
                [formGroup]="formGroup" class="align_right">
                <ng-container>{{FORM_GROUP.CONTROLS[controlName].value | converter:CONTROL.VALUE_CONVERTER }}
                </ng-container>
            </td>
        </ng-container>

        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>

        <ng-template #contentTpl>
            <td [STYLE.WIDTH]="(leftColumnWidth ?? 50)  + '%'" class="align_right">
                <!-- 'Normal' line, name and value  -->
                <ng-content></ng-content>
            </td>
        </ng-template>
    </tr>
    <tr *ngIf="formGroup">
        <!-- 'RANGE' Line, provides a range button from min to max -->
        <td style="width: 100%" *ngIf="control?.type === 'RANGE'">
            <ng-container [formGroup]="formGroup">
                <ion-range style="width: 100%" color="dark" pin="true" [min]="CONTROL.PROPERTIES.TICK_MIN ?? 1"
                    [max]="CONTROL.PROPERTIES.TICK_MAX ?? 100" [step]="CONTROL.PROPERTIES.STEP ?? 1"
                    style="padding-top: 8px;" [formControlName]="controlName" debounce="500"
                    [pinFormatter]="CONTROL.PROPERTIES.PIN_FORMATTER ?? DEFAULT_PIN_FORMATTER" [pin]="true"
                    [snaps]="CONTROL.PROPERTIES?.snaps ?? false">
                    <ion-label slot="start">
                        @if(CONTROL.PROPERTIES.UNIT){
                        {{ CONTROL.PROPERTIES.TICK_MIN| unitvalue:CONTROL.PROPERTIES.UNIT}}
                        }@else{
                        {{ CONTROL.PROPERTIES.TICK_MIN
                        | converter:CONTROL.PROPERTIES.TICK_FORMATTER ? CONTROL.PROPERTIES.TICK_FORMATTER : null}}
                        }
                    </ion-label>
                    <ion-label slot="end">
                        @if(CONTROL.PROPERTIES.UNIT){
                        {{ CONTROL.PROPERTIES.TICK_MAX| unitvalue:CONTROL.PROPERTIES.UNIT}}
                        }@else{
                        {{ CONTROL.PROPERTIES.TICK_MAX
                        | converter:CONTROL.PROPERTIES.TICK_FORMATTER ? CONTROL.PROPERTIES.TICK_FORMATTER : null}}
                        }
                    </ion-label>
                </ion-range>
            </ng-container>
        </td>
    </tr>
</table>
