<ng-container *ngIf="index !== null && components !== null, else simpleLine">

    <!-- Shows a horizontal line on all but the last component of an array -->
    <ng-container *ngIf="index !== (components.length - 1), then simpleLine">
    </ng-container>
</ng-container>

<!-- If called without passed @Input() index and components -->
<ng-template #simpleLine>
    <div style="border-bottom: 1px solid lightgray; width: 110%; margin-top: 2%; margin-bottom: 2%; margin-left: -5%;">
    </div>
</ng-template>
