alias=""
enabled=B"true"
id="meter0"
mbus.id="mbus0"
mbus.target="(&(enabled\=true)(!(service.pid\=io.openems.edge.meter.abb.89866d48-61ba-4e27-ac0c-b90bd17ca24b))(|(id\=mbus0)))"
primaryAddress=I"10"
service.factoryPid="io.openems.edge.meter.abb"
service.pid="io.openems.edge.meter.abb.89866d48-61ba-4e27-ac0c-b90bd17ca24b"
type="GRID"
