<oe-flat-widget img="assets/img/grid.png" [title]="'General.grid' | translate" (click)="presentModal()">
    <oe-flat-widget-line [name]="'General.gridBuyAdvanced'| translate" [value]="gridBuyChannel"
        [converter]="CONVERT_WATT_TO_KILOWATT">
    </oe-flat-widget-line>
    <oe-flat-widget-line [name]="'General.gridSellAdvanced' | translate" [value]="gridSellChannel"
        [converter]="CONVERT_WATT_TO_KILOWATT">
    </oe-flat-widget-line>
    <oe-flat-widget-line *ngIf="gridMode == 2" [name]="'General.offGrid' | translate">
    </oe-flat-widget-line>
</oe-flat-widget>