:org.apache.felix.configadmin.revision:=L"2"
_lastChangeAt="2024-10-07T22:54:42"
_lastChangeBy="admin:\ Admin"
alias=""
enabled="true"
id="simulateProduction"
service.factoryPid="Simulator.Datasource.Single.Channel"
service.pid="Simulator.Datasource.Single.Channel.1fa4c08d-1acd-436a-9f89-bfa2dd556a23"
