<header></header>
<ion-content>

  <ngx-spinner [name]="spinnerId"></ngx-spinner>

  <ion-fab *ngIf="false" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="filter"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start" (click)="updateSelection($event)">
      <ion-card>
        <ion-item *ngFor="let cat of categories" lines="full" color="light">
          <ion-label> {{ cat.val.readableName }} </ion-label>
          <ion-checkbox [(ngModel)]="cat.isChecked" style="margin-left: 15px;"></ion-checkbox>
        </ion-item>
      </ion-card>
    </ion-fab-list>
  </ion-fab>

  <ion-grid>
    <ion-row *ngIf="true">
      <ion-col size="12">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" name="information-outline"></ion-icon>
            <ion-label>Der App-Manager befindet sich aktuell in einer ersten Testversion.</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-grid>
          <div *ngFor="let appList of appLists">
            <ng-container *ngIf="!isEmpty(appList)">
              <ion-row style="position: -webkit-sticky;
            position: sticky;
            top: 0px;
            z-index: 100;">
                <ion-col size="12">
                  <ion-card>
                    <ion-item lines="full" color="primary">
                      <ion-label style="text-align: center;"> {{ appList.name }}
                      </ion-label>
                    </ion-item>
                  </ion-card>
                </ion-col>
              </ion-row>
              <div *ngIf="showCategories(appList); then showAllCategories else showNoCategorie"></div>
              <ng-template #showAllCategories>
                <ion-row *ngFor="let appCatList of appList.appCategories">
                  <ion-col size="12" size-xl="2" style="padding-top: 18px;">
                    <ion-card>
                      <ion-item lines="full" color="light">
                        <ion-label style="text-align: center;">{{ appCatList.category.readableName }}</ion-label>
                      </ion-item>
                    </ion-card>
                  </ion-col>
                  <ion-col>
                    <ion-grid>
                      <ion-row>
                        <ion-col *ngFor="let app of appCatList.apps" size="12" size-lg="6" size-xl="3">
                          <ion-card>
                            <ion-item lines="full" color="primary">
                              <ion-icon slot="start" size="large" name="grid-outline"></ion-icon>
                              <ion-label
                                class="ng-star-inserted sc-ion-label-md-h sc-ion-label-md-s md in-item-color hydrated">
                                {{ app.name }}</ion-label>
                            </ion-item>
                            <ion-card-content [routerLink]="['single', app.appId]" [state]="app"
                              style="cursor: pointer;">
                              <div
                                [ngStyle]="{'opacity': (app.status.name=='INSTALLABLE' || app.instanceIds.length > 0) ? '100%' : '20%'}"
                                style="display: flex; align-items: center;justify-content: center; ">
                                <img *ngIf="app.image" [src]="app.image" />
                              </div>
                              <!-- TODO btn Aktivieren -> Installieren -> Deinstallieren -->
                              <p *ngIf="false">
                                <small>Technischer Name: {{ app.appId }}</small><br />
                                <small>Kategorie: {{ app.category }}</small><br />
                                <small>Cardinality: {{ app.cardinality }}</small>
                              </p>
                              <div *ngIf="app.instanceIds.length == 0 && app.status.name != 'INSTALLABLE'">
                                <div *ngIf="app.status.errorCompatibleMessages.length != 0 ">
                                  <small>errorCompatibleMessages:</small><br />
                                  <small *ngFor="let message of app.status.errorCompatibleMessages"> - {{ message
                                    }}</small><br />
                                </div>
                                <div *ngIf="app.status.errorInstallableMessages.length != 0 ">
                                  <small>errorInstallableMessages:</small><br />
                                  <small *ngFor="let message of app.status.errorInstallableMessages"> - {{ message
                                    }}</small><br />
                                </div>
                              </div>
                            </ion-card-content>
                          </ion-card>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ion-col>
                </ion-row>
              </ng-template>
              <ng-template #showNoCategorie>
                <ion-row>
                  <ng-container *ngFor="let appCatList of appList.appCategories">
                    <ion-col *ngFor="let app of appCatList.apps" size="12" size-lg="6" size-xl="3">
                      <ion-card>
                        <ion-item lines="full" color="primary">
                          <ion-icon slot="start" size="large" name="grid-outline"></ion-icon>
                          <ion-label
                            class="ng-star-inserted sc-ion-label-md-h sc-ion-label-md-s md in-item-color hydrated">{{
                            app.name }}</ion-label>
                        </ion-item>
                        <ion-card-content [routerLink]="['single', app.appId]" [state]="app" style="cursor: pointer;"
                          [ngStyle]="{'opacity': (app.status.name=='INSTALLABLE' || app.instanceIds.length > 0) ? '100%' : '20%'}">
                          <div style="display: flex; align-items: center;justify-content: center; ">
                            <img *ngIf="app.image" [src]="app.image" />
                          </div>
                          <!-- TODO btn Aktivieren -> Installieren -> Deinstallieren -->
                          <p *ngIf="false">
                            <small>Technischer Name: {{ app.appId }}</small><br />
                            <small>Kategorie: {{ app.category }}</small><br />
                            <small>Cardinality: {{ app.cardinality }}</small>
                          </p>
                          <div *ngIf="app.instanceIds.length == 0 && app.status.name != 'INSTALLABLE'">
                            <div *ngIf="app.status.errorCompatibleMessages.length != 0 ">
                              <small>errorCompatibleMessages:</small><br />
                              <small *ngFor="let message of app.status.errorCompatibleMessages"> - {{ message
                                }}</small><br />
                            </div>
                            <div *ngIf="app.status.errorInstallableMessages.length != 0 ">
                              <small>errorInstallableMessages:</small><br />
                              <small *ngFor="let message of app.status.errorInstallableMessages"> - {{ message
                                }}</small><br />
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ng-container>
                </ion-row>
              </ng-template>
            </ng-container>
          </div>
        </ion-grid>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>