<header></header>
<ion-content style="height: 100%">

  <ngx-spinner [name]="spinnerId"></ngx-spinner>

  <ion-grid *ngIf="form" style="height: 100%">
    <ion-row class="ion-justify-content-center" style="height: 100%">

      <ion-col size="12" size-xl="3">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <ion-card>
            <ion-item lines="full" color="primary">
              <ion-icon slot="start" size="large" name="grid-outline"></ion-icon>
              <ion-label>{{ app.name }}</ion-label>
            </ion-item>
            <ion-card-content>
              <div style="display: flex; align-items: center;justify-content: center;">
                <img *ngIf="app.image" [src]="app.image" />
              </div>
              <div>
                <ion-button style="width: 100%;" disabled translate>Edge.Config.App.buyApp</ion-button>
              </div>
              <div>
                <ion-button style="width: 100%;" [disabled]="app.instanceIds.length === 0"
                  [routerLink]="['../../update', app.appId]" [queryParams]="{name: app.name}" translate>
                  Edge.Config.App.modifyApp</ion-button>
              </div>
              <div>
                <ion-button style="width: 100%;"
                  [disabled]="(app.cardinality !== 'MULTIPLE' && app.instanceIds.length !== 0) || app.status.name !== 'INSTALLABLE'"
                  [routerLink]="['../../install', app.appId]" [queryParams]="{name: app.name}" translate>
                  Edge.Config.App.createApp
                  <!-- TODO later rename to 'aktivieren' -->
                </ion-button>
              </div>
              <div *ngIf="app.instanceIds.length === 0 && app.status.name !== 'INSTALLABLE'">
                <div *ngIf="app.status.errorCompatibleMessages.length !== 0 ">
                  <small translate>Edge.Config.App.errorCompatible</small><br />
                  <small *ngFor="let message of app.status.errorCompatibleMessages"> - {{ message
                    }}</small><br />
                </div>
                <div *ngIf="app.status.errorInstallableMessages.length !== 0 ">
                  <small translate>Edge.Config.App.errorInstallable</small><br />
                  <small *ngFor="let message of app.status.errorInstallableMessages"> - {{ message
                    }}</small><br />
                </div>
              </div>
            </ion-card-content>

          </ion-card>
        </form>
      </ion-col>
      <ion-col size="12" size-xl="7" *ngIf="descriptor?.websiteUrl">
        <iframe [src]="descriptor.sanitizedWebsiteUrl" style=" width: 100%;" [ngStyle]="iFrameStyle()" name="appInfo"
          title="App-Info"></iframe>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>