<header></header>
<ion-content>
  <ion-grid>
    <ion-row *ngFor="let instance of instances" class="ion-justify-content-center">

      <ion-col size="12" size-xl="8">
        <ion-card>
          <ion-item lines="full" color="primary">
            <ion-icon slot="start" size="large" name="grid-outline"></ion-icon>
            <ion-label></ion-label>
          </ion-item>
          <ion-card-content>
            <form [formGroup]="instance.form" (ngSubmit)="submit(instance)">
              <formly-form [form]="instance.form" [fields]="instance.fields" [model]="instance.properties">
              </formly-form>
              <ion-item>
                <ion-button type="submit" color="primary" [disabled]="instance.form.pristine || !instance.form.valid">
                  App aktualisieren
                </ion-button>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>