<ion-content>
  <ion-grid>
    <ion-row *ngFor="let varinstance of instances" class="ion-justify-content-center">
      <ion-col size="12" size-xl="8">
        <ion-card>
          <form [formGroup]="VARINSTANCE.FORM" (ngSubmit)="submit(varinstance)">
            <ion-item lines="full" color="primary">
              <ion-label>{{ appName }}</ion-label>
            </ion-item>
            <ion-card-content>
              <formly-form [form]="VARINSTANCE.FORM" [fields]="VARINSTANCE.FIELDS" [model]="VARINSTANCE.PROPERTIES">
              </formly-form>
              <ion-item>
                <ion-button type="submit" color="primary"
                  [disabled]="(!((!VARINSTANCE.FORM.PRISTINE) && (VARINSTANCE.FORM.VALID))) || VARINSTANCE.IS_DELETING || VARINSTANCE.IS_UPDATING"
                  translate> EDGE.CONFIG.APP.UPDATE_APP
                </ion-button>
                <ion-button (click)="submitDelete(varinstance)" color="primary"
                  [disabled]="VARINSTANCE.IS_DELETING || VARINSTANCE.IS_UPDATING" translate>
                  EDGE.CONFIG.APP.DELETE_APP
                </ion-button>
                <div *ngIf="VARINSTANCE.IS_DELETING || VARINSTANCE.IS_UPDATING" style="min-height: 100px;">
                </div>
                <ngx-spinner [name]="VARINSTANCE.INSTANCE_ID"></ngx-spinner>
              </ion-item>
            </ion-card-content>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
