// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
/** Ionic CSS Variables **/
$primary-color: var(--ion-color-primary);
$primary-color-contrast: var(--ion-color-primary-contrast);
$secondary-color: var(--ion-color-secondary);
$secondary-color-contrast: var(--ion-color-secondary-contrast);
$font-family: var(--ion-font-family);

:root {
  /** primary **/
  --ion-color-primary: rgb(25, 63, 97);
  --ion-color-primary-rgb: 54, 174, 209;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #287e96;
  --ion-color-primary-tint: rgb(25, 63, 97, 0.3);

  /** secondary **/
  --ion-color-secondary: rgb(255, 255, 255);
  --ion-color-secondary-rgb: 50, 219, 100;
  --ion-color-secondary-contrast: rgb(25, 63, 97);
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #68a2b3;
  --ion-color-secondary-tint: #84bfd0;

  /** tertiary **/
  --ion-color-tertiary: #979393;
  --ion-color-tertiary-rgb: 244, 169, 66;
  --ion-color-tertiary-contrast: #fff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #d7953a;
  --ion-color-tertiary-tint: #f5b255;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;

  /** light **/
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** dark **/
  --ion-color-dark: #222;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #fff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;

  /** font **/
  --ion-font-family: "Calibri";
  --ion-color-background: #fff;
  --ion-color-text: #444444;
}

/** Custom Colors **/
:root {
  --ion-color-environmental: #8abd46;
  --ion-color-environmental-rgb: 138, 189, 70;
  --ion-color-environmental-contrast: #fff;
  --ion-color-environmental-contrast-rgb: 255, 255, 255;
  --ion-color-environmental-shade: #527029;
  --ion-color-environmental-tint: #bbff5d;

  .ion-color-environmental {
    --ion-color-base: var(--ion-color-environmental);
    --ion-color-base-rgb: var(--ion-color-environmental-rgb);
    --ion-color-contrast: var(--ion-color-environmental-contrast);
    --ion-color-contrast-rgb: var(--ion-color-environmental-contrast-rgb);
    --ion-color-shade: var(--ion-color-environmental-shade);
    --ion-color-tint: var(--ion-color-environmental-tint);
  }

  --ion-color-production: #36aed1;
  --ion-color-production-rgb: 54, 174, 209;
  --ion-color-production-contrast: #fff;
  --ion-color-production-contrast-rgb: 255, 255, 255;
  --ion-color-production-shade: #226e84;
  --ion-color-production-tint: #41d4ff;

  .ion-color-production {
    --ion-color-base: var(--ion-color-production);
    --ion-color-base-rgb: var(--ion-color-production-rgb);
    --ion-color-contrast: var(--ion-color-production-contrast);
    --ion-color-contrast-rgb: var(--ion-color-production-contrast-rgb);
    --ion-color-shade: var(--ion-color-production-shade);
    --ion-color-tint: var(--ion-color-production-tint);
  }
}
