<ion-card>
    <ion-item lines="full" color="light" *ngIf="slides">
        <ion-avatar slot="start">
            <ion-img src="assets/img/fems-app.png"></ion-img>
        </ion-avatar>
        <ion-label>FEMS-App
        </ion-label>
        <ion-buttons slot="end" *ngIf="enableBtn">
            <ion-button size="small" fill="clear" (click)="swipePrevious()" *ngIf="!disablePrevBtn">
                <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" (click)="swipeNext()" *ngIf="!disableNextBtn">
                <ion-icon name="arrow-forward-outline" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <ion-card-content>
        <ion-slides [options]="slideOpts" #slides (ionSlidesDidLoad)="slidesDidLoad(slides)"
            (ionSlideWillChange)="changeSlides()" (ionSlideTransitionStart)="changeNextPrevButtons()">
            <ng-container *ngFor="let widget of advertWidgets.list" [ngSwitch]="widget.name">
                <ion-slide *ngSwitchCase="'io.openems.edge.evcs.api.Evcs'">
                    <evcsupgrade></evcsupgrade>
                </ion-slide>
            </ng-container>
        </ion-slides>
    </ion-card-content>
</ion-card>