<ion-card>
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img [src]="imageUrl">
        </ion-avatar>
        <ion-label class="white-space-initial" style="text-align: center">{{title}}
        </ion-label>
        <ion-buttons slot="end" *ngIf="enableBtn">
            <ion-button size="small" fill="clear" (click)="swipePrevious()" *ngIf="!disablePrevBtn">
                <ion-icon name="arrow-back-outline" color="primary"></ion-icon>
            </ion-button>
            <ion-button size="small" fill="clear" (click)="swipeNext()" *ngIf="!disableNextBtn">
                <ion-icon name="arrow-forward-outline" color="primary"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>
    <ion-card-content>
        <ion-slides [options]="slideOpts" class="slides" #slides (ionSlidesDidLoad)="slidesDidLoad(slides)"
            (ionSlideWillChange)="changeSlides()" (ionSlideTransitionStart)="changeNextPrevButtons()">
            <ng-container *ngFor="let widget of advertWidgets.list" [ngSwitch]="widget.name">
                <ion-slide *ngSwitchCase="'GLS Crowdfunding'">
                    <glscrowdfunding>
                    </glscrowdfunding>
                </ion-slide>

                <ion-slide *ngSwitchCase="'GridOptimizedCharge'">
                    <gridOptimizedCharge></gridOptimizedCharge>
                </ion-slide>

                <ion-slide *ngSwitchCase="'Energiewende mit FEMS'">
                    <energyRevolution></energyRevolution>
                </ion-slide>

                <ion-slide *ngSwitchCase="'Alerting'">
                    <alerting></alerting>
                </ion-slide>

            </ng-container>
        </ion-slides>
    </ion-card-content>
</ion-card>