<?xml version="1.0" encoding="UTF-8"?>

<!-- OpenEMS - Open Source Energy Management System Copyright (c) 2016 FENECON 
	GmbH and contributors This program is free software: you can redistribute 
	it and/or modify it under the terms of the GNU General Public License as 
	published by the Free Software Foundation, either version 3 of the License, 
	or (at your option) any later version. This program is distributed in the 
	hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 
	warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the 
	GNU General Public License for more details. You should have received a copy 
	of the GNU General Public License along with this program. If not, see <http://www.gnu.org/licenses/>. 
	Contributors: FENECON GmbH - initial API and implementation and initial documentation -->

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-8.8thread] [%-5level] [%-20.20logger{36}:%-3line] %msg%ex{10}%n</pattern>
		</encoder>
	</appender>
	<!-- <logger name="io.openems" level="DEBUG" additivity="false"> -->
	<logger name="io.openems" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="LogService" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="WARN">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
