<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%-8.8thread] [%-5level] [%-20.20logger{36}:%-3line] %msg%ex{10}%n</pattern>
		</encoder>
	</appender>
	<logger name="io.openems" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
