<ng-container *ngIf="edge">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title class="ion-text-start ion-padding-left" translate>General.selfConsumption</ion-title>
            <ion-buttons slot="end">
                <ion-button routerLink="/device/{{edge.id}}/history">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="width: 100%" class="ion-padding"></td>
                </tr>
            </table>
            <selfconsumptionChart [period]="service.historyPeriod.value"></selfconsumptionChart>
        </ion-card-content>
    </ion-content>
</ng-container>