<ion-list lines="none" inset="false">
    <ng-container *ngFor="let period of periods">
        <ion-item [ngSwitch]="period" mode="md" [CLASS.ACTIVE]="SERVICE.PERIOD_STRING === period"
            (click)="setPeriod(period)" class="ion-text-center" lines="none" button>
            <ion-label *ngSwitchCase="DEFAULT_TYPES.PERIOD_STRING.DAY" translate>
                EDGE.HISTORY.DAY
            </ion-label>
            <ion-label *ngSwitchCase="DEFAULT_TYPES.PERIOD_STRING.WEEK" translate>
                EDGE.HISTORY.WEEK
            </ion-label>
            <ion-label *ngSwitchCase="DEFAULT_TYPES.PERIOD_STRING.MONTH" translate>
                EDGE.HISTORY.MONTH
            </ion-label>
            <ion-label *ngSwitchCase="DEFAULT_TYPES.PERIOD_STRING.YEAR" translate>
                EDGE.HISTORY.YEAR
            </ion-label>
            <ion-label *ngSwitchCase="DEFAULT_TYPES.PERIOD_STRING.TOTAL" translate>
                EDGE.HISTORY.TOTAL
            </ion-label>
        </ion-item>
    </ng-container>
    <ion-item mode="md" [CLASS.ACTIVE]="SERVICE.PERIOD_STRING === DEFAULT_TYPES.PERIOD_STRING.CUSTOM"
        (click)="showCustomDate = !showCustomDate; setPeriod(DEFAULT_TYPES.PERIOD_STRING.CUSTOM)" class="ion-text-center"
        lines="none" button testId="popover-button">
        <ion-label translate>
            EDGE.HISTORY.OTHER_PERIOD
        </ion-label>
    </ion-item>
</ion-list>
<input *ngIf="showCustomDate" (dateChanged)="onDateChanged($EVENT.DATE_RANGE)" type="hidden" [locale]="locale"
    angular-mydatepicker name="mydate" [options]="myDpOptions" />
