<div [formGroup]="schedulerForm">
    <md-card class="single" formGroupName="scheduler">
        <md-card-header>
            <md-icon md-card-avatar>schedule</md-icon>
            <md-card-title>{{ schedulerForm.controls['scheduler'].value.class | classname }}</md-card-title>
            <md-card-subtitle>{{ schedulerForm.controls['scheduler'].value.id }}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <div fxLayout>
                <!--<p fxFlex="100px"></p>-->
                <div fxFlex fxLayout fxLayoutWrap="wrap">
                    <md-input-container fxFlex="50%"><input formControlName="cycleTime" type="number" placeholder="Zyklusdauer" mdInput><span md-suffix>ms</span></md-input-container>
                </div>
            </div>
            <div fxLayout>
                <!--<div fxFlex="100px"></div>-->
                <md-input-container fxFlex="50%">
                    <input placeholder="OutputChannelAddress" formControlName="onGridOutputChannelAddress" type="text" mdInput>
                </md-input-container>
            </div>
            <div fxLayout fxLayoutWrap="wrap" formArrayName="thresholds">
                <!--<div fxFlex="100px"></div>-->
                <div *ngFor="let threshold of schedulerForm.controls['scheduler'].controls['thresholds'].controls, let i=index">
                    <md-input-container fxFlex="100%">
                        <input placeholder="Thresholds" [formControlName]="i" mdInput>
                    </md-input-container>
                    <button (click)="removeThreshold(schedulerForm.controls['scheduler'].controls['thresholds'], i)" md-mini-fab><md-icon>delete</md-icon></button>
                </div>
                <button (click)="addThreshold(schedulerForm.controls['scheduler'].controls['thresholds'])" md-mini-fab><md-icon>add</md-icon></button>
            </div>
            <div fxLayout>
                <div fxFlex="100%"></div>
                <button (click)="save(schedulerForm.controls['scheduler'])" color="primary" md-mini-fab><md-icon>check</md-icon></button>
                <button (click)="createNewScheduler(schedulerForm.controls['scheduler'])" color="primary" md-mini-fab><md-icon>delete</md-icon></button>
            </div>
        </md-card-content>
    </md-card>
</div>