<ion-grid *ngIf="edge" no-padding>
  <ion-row justify-content-center>

    <!-- Energymonitor -->
    <ion-col size="12" size-md="8" size-lg="4">
      <energymonitor [currentData]="currentData"></energymonitor>
    </ion-col>

    <!-- Energytable -->
    <ion-col size="12" size-md="8" size-lg="4">
      <ng-container *ngIf="edge.isVersionAtLeast('2018.8'); else version_2018_7">
        <energytable-2018-8 [currentData]="currentData" [config]="config"></energytable-2018-8>
      </ng-container>
      <ng-template #version_2018_7>
        <energytable-2018-7 [currentData]="currentData" [config]="config"></energytable-2018-7>
      </ng-template>
    </ion-col>

    <!-- History -->
    <ion-col size="12" size-md="8" size-lg="4">
      <history [edge]="edge" [config]="config"></history>


      <!-- Widgets -->
      <!-- todo: place widgets 'reactable' to the right -->
      <ng-container *ngFor="let widget of widgets">
        <ng-container *ngIf="edge.isVersionAtLeast('2018.8'); else version_2018_7">
          <!-- No widgets yet for 2018.8 -->
        </ng-container>
        <ng-template #version_2018_7>
          <ion-col size="12" size-md="8" size-lg="4">
            <evcs-2018-7 *ngIf="widget == 'EVCS'" [edge]="edge" [currentData]="currentData" [config]="config"></evcs-2018-7>
            <channelthreshold-2018-7 *ngIf="widget == 'CHANNELTHRESHOLD'" [edge]="edge" [currentData]="currentData" [config]="config"></channelthreshold-2018-7>
          </ion-col>
        </ng-template>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>