<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card button (click)="presentModal()">
            <ion-item color="light" lines="full">
                <ion-avatar slot="start">
                    <img src="assets/img/grid.png">
                </ion-avatar>
                <ion-label translate>General.grid</ion-label>
            </ion-item>
            <ion-card-content *ngIf="currentData.summary.grid as sum">
                <table class="full_width">
                    <tr class="underline" *ngIf="sum.gridMode == 0 || sum.gridMode == 2">
                        <td colspan="4" translate>General.offGrid</td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.gridBuyAdvanced</td>
                        <td style="width:35%" class="align_right">
                            {{ sum.buyActivePower | unitvalue:'kW' }}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.gridSellAdvanced</td>
                        <td style="width:35%" class="align_right">
                            {{ sum.sellActivePower | unitvalue:'kW' }}
                        </td>
                    </tr>
                </table>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>