<mat-card class="single">
  <mat-card-header>
    <mat-icon mat-card-avatar>stop</mat-icon>
    <mat-card-title>System Execute</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout fxLayout="wrap">
    <form fxLayout fxLayout="wrap" fxFlex>
      <div fxFlex="100%">
        <mat-form-field fxFlex="40%">
          <input type="text" #password placeholder="Passwort" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="30%">
          <input type="text" #timeout placeholder="Timeout" value="5" matInput>
        </mat-form-field>
        <mat-slide-toggle fxFlex #background value="False">Im Hintergrund ausführen</mat-slide-toggle>
      </div>
      <div fxFlex="100%">
        <mat-form-field fxFlex>
          <input type="text" #command placeholder="Befehl" matInput>
        </mat-form-field>
      </div>
      <div fxFlex="100%">
        <button mat-raised-button type=submit (click)="send(password.value, command.value, background.checked, timeout.value)" class="btn btn-default">
          <span>Execute</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="single">
  <mat-card-content fxLayout fxLayout="wrap">
    <div fxFlex="100%">
      <pre>{{ output }}</pre>
    </div>
  </mat-card-content>
</mat-card>
<mat-card class="single" *ngIf="commandLogs.length > 0">
  <mat-card-header>
    <mat-icon mat-card-avatar>stop</mat-icon>
    <mat-card-title>Command log</mat-card-title>
  </mat-card-header>
  <mat-card-content fxLayout fxLayout="wrap">
    <table>
      <tr>
        <th>Timeout</th>
        <th>Background</th>
        <th>Command</th>
        <th></th>
      </tr>
      <tr *ngFor="let commandLog of commandLogs">
        <td>{{ commandLog.timeout }}</td>
        <td>{{ commandLog.background }}</td>
        <td>{{ commandLog.command }}</td>
        <td>
          <button mat-raised-button (click)="timeout.value = commandLog.timeout; background.value = commandLog.background; command.value = commandLog.command"
            class="btn btn-default">
            <span>Repeat</span>
          </button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>