<ng-container *ngIf="edge">

    <!-- Is Edge online? -->
    <ng-container *ngIf="!edge.isOnline; else edgeIsOnline">
        <!-- Edge is Restarting after Update -->
        <ng-container *ngIf="executeUpdate.isEdgeRestarting; else edgeIsOffline">
            <ion-item lines="none">
                <ion-label>Das {{environment.edgeShortName}} wird neu gestartet...<br />
                    (Dies kann bis zu 10 Minuten dauern)</ion-label>
            </ion-item>
            <ion-item lines="none">
                <ion-progress-bar type="indeterminate" style="margin-top: 1%"></ion-progress-bar>
            </ion-item>
        </ng-container>

        <!-- Edge is offline -->
        <ng-template #edgeIsOffline>
            <ion-item lines="none">
                <ion-label>Das {{environment.edgeShortName}} ist offline.</ion-label>
            </ion-item>
        </ng-template>
    </ng-container>

    <ng-template #edgeIsOnline>
        <ng-container *ngIf="executeUpdate?.systemUpdateState as systemUpdateState">
            <ng-container *ngIf="isWaiting; else isNotWaiting">

                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <ng-container *ngIf="systemUpdateState.unknown">
                                <!-- Update State is unknown  -->
                                <ng-container *ngIf="!executeUpdate.canNotBeUpdated; else canNotBeUpdated">
                                    <ion-item lines="none">
                                        <ion-label>Suche nach Updates...</ion-label>
                                    </ion-item>
                                </ng-container>

                                <ng-template #canNotBeUpdated>
                                    <ion-item lines="none">
                                        <ion-label>System kann nicht geupdated werden!</ion-label>
                                    </ion-item>
                                </ng-template>
                            </ng-container>

                            <ng-container *ngIf="systemUpdateState.running as state">
                                <!-- Update is running -->
                                <ion-item lines="none">
                                    <ion-label>Update wird ausgeführt...<br />(Dies kann bis zu 10 min dauern)
                                    </ion-label>
                                </ion-item>
                                <ion-item lines="none">
                                    <percentagebar [value]="state.percentCompleted"></percentagebar>
                                </ion-item>
                            </ng-container>
                        </ion-col>
                        <ion-col>
                            <div style="height: 3vh">
                                <ngx-spinner [name]="spinnerId"></ngx-spinner>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <!-- Debug Logs -->
                <ng-container *ngIf="environment.debugMode && systemUpdateState.running as state">
                    <div *ngIf="state.logs.length > 0">
                        <p style="cursor: pointer" (click)="showLog = !showLog">
                            <ion-icon *ngIf="!showLog" name="arrow-down-circle-outline">
                            </ion-icon>
                            <ion-icon *ngIf="showLog" name="arrow-up-circle-outline">
                            </ion-icon>
                            <span>&nbsp;Details</span>
                        </p>
                        <p *ngIf="showLog">
                            <ng-container *ngFor="let log of state.logs">
                                <small>{{ log }}</small><br />
                            </ng-container>
                        </p>
                    </div>
                </ng-container>

            </ng-container>
            <ng-template #isNotWaiting>

                <ng-container *ngIf="systemUpdateState.updated as state">
                    <!-- Latest update is installed -->
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>Installierte Version:</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ state.version }}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col size="12">
                                <ion-item lines="none">
                                    <ion-label color="success">Das System ist auf dem aktuellsten Softwarestand
                                    </ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>

                <ng-container *ngIf="systemUpdateState.available as state">
                    <!-- Update is available -->
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>Installierte Version:</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ state.currentVersion }}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>Neueste Version:</ion-label>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-label>{{ state.latestVersion }}</ion-label>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col></ion-col>
                            <ion-col>
                                <ion-item lines="none">
                                    <ion-button (click)="executeSystemUpdate()">Neueste Version installieren
                                    </ion-button>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ng-container>

            </ng-template>
        </ng-container>
    </ng-template>
</ng-container>