:org.apache.felix.configadmin.revision:=L"3"
alias="PV\ West"
datasource.id="datasource1"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.ProductionMeter.Acting.b5ec21fa-6763-4a27-b1e0-58265bc2ee46))(|(id\=datasource1)))"
enabled=B"true"
id="meter1"
maxActivePower=""
minActivePower=""
service.factoryPid="Simulator.ProductionMeter.Acting"
service.pid="Simulator.ProductionMeter.Acting.b5ec21fa-6763-4a27-b1e0-58265bc2ee46"
