:org.apache.felix.configadmin.revision:=L"2"
alias="PV\ East"
datasource.id="datasource2"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.ProductionMeter.Acting.f9ce1378-d6c1-48fd-93bb-d7b0f24c64e1))(|(id\=datasource2)))"
enabled=B"true"
id="meter2"
maxActivePower=""
minActivePower=""
service.factoryPid="Simulator.ProductionMeter.Acting"
service.pid="Simulator.ProductionMeter.Acting.f9ce1378-d6c1-48fd-93bb-d7b0f24c64e1"
