<form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="save(form)" class="form-horizontal">
  <div class="form-group">
    <label for="class" class="col-sm-2 control-label">Wochenplan</label>
    <div class="col-sm-10">
      <ul class="nav nav-tabs">
        <li *ngFor="let day of days" role="presentation" [class.active]="day.active"><a (click)="setDayActive(day)">{{day.label}}</a></li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div *ngFor="let day of days">
        <form-scheduler-weektime-hours *ngIf="day.active" [form]="form" [day]="day.key" [connection]="_connection"></form-scheduler-weektime-hours>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Tagesplan speichern</button>
    </div>
  </div>
</form>