<div *ngIf="backend == 'openems'" fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div *ngFor="let form of forms" fxFlex="50%" fxFlex.xs="100%">
    <form [formGroup]="form" (ngSubmit)="doLogin(form)">
      <md-card class="single">
        <md-card-header>
          <md-icon *ngIf="form._websocket.isConnected" md-card-avatar>play_arrow</md-icon>
          <md-icon *ngIf="!form._websocket.isConnected" md-card-avatar>stop</md-icon>
          <md-card-title>{{form._websocket.name}}</md-card-title>
          <md-card-subtitle>{{form._websocket.url}}</md-card-subtitle>
        </md-card-header>
        <md-card-content fxLayout fxLayoutWrap="wrap">
          <p>Testversion: bitte melden Sie sich mit dem Passwort "<strong>admin</strong>" an.</p>
          <md-input-container *ngIf="!form._websocket.isConnected" fxFlex="100%"><input formControlName="password" md-input type="password" placeholder="Passwort"></md-input-container>
          <p fxFlex="100%">{{(form._websocket.event | async)?.message}}</p>
        </md-card-content>
        <md-card-actions fxLayout fxLayoutAlign="end start">
          <button type="submit" md-fab *ngIf="!form._websocket.isConnected" (click)="doLogin(form)" color="primary"><md-icon>check</md-icon></button>
          <button type="button" md-fab *ngIf="form._websocket.isConnected" (click)="doLogout(form)" color="accent"><md-icon>close</md-icon></button>
        </md-card-actions>
      </md-card>
    </form>
  </div>
</div>

<div *ngIf="backend == 'femsserver'" fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div *ngFor="let form of forms" fxFlex="50%" fxFlex.xs="100%">
    <form [formGroup]="form" (ngSubmit)="doLogin(form)">
      <md-card class="single">
        <md-card-header>
          <md-icon *ngIf="form._websocket.isConnected" md-card-avatar>play_arrow</md-icon>
          <md-icon *ngIf="!form._websocket.isConnected" md-card-avatar>stop</md-icon>
          <md-card-title>{{form._websocket.name}}</md-card-title>
          <md-card-subtitle>{{form._websocket.url}}</md-card-subtitle>
        </md-card-header>
        <md-card-content fxLayout fxLayoutWrap="wrap">
          <p fxFlex="100%">{{(form._websocket.event | async)?.message}}</p>
        </md-card-content>
      </md-card>
    </form>
  </div>
</div>