<div class="flex-container" fxLayout="row" fxLayoutAlign="center center">
  <div class="flex-item" fxFlex="80%">
    <md-card *ngFor="let form of forms">
      <md-card-title>{{form._websocket.name}} <span class="glyphicon" [ngClass]="{'glyphicon-ok': form._websocket.isConnected, 'glyphicon-remove': !form._websocket.isConnected}"
          aria-hidden="true"></span></md-card-title>
      <md-card-content>
        <form class="form-inline" [formGroup]="form" (ngSubmit)="loginOrLogout(form)">
          <div class="form-group" *ngIf="!form._websocket.isConnected">
            <input type="text" class="form-control" id="password" type="password" placeholder="Passwort" required="" name="password"
              formControlName="password" />
          </div>
          <button *ngIf="!form._websocket.isConnected" type="submit" class="btn btn-default">Anmelden</button>
          <button *ngIf="form._websocket.isConnected" type="submit" class="btn btn-default">Abmelden</button>
          <span> {{(form._websocket.event | async)?.message}}</span>
        </form>
      </md-card-content>
    </md-card>
  </div>
</div>