<svg:path [ATTR.D]="outlinePath" fill="var(--ion-color-light)" stroke="var(--ion-color-medium-soft)"></svg:path>
<svg:path *ngIf="isEnabled" [ATTR.D]="valuePath" fill="var(--ion-color-dark)" stroke="var(--ion-color-dark)"></svg:path>
<svg:g *ngIf="isEnabled && energyFlow">
    <svg:defs>
        <svg:linearGradient [ATTR.ID]="sectionId" [ATTR.X1]="ENERGY_FLOW.GRADIENT.X1" [ATTR.Y1]="ENERGY_FLOW.GRADIENT.Y1"
            [ATTR.X2]="ENERGY_FLOW.GRADIENT.X2" [ATTR.Y2]="ENERGY_FLOW.GRADIENT.Y2">
            <svg:stop offset="0%" stop-color="var(--ion-item-background)" />
            <svg:stop offset="100%" stop-color="var(--ion-color-dark)" />
        </svg:linearGradient>
    </svg:defs>
    <svg:polygon [ATTR.POINTS]="ENERGY_FLOW.POINTS" ATTR.FILL="{{ fillRef }}" />
    <ng-container *ngIf="buyAnimationTrigger">
        <svg:polygon [@GridBuy]="stateNameBuy" [ATTR.POINTS]="ENERGY_FLOW.ANIMATION_POINTS"
            style="fill: var(--ion-item-background)" />
    </ng-container>
    <ng-container *ngIf="sellAnimationTrigger">
        <svg:polygon [@GridSell]="stateNameSell" [ATTR.POINTS]="ENERGY_FLOW.ANIMATION_POINTS"
            style="fill: var(--ion-item-background)" />
    </ng-container>
</svg:g>
<svg:g *ngIf="isEnabled && squarePosition && square"
    ATTR.TRANSFORM="translate({{SQUARE_POSITION.X}},{{SQUARE_POSITION.Y}})">
    <svg:text [ATTR.X]="SQUARE.VALUE_TEXT.X" [ATTR.Y]="SQUARE.VALUE_TEXT.Y" [ATTR.TEXT-anchor]="SQUARE.VALUE_TEXT.ANCHOR"
        font-family="sans-serif" font-size="SQUARE.VALUE_TEXT.FONTSIZE" fill="var(--ion-text-color)">
        <ng-container *ngIf="valueText; else no_text">{{valueText}}</ng-container>
        <ng-template #no_text>-</ng-template>
    </svg:text>
    <svg:use style="color: var(--ion-color-dark)" [ATTR.X]="SQUARE.IMAGE.X" [ATTR.Y]="SQUARE.IMAGE.Y"
        [ATTR.WIDTH]="SQUARE.IMAGE.LENGTH" [ATTR.HEIGHT]="SQUARE.IMAGE.LENGTH"
        [ATTR.HREF]="SQUARE.IMAGE.IMAGE + '#root'">
    </svg:use>
</svg:g>
