<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let form of forms" size="12" size-xl="6">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon size="large" slot="start" name="globe-outline" color="primary"></ion-icon>
            <ion-label> {{ FORM.NAME === 'eth0' ? 'LAN' : FORM.NAME + ' (INTERNAL)' }}</ion-label>
            <ion-text translate>EDGE.NETWORK.ADVANCED_MODE</ion-text>
            <ion-toggle mode="md" (ionChange)="FORM.MODEL.ADVANCED_MODE = !FORM.MODEL.ADVANCED_MODE; 
              hideOrShowFields(form)">
            </ion-toggle>
            <oe-help-button key="SETTINGS_NETWORK_CONFIGURATION"></oe-help-button>
          </ion-item>
          <ion-card-content>
            <form (ngSubmit)="submit(form)">
              <formly-form [form]="FORM.FORM_GROUP" [fields]="FORM.FIELDS" [model]="FORM.MODEL">
              </formly-form>
              <ion-item>
                <ion-button [disabled]="FORM.FORM_GROUP.PRISTINE" type="submit" color="primary">
                  {{ 'EDGE.NETWORK.SUBMIT' | translate}}
                </ion-button>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
