<header></header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col *ngFor="let form of forms; let i = index" size="12" size-xl="6">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon size="large" slot="start" name="globe-outline" color="primary"></ion-icon>
            <ion-label> {{ form.name === 'eth0' ? 'LAN' : form.name + ' (INTERNAL)' }}</ion-label>
            <ion-text translate>Edge.Network.advancedMode</ion-text>
            <ion-toggle (ionChange)="form.model.advancedMode = !form.model.advancedMode; 
              hideOrShowFields(i,form.model.advancedMode)">
            </ion-toggle>
            <oe-help-button key="SETTINGS_NETWORK_CONFIGURATION"></oe-help-button>
          </ion-item>
          <ion-card-content>
            <form (ngSubmit)="submit(form)">
              <formly-form [form]="form.formGroup" [fields]="form.fields" [model]="form.model">
              </formly-form>
              <ion-item>
                <ion-button [disabled]="form.formGroup.pristine" type="submit" color="primary">
                  {{ 'Edge.Network.submit' | translate}}
                </ion-button>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>