<ion-card button (click)="presentModal()" *ngIf="component">
    <ion-item lines="full" color="light">
        <ion-icon slot="start" size="large" color="primary" name="trending-down"></ion-icon>
        <ion-label>Peakshaving</ion-label>
    </ion-item>
    <ion-card-content class="underline">
        <table class="full_width">
            <tr>
                <td style="width: 65%" translate>
                    General.currentValue
                </td>
                <td style="width: 35%" class="align_right"
                    *ngIf="edge.currentData['_value'].channel[this.component.properties['meter.id'] + '/ActivePower'] >= 0">
                    {{edge.currentData['_value'].channel[this.component.properties['meter.id'] + '/ActivePower'] | unitvalue:'kW'}}
                </td>
                <td style="width: 35%" class="align_right"
                    *ngIf="edge.currentData['_value'].channel[this.component.properties['meter.id'] + '/ActivePower'] < 0">
                    {{0 | unitvalue:'kW'}}
                </td>
            </tr>
            <tr>
                <td style="width: 65%" translate>
                    Edge.Index.Widgets.Peakshaving.peakshavingPower
                </td>
                <td style="width:35%" class="align_right">
                    {{component.properties.peakShavingPower | unitvalue:'kW'}}
                </td>
            </tr>
            <tr>
                <td style="width: 65%" translate>
                    Edge.Index.Widgets.Peakshaving.rechargePower
                </td>
                <td style="width:35%" class="align_right">
                    {{component.properties.rechargePower | unitvalue:'kW'}}
                </td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>