<div *ngIf="form" [formGroup]="form">
  <div formGroupName="scheduler">
    <div formArrayName="controllers">
      <div *ngFor="let controller of form.controls.scheduler.controls.controllers.controls; let i=index" [formGroupName]="i" class="panel panel-default" [class.panel-danger]="controller._deleted">
        <div class="panel-heading clearfix">
          <div class="pull-right">
            <button (click)="controller._opened = !controller._opened" type="button" class="btn btn-default" title="Open Controller">
              <span class="glyphicon glyphicon-menu-down"></span>
            </button>
            <button (click)="deleteController(form.controls.scheduler.controls.controllers, i)" type="button" class="btn btn-default" title="Remove Controller">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </div>
          <h4 class="pull-left">{{controller.value.id}} <small>{{controller.value.class}}</small></h4>
        </div>
        <div *ngIf="controller._opened" class="panel-body form-horizontal">
          <!-- New -->
          <form-controller-new *ngIf="!(controller.value.id && controller.value.class)" [form]="controller"></form-controller-new>
          <div *ngIf="controller.value.id && controller.value.class" [ngSwitch]="controller.value.class">
            <!-- Defined views -->
            <form-controller-websocketapi *ngSwitchCase="'io.openems.impl.controller.api.websocket.WebsocketApiController'" [form]="controller"></form-controller-websocketapi>
            <form-controller-restapi *ngSwitchCase="'io.openems.impl.controller.api.rest.RestApiController'" [form]="controller"></form-controller-restapi>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading clearfix">
          <h4 class="pull-left"></h4>
          <div class="pull-right">
            <button (click)="addController()" type="button" class="btn btn-default" title="Add Controller">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>