<mat-card class="single">
  <mat-card-header>TODO: migrate SimulatorComponent to new config layout</mat-card-header>
</mat-card>

<div *ngIf="edge | async" fxLayout fxLayout="wrap">
  <div *ngFor="let form of forms" fxFlex.gt-xs="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>explore</mat-icon>
        <mat-card-title>Simulator</mat-card-title>
        <mat-card-subtitle>{{ form.id }}: {{ form.class }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="form.gridMeter">
        <div fxLayout fxLayout="wrap" [formGroup]="form.gridMeter">
          <div fxFlex="200px">
            <p style="font-weight: bold">Grid-Meter</p>
            <p>Id: {{ form.gridMeter.value.id }}
              <br>Producer-Id: {{ form.gridMeter.value.producer | json }}
              <br>Ess-Id: {{ form.gridMeter.value.esss | json }}
            </p>
          </div>
          <div fxFlex fxLayout fxLayout="wrap">
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="Frequency" formControlName="frequency" type="number" matInput>
            </mat-form-field>
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="Voltage" formControlName="voltage" type="number" matInput>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="form.gridMeter" style="text-align: right">
        <button (click)="save(form.gridMeter)" [disabled]="form.gridMeter.pristine" color="primary" mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content *ngIf="form.productionMeter">
        <div fxLayout fxLayout="wrap" [formGroup]="form.productionMeter">
          <div fxFlex="200px">
            <p style="font-weight: bold">Production-Meter</p>
            <p>Id: {{ form.productionMeter.value.id }}</p>
          </div>
          <div fxFlex fxLayout fxLayout="wrap">
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="Frequency" formControlName="frequency" type="number" matInput>
            </mat-form-field>
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="Voltage" formControlName="voltage" type="number" matInput>
            </mat-form-field>
            <span fxFlex.gt-xs="75%" fxFlex.xs="100%">ActivePowerGeneratorConfig</span>
            <textarea fxFlex.gt-xs="75%" fxFlex.xs="100%" rows="auto" [value]="setJsonObjectToString(form.productionMeter.controls.activePowerGeneratorConfig)"
              type="text"></textarea>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="form.productionMeter" style="text-align: right">
        <button (click)="save(form.productionMeter)" [disabled]="form.productionMeter.pristine" color="primary" mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>

      <mat-card-content *ngIf="form.symmetricEss">
        <div fxLayout fxLayout="wrap" [formGroup]="form.symmetricEss">
          <div fxFlex="200px">
            <p style="font-weight: bold">Symmetric ESS</p>
            <p>Id: {{ form.symmetricEss.value.id }}</p>
          </div>
          <div fxFlex fxLayout fxLayout="wrap">
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="Grid Mode" formControlName="GridMode" type="number" matInput>
            </mat-form-field>
            <span>(0=On-Grid,1=Off-Grid)</span>
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="System State" formControlName="SystemState" type="number" matInput>
            </mat-form-field>
            <span>(1=Start,2=Stop,5=Fehler)</span>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="form.symmetricEss" style="text-align: right">
        <button (click)="save(form.symmetricEss)" [disabled]="form.symmetricEss.pristine" color="primary" mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content *ngIf="form.asymmetricEss">
        <div fxLayout fxLayout="wrap" [formGroup]="form.asymmetricEss">
          <div fxFlex="200px">
            <p style="font-weight: bold">Asymmetric ESS</p>
            <p>Id: {{ form.asymmetricEss.value.id }}</p>
          </div>
          <div fxFlex fxLayout fxLayout="wrap">
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="ActivePower overwrite" formControlName="Power" type="number" matInput>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="form.asymmetricEss" style="text-align: right">
        <button (click)="save(form.asymmetricEss)" [disabled]="form.asymmetricEss.pristine" color="primary" mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>
      <mat-card-content *ngIf="form.charger">
        <div fxLayout fxLayout="wrap" [formGroup]="form.charger">
          <div fxFlex="200px">
            <p style="font-weight: bold">Charger</p>
            <p>Id: {{ form.charger.value.id }}</p>
          </div>
          <div fxFlex fxLayout fxLayout="wrap">
            <mat-form-field fxFlex.gt-xs="50%" fxFlex.xs="100%">
              <input placeholder="Power" formControlName="powerConfig" type="number" matInput>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions *ngIf="form.charger" style="text-align: right">
        <button (click)="save(form.charger)" [disabled]="form.charger.pristine" color="primary" mat-mini-fab>
          <mat-icon>save</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex.gt-xs="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>explore</mat-icon>
        <mat-card-title>Data</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngFor="let thing of keys(data)">
          <h3>{{ thing }}</h3>
          <div *ngFor="let channel of keys(data[thing])">
            <span>{{ channel }}:{{ data[thing][channel].value }}</span>
            <!--<div>
              <span *ngFor="let record of data[thing][channel]">
                {{ record.name }} <b>{{ record.value }}</b><br/>
              </span>
              <ngx-charts-line-chart [results]="data[thing][channel]" gradient="false" xAxis="true" yAxis="true" autoScale="true">
              </ngx-charts-line-chart>
          </div>-->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>