<div *ngIf="(websocket.currentDevice | async) as device" fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <ng-container *ngIf="(device.config | async) as config">
    <!--call bridge configuration-->
    <div fxFlex="50%" fxFlex.xs="100%">
      <md-card routerLink="/device/{{ device.name }}/config/bridge" class="single">
        <md-card-header>
          <md-icon md-card-avatar>device_hub</md-icon>
          <md-card-title translate>Device.Config.Overview.Bridge</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list dense fxLayout fxLayoutWrap="wrap">
            <md-list-item *ngFor="let bridgeId of config.bridges" fxFlex="50%">
              <p md-line>{{ config.things[bridgeId].class | classname }}</p>
              <p md-line><small>{{ bridgeId }}</small></p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <!--call scheduler configuration-->
    <div fxFlex="50%" fxFlex.xs="100%">
      <md-card routerLink="/device/{{ device.name }}/config/scheduler" class="single">
        <md-card-header>
          <md-icon md-card-avatar>schedule</md-icon>
          <md-card-title translate>Device.Config.Overview.Scheduler</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list dense fxLayout fxLayoutWrap="wrap">
            <md-list-item *ngIf="config.scheduler as schedulerId" fxFlex="50%">
              <p md-line>{{ config.things[schedulerId].class | classname }}</p>
              <p md-line><small>{{ schedulerId }}</small></p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <!--call controller configuration-->
    <div routerLink="/device/{{ device.name }}/config/controller" fxFlex="50%" fxFlex.xs="100%">
      <md-card class="single">
        <md-card-header>
          <md-icon md-card-avatar>apps</md-icon>
          <md-card-title translate>Device.Config.Overview.Controller</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list dense fxLayout fxLayoutWrap="wrap">
            <md-list-item *ngFor="let controllerId of config.controllers" fxFlex="50%">
              <p md-line>{{ config.things[controllerId].class | classname }}</p>
              <p md-line><small>{{ controllerId }}</small></p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <!-- call simulator ui: -->
    <ng-container *ngIf="config.simulatorDevices">
      <!-- TODO there could be more than one -->
      <div routerLink="/device/{{ device.name }}/config/simulator" fxFlex="50%" fxFlex.xs="100%">
        <md-card class="single">
          <md-card-header>
            <md-icon md-card-avatar>explore</md-icon>
            <md-card-title translate>Device.Config.Overview.Simulator</md-card-title>
          </md-card-header>
          <md-card-content>
            <md-list dense fxLayout fxLayoutWrap="wrap">
              <md-list-item fxFlex="50%">
                <p md-line><span translate>Device.Config.Overview.ExecuteSimulator</span></p>
              </md-list-item>
            </md-list>
          </md-card-content>
        </md-card>
      </div>
    </ng-container>
    <!-- call log -->
    <div routerLink="/device/{{ device.name }}/log" fxFlex="50%" fxFlex.xs="100%">
      <md-card class="single">
        <md-card-header>
          <md-icon md-card-avatar>code</md-icon>
          <md-card-title translate>Device.Config.Overview.Log</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list dense fxLayout fxLayoutWrap="wrap">
            <md-list-item fxFlex="50%">
              <p md-line><span translate>Device.Config.Overview.LiveLog</span></p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
    <!--call more configuration-->
    <div *ngIf="device.role.isAtLeast('admin')" routerLink="/device/{{ device.name }}/config/more" fxFlex="50%" fxFlex.xs="100%">
      <md-card class="single">
        <md-card-header>
          <md-icon md-card-avatar>more_horiz</md-icon>
          <md-card-title translate>General.More</md-card-title>
        </md-card-header>
        <md-card-content>
          <md-list dense fxLayout fxLayoutWrap="wrap">
            <md-list-item fxFlex="50%">
              <p md-line><span translate>Device.Config.Overview.ManualControl</span></p>
            </md-list-item>
          </md-list>
        </md-card-content>
      </md-card>
    </div>
  </ng-container>
</div>