<div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/more/directcontrol" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>Direct Control</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/more/rawconfig" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>Display technical data</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/all" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>All Config</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div routerLink="/config/debugmode" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>Debug Mode</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/more/systemexecute" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>System Execute</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>