<div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div *ngIf="device" fxFlex="50%" fxFlex.xs="100%">
    <refu [device]="device"></refu>
  </div>

  <div *ngIf="device" fxFlex="50%" fxFlex.xs="100%">
    <manualpq [device]="device"></manualpq>
  </div>

  <div fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>stop</mat-icon>
        <mat-card-title translate>Device.Config.More.ManualCommand</mat-card-title>
      </mat-card-header>
      <mat-card-content [formGroup]="manualMessageForm" fxLayout fxLayoutWrap="wrap">
        <div fxFlex="100%" fxLayout>
          <mat-input-container fxFlex="100%"><input formControlName="message" placeholder="JSON" matInput></mat-input-container>
          <div fxFlex></div>
        </div>
        <div fxFlex="100%">
          <button mat-raised-button (click)="sendManualMessage(manualMessageForm)" class="btn btn-default"><span translate>Device.Config.More.Send</span></button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/more/rawconfig" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>Display technical data</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/all" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>All Config</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div routerLink="/config/debugmode" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>Debug Mode</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="device" routerLink="/device/{{ device.name }}/config/more/systemexecute" fxFlex="50%" fxFlex.xs="100%">
    <mat-card class="single">
      <mat-card-header>
        <mat-icon mat-card-avatar>more_horiz</mat-icon>
        <mat-card-title translate>System Execute</mat-card-title>
        <!-- TODO translate -->
      </mat-card-header>
      <mat-card-content>
      </mat-card-content>
    </mat-card>
  </div>
</div>