<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ng-container *ngIf="currentData.summary.system as sum">
            <ng-container *ngIf="roleState == 'admin'">
                <ion-button (click)="presentSingleStatusModal()"
                    *ngIf="service.currentPage == 'IndexLive' || service.currentPage == 'IndexHistory' || service.currentPage == 'EdgeSettings'"
                    color="light" fill="solid" shape="round">
                    <ng-container [ngSwitch]="sum.state">
                        <ion-icon *ngSwitchCase="0" color="success" name="checkmark-circle-outline"></ion-icon>
                        <ion-icon *ngSwitchCase="1" color="success" name="information-outline"></ion-icon>
                        <ion-icon *ngSwitchCase="2" color="warning" name="alert-outline"></ion-icon>
                        <ion-icon *ngSwitchCase="3" color="danger" name="alert-outline"></ion-icon>
                    </ng-container>
                </ion-button>
            </ng-container>

            <ng-container *ngIf="roleState == 'owner'">
                <ng-container *ngIf="sum.state == 2 || sum.state == 3">
                    <ion-button (click)="presentSingleStatusModal()"
                        *ngIf="service.currentPage == 'IndexLive' || service.currentPage == 'IndexHistory' || service.currentPage == 'EdgeSettings'"
                        color="light" fill="solid" shape="round">
                        <ng-container [ngSwitch]="sum.state">
                            <ion-icon *ngSwitchCase="2" color="warning" name="alert-outline"></ion-icon>
                            <ion-icon *ngSwitchCase="3" color="danger" name="alert-outline"></ion-icon>
                        </ng-container>
                    </ion-button>
                </ng-container>
            </ng-container>

        </ng-container>
    </ng-container>
</ng-container>