<flat-widget [components]="essComponents" [channelAdresses]="channelAdresses" [img]="storageItem"
    title="General.storageSystem">
    <ng-container *ngFor="let ess of essComponents">

        <flat-widget-line [title]="ess.alias"></flat-widget-line>
        <flat-widget-percentagebar [channels]="ess.id + '/Soc'"></flat-widget-percentagebar>
        <flat-widget-line title="General.chargePower" [channels]="ess.id + '/ActivePower'"></flat-widget-line>
        <flat-widget-line title="General.dischargePower" [channels]="ess.id + '/ActivePower'"></flat-widget-line>

    </ng-container>
</flat-widget>