<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card button (click)="presentModal()">

            <flat-widget-header icon="assets/img/selfconsumption.png" title="selfConsumption" color="dark">
            </flat-widget-header>
            <ion-card-content *ngIf="currentData.summary as sum">

                <percentagebar [value]="sum.system.selfConsumption"></percentagebar>

            </ion-card-content>

        </ion-card>
    </ng-container>
</ng-container>