<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card button (click)="presentModal()">
            <ion-item lines="full" color="light">
                <ion-avatar slot="start">
                    <img src="assets/img/selfconsumption.png">
                </ion-avatar>
                <ion-label translate>General.SelfConsumption</ion-label>
            </ion-item>
            <ion-card-content *ngIf="currentData.summary as sum">
                <ion-grid>
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%">
                                <percentagebar [percentageValue]="sum.system.selfConsumption"></percentagebar>
                            </td>
                        </tr>
                    </table>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>