<div fxLayout fxLayoutAlign="start start" fxLayout="row wrap">

  <!--<mat-card fxFlex="100%" class="single_leftright single_top">
  </mat-card>-->

  <ng-container *ngIf="currentData && config">
    <ng-container *ngFor="let thing of config.evcsDevices">
      <mat-card class="single" fxFlex="100%">
        <mat-card-header>
          <img src="assets/img/evcs.png" mat-card-avatar/>
          <mat-card-title translate>Edge.Overview.Widgets.EVCS.ChargingStation</mat-card-title>
          <mat-card-subtitle>{{ thing }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content *ngIf="currentData.data[thing] as data">
          <table class="full_width">
            <ng-container *ngIf="data.State != null">
              <tr>
                <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.Status</td>
                <td colspan="3" class="align_right" style="width:50%" [ngSwitch]="data.State">
                  <ng-container *ngSwitchCase="'0'" translate>Edge.Overview.Widgets.EVCS.Starting</ng-container>
                  <ng-container *ngSwitchCase="'1'" translate>Edge.Overview.Widgets.EVCS.NotReadyForCharging</ng-container>
                  <ng-container *ngSwitchCase="'2'" translate>Edge.Overview.Widgets.EVCS.ReadyForCharging</ng-container>
                  <ng-container *ngSwitchCase="'3'" translate>Edge.Overview.Widgets.EVCS.Charging</ng-container>
                  <ng-container *ngSwitchCase="'4'" translate>Edge.Overview.Widgets.EVCS.Error</ng-container>
                  <ng-container *ngSwitchCase="'5'" translate>Edge.Overview.Widgets.EVCS.NotAuthorized</ng-container>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.Plug != null">
              <tr class="underline">
                <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.Cable</td>
                <td colspan="3" class="align_right" style="width:50%" [ngSwitch]="data.Plug">
                  <!--TODO translate-->
                  <ng-container *ngSwitchCase="'0'" translate>Edge.Overview.Widgets.EVCS.Unplugged</ng-container>
                  <ng-container *ngSwitchCase="'1'" translate>Edge.Overview.Widgets.EVCS.ChargingStationPluggedIn</ng-container>
                  <ng-container *ngSwitchCase="'3'" translate>Edge.Overview.Widgets.EVCS.ChargingStationPluggedInLocked</ng-container>
                  <ng-container *ngSwitchCase="'5'" translate>Edge.Overview.Widgets.EVCS.ChargingStationPluggedInEV</ng-container>
                  <ng-container *ngSwitchCase="'7'" translate>Edge.Overview.Widgets.EVCS.ChargingStationPluggedInEVLocked</ng-container>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.CurrUser != null">
              <tr>
                <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.ChargingLimit</td>
                <td style="width:15%"></td>
                <td style="width:35%" class="align_right">{{ data.CurrUser | number:'1.0-0' }}</td>
                <td style="width:10%">mA</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.ActualPower != null">
              <tr>
                <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.ChargingPower</td>
                <td style="width:15%"></td>
                <td style="width:35%" class="align_right">{{ data.ActualPower / 1000 | number:'1.0-0' }}</td>
                <td style="width:10%">W</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.EnergySession != null">
              <tr class="underline">
                <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.CurrentCharge</td>
                <td style="width:15%"></td>
                <td style="width:35%" class="align_right">{{ data.EnergySession / 10000 | number:'1.0-0' }}</td>
                <td style="width:10%">kWh</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.EnergyTotal != null">
              <tr class="underline">
                <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.TotalCharge</td>
                <td style="width:15%"></td>
                <td style="width:35%" class="align_right">{{ data.EnergyTotal / 10000 | number:'1.0-0' }}</td>
                <td style="width:10%">kWh</td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let controllerId of config.controllers">
              <ng-container *ngIf="config.things[controllerId].class == 'io.openems.impl.controller.evcs.EvcsController'">
                <ng-container *ngIf="config.things[controllerId] as controller">
                  <tr *ngIf="config.things[controllerId] as controller">
                    <td style="width:50%" translate>Edge.Overview.Widgets.EVCS.EnforceCharging</td>
                    <td colspan="3" class="align_right" style="width:50%">
                      <channel [thingId]="controllerId" channelId="forceCharge" [config]="config" [role]="edge.role" [edge]="edge" title="" style="width:100%"></channel>
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
          </table>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </ng-container>
</div>