<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
        <ng-container *ngIf="component">
            <ion-card button (click)="presentModal()">
                <ion-item lines="full" color="light">
                    <ion-icon slot="start" color="danger" name="flame"></ion-icon>
                    <ion-label>{{ component.alias }}</ion-label>
                </ion-item>
                <ion-card-content>
                    <table class="full_width">
                        <tr [ngSwitch]="currentData[component.id + '/Status']">
                            <td style="width:65%" translate>General.state</td>
                            <td *ngIf="currentData[this.component.id + '/State'] != 3" style="width:35%"
                                class="align_right" translate>
                                <ng-container *ngSwitchCase="-1">
                                    Edge.Index.Widgets.HeatPump.undefined
                                </ng-container>
                                <ng-container *ngSwitchCase="0">
                                    Edge.Index.Widgets.HeatPump.lock
                                </ng-container>
                                <ng-container *ngSwitchCase="1">
                                    Edge.Index.Widgets.HeatPump.normalOperation
                                </ng-container>
                                <ng-container *ngSwitchCase="2">
                                    Edge.Index.Widgets.HeatPump.switchOnRec
                                </ng-container>
                                <ng-container *ngSwitchCase="3">
                                    Edge.Index.Widgets.HeatPump.switchOnCom
                                </ng-container>
                            </td>
                            <td *ngIf="currentData[this.component.id + '/State'] == 3" style="width:35%"
                                class="align_right">
                                <ion-icon name="help-outline"></ion-icon>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:65%" translate>General.mode</td>
                            <td *ngIf="component.properties['mode'] == 'MANUAL'" style="width: 35%" class="align_right"
                                translate>
                                General.manually
                            </td>
                            <td *ngIf="component.properties['mode'] == 'AUTOMATIC'" style="width: 35%"
                                class="align_right" translate>
                                General.automatic
                            </td>
                        </tr>
                    </table>
                </ion-card-content>
            </ion-card>
        </ng-container>
    </ng-container>
</ng-container>