<ng-container *ngIf="(EDGE.CURRENT_DATA | async)['channel'] as currentData">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center"
            style="--background: var(--ion-color-toolbar-primary); color: var(--ion-title-color);">
            <ion-title>
                <ion-label *ngIf="CONFIG.PROPERTIES.ALIAS as alias">
                    {{ alias }}
                </ion-label>
                <ion-label *ngIf="!CONFIG.PROPERTIES.ALIAS" translate>
                    EDGE.INDEX.WIDGETS.EVCS.CHARGING_STATION_CLUSTER
                </ion-label>
            </ion-title>
            <ion-buttons slot="end">
                <oe-help-button key="EVCS_CLUSTER"></oe-help-button>
                <ion-button (click)="cancel()">
                    <ion-icon name="close-outline" style="color: var(--ion-title-color);"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-slides [options]="slideOpts">
            <ion-slide *ngIf="evcsAmount > 1">
                <ion-label style="width: 100%">
                    <ion-header>
                        <ion-toolbar ion-background="transparent">
                            <ion-title style="text-align: center" translate>
                                EDGE.INDEX.WIDGETS.EVCS.OVERVIEW_CHARGING_STATIONS
                            </ion-title>
                            <ion-icon size="large" slot="end" name="arrow-dropright-outline">
                            </ion-icon>
                        </ion-toolbar>
                    </ion-header>
                    <ion-item padding-top class="normalFontSize" lines="none">
                        <table class="full_width">
                            <tr>
                                <td style="width:50%" translate>EDGE.INDEX.WIDGETS.EVCS.AMOUNT_OF_CHARGING_STATIONS
                                </td>
                                <td style="width:5%"></td>
                                <td style="width:45%" class="align_right">
                                    {{ evcsAmount }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:50%">
                                    <ion-label translate>
                                        EDGE.INDEX.WIDGETS.EVCS.TOTAL_CHARGING_POWER
                                    </ion-label>
                                </td>
                                <td style="width:5%"></td>
                                <td style="width:45%" class="align_right">
                                    {{ currentData[componentId + '/ChargePower'] }} W
                                </td>
                            </tr>
                        </table>
                    </ion-item>
                    <ion-item padding-bottom padding-top lines="none">
                        <evcsChart style="width: 90%" [evcsMap]="evcsMap" [edge]="edge" [currentData]="currentData"
                            [evcsConfigMap]="evcsConfigMap" [componentId]="componentId">
                        </evcsChart>
                    </ion-item>
                    <ion-label>
                        <ion-label translate>EDGE.INDEX.WIDGETS.EVCS.PRIORITIZATION</ion-label>:
                        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
                            <ion-item *ngFor="let evcs of prioritizedEvcsList; let i = index" [ATTR.DATA-index]="i"
                                lines="full">
                                <ion-text>{{i+1}}.&nbsp;</ion-text>
                                <ion-label *ngIf="evcsConfigMap[evcs] as evcsConfig">
                                    {{ EVCS_CONFIG.PROPERTIES.ALIAS }}
                                </ion-label>
                                <ion-label *ngIf="!evcsConfigMap[evcs]">
                                    {{ evcs }}
                                </ion-label>
                                <ion-reorder slot="end"></ion-reorder>
                            </ion-item>
                        </ion-reorder-group>
                    </ion-label>
                </ion-label>
            </ion-slide>

        </ion-slides>
    </ion-content>
</ng-container>
