<ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title>
                <ion-label *ngIf="config.properties.alias as alias">
                    {{ alias }}
                </ion-label>
                <ion-label *ngIf="!config.properties.alias" translate>
                    Edge.Index.Widgets.EVCS.chargingStationCluster
                </ion-label>
            </ion-title>
            <ion-buttons slot="end">
                <oe-help-button key="EVCS_CLUSTER"></oe-help-button>
                <ion-button (click)="cancel()">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-slides [options]="slideOpts">
            <ion-slide *ngIf="evcsAmount > 1">
                <ion-label style="width: 100%">
                    <ion-header>
                        <ion-toolbar ion-background="transparent">
                            <ion-title style="text-align: center" translate>
                                Edge.Index.Widgets.EVCS.overviewChargingStations
                            </ion-title>
                            <ion-icon size="large" slot="end" name="arrow-dropright-outline">
                            </ion-icon>
                        </ion-toolbar>
                    </ion-header>
                    <ion-item padding-top class="normalFontSize" lines="none">
                        <table class="full_width">
                            <tr>
                                <td style="width:50%" translate>Edge.Index.Widgets.EVCS.amountOfChargingStations
                                </td>
                                <td style="width:5%"></td>
                                <td style="width:45%" class="align_right">
                                    {{ evcsAmount }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:50%">
                                    <ion-label translate>
                                        Edge.Index.Widgets.EVCS.totalChargingPower
                                    </ion-label>
                                </td>
                                <td style="width:5%"></td>
                                <td style="width:45%" class="align_right">
                                    {{ currentData[componentId + '/ChargePower'] }} W
                                </td>
                            </tr>
                        </table>
                    </ion-item>
                    <ion-item padding-bottom padding-top lines="none">
                        <evcsChart style="width: 90%" [evcsMap]="evcsMap" [edge]="edge" [currentData]="currentData"
                            [evcsConfigMap]="evcsConfigMap" [componentId]="componentId">
                        </evcsChart>
                    </ion-item>
                    <ion-label>
                        <ion-label translate>Edge.Index.Widgets.EVCS.prioritization</ion-label>:
                        <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
                            <ion-item *ngFor="let evcs of prioritizedEvcsList; let i = index" [attr.data-index]="i"
                                lines="full">
                                <ion-text>{{i+1}}.&nbsp;</ion-text>
                                <ion-label *ngIf="evcsConfigMap[evcs] as evcsConfig">
                                    {{ evcsConfig.properties.alias }}
                                </ion-label>
                                <ion-label *ngIf="!evcsConfigMap[evcs]">
                                    {{ evcs }}
                                </ion-label>
                                <ion-reorder slot="end"></ion-reorder>
                            </ion-item>
                        </ion-reorder-group>
                    </ion-label>
                </ion-label>
            </ion-slide>
            <ion-slide *ngIf="evcsAmount >= 1">
                <ion-slides [options]="slideOpts">
                    <ng-container *ngFor="let evcsId of prioritizedEvcsList">
                        <ion-slide>
                            <ion-label style="width: 100%">
                                <ng-container *ngIf="evcsId as evcs_id">
                                    <ion-header>
                                        <ion-toolbar ion-background="transparent">
                                            <ion-icon *ngIf="evcs_id !== prioritizedEvcsList[0] || evcsAmount > 1"
                                                size="large" slot="start" name="arrow-dropleft-outline">
                                            </ion-icon>
                                            <ion-title style="text-align: center">
                                                <ion-label *ngIf="evcsConfigMap[evcs_id] as evcsConfig">
                                                    {{ evcsConfig.properties.alias }}
                                                </ion-label>
                                                <ion-label *ngIf="!evcsConfigMap[evcs_id]">
                                                    {{ evcs_id }}
                                                </ion-label>
                                            </ion-title>
                                            <ion-icon
                                                *ngIf="evcs_id !== prioritizedEvcsList[prioritizedEvcsList.length-1]"
                                                size="large" slot="end" name="arrow-dropright-outline"></ion-icon>
                                        </ion-toolbar>
                                    </ion-header>
                                    <ion-label class="normalFontSize" *ngIf="currentData[evcs_id + '/State'] !== 3">

                                        <ion-item padding-bottom padding-top class="normalFontSize" lines="full">
                                            <table class="full_width">
                                                <tr>
                                                    <td style="width:50%" translate>
                                                        Edge.Index.Widgets.EVCS.chargingPower
                                                    </td>
                                                    <td style="width:50%" class="align_right">
                                                        {{ getState(currentData[evcs_id + "/ChargePower"] |
                                                        number:'1.0-0',
                                                        currentData[evcs_id + "/Status"],
                                                        currentData[evcs_id + "/Plug"], evcsCtrl)}}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="width: 50%" translate>
                                                        Edge.Index.Widgets.EVCS.energySinceBeginning</td>
                                                    <td style="width:50%" class="align_right">
                                                        {{ (currentData[evcs_id + "/EnergySession"] * 0.1) |
                                                        number:'1.0-0' }}
                                                        Wh
                                                    </td>
                                                </tr>
                                            </table>
                                        </ion-item>
                                        <!--Controllable Evcs-->
                                        <ng-container *ngIf="evcsMap[evcs_id] as evcsCtrl">
                                            <ion-item class="normalFontSize" lines="none">
                                                <table class="full_width" class="ion-text-wrap">
                                                    <tr>
                                                        <td style="width:50%" translate>
                                                            Edge.Index.Widgets.EVCS.activateCharging
                                                        </td>
                                                        <td style="width:50%" class="align_right">
                                                            <ion-toggle class="swiper-no-swiping" class="align_right"
                                                                (click)="enableOrDisableCharging($event, evcsCtrl)"
                                                                [checked]="evcsCtrl.properties.enabledCharging">
                                                            </ion-toggle>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3" style="width: 90%">
                                                            <ion-segment
                                                                (ionChange)="updateChargeMode($event, evcsCtrl)"
                                                                value={{evcsCtrl.properties.chargeMode}}>

                                                                <ion-segment-button value="EXCESS_POWER">
                                                                    <ion-item lines="none">
                                                                        <ion-icon style="width:40px"
                                                                            name="sunny-outline">
                                                                        </ion-icon>

                                                                        <ion-label translate>
                                                                            Edge.Index.Widgets.EVCS.OptimizedChargeMode.shortName
                                                                        </ion-label>
                                                                    </ion-item>
                                                                </ion-segment-button>

                                                                <ion-segment-button value="FORCE_CHARGE">
                                                                    <ion-item lines="none">
                                                                        <ion-icon style="width:30px"
                                                                            name="oe-grid-storage">
                                                                        </ion-icon>
                                                                        <ion-label translate>
                                                                            General.Manually
                                                                        </ion-label>
                                                                    </ion-item>
                                                                </ion-segment-button>
                                                            </ion-segment>
                                                        </td>
                                                        <td style="width: 10%">
                                                            <ion-icon style="text-align: right; font-size: 20px"
                                                                style="cursor: pointer"
                                                                name="information-circle-outline"
                                                                (click)="displayInfo = !displayInfo">
                                                            </ion-icon>
                                                        </td>
                                                    </tr>
                                                    <tr *ngIf="displayInfo" style="margin-top: 10px;">
                                                        <td style="width: 45%">
                                                            <ion-label translate class="ion-text-wrap">
                                                                Edge.Index.Widgets.EVCS.OptimizedChargeMode.info
                                                            </ion-label>
                                                        </td>
                                                        <td style="width: 5%"></td>
                                                        <td style="width: 50%" colspan="2">
                                                            <ion-label translate class="ion-text-wrap">
                                                                Edge.Index.Widgets.EVCS.ForceChargeMode.info
                                                            </ion-label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </ion-item>
                                            <ion-item>
                                                <table class="full_width" class="ion-text-wrap">
                                                    <!--Excess Power settings-->
                                                    <tr *ngIf="evcsCtrl.properties.chargeMode === 'EXCESS_POWER'"
                                                        style="margin-top: 20px;">
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td width="50%" translate>
                                                                        Edge.Index.Widgets.EVCS.OptimizedChargeMode.minCharging
                                                                    </td>
                                                                    <td width="50%" style="text-align: right;">
                                                                        <ion-toggle class="swiper-no-swiping"
                                                                            style="margin: 2px;"
                                                                            (ionChange)="allowMinimumChargePower($event, currentData[evcs_id + '/Phases'], evcsCtrl)"
                                                                            [checked]="evcsCtrl.properties.defaultChargeMinPower !== 0">
                                                                        </ion-toggle>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <ion-range class="swiper-no-swiping"
                                                                style="z-index: 10000; page-break-inside: auto"
                                                                *ngIf="evcsCtrl.properties.defaultChargeMinPower !== 0"
                                                                (ionChange)="updateDefaultMinPower($event, evcsCtrl)"
                                                                min="{{ formatNumber(currentData[evcs_id + '/MinimumHardwarePower']) }}"
                                                                max="{{ formatNumber(currentData[evcs_id + '/MaximumHardwarePower']) }}"
                                                                color="dark" pin="true" style="padding-top: 8px;"
                                                                step="100" debounce="1000"
                                                                value="{{evcsCtrl.properties.defaultChargeMinPower}}">
                                                                <ion-label slot="start">
                                                                    {{ formatNumber(currentData[evcs_id +
                                                                    '/MinimumHardwarePower']) | number:'1.0-0'}}
                                                                    &nbsp;W
                                                                </ion-label>
                                                                <ion-label slot="end">
                                                                    {{ formatNumber(currentData[evcs_id +
                                                                    '/MaximumHardwarePower']) | number:'1.0-0'}}&nbsp;W
                                                                </ion-label>
                                                            </ion-range>

                                                            <table class="ion-justify-content-center">
                                                                <tr>
                                                                    <td width="50%">Priorisierung:</td>
                                                                    <td width="50%">
                                                                        <ion-segment ion-width="50%"
                                                                            (ionChange)="priorityChanged($event, evcsCtrl)"
                                                                            value="{{evcsCtrl.properties.priority}}">
                                                                            <ion-segment-button ion-margin="0px"
                                                                                ion-padding="0px" value="CAR">
                                                                                <ion-label lines="none">Auto
                                                                                </ion-label>
                                                                            </ion-segment-button>
                                                                            <ion-segment-button ion-margin="0px"
                                                                                ion-padding="0px" value="STORAGE">
                                                                                <ion-label lines="none">Speicher
                                                                                </ion-label>
                                                                            </ion-segment-button>
                                                                        </ion-segment>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <br>
                                                            <ion-label style="border-radius: 5px;" translate>
                                                                Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.info
                                                            </ion-label>
                                                        </td>
                                                    </tr>
                                                    <!--Force Charge settings-->
                                                    <tr *ngIf="evcsCtrl.properties.chargeMode === 'FORCE_CHARGE'">
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td width="50%" translate>
                                                                        Edge.Index.Widgets.EVCS.ForceChargeMode.maxCharging
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <ion-range class="swiper-no-swiping"
                                                                (ionChange)="updateForceMinPower($event, evcsCtrl, getValueOrThree(currentData[evcs_id + '/Phases']))"
                                                                min="{{ formatNumber(currentData[evcs_id + '/MinimumHardwarePower']) }}"
                                                                max="{{ formatNumber(currentData[evcs_id + '/MaximumHardwarePower']) }}"
                                                                color="dark" pin="true" style="padding-top: 8px;"
                                                                step="100" debounce="1000"
                                                                value="{{evcsCtrl.properties.forceChargeMinPower * getValueOrThree(currentData[evcs_id + '/Phases'])}}">
                                                                <ion-label slot="start">
                                                                    {{ formatNumber(currentData[evcs_id +
                                                                    '/MinimumHardwarePower']) | number:'1.0-0'}}&nbsp;W
                                                                </ion-label>
                                                                <ion-label slot="end">
                                                                    {{ formatNumber(currentData[evcs_id +
                                                                    '/MaximumHardwarePower']) | number:'1.0-0'}}&nbsp;W
                                                                </ion-label>
                                                            </ion-range>
                                                            <ion-label translate class="ion-text-wrap">
                                                                Edge.Index.Widgets.EVCS.ForceChargeMode.maxChargingDetails
                                                            </ion-label>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </ion-item>
                                        </ng-container>
                                        <!--Uncontrollable Evcs-->
                                        <ng-container *ngIf="!evcsMap[evcs_id]">
                                            <ion-item>
                                                <ion-label translate>
                                                    Diese Ladesäule kann nicht gesteuert werden
                                                </ion-label>
                                            </ion-item>
                                        </ng-container>
                                    </ion-label>
                                    <ion-item class="normalFontSize" style="padding-top: 20px"
                                        *ngIf="currentData[evcs_id + '/State'] === 3">
                                        <tr>
                                            <td translate>
                                                Edge.Index.Widgets.EVCS.NoConnection.description
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ul>
                                                    <li translate>Edge.Index.Widgets.EVCS.NoConnection.help1</li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </ion-item>
                                </ng-container>
                            </ion-label>
                        </ion-slide>
                    </ng-container>
                </ion-slides>
            </ion-slide>
        </ion-slides>
    </ion-content>
</ng-container>