<div *ngIf="form" [formGroup]="form">
    <ng-container>
        <!-- array -->
        <div *ngIf="meta.array == true; else no_array" formArrayName="channelConfig" fxFlex="100%" fxLayout>
            <mat-form-field *ngIf="form.value.channelConfig.length == 0" fxFlex="30%">
                <input matInput [placeholder]="title" disabled value=" ">
            </mat-form-field>
            <div *ngFor="let oneChannelConfig of form.value.channelConfig, let i=index" fxFlex="30%">
                <div [ngSwitch]="specialType" fxFlex>
                    <ng-container *ngSwitchCase="'ignore'">
                    </ng-container>
                    <ng-container *ngSwitchCase="'boolean'">
                        <mat-slide-toggle [formControlName]="i">{{ title }}</mat-slide-toggle>
                    </ng-container>
                    <ng-container *ngSwitchCase="'selectNature'">
                        <!-- TODO list all things that are of type {{ deviceNature }} -->
                        <mat-form-field fxFlex="100%">
                            <input matInput [placeholder]="title" [formControlName]="i" [type]="type">
                            <mat-hint *ngIf="i == 0" align="end">{{ meta.description }}</mat-hint>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchCase="'simple'">
                        <mat-form-field fxFlex="100%">
                            <input matInput [placeholder]="title" [formControlName]="i" [type]="type">
                            <mat-hint *ngIf="i == 0" align="end">{{ meta.description }}</mat-hint>
                        </mat-form-field>
                    </ng-container>
                    <ng-container *ngSwitchDefault>Undefined. This should not happen. CH: {{ channelId }}; TY: {{ specialType }}; VAL: {{ form.value | json
                        }}
                    </ng-container>
                </div>
                <div fxFlex="50px">
                    <button (click)="removeFromArray(i)" mat-mini-fab [disabled]="!allowWrite">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
            <div fxFlex="50px">
                <button [disabled]="form.value.channelConfig[form.value.channelConfig.length-1] == '' || !allowWrite" (click)="addToArray()"
                    mat-mini-fab>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <!-- no array -->
        <ng-template #no_array>
            <ng-container [ngSwitch]="specialType">
                <ng-container *ngSwitchCase="'ignore'">
                </ng-container>
                <ng-container *ngSwitchCase="'boolean'">
                    <mat-slide-toggle formControlName="channelConfig">{{ title }}</mat-slide-toggle>
                </ng-container>
                <ng-container *ngSwitchCase="'thing'">
                    <existingthing [thingId]="form.value.channelConfig.id" [device]="device"></existingthing>
                </ng-container>
                <ng-container *ngSwitchCase="'selectNature'">
                    <!-- TODO list all things that are of type {{ deviceNature }} -->
                    <mat-form-field fxFlex="100%">
                        <input matInput [placeholder]="title" formControlName="channelConfig" [type]="type">
                        <mat-hint align="end">{{ meta.description }}</mat-hint>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchCase="'simple'">
                    <mat-form-field fxFlex="100%">
                        <input matInput [placeholder]="title" formControlName="channelConfig" [type]="type">
                        <mat-hint align="end">{{ meta.description }}</mat-hint>
                    </mat-form-field>
                </ng-container>
                <ng-container *ngSwitchDefault>Undefined. This should not happen. CH: {{ channelId }}; TY: {{ specialType }}; VAL: {{ form.value | json
                    }}
                </ng-container>
            </ng-container>
        </ng-template>
    </ng-container>
</div>