<div *ngIf="form" [formGroup]="form" fxLayout fxLayoutWrap="wrap">
    <div formArrayName="form" fxFlex="100%" fxLayout fxLayoutWrap="wrap">
        <div *ngFor="let timeControllers of form.controls.form.controls; let i = index; let last = last; trackBy:trackByFn" fxFlex="100%"
            fxLayout fxLayoutWrap="wrap" style="border: 1px solid lightgray">
            <div fxFlex="100%" [formGroupName]="i" fxLayout fxLayoutWrap="wrap">
                <mat-form-field fxFlex>
                    <input matInput placeholder="title" formControlName="time" type="string">
                    <mat-hint align="end">The time...</mat-hint>
                </mat-form-field>
                <div fxFlex="50px">
                    <button (click)="removeFromTimeControllers(form.controls.form, i)" mat-mini-fab>
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>

                <div formArrayName="controllers" fxFlex="100%" fxLayout fxLayoutWrap="wrap">
                    <div fxFlex="50px"></div>
                    <div fxFlex fxLayout fxLayoutWrap="wrap" style="border: 1px solid lightgray">
                        <div *ngFor="let controllers of timeControllers.controls.controllers.controls; let j = index; trackBy:trackByFn" fxFlex="100%"
                            fxLayout fxLayoutWrap="wrap">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="title" [formControlName]="j" type="string">
                                <mat-hint align="end">The controller...</mat-hint>
                            </mat-form-field>
                            <div fxFlex="50px">
                                <button (click)="removeFromControllers(timeControllers.controls.controllers, j)" mat-mini-fab>
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                        <div fxFlex="50px">
                            <button (click)="addToControllers(timeControllers.controls.controllers)" mat-mini-fab>
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div fxFlex="50px">
            <button (click)="addToTimeControllers(form.controls.form)" mat-mini-fab>
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>