<ng-container *ngIf="edge">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title class="ion-text-start ion-padding-left" translate>General.storageSystem
            </ion-title>
            <ion-buttons slot="start">
                <chartOptions (setShowTotal)='onNotifyTotal($event)' (setShowPhases)='onNotifyPhases($event)'
                    [showTotal]="showTotal" [showPhases]="showPhases"></chartOptions>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button routerLink="/device/{{edge.id}}/history">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card-content class="underline">
            <table class="full_width">
                <tr>
                    <td style="width: 100%" class="ion-padding" translate>General.soc</td>
                </tr>
            </table>
            <socStorageChart style="padding-top: 50px;" [period]="service.historyPeriod"></socStorageChart>
        </ion-card-content>
        <ng-container *ngIf="showTotal">
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 100%" class="ion-padding" translate>General.total</td>
                    </tr>
                </table>
                <storageTotalChart [showPhases]="showPhases" [period]="service.historyPeriod">
                </storageTotalChart>
                <!-- Info Text -->
                <ion-row class="ion-justify-content-center">
                    <ion-item class="ion-text-center" lines="none">
                        <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                        <ion-label class="ion-text-wrap">
                            <ion-row class="ion-text-center" translate>
                                <small translate>
                                    Edge.Index.Widgets.InfoStorageForCharge
                                </small>
                            </ion-row>
                            <ion-row size="6" class="ion-text-center">
                                <small translate>
                                    Edge.Index.Widgets.InfoStorageForDischarge
                                </small>
                            </ion-row>
                        </ion-label>
                    </ion-item>
                </ion-row>
            </ion-card-content>
        </ng-container>
        <ng-container *ngIf="!showTotal">
            <ng-container *ngIf="essComponents?.length === 1">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding" translate>General.total</td>
                        </tr>
                    </table>
                    <storageSingleChart [showPhases]="showPhases" [period]="service.historyPeriod">
                    </storageSingleChart>
                </ion-card-content>
                <!-- Info Text -->
                <ion-card-content class="underline">
                    <ion-row class="ion-justify-content-center">
                        <ion-item class="ion-text-center" lines="none">
                            <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                            <ion-label class="ion-text-wrap">
                                <ion-row class="ion-text-center" translate>
                                    <small translate>
                                        Edge.Index.Widgets.InfoStorageForCharge
                                    </small>
                                </ion-row>
                                <ion-row size="6" class="ion-text-center">
                                    <small translate>
                                        Edge.Index.Widgets.InfoStorageForDischarge
                                    </small>
                                </ion-row>
                            </ion-label>
                        </ion-item>
                    </ion-row>
                </ion-card-content>
            </ng-container>
            <ng-container *ngIf="essComponents?.length > 1">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding" translate>General.total</td>
                        </tr>
                    </table>
                    <storageSingleChart [showPhases]="showPhases" [period]="service.historyPeriod"></storageSingleChart>
                </ion-card-content>
                <ng-container *ngFor="let component of essComponents">
                    <ion-card-content class="underline">
                        <table class="full_width">
                            <tr>
                                <td style="width: 100%" class="ion-padding">
                                    {{ component.alias }}
                                </td>
                            </tr>
                        </table>
                        <storageESSChart [showPhases]="showPhases" [period]="service.historyPeriod"
                            [componentId]="component.id"></storageESSChart>
                    </ion-card-content>
                </ng-container>
                <!-- Info Text -->
                <ion-card-content class="underline">
                    <ion-row class="ion-justify-content-center">
                        <ion-item class="ion-text-center" lines="none">
                            <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                            <ion-label class="ion-text-wrap">
                                <ion-row class="ion-text-center" translate>
                                    <small translate>
                                        Edge.Index.Widgets.InfoStorageForCharge
                                    </small>
                                </ion-row>
                                <ion-row size="6" class="ion-text-center">
                                    <small translate>
                                        Edge.Index.Widgets.InfoStorageForDischarge
                                    </small>
                                </ion-row>
                            </ion-label>
                        </ion-item>
                    </ion-row>
                </ion-card-content>
            </ng-container>
            <ng-container *ngIf="essComponents?.length !== 1">
                <ng-container *ngFor="let component of chargerComponents">
                    <ion-card-content [class.underline]="!isLastElement(component, chargerComponents)">
                        <table class="full_width">
                            <tr>
                                <td style="width: 100%" class="ion-padding">
                                    {{ component.alias }}
                                </td>
                            </tr>
                        </table>
                        <storageChargerChart [period]="service.historyPeriod" [componentId]="component.id">
                        </storageChargerChart>
                    </ion-card-content>
                </ng-container>
            </ng-container>
        </ng-container>
    </ion-content>
</ng-container>