<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/selfconsumptionchart">
  <ion-item lines="full" color="light">
    <ion-icon slot="start" name="oe-consumption" color="environmental" size="large"></ion-icon>
    <ion-label translate>General.selfConsumption</ion-label>
  </ion-item>
  <ion-card-content>
    <table class="full_width">
      <tr>
        <td style="width:100%" *ngIf="selfconsumptionValue && edge; else noData">
          <percentagebar [value]="selfconsumptionValue">
          </percentagebar>
        </td>
        <ng-template #noData>
          <td style="width:35%" class="align_right">
            &nbsp;
          </td>
        </ng-template>
      </tr>
    </table>
  </ion-card-content>
</ion-card>