<ion-footer>
  <ion-item #container color="primary" lines="none"
    style="--min-height: initial !important;font-size: inherit;  font-size: 14px !important;">
    <ion-grid style="padding-top: 0; padding-bottom: 0;">
      <ion-row class="ion-justify-content-center" style="padding-top: 0; padding-bottom: 0;">
        <ion-col *ngIf="backButton" style="text-align: center;" #myIonCol>
          <ion-button color="primary" (click)="location.back()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col [style.opacity]="areButtonsReadyToShow ? '100': '0'" [size]="backButton ? '6':'12'"
          style="text-align: center; white-space: nowrap;">
          <ion-grid class="ion-no-padding" style="padding-top: 0; padding-bottom: 0;">
            <ion-row style="padding-top: 0; padding-bottom: 0;">
              <ion-col #buttonCol [size-lg]="popoverButtons.length > 0 ? '11':'12'"
                [size-md]="popoverButtons.length > 0 ? '8':'4'" [size-sm]="popoverButtons.length > 0 ? '6':'6'">
                <ion-button color="primary" style="--border-color:white" id="{{button.id}}"
                  *ngFor="let button of (buttons)" (click)="button.callback()" #subnavigationbuttons>
                  {{button.alias ?? button.id}}
                </ion-button>
                <ion-button *ngIf="popoverButtons.length > 0" color="primary" id="overflow-popover"
                  (click)="this.showPopover = true;" #popoverButtons>
                  ...
                </ion-button>
                <ion-popover [ngClass]="'custom-ion-popover'" dismissOnSelect="true" [isOpen]="showPopover" side="top"
                  alignment="center" trigger-action="click" trigger="overflow-popover">
                  <ng-template>
                    <ion-content class="ion-padding" text-nowrap>
                      <ion-list [inset]="true" lines="full">
                        <ng-container *ngFor="let popoverbtn of popoverButtons">
                          <ion-item button color="none" lines="full" (click)="togglePopover(popoverbtn)">
                            <ion-label style="white-space: initial;">
                              {{popoverbtn.alias ?? popoverbtn.id}}
                            </ion-label>
                          </ion-item>
                        </ng-container>
                      </ion-list>
                    </ion-content>
                  </ng-template>
                </ion-popover>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-footer>