<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card>
            <ion-item color="light" lines="full">
                <ion-avatar slot="start">
                    <img src="assets/img/grid.png">
                </ion-avatar>
                <ion-label translate>General.Grid</ion-label>
            </ion-item>
            <ion-card-content *ngIf="currentData.summary.grid as sum">
                <ion-grid no-padding>
                    <table class="full_width">
                        <tr class="underline" *ngIf="sum.gridMode == 0 || sum.gridMode == 2">
                            <td colspan="4" translate>General.OffGrid</td>
                        </tr>
                        <tr>
                            <td style="width:50%" translate>General.GridBuy</td>
                            <td style="width:15%"></td>
                            <ng-container *ngIf="sum.buyActivePower != 0; else empty">
                                <td style="width:25%" class="align_right">{{ sum.buyActivePower | number:'1.0-0' }}</td>
                                <td style="width:10%">&nbsp;W</td>
                            </ng-container>
                            <ng-template #empty>
                                <td style="width:25%" class="align_right">-</td>
                                <td style="width:10%"></td>
                            </ng-template>
                        </tr>
                        <tr>
                            <td style="width:50%" translate>General.GridSell</td>
                            <td style="width:15%"></td>
                            <ng-container *ngIf="sum.sellActivePower != 0; else empty">
                                <td style="width:25%" class="align_right">{{ sum.sellActivePower | number:'1.0-0' }}
                                </td>
                                <td style="width:10%">&nbsp;W</td>
                            </ng-container>
                            <ng-template #empty>
                                <td style="width:25%" class="align_right">-</td>
                                <td style="width:10%"></td>
                            </ng-template>
                        </tr>
                    </table>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>