:org.apache.felix.configadmin.revision:=L"1"
alias=""
capacity="2000"
enabled="true"
gridMode="ON_GRID"
id="ess2"
initialSoc="50"
maxApparentPower="2000"
maxChargePower="2000"
maxDischargePower="2000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.ess2"
