<ng-container *ngIf="edge">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title translate>General.consumption</ion-title>
            <ion-buttons slot="start">
                <chartOptions (setShowTotal)='onNotifyTotal($event)' (setShowPhases)='onNotifyPhases($event)'
                    [showTotal]="showTotal" [showPhases]="showPhases"></chartOptions>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button routerLink="/device/{{edge.id}}/history/">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ng-container *ngIf="showTotal">
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 100%" class="ion-padding" translate>General.TOTAL</td>
                    </tr>
                </table>
                <consumptionTotalChart [showPhases]="showPhases" [period]="service.historyPeriod.value">
                </consumptionTotalChart>
            </ion-card-content>
        </ng-container>
        <ng-container *ngIf="!showTotal">
            <ion-card-content [class.underline]="!isOnlyChart">
                <table class="full_width">
                    <tr>
                        <td style="width: 100%" class="ion-padding" translate>General.TOTAL</td>
                    </tr>
                </table>
                <consumptionSingleChart [isOnlyChart]="isOnlyChart" [showPhases]="showPhases"
                    [period]="service.historyPeriod.value">
                </consumptionSingleChart>
            </ion-card-content>
            <ng-container *ngFor="let evcsComponent of evcsComponents">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding">
                                {{ evcsComponent.alias }}
                            </td>
                        </tr>
                    </table>
                    <consumptionEvcsChart [period]="service.historyPeriod.value" [componentId]="evcsComponent.id">
                    </consumptionEvcsChart>
                </ion-card-content>
            </ng-container>
            <ng-container *ngFor="let meterComponent of consumptionMeterComponents">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width:100%" class="ion-padding">
                                {{meterComponent.alias}}
                            </td>
                        </tr>
                    </table>
                    <consumptionMeterChart [period]="service.historyPeriod.value" [componentId]="meterComponent.id">
                    </consumptionMeterChart>
                </ion-card-content>
            </ng-container>
            <ion-card-content *ngIf="consumptionMeterComponents.length > 0 || evcsComponents.length > 0">
                <table class="full_width">
                    <tr>
                        <td style="width: 100%" class="ion-padding" translate>General.otherConsumption</td>
                    </tr>
                </table>
                <consumptionOtherChart [period]="service.historyPeriod.value">
                </consumptionOtherChart>
            </ion-card-content>
        </ng-container>
    </ion-content>
</ng-container>