<ion-card *ngIf="edge">
  <ion-item>
    <ion-icon slot="start" name="today" color="primary"></ion-icon>
    <ion-label>
      <ion-card-title translate>Edge.Index.Energytable.Title</ion-card-title>
    </ion-label>
  </ion-item>

  <ngx-loading [show]="!(edge.currentData | async)"></ngx-loading>
  <ng-container *ngIf="edge.currentData | async as currentData">

    <!-- Storage -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/storage.png"></ion-img>
      <ion-label translate>General.StorageSystem</ion-label>
    </ion-item>

    <ion-card-content *ngIf="currentData.summary.storage as sum">
      <table class="full_width">
        <tr class="underline">
          <td style="width:50%" translate>General.Soc</td>
          <td style="width:15%"></td>
          <td style="width:25%" class="align_right">{{ sum.soc | number:'1.0-0' }}</td>
          <td style="width:10%">&nbsp;%</td>
        </tr>
        <!-- DC -->
        <tr *ngIf="sum.chargeActivePowerDC != null">
          <td>
            <span translate>General.ChargePower</span> DC</td>
          <td></td>
          <td class="align_right">{{ sum.chargeActivePowerDC | number:'1.0-0' }}</td>
          <td>&nbsp;W</td>
        </tr>
        <!-- Symmetric ESS -->
        <ng-container *ngIf="sum.isAsymmetric == false && sum.chargeActivePower != null && sum.dischargeActivePower != null">
          <tr>
            <td translate>General.ChargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td></td>
            <ng-container *ngIf="sum.chargeActivePower != 0; else empty">
              <td class="align_right">{{ sum.chargeActivePower | number:'1.0-0' }}</td>
              <td>&nbsp;W</td>
            </ng-container>
            <ng-template #empty>
              <td class="align_right">-</td>
              <td></td>
            </ng-template>
          </tr>
          <tr>
            <td translate>General.DischargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td></td>
            <ng-container *ngIf="sum.dischargeActivePower != 0; else empty">
              <td class="align_right">{{ sum.dischargeActivePower | number:'1.0-0' }}</td>
              <td>&nbsp;W</td>
            </ng-container>
            <ng-template #empty>
              <td class="align_right">-</td>
              <td></td>
            </ng-template>
          </tr>
        </ng-container>
        <!-- Asymmetric ESS -->
        <ng-container *ngIf="sum.isAsymmetric == true && sum.chargeActivePowerACL1 != null && sum.dischargeActivePowerACL1 != null">
          <tr>
            <td translate>General.ChargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td>L1</td>
            <td class="align_right">{{ sum.chargeActivePowerACL1 }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.chargeActivePowerACL2 != null">
            <td></td>
            <td>L2</td>
            <td class="align_right">{{ sum.chargeActivePowerACL2 }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.chargeActivePowerACL3 != null" class="underline">
            <td></td>
            <td>L3</td>
            <td class="align_right">{{ sum.chargeActivePowerACL3 }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr>
            <td translate>General.DischargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td>L1</td>
            <td class="align_right">{{ sum.dischargeActivePowerACL1 }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.dischargeActivePowerACL2 != null">
            <td></td>
            <td>L2</td>
            <td class="align_right">{{ sum.dischargeActivePowerACL2 }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.dischargeActivePowerACL3 != null">
            <td></td>
            <td>L3</td>
            <td class="align_right">{{ sum.dischargeActivePowerACL3 }}</td>
            <td>&nbsp;W</td>
          </tr>
        </ng-container>
      </table>
    </ion-card-content>

    <!-- Grid -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/grid.png"></ion-img>
      <ion-label translate>General.Grid</ion-label>
    </ion-item>
    <ion-card-content>
      <table *ngIf="currentData.summary.grid as sum" class="full_width">
        <tr class="underline" *ngIf="sum.gridMode == 0 || sum.gridMode == 2">
          <td colspan="4" translate>General.OffGrid</td>
        </tr>
        <tr>
          <td style="width:50%" translate>General.GridBuy</td>
          <td style="width:15%"></td>
          <ng-container *ngIf="sum.buyActivePower != 0; else empty">
            <td style="width:25%" class="align_right">{{ sum.buyActivePower | number:'1.0-0' }}</td>
            <td style="width:10%">&nbsp;W</td>
          </ng-container>
          <ng-template #empty>
            <td style="width:25%" class="align_right">-</td>
            <td style="width:10%"></td>
          </ng-template>
        </tr>
        <tr>
          <td translate>General.GridSell</td>
          <td></td>
          <ng-container *ngIf="sum.sellActivePower != 0; else empty">
            <td class="align_right">{{ sum.sellActivePower | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </ng-container>
          <ng-template #empty>
            <td class="align_right">-</td>
            <td></td>
          </ng-template>
        </tr>
      </table>
    </ion-card-content>

    <!-- Production -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/production.png"></ion-img>
      <ion-label translate>General.Production</ion-label>
    </ion-item>
    <ion-card-content *ngIf="currentData.summary.production as sum">
      <table class="full_width">
        <!-- DC -->
        <tr *ngIf="sum.hasDC">
          <td style="width:50%">
            <span translate>General.Production</span> DC</td>
          <td style="width:25%" class="align_right">{{ sum.activePowerDC | number:'1.0-0' }}</td>
          <td style="width:10%">&nbsp;W</td>
        </tr>
        <!-- Symmetric Meter -->
        <ng-container *ngIf="!sum.isAsymmetric && sum.activePowerAC != null">
          <tr>
            <td style="width:50%" translate>General.Production
              <span *ngIf="currentData.summary.storage.hasDC"> AC</span>
            </td>
            <ng-container *ngIf="sum.activePowerAC != 0; else empty">
              <td style="width:25%" class="align_right">{{ sum.activePowerAC | number:'1.0-0' }}</td>
              <td style="width:10%">&nbsp;W</td>
            </ng-container>
            <ng-template #empty>
              <td style="width:25%" class="align_right">-</td>
              <td style="width:10%"></td>
            </ng-template>
          </tr>
        </ng-container>
      </table>
    </ion-card-content>

    <!-- Consumption -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/consumption.png"></ion-img>
      <ion-label translate>General.Consumption</ion-label>
    </ion-item>
    <ion-card-content *ngIf="currentData.summary.consumption as sum">
      <table class="full_width">
        <tr>
          <td style="width:50%"></td>
          <ng-container *ngIf="sum.activePower != 0; else empty">
            <td style="width:25%" class="align_right">{{ sum.activePower | number:'1.0-0' }}</td>
            <td style="width:10%">&nbsp;W</td>
          </ng-container>
          <ng-template #empty>
            <td style="width:25%" class="align_right">-</td>
            <td style="width:10%"></td>
          </ng-template>
        </tr>
      </table>
    </ion-card-content>

  </ng-container>
</ion-card>