<ng-container *ngIf="edge">
  <ion-card button routerLink="/device/{{edge.id}}/history/gridchart">
    <ion-item lines="full" color="light">
      <ion-icon slot="start" name="oe-grid" size="large"></ion-icon>
      <ion-label translate>General.grid</ion-label>
    </ion-item>
    <ion-card-content>
      <table class="full_width" *ngIf="data && edge; else noData">
        <tr>
          <td style="width:65%" translate>General.gridBuyAdvanced</td>
          <td style="width:35%" class="align_right">
            {{ data["_sum/GridBuyActiveEnergy"] | unitvalue:'kWh' }}
          </td>
        </tr>
        <tr>
          <td style="width:65%" translate>General.gridSellAdvanced</td>
          <td style="width:35%" class="align_right">
            {{ data["_sum/GridSellActiveEnergy"] | unitvalue:'kWh' }}
          </td>
        </tr>
      </table>
      <ng-template #noData>
        <table class="full_width">
          <tr>
            <td style="width:65%"></td>
            <td style="width:35%" class="align_right">&nbsp;</td>
          </tr>
        </table>
      </ng-template>
    </ion-card-content>
  </ion-card>
</ng-container>