<table class="full_width" style="line-height: 1.4;">
    <tr>
        <!-- Name of Parameter on the left side -->
        <td style="width:45%; padding-left: 5%;" class="align_left">
            <ng-container *ngIf="name">{{ name }}</ng-container>
        </td>

        <!-- Value of Parameter on the right side -->
        <td style="width:45%; padding-right: 5%;" class="align_right">
            <ng-container *ngIf="displayValue != null">{{ displayValue }}</ng-container>
        </td>

    </tr>
</table>