<form [formGroup]="formGroup">
    <table style="line-height: 1.4; width: 90%;">
        <ng-container>
            <!-- <tr> -->
            <!-- Name of Parameter on the left side -->
            <td style="width: 70%; padding-left: 5%;">
                <ng-container *ngIf="name">{{ name }}</ng-container>
            </td>

            <!-- Value of Parameter on the right side -->
            <ng-container>
                <td>
                    <ion-item lines="inset">
                        <ion-input class="regularFont" type="number" formControlName="power" style="text-align: end;">
                        </ion-input>
                        <ion-label class="regularFont">&nbsp;W</ion-label>
                    </ion-item>

                </td>
            </ng-container>
            <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center">
                <ion-fab-button (click)="applyChanges()">
                    <ion-icon size="large" name="checkmark-circle-outline">
                    </ion-icon>
                </ion-fab-button>
            </ion-fab>
            <!-- </tr> -->
        </ng-container>
    </table>
</form>