<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/thermometerchart">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/thermometer.png">
        </ion-avatar>
        <ion-label translate>General.temperature</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width:35%" class="align_right">
                    &nbsp;
                </td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>