<ion-header>
    <ion-toolbar color="primary">
        <ion-title translate>General.Grid</ion-title>
        <ion-buttons slot="start">
            <chartOptions (setShowPhases)='onNotifyPhases($event)' [showPhases]="showPhases"></chartOptions>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons class="ion-justify-content-center">
            <pickdate></pickdate>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content class="underline">
        <gridChart [showPhases]="showPhases" [period]="service.historyPeriod"></gridChart>
    </ion-card-content>
</ion-content>