<mat-card class="single">
  <!-- <mat-card-header>TODO: adjust ManualpqComponent to new config layout</mat-card-header> -->
</mat-card>
<!-- <ng-container *ngIf="device">
  <ng-container *ngFor="let nat of (device.config | async)?._meta.natures | keys">
    <ng-container *ngFor="let implements of nat.value.implements">
      <ng-container *ngIf="implements == 'EssNature'">

        <mat-card class="single">
          <mat-card-header>
            <mat-icon mat-card-avatar>stop</mat-icon>
            <mat-card-title translate>Device.Config.More.ManualpqPowerSpecification</mat-card-title>
            <mat-card-subtitle>{{ nat.key }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content [formGroup]="manualPQForm" fxLayout fxLayoutWrap="wrap">
            <div fxFlex="100%">
              <mat-input-container fxFlex="200px"><input formControlName="p" type="number" placeholder="Wirkleistung (P)" mdInput><span mat-suffix>W</span></mat-input-container>
              <div fxFlex></div>
            </div>
            <div fxFlex="100%">
              <mat-input-container fxFlex="200px"><input formControlName="q" type="number" placeholder="Blindleistung (Q)" mdInput><span mat-suffix>Var</span></mat-input-container>
              <div fxFlex></div>
            </div>
            <div fxFlex="100%">
              <button mat-raised-button (click)="applyManualPQ(nat.key, manualPQForm)" class="btn btn-default"><span translate>Device.Config.More.ManualpqSubmit</span></button>
              <button mat-raised-button (click)="removeManualPQ(nat.key)" class="btn btn-default"><span translate>Device.Config.More.ManualpqReset</span></button>
            </div>
          </mat-card-content>
        </mat-card>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-container> -->