<div *ngIf="error" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-danger">
        <div class="panel-heading">
          <h3 class="panel-title">Fehler</h3>
        </div>
        <div class="panel-body">
          <p>{{error}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!data && !error" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Einen Moment bitte</h3>
        </div>
        <div class="panel-body">
          <p>Daten werden geladen...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="data" class="container">
  <div class="row">
    <div *ngFor="let thing of data | keys" class="col-md-3">
      <common-thing-meter-simulator *ngIf="thing.value._tag == 'SimulatorMeter'" [data]="thing"></common-thing-meter-simulator>
      <common-thing-ess-simulator *ngIf="thing.value._tag == 'SimulatorEss'" [data]="thing"></common-thing-ess-simulator>
      <!--<div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{thing.key}}</h3>
        </div>
        <table class="table">
          <tr *ngFor="let channel of thing.value | keys">
            <td>{{channel.key}}:</td>
            <td align="right">{{channel.value}}</td>
          </tr>
        </table>
      </div>-->
    </div>
  </div>
</div>