<div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
  <div *ngFor="let ws of websocketService.websockets | keys" fxFlex="50%" fxFlex.xs="100%">
    <ng-container *ngFor="let dev of ws.value.devices | keys">
      <md-card class="single" [routerLink]="dev.value.online ? '/device/' + ws.key + '/' + dev.key : []">
        <md-card-header>
          <md-icon *ngIf="dev.value.online" md-card-avatar color="primary">folder</md-icon>
          <md-icon *ngIf="!dev.value.online" md-card-avatar>error</md-icon>
          <md-card-title>{{dev.key}} <span *ngIf="!dev.value.online"><br/>FEMS ist offline!</span></md-card-title>
          <md-card-subtitle>{{ws.key}}</md-card-subtitle>
        </md-card-header>
      </md-card>
    </ng-container>
  </div>
</div>