<ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card>
            <ion-item color="light">
                <ion-avatar slot="start">
                    <img src="assets/img/storage.png">
                </ion-avatar>
                <ion-label translate>General.StorageSystem</ion-label>
            </ion-item>
            <ion-card-content *ngIf="currentData.summary.storage as sum">
                <ion-grid no-padding>
                    <table class="full_width">
                        <tr class="underline">
                            <td style="width:50%" translate>General.Soc</td>
                            <td style="width:15%"></td>
                            <td style="width:25%" class="align_right">{{ sum.soc | number:'1.0-0' }}</td>
                            <td style="width:10%">&nbsp;%</td>
                        </tr>
                        <!-- DC -->
                        <tr *ngIf="sum.chargeActivePowerDC != null">
                            <td>
                                <span translate>General.ChargePower</span> DC</td>
                            <td></td>
                            <td class="align_right">{{ sum.chargeActivePowerDC | number:'1.0-0' }}</td>
                            <td>&nbsp;W</td>
                        </tr>
                        <!-- AC -->
                        <ng-container *ngIf="sum.chargeActivePowerAC != null">
                            <tr>
                                <td translate>General.ChargePower
                                    <span *ngIf="sum.chargeActivePowerDC != null"> AC</span>
                                </td>
                                <td></td>
                                <ng-container *ngIf="sum.chargeActivePowerAC != 0; else empty">
                                    <td class="align_right">{{ sum.chargeActivePowerAC | number:'1.0-0' }}</td>
                                    <td>&nbsp;W</td>
                                </ng-container>
                                <ng-template #empty>
                                    <td class="align_right">-</td>
                                    <td></td>
                                </ng-template>
                            </tr>
                        </ng-container>
                        <ng-container *ngIf="sum.dischargeActivePowerAC != null">
                            <tr>
                                <td translate>General.DischargePower
                                    <span *ngIf="sum.chargeActivePowerDC != null"> AC</span>
                                </td>
                                <td></td>
                                <ng-container *ngIf="sum.dischargeActivePowerAC != 0; else empty">
                                    <td class="align_right">{{ sum.dischargeActivePowerAC | number:'1.0-0' }}</td>
                                    <td>&nbsp;W</td>
                                </ng-container>
                                <ng-template #empty>
                                    <td class="align_right">-</td>
                                    <td></td>
                                </ng-template>
                            </tr>
                        </ng-container>
                    </table>
                </ion-grid>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>