<ion-header>
  <ion-toolbar style="--background: var(--ion-color-toolbar-primary); color: var(--ion-title-color);">
    <ion-title translate style="color: var(--ion-title-color);">{{title}}</ion-title>
    <ion-buttons slot="end">
      <!-- Additional Toolbarbuttons -->
      <ng-container *ngIf="toolbarButtons !== null">
        <ng-container *ngIf="((toolbarButtons | typeof) !== 'Object') && TOOLBAR_BUTTONS.LENGTH > 0, else singleButton">
          <ion-button *ngFor="let button of toolbarButtons" [href]="BUTTON.URL" target="_blank">
            <ion-icon [name]="BUTTON.ICON?.name ??'help-circle-outline'" [color]="BUTTON.ICON?.color ??'light'"
              [size]="BUTTON.ICON?.size ??'medium'">
            </ion-icon>
          </ion-button>
        </ng-container>

        <ng-template #singleButton>
          <ion-button [href]="toolbarButtons?.url" target="_blank" (click)="toolbarButtons?.callback()">
            <ion-icon [name]="TOOLBAR_BUTTONS.ICON?.name ??'help-circle-outline'"
              [color]="TOOLBAR_BUTTONS.ICON?.color ?? 'dark'" [size]="TOOLBAR_BUTTONS.ICON?.size ??'medium'">
            </ion-icon>
          </ion-button>
        </ng-template>
      </ng-container>

      <ng-content select="[button]"></ng-content>
      <oe-help-button *ngIf="helpKey" [key]="helpKey" [useDefaultPrefix]="useDefaultPrefix"></oe-help-button>

      <ion-button (click)="MODAL_CONTROLLER.DISMISS()">
        <ion-icon name="close-outline" size="medium" style="color: var(--ion-title-color);"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="font-size: 1em;">

  <!-- If FromGroup is used -->
  <form [formGroup]="formGroup" *ngIf="formGroup"
    style="padding-left: 5%; padding-right: 5%; padding-top: 2%; position: absolute; overflow-y: auto; overflow-x:hidden; height: 88%; width: 100%; padding-bottom: 10%">

    <!-- For gap between header and content  -->
    <!-- Cant do margin-top in formGroup due to scrollbar being moved with it -->
    <ng-container *ngTemplateOutlet="contentTpl">
    </ng-container>
  </form>

  <!-- If FormGroup not used -->
  <ng-container *ngIf="!formGroup">
    <div
      style="padding-left: 5%; padding-right: 5%; padding-bottom: 10%; padding-top: 2%; position: absolute; overflow-y: auto; overflow-x:hidden; height: 88%; width: 100%;">
      <ng-container *ngTemplateOutlet="contentTpl"></ng-container>
    </div>
  </ng-container>

  <!-- Workaround because multiple ng-content cant be used -->
  <ng-template #contentTpl>
    <ng-content></ng-content>
  </ng-template>

  <!-- Submit-Button appears when formControl values are changed, if Smartphone, button placed right bottom, else center bottom -->
  <ion-fab *ngIf="formGroup?.dirty" vertical="bottom" style="position: fixed"
    [horizontal]="THIS.SERVICE.IS_SMARTPHONE_RESOLUTION ? 'end':'center'">
    <ion-fab-button (click)="applyChanges()">
      <ion-icon size="large" name="checkmark-circle-outline">
      </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>