<ion-modal #modal trigger="open-modal" [isOpen]="true" [initialBreakpoint]="initialBreakPoint"
    [breakpoints]="[0.04, 0.1, 0.2, 0.9]" showBackdrop="false" [backdropDismiss]="false" [backdropBreakpoint]="0.1"
    focusTrap="false" *ngIf="hasNavigationNodes">
    <ng-template>
        <ion-content class="ion-padding">
            <ion-breadcrumbs>
                @for(parent of parents; track parent.id; let isLast = $last){
                <ion-breadcrumb routerLinkActive="active" (click)="navigateTo(parent, !isLast)">
                    <ion-text *ngIf="parent.mode === 'label'"
                        [color]="last ? 'primary': 'medium'">{{parent.label}}</ion-text>
                    <ion-icon *ngIf="parent.mode === 'icon'" [name]="'home-outline'"
                        [color]="currentlyActive ? 'primary':'medium'"></ion-icon>
                </ion-breadcrumb>
                }
            </ion-breadcrumbs>

            @for(child of children; track $index){
            <ion-chip (click)="navigateTo(child,true);" style="background: var(--ion-color-toolbar-primary);">
                <ion-icon [name]="child.icon?.name ?? 'help-outline'" [color]="child.icon?.color ?? 'medium'"
                    [size]="child.icon?.size ?? 'small'"></ion-icon>
                <ion-label>{{child.label}}</ion-label>
            </ion-chip>
            }
        </ion-content>
    </ng-template>
</ion-modal>
