<ion-modal #modal trigger="open-modal" [isOpen]="true" [initialBreakpoint]="initialBreakPoint"
    [breakpoints]="[initialBreakPoint, 0.9]" showBackdrop="false" [backdropDismiss]="false"
    [backdropBreakpoint]="initialBreakPoint" focusTrap="false" *ngIf="isVisible">

    <ng-template>
        <ion-content class="ion-padding">
            <oe-navigation-breadcrumbs (navigate)="navigateTo($event, true)"></oe-navigation-breadcrumbs>
            <oe-navigation-chips (navigate)="navigateTo($event, true)"></oe-navigation-chips>
        </ion-content>
    </ng-template>
</ion-modal>
