<div [formGroup]="_form" fxLayout>
    <p fxFlex="100px">System</p>
    <div [formGroup]="_form.controls.system" fxFlex fxLayout fxLayoutWrap="wrap">
        <md-input-container fxFlex="50%"><input formControlName="id" type="text" placeholder="Id" md-input></md-input-container>
    </div>
</div>
<div fxLayout fxLayoutAlign="end start">
    <button md-mini-fab (click)="save(_form)" [disabled]="_form.pristine" color="primary"><md-icon>check</md-icon></button>
    <button md-mini-fab (click)="delete(_form)"><md-icon>delete</md-icon></button>
</div>