<table class="full_width"
    [ngStyle]="indentation_from_left == 'simple' && {'text-indent': '2em'} || indentation_from_left == 'double' && {'text-indent': '5em'}">
    <ng-container>
        <tr>
            <!-- Name of Parameter on the left side -->
            <td style="width:62.5%" class="align_left">
                <ng-container *ngIf="name">{{ name }}</ng-container>
            </td>
            <!-- Value of Parameter on the right side -->
            <td style="width:32.5%" class="align_right">
                <ng-container *ngIf="displayValue">{{ displayValue }}</ng-container>
            </td>
        </tr>
    </ng-container>
</table>