:org.apache.felix.configadmin.revision:=L"1"
alias="Simulated\ PV\ East\ Datasource"
enabled=B"true"
id="datasource2"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.80dfc174-ae49-445e-b293-69658074a54f"
timeDelta=I"-1"
values=i[ \
  "2000", \
  ]
