:org.apache.felix.configadmin.revision:=L"1"
alias="Simulated\ Consumption\ Datasource"
enabled=B"true"
id="datasource0"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.be1a31c2-3d4a-4746-8085-ee1ec1d23383"
timeDelta=I"-1"
values=i[ \
  "500", \
  ]
