:org.apache.felix.configadmin.revision:=L"2"
alias="Simulated\ PV\ West\ Datasource"
enabled=B"true"
id="datasource1"
service.factoryPid="Simulator.Datasource.Single.Direct"
service.pid="Simulator.Datasource.Single.Direct.d201ea0c-aab9-48e3-b979-49d4391fc924"
timeDelta=I"-1"
values=i[ \
  "3000", \
  ]
