log4j.appender.CONSOLE="org.apache.log4j.ConsoleAppender"
log4j.appender.CONSOLE.layout="org.apache.log4j.PatternLayout"
log4j.appender.CONSOLE.layout.ConversionPattern="%d{ISO8601}\ [%-8.8t]\ %-5p\ [%-30.30c]\ %m%n"
log4j.logger.com.ghgande.j2mod="INFO"
log4j.logger.io.openems.edge.ess.power="INFO"
log4j.logger.io.openems.edge.ess.streetscooter="DEBUG"
log4j.logger.org.apache.felix.configadmin="INFO"
log4j.logger.org.eclipse.osgi="WARN"
log4j.logger.sun.net.www.protocol.http.HttpURLConnection="INFO"
log4j.rootLogger="INFO,\ CONSOLE,\ osgi:*"
service.pid="org.ops4j.pax.logging"
