<mat-card class="single">
  <mat-card-header>TODO: adjust RefuComponent to new config layout</mat-card-header>
</mat-card>
<!-- <ng-container *ngIf="edge">
  <ng-container *ngFor="let bridge of (edge.config | async)?.things">
    <ng-container *ngFor="let edge of bridge.edges">
      <ng-container *ngIf="edge.class == 'io.openems.impl.edge.refu.Refu'">

        <mat-card class="single">
          <mat-card-header>
            <mat-icon mat-card-avatar>stop</mat-icon>
            <mat-card-title translate>Edge.Config.More.RefuInverter</mat-card-title>
            <mat-card-subtitle>{{ edge.ess.id }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p translate>Edge.Config.More.RefuStartStop</p>
            <button mat-raised-button (click)="setInverterState(edge.ess.id, true)" class="btn btn-default"><span translate>Edge.Config.More.RefuStart</span></button>
            <button mat-raised-button (click)="setInverterState(edge.ess.id, false)" class="btn btn-default"><span translate>Edge.Config.More.RefuStop</span></button>
          </mat-card-content>
        </mat-card>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-container> -->