<ion-row>
  <ng-container *ngFor="let filter of filters">
    <ion-col size="6">
      <ng-container *ngIf="filter">
        <ion-select interface="popover" [multiple]="true" [label]="filter.placeholder" label-placement="floating"
          fill="solid" type="radio" (ionDismiss)="searchOnChange($event, filter)" fill="solid"
          class="custom-ion-popover" style="white-space: initial; --color: var(--ion-color-primary)">
          <ng-container *ngFor="let option of filter.options">
            <ion-select-option [value]="option.value">{{option.name}}
            </ion-select-option>
          </ng-container>
        </ion-select>
      </ng-container>
    </ion-col>
  </ng-container>
</ion-row>
