<mat-card class="single">
    <mat-card-header>
        <!-- <mat-icon mat-card-avatar>announcement</mat-icon> -->
        <ion-icon mat-card-avatar color="primary" name="chatbubbles"></ion-icon>
        <mat-card-title>PRIMUS UI</mat-card-title>
        <mat-card-subtitle translate>About.UI</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <select #langSelect (change)="translate.use(langSelect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
            </select>
        </ul>
    </mat-card-content>
</mat-card>