<ion-grid>
    <ion-row justify-content-center>
        <ion-col size-xl="6" size-xs="12">
            <ion-card padding>
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon color="primary" name="options" size="large"></ion-icon>
                    </ion-avatar>
                    <ion-label text-wrap translate>
                        Menu.GeneralSettings
                    </ion-label>
                </ion-item>
                <ion-card-content>
                    <ul translate>
                        About.Language
                        <select #langSelect (change)="setLanguage(langSelect.value)">
                            <option *ngFor="let language of languages" [value]="language"
                                [selected]="language == currentLanguage">{{
                                language }}</option>
                        </select>
                    </ul>
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size-xl="6" size-xs="12">
            <ion-card padding>
                <ion-item>
                    <ion-avatar slot="start">
                        <ion-icon color="primary" name="build" size="large"></ion-icon>
                    </ion-avatar>
                    <ion-label text-wrap translate>
                        Debug Mode
                    </ion-label>
                </ion-item>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                            <ion-checkbox (ionChange)="toggleDebugMode($event)" slot="start"
                                [(ngModel)]="env.debugMode"></ion-checkbox>
                            <ion-label translate>Debug-Mode</ion-label>
                        </ion-item>
                    </ion-list>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>