<ion-card *ngIf="data">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/evcs.png">
        </ion-avatar>
        <ion-label translate>Edge.Index.Widgets.EVCS.ChargingStation</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width:65%" translate>General.GridBuyAdvanced</td>
                <td style="width:35%" class="align_right">
                    <!-- {{data["_sum/ChargePower"] | unitvalue:'kWh'}} -->
                </td>
            </tr>
        </table>
    </ion-card-content>
</ion-card>