:org.apache.felix.configadmin.revision:=L"1"
_lastChangeAt="2024-11-07T09:41:01"
_lastChangeBy="admin:\ Admin"
alias=""
capacity="2000"
enabled="true"
gridMode="ON_GRID"
id="ess0"
initialSoc="50"
maxApparentPower="100000"
maxChargePower="100000"
maxDischargePower="100000"
service.factoryPid="Simulator.EssSymmetric.Reacting"
service.pid="Simulator.EssSymmetric.Reacting.2a5d0229-954b-48d4-98cd-402c11301dd0"
