<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/autarchychart">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/autarchy.png">
        </ion-avatar>
        <ion-label translate>General.autarchy</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width:100%" *ngIf="autarchyValue && edge && service.isKwhAllowed(edge); else noData">
                    <percentagebar [value]="autarchyValue">
                    </percentagebar>
                </td>
                <ng-template #noData>
                    <td style="width:35%" class="align_right">
                        &nbsp;
                    </td>
                </ng-template>
            </tr>
        </table>
    </ion-card-content>
</ion-card>