<ion-card button (click)="presentModal()">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/autarchy.png">
        </ion-avatar>
        <ion-label translate>General.Autarchy</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width:65%"></td>
                <td style="width:35%" class="align_right" *ngIf="data;else noData">
                    {{data["_sum/ConsumptionActiveEnergy"] | unitvalue:'kWh'}}
                </td>
                <ng-template #noData>
                    <td style="width:35%" class="align_right">
                        &nbsp;
                    </td>
                </ng-template>
            </tr>
        </table>
    </ion-card-content>
</ion-card>