<ion-card button routerLink="/device/{{edge.id}}/history/{{componentId}}/timeOfUseTariffDischargeChart"
  *ngIf="component && edge">
  <ion-item lines="full" color="light">
    <ion-icon slot="start" color="primary" size="large" name="cloud-outline"></ion-icon>
    <ion-label>{{ component.alias }}</ion-label>
  </ion-item>

  <ion-card-content>
    <table class="full_width">
      <tr>
        <td style="width:65%" translate>
          {{ 'Edge.Index.Widgets.TIME_OF_USE_TARIFF.STATE.DELAY_DISCHARGE' | translate }}
        </td>
        <td style="width:35%" class="align_right">
          {{ delayedActiveTimeOverPeriod | formatSecondsToDuration }}
        </td>
      </tr>
      <!-- Rendering the CHARGE row based on the new or old controller -->
      <ng-container *ngIf="component.factoryId === 'Controller.Ess.Time-Of-Use-Tariff'">
        <tr>
          <td style="width:65%" translate>
            {{ 'Edge.Index.Widgets.TIME_OF_USE_TARIFF.STATE.CHARGE' | translate }}
          </td>
          <td style="width:35%" class="align_right">
            {{ chargedActiveTimeOverPeriod | formatSecondsToDuration }}
          </td>
        </tr>
      </ng-container>
    </table>
  </ion-card-content>

</ion-card>