<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title translate>General.consumption</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
      <ng-container *ngIf="currentData.summary.consumption as sum">
        <ion-card-content [class.underline]="evcss.length != 0">
          <table class="full_width">
            <tr>
              <td style="width:65%" translate>General.total</td>
              <td style="width:35%" class="align_right">
                {{ sum.activePower | unitvalue:'W' }}
              </td>
            </tr>
          </table>
          <!-- for spacing between Phases and Total Consumption -->
          <div *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null"
            style="padding-top: 5px;"></div>
          <!-- 3 Phases -->
          <table class="full_width"
            *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null">
            <tr *ngIf="sum.activePowerL1 != null">
              <td style="width:2%"></td>
              <td style="width:23%"><span translate>General.phase</span>&nbsp;L1</td>
              <td style="width:40%"></td>
              <td style="width:35%" class="align_right">
                {{ sum.activePowerL1 | unitvalue:'W' }}
              </td>
            </tr>
            <tr *ngIf="sum.activePowerL2 != null">
              <td style="width:2%"></td>
              <td style="width:23%"><span translate>General.phase</span>&nbsp;L2</td>
              <td style="width:40%"></td>
              <td class="align_right" style="width: 35%">
                {{ sum.activePowerL2 | unitvalue:'W' }}
              </td>
            </tr>
            <tr *ngIf="sum.activePowerL3 != null">
              <td style="width:2%"></td>
              <td style="width:23%"><span translate>General.phase</span>&nbsp;L3</td>
              <td style="width:40%"></td>
              <td class="align_right" style="width: 35%">
                {{ sum.activePowerL3 | unitvalue:'W' }}
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="evcss.length > 1">
    <ion-card-content class="underline">
      <table class="full_width">
        <tr>
          <td style="width:65%" translate>General.total<span>&nbsp;</span><span
              translate>Edge.Index.Widgets.EVCS.chargingPower</span>
          </td>
          <td class="align_right" style="width: 35%">
            {{ evcsSumOfChargePower | unitvalue:'W' }}
          </td>
        </tr>
      </table>
    </ion-card-content>
  </ng-container>

  <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ng-container *ngIf="evcss.length > 0">
      <ng-container *ngFor="let component of evcss">
        <ion-card-content class="underline">
          <table class="full_width">
            <tr>
              <td style="width:65%" *ngIf="component.id == component.alias">{{component.id}}</td>
              <td style="width: 65%" *ngIf="component.id != component.alias">{{component.alias}}
              </td>
              <td class="align_right" style="width: 35%">
                {{ currentData[component.id + '/ChargePower'] | unitvalue:'W' }}
              </td>
            </tr>
          </table>
        </ion-card-content>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="consumptionMeters.length > 0">
      <ng-container *ngFor="let component of consumptionMeters">
        <ion-card-content class="underline">
          <table class="full_width">
            <tr>
              <td style="width:65%" *ngIf="component.id == component.alias">{{component.id}}
              </td>
              <td style="width: 65%" *ngIf="component.id != component.alias">
                {{component.alias}}
              </td>
              <td style="width:35%" class="align_right">
                {{ currentData[component.id + '/ActivePower'] | unitvalue:'W' }}
              </td>
            </tr>
          </table>
          <!-- 3 Phases -->
          <div *ngIf="currentData[component.id + '/ActivePowerL1'] != null 
            && currentData[component.id + '/ActivePowerL2'] != null 
            && currentData[component.id + '/ActivePowerL3'] != null" style="padding-top: 5px;" class="full_width">
            <table class="full_width">
              <tr *ngFor="let phase of [1,2,3]">
                <td style="width:2%"></td>
                <td style="width:23%"><span translate>General.phase</span>&nbsp;L{{ phase }}</td>
                <td style="width:40%"></td>
                <td style="width:35%" class="align_right">
                  {{ currentData[component.id + '/ActivePowerL' + phase] | unitvalue:'W' }}
                </td>
              </tr>
            </table>
          </div>
        </ion-card-content>
      </ng-container>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="edge.currentData | async as currentData">
    <ng-container *ngIf="edge.currentData | async as currentData">
      <ng-container *ngIf="currentData.summary.consumption as sum">
        <ion-card-content>
          <table class="full_width" *ngIf="evcss.length != 0  || consumptionMeters.length != 0">
            <tr>
              <td style="width: 65%" translate>General.otherConsumption</td>
              <ng-container *ngIf="otherPower">
                <td style="width: 35%" class="align_right" *ngIf="otherPower > 0">
                  {{ otherPower | unitvalue:'W' }}
                </td>
                <td style="width: 35%" class="align_right" *ngIf="otherPower <= 0">
                  {{ 0 | unitvalue:'W' }}
                </td>
              </ng-container>
            </tr>
          </table>
        </ion-card-content>

        <ion-grid *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null"
          class="ion-padding-top">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-col size="2" class="ion-text-center">
              <ion-icon class="ion-padding-right" color="primary" size="large" name="alert-outline"></ion-icon>
            </ion-col>
            <ion-col size="10">
              <ion-note class="ion-text-wrap"><small translate>Edge.Index.Widgets.phasesInfo</small>
              </ion-note>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ng-container>
  </ng-container>
</ion-content>