<ion-grid *ngIf="edge">
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="code-working" color="primary"></ion-icon>
          <ion-label>
            <ion-card-title>System-Log</ion-card-title>
            <ion-card-subtitle text-wrap>
              {{ edge.name }}
            </ion-card-subtitle>
          </ion-label>
        </ion-item>

        <ion-card-content>
          <ion-item>
            <ion-checkbox (ionChange)="toggleSubscribe($event)" slot="start" [(ngModel)]="isSubscribed"></ion-checkbox>
            <ion-label translate text-wrap>Edge.Config.Log.AutomaticUpdating</ion-label>
          </ion-item>
        </ion-card-content>

        <ion-card-content>
          <ion-grid *ngFor="let log of logs">
            <ion-row style="font-family: monospace; font-size: small" style.color="black">
              <ion-col size-xl="3" size-sm="6">
                {{log.time}}
              </ion-col>
              <ion-col size-xl="2" size-sm="6">
                {{log.level}}
              </ion-col>
              <ion-col size-xl="7" size-sm="12">
                {{log.source}}
              </ion-col>
            </ion-row>
            <ion-row style="font-family: monospace" [style.color]="log.color">
              <ion-col size-xl="3" size-sm="0">
              </ion-col>
              <ion-col size-xl="9" size-sm="12">
                {{log.message}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>


      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>