<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FEMS</a>
    </div>
    <div class="navbar-collapse" [collapse]="navCollapsed">
      <ul class="nav navbar-nav">
        <li *ngFor="let item of menuitems" routerLinkActive="active"><a routerLink="{{item.routerLink}}">{{item.label}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLinkActive="active" routerLink="/login"><span *ngIf="!connections">Anmelden</span><span *ngIf="connections">Abmelden [{{connections}}]</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <chart-current [view]="[600,600]" [results]="data"></chart-current>
  <!--<ngx-charts-gauge
            [view]="[600,300]"
            [results]="data"
            [scheme]="colorScheme">
          </ngx-charts-gauge>
-->
  <!--<ngx-charts-pie-chart
    [scheme]="colorScheme"
    [results]="data">
  </ngx-charts-pie-chart>
-->
  <!--
  <h2>Custom Chart</h2>
  <custom-chart
    [view]="[600,300]"
    [results]="data">
  </custom-chart>
-->
</div>

<router-outlet></router-outlet>