<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="push">
    <md-list>
      <md-list-item>
        <button routerLinkActive="active" routerLink="/overview" md-button i18n>Übersicht</button>
      </md-list-item>
      <md-list-item *ngIf="environment.websockets[0].backend == 'openems'">
        <a href="/grafana/dashboard/file/fems-asymmetric.json" md-button i18n>Historie</a>
      </md-list-item>
      <md-list-item>
        <button routerLinkActive="active" routerLink="/about" md-button i18n>Über FEMS-UI</button>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <md-toolbar color="primary">
      <div fxFlex="40px">
        <button routerLinkActive="active" (click)="sidenav.toggle()" md-icon-button><md-icon>menu</md-icon></button>
      </div>
      <ng-container *ngIf="currentDevice">
        <div fxFlex>
          <button routerLink="/overview" md-icon-button><md-icon>home</md-icon></button>
          <button routerLink="/device/{{ currentDevice.websocket.name }}/{{ currentDevice.name }}/overview" md-button>
          <h3>FEMS <small>({{ currentDevice.address }})</small></h3>
          </button>
        </div>
        <div fxFlex="50px">
          <button routerLink="/device/{{ currentDevice.websocket.name }}/{{ currentDevice.name }}/config" md-icon-button>
          <md-icon>settings</md-icon>
          </button>
        </div>
      </ng-container>
      <ng-container *ngIf="!currentDevice">
        <div fxFlex>
          <button routerLink="/overview" md-icon-button><md-icon>home</md-icon></button>
        </div>
      </ng-container>
    </md-toolbar>
  </div>
  <div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
    <div fxFlex="100%">
      <router-outlet></router-outlet>
    </div>
    <div *ngIf="environment.production" fxFlex="100%">
      <md-card class="single">
        <md-card-title i18n>Neues FENECON Online-Monitoring</md-card-title>
        <md-card-content>
          <p i18n>Liebe Kunden,</p>
          <p i18n>wir arbeiten intensiv an diesem neuen Monitoring für Ihr FENECON Stromspeichersystem, deshalb läuft im Moment noch
            nicht alles Rund - Sie werden aber an dieser Stelle in den nächsten Wochen und Monaten noch viele Veränderungen
            und Verbesserungen sehen. Wir bitten Sie noch etwas um Geduld.</p>
          <p i18n>Ihr FEMS-Team</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-sidenav-container>