<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="push">
    <md-list>
      <md-list-item>
        <button routerLinkActive="active" routerLink="/login" md-button>An-/Abmelden</button>
      </md-list-item>
      <md-list-item>
        <button routerLinkActive="active" routerLink="/overview" md-button>Übersicht</button>
      </md-list-item>
      <md-list-item *ngIf="environment.backend == 'openems'">
        <a href="/grafana/dashboard/file/fems-asymmetric.json" md-button>Historie</a>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <md-toolbar color="primary">
      <div fxFlex="40px">
        <button (click)="sidenav.toggle()" md-icon-button><md-icon>menu</md-icon></button>
      </div>
      <div fxFlex>
        <button *ngIf="!(websocketService.currentDevice | async)" routerLink="/overview" md-button><h3>FEMS</h3></button>
        <button *ngIf="websocketService.currentDevice | async" routerLink="/device/{{ (websocketService.currentDevice | async)?.websocket.name }}/{{ (websocketService.currentDevice | async)?.name }}/overview"
          md-button>
          <h3>FEMS <small>({{ (websocketService.currentDevice | async)?.address }})</small></h3>
          </button>
      </div>
      <!-- TODO enable settings also for 'femsserver' backend -->
      <!-- <div *ngIf="false" fxFlex="50px"> -->
      <div *ngIf="false" fxFlex="50px">
        <button routerLinkActive="active" routerLink="/device/{{ (websocketService.currentDevice | async)?.websocket.name }}/{{(websocketService.currentDevice | async)?.name }}/config"
          md-icon-button>
          <md-icon>settings</md-icon>
          </button>
      </div>
    </md-toolbar>
  </div>
  <div fxLayout fxLayoutAlign="center start" fxLayoutWrap="wrap">
    <div fxFlex="100%">
      <router-outlet></router-outlet>
    </div>
    <div fxFlex="100%">
      <md-card class="single">
        <md-card-title>Neues FENECON Online-Monitoring</md-card-title>
        <md-card-content>
          <p>Liebe Kunden,</p>
          <p>wir arbeiten intensiv an diesem neuen Monitoring für Ihr FENECON Stromspeichersystem, deshalb läuft im Moment noch
            nicht alles Rund - Sie werden aber an dieser Stelle in den nächsten Wochen und Monaten noch viele Veränderungen
            und Verbesserungen sehen. Wir bitten Sie noch etwas um Geduld.</p>
          <p>Ihr FEMS-Team</p>
        </md-card-content>
      </md-card>
    </div>
  </div>
</md-sidenav-container>