:org.apache.felix.configadmin.revision:=L"5"
_lastChangeAt="2020-09-15T19:38:09"
_lastChangeBy="guest:\ Guest"
alias="Control\ Heating\ Element"
defaultLevel="LEVEL_1"
enabled=B"true"
endTime="17:00"
id="ctrlIoHeatingElement0"
minTime=I"1"
minimumSwitchingTime=I"60"
mode="AUTOMATIC"
outputChannelPhaseL1="io0/InputOutput3"
outputChannelPhaseL2="io0/InputOutput4"
outputChannelPhaseL3="io0/InputOutput5"
powerPerPhase=I"2000"
service.factoryPid="Controller.IO.HeatingElement"
service.pid="Controller.IO.HeatingElement.b29d7d91-2b18-4db2-90ba-fd78224d6b0e"
workMode="TIME"
