<div *ngIf="(websocket.currentEdge | async) as edge" fxLayout fxLayoutAlign="center start" fxLayout="row wrap">
  <ng-container *ngIf="(edge.config | async) as config">
    <!--call bridge configuration-->
    <div *ngIf="!edge.isVersionAtLeast('2018.8')" fxFlex="50%" fxFlex.xs="100%">
      <mat-card routerLink="/device/{{ edge.name }}/config/bridge" class="single">
        <mat-card-header>
          <mat-icon mat-card-avatar>device_hub</mat-icon>
          <mat-card-title translate>Edge.Config.Index.Bridge</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense fxLayout fxLayout="row wrap">
            <mat-list-item *ngFor="let bridgeId of config.bridges" fxFlex="50%">
              <p mat-line text-wrap>{{ config.things[bridgeId].class | classname }}</p>
              <p mat-line>
                <small>{{ bridgeId }}</small>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--call scheduler configuration-->
    <div *ngIf="!edge.isVersionAtLeast('2018.8')" fxFlex="50%" fxFlex.xs="100%">
      <mat-card routerLink="/device/{{ edge.name }}/config/scheduler" class="single">
        <mat-card-header>
          <mat-icon mat-card-avatar>schedule</mat-icon>
          <mat-card-title translate>Edge.Config.Index.Scheduler</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense fxLayout fxLayout="wrap">
            <mat-list-item *ngIf="config.scheduler as schedulerId" fxFlex="50%">
              <p mat-line>{{ config.things[schedulerId].class | classname }}</p>
              <p mat-line>
                <small>{{ schedulerId }}</small>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--call controller configuration-->
    <div *ngIf="!edge.isVersionAtLeast('2018.8')" routerLink="/device/{{ edge.name }}/config/controller" fxFlex="50%" fxFlex.xs="100%">
      <mat-card class="single">
        <mat-card-header>
          <mat-icon mat-card-avatar>apps</mat-icon>
          <mat-card-title translate>Edge.Config.Index.Controller</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense fxLayout fxLayout="row wrap">
            <mat-list-item *ngFor="let controllerId of config.controllers" fxFlex="50%">
              <p mat-line>{{ config.things[controllerId].class | classname }}</p>
              <p mat-line>
                <small>{{ controllerId }}</small>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--call controller configuration-->
    <div *ngIf="!edge.isVersionAtLeast('2018.8')" routerLink="/device/{{ edge.name }}/config/persistence" fxFlex="50%" fxFlex.xs="100%">
      <mat-card class="single">
        <mat-card-header>
          <mat-icon mat-card-avatar>apps</mat-icon>
          <mat-card-title translate>Edge.Config.Index.DataStorage</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense fxLayout fxLayout="wrap">
            <mat-list-item *ngFor="let persistenceId of config.persistences" fxFlex="50%">
              <p mat-line>{{ config.things[persistenceId].class | classname }}</p>
              <p mat-line>
                <small>{{ persistence }}</small>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!-- call simulator ui: -->
    <!-- <ng-container *ngIf="config.simulatorDevices"> -->
    <!-- TODO there could be more than one -->
    <!-- <div routerLink="/device/{{ device.name }}/config/simulator" fxFlex="50%" fxFlex.xs="100%">
        <mat-card class="single">
          <mat-card-header>
            <mat-icon mat-card-avatar>explore</mat-icon>
            <mat-card-title translate>Device.Config.Index.Simulator</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-list dense fxLayout fxLayout="wrap">
              <mat-list-item fxFlex="50%">
                <p mat-line><span translate>Device.Config.Index.ExecuteSimulator</span></p>
              </mat-list-item>
            </mat-list>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-container> -->
    <!-- call log -->
    <div *ngIf="edge.role == 'owner' || edge.role == 'installer' || edge.role == 'admin'" routerLink="/device/{{ edge.name }}/log"
      fxFlex="50%" fxFlex.xs="100%">
      <mat-card class="single">
        <mat-card-header>
          <mat-icon mat-card-avatar>code</mat-icon>
          <mat-card-title translate>Edge.Config.Index.Log</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense fxLayout fxLayout="wrap">
            <mat-list-item fxFlex="50%">
              <p mat-line>
                <span translate>Edge.Config.Index.LiveLog</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
    <!--call more configuration-->
    <div *ngIf="!edge.isVersionAtLeast('2018.8') && edge.role == 'admin'" routerLink="/device/{{ edge.name }}/config/more" fxFlex="50%"
      fxFlex.xs="100%">
      <mat-card class="single">
        <mat-card-header>
          <mat-icon mat-card-avatar>more_horiz</mat-icon>
          <mat-card-title translate>General.More</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list dense fxLayout fxLayout="wrap">
            <mat-list-item fxFlex="50%">
              <p mat-line>
                <span translate>Edge.Config.Index.ManualControl</span>
              </p>
            </mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
</div>