<ng-template #tplComponent let-component>
  <oe-flat-widget-line [name]="COMPONENT.ALIAS" [value]="COMPONENT.ID"></oe-flat-widget-line>
  <ng-container *ngFor="let d of COMPONENT.CHANNELS">
    <oe-flat-widget-line *ngIf="d" [name]="'> ' + D.TITLE + ' (' + D.ADDRESS + ')'" [value]="D.VALUE"
      [converter]="D.CONVERTER"></oe-flat-widget-line>
    <oe-flat-widget-line *ngIf="!d" name="> "></oe-flat-widget-line>
  </ng-container>
</ng-template>


<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size="8">
        <ion-item>
          <ion-icon slot="start" size="large" name="information-circle-outline"></ion-icon>
          <ion-text text-nowrap translate>SETTINGS.POWER_ASSISTANT.INFO
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let entry of entries" class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size="8">
        <oe-flat-widget [title]="ENTRY.ESS.ALIAS">
          <ng-template *ngTemplateOutlet="tplComponent; context: {$implicit: ENTRY.ESS}"></ng-template>
          <ng-container *ngIf="ENTRY.BATTERY">
            <oe-flat-widget-horizontal-line></oe-flat-widget-horizontal-line>
            <ng-template *ngTemplateOutlet="tplComponent; context: {$implicit: ENTRY.BATTERY}"></ng-template>
          </ng-container>
          <ng-container *ngIf="ENTRY.BATTERY_INVERTER">
            <oe-flat-widget-horizontal-line></oe-flat-widget-horizontal-line>
            <ng-template *ngTemplateOutlet="tplComponent; context: {$implicit: ENTRY.BATTERY_INVERTER}"></ng-template>
          </ng-container>
          <oe-flat-widget-horizontal-line></oe-flat-widget-horizontal-line>
          <ng-container *ngFor="let controller of ENTRY.CONTROLLERS">
            <oe-flat-widget-horizontal-line></oe-flat-widget-horizontal-line>
            <ng-template *ngTemplateOutlet="tplComponent; context: {$implicit: controller}"></ng-template>
          </ng-container>
        </oe-flat-widget>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-sm="12" size-md="10" size="8">
        <oe-flat-widget title="Not-implemented Controllers">
          <oe-flat-widget-line *ngFor="let component of ignoredControllers" [name]="COMPONENT.ALIAS"
            [value]="COMPONENT.ID"></oe-flat-widget-line>
        </oe-flat-widget>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
