<ion-header>
  <ion-toolbar class="ion-justify-content-center" color="primary">
    <ion-title>FixActivePower</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="!loading">
    <form [formGroup]="formGroup">
      <ion-card-content class="underline">
        <table class="full_width">
          <tr>
            <td style="width: 65%" translate>
              General.state
            </td>
            <td style="width: 35%" class="align_right" translate>
              <ng-container *ngIf="component.properties.mode == 'MANUAL_ON'">
                General.on
              </ng-container>
              <ng-container *ngIf="component.properties.mode == 'MANUAL_OFF'">
                General.off
              </ng-container>
              <ion-icon *ngIf="component.properties.mode != 'MANUAL_OFF' && component.properties.mode != 'MANUAL_ON'"
                name="help-outline"></ion-icon>
            </td>
          </tr>
          <tr *ngIf="component.properties.power >= 0">
            <td style="width: 65%" translate>
              General.dischargePower
            </td>
            <td style="width: 35%" class="align_right">
              {{ component.properties.power | unitvalue:'W' }}
            </td>
          </tr>
          <tr *ngIf="component.properties.power < 0">
            <td style="width: 65%" translate>
              General.chargePower
            </td>
            <td style="width: 35%" class="align_right">
              {{ (component.properties.power) * -1 | unitvalue:'W' }}
            </td>
          </tr>
        </table>
      </ion-card-content>
      <ion-card-content class="underline">
        <ion-segment (ionChange)="updateControllerMode($event)" [value]="component.properties['mode']"
          scrollable="false">
          <ion-segment-button value="MANUAL_ON">
            <ion-label translate>
              General.on
            </ion-label>
            <ion-icon color="success" style="width:40px" name="power-outline"></ion-icon>
          </ion-segment-button>
          <ion-segment-button value="MANUAL_OFF">
            <ion-label translate>
              General.off
            </ion-label>
            <ion-icon style="width:40px" name="power-outline"></ion-icon>
          </ion-segment-button>
        </ion-segment>
      </ion-card-content>
      <ion-card-content class="underline">
        <table class="full_width">
          <tr>
            <td style="width: 65%" translate>
              General.power
            </td>
            <td style="width: 35%" class="align_right">
              <ion-item lines="inset" class="noPadding">
                <ion-input class="regularFont" type="number" formControlName="power" style="text-align: end;">
                </ion-input>
                <ion-label class="regularFont">&nbsp;W</ion-label>
              </ion-item>
            </td>
          </tr>
        </table>
      </ion-card-content>
      <ion-card-content>
        <ion-row class="ion-justify-content-center">
          <ion-col size="6" class="ion-text-center">
            Negative Leistung = Beladung
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            Positive Leistung = Entladung
          </ion-col>
        </ion-row>
      </ion-card-content>
      <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="applyChanges()">
          <ion-icon size="large" name="checkmark-circle-outline">
          </ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>
  </ng-container>
  <ion-grid *ngIf="loading == true">
    <ion-progress-bar type="indeterminate"></ion-progress-bar>
  </ion-grid>
</ion-content>