<ng-container *ngIf="controller.properties.chargeMode == 'EXCESS_POWER' && !isPrioritization && !isCapacity">
    <ion-card-content class="underline">
        <table class="full_width">
            <tr>
                <td style="text-align: center" translate>
                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.ShortName
                </td>
            </tr>
        </table>
    </ion-card-content>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="text-align: center" translate>
                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.Info
                </td>
            </tr>
        </table>
    </ion-card-content>
</ng-container>
<ng-container *ngIf="controller.properties.chargeMode == 'FORCE_CHARGE' && !isPrioritization && !isCapacity">
    <ion-card-content class="underline">
        <table class="full_width">
            <tr>
                <td style="text-align: center" translate>
                    General.Manually
                </td>
            </tr>
        </table>
    </ion-card-content>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="text-align: center" translate>
                    Edge.Index.Widgets.EVCS.ForceChargeMode.Info
                </td>
            </tr>
            <tr>
                <td style="text-align: center; padding-top: 5px;" translate>
                    Edge.Index.Widgets.EVCS.ForceChargeMode.MaxChargingDetails
                </td>
            </tr>
        </table>
    </ion-card-content>
</ng-container>
<ng-container *ngIf="isPrioritization" translate>
    <ion-card-content class="underline">
        <table class="full_width">
            <tr>
                <td style="text-align: center" translate>
                    Edge.Index.Widgets.EVCS.Prioritization
                </td>
            </tr>
        </table>
    </ion-card-content>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="text-align: center" translate>
                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Info
                </td>
            </tr>
        </table>
    </ion-card-content>
</ng-container>
<ng-container *ngIf="isCapacity">
    <ion-card-content class="underline">
        <table class="full_width">
            <tr>
                <td style="text-align: center">
                    Kapazitätsorientierte Beladung
                </td>
            </tr>
        </table>
    </ion-card-content>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="text-align: center">
                    Set the Energylimit in this Session in Wh. The charging station will only charge till this limit;
                    '0' is no limit.
                </td>
            </tr>
        </table>
    </ion-card-content>
</ng-container>