<ng-container *ngIf="isChargingStrategy">
    <ng-container *ngIf="!controller.properties.enabledCharging">
        <ion-card-content class="underline">
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        General.Off
                    </td>
                </tr>
            </table>
        </ion-card-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.OffInfoText
                    </td>
                </tr>
            </table>
        </ion-card-content>
    </ng-container>
    <ng-container *ngIf="controller.properties.chargeMode == 'EXCESS_POWER' && controller.properties.enabledCharging">
        <ion-card-content class="underline">
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.OptimizedChargeMode.AutoName
                    </td>
                </tr>
            </table>
        </ion-card-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.OptimizedChargeMode.Info
                    </td>
                </tr>
            </table>
        </ion-card-content>
    </ng-container>
    <ng-container *ngIf="controller.properties.chargeMode == 'FORCE_CHARGE' && controller.properties.enabledCharging">
        <ion-card-content class="underline">
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.ForceChargeMode.Name
                    </td>
                </tr>
            </table>
        </ion-card-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.ForceChargeMode.Info
                    </td>
                </tr>
            </table>
        </ion-card-content>
    </ng-container>
</ng-container>
<ng-container *ngIf="!isChargingStrategy" translate>
    <ion-card-content>
        <ion-card-content class="underline">
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.Prioritization
                    </td>
                </tr>
            </table>
        </ion-card-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="text-align: center" translate>
                        Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Info
                    </td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card-content>
</ng-container>