<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>Register.title</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline" style="color: var(--ion-title-color);"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="activeSegment" (ionChange)="updateRegistrationForm($event)">
    <ion-segment-button value="installer">
        <ion-label translate>Register.segment.installer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="owner">
        <ion-label translate>Register.segment.user</ion-label>
    </ion-segment-button>
</ion-segment>

<ion-content>
    <ion-grid class="ion-padding-top">
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" [ngSwitch]="activeSegment">
            <!-- owner form -->
            <ng-container *ngSwitchCase="'owner'">
                <ion-item>
                    <ion-input formControlName="firstname" type="input"
                        [placeholder]="'Register.Form.firstname' | translate" label-placement="floating"
                        [label]="('Register.Form.firstname' | translate) + ' * '"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input labelPlacement="floating" formControlName="lastname" type="input"
                        [placeholder]="'Register.Form.lastname' | translate" label-placement="floating"
                        [label]="('Register.Form.lastname' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="street" type="input" [placeholder]="'Register.Form.street' | translate"
                        label-placement="floating" [label]="('Register.Form.street' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="zip" type="input" [placeholder]="'Register.Form.zip' | translate"
                        label-placement="floating" [label]="('Register.Form.zip' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="city" type="input" [placeholder]="'Register.Form.city' | translate"
                        label-placement="floating" [label]="('Register.Form.city' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-select formControlName="country" label-placement="floating"
                        [label]="('Register.Form.country' | translate) + ' * '">
                        <ng-container *ngFor="let country of countries">
                            <ion-select-option [value]="country.value">{{country.label}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="phone" type="input" [placeholder]="'Register.Form.phone' | translate"
                        label-placement="floating" [label]="('Register.Form.phone' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="email" type="input" [placeholder]="'Register.Form.email' | translate"
                        label-placement="floating" [label]="('Register.Form.email' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="confirmEmail" type="input"
                        [placeholder]="'Register.Form.confirmEmail' | translate" label-placement="floating"
                        [label]="('Register.Form.confirmEmail' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="password" type="password"
                        [placeholder]="'Register.Form.password' | translate" label-placement="floating"
                        [label]="('Register.Form.password' | translate) + ' * '"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="confirmPassword" type="password"
                        [placeholder]="'Register.Form.confirmPassword' | translate" label-placement="floating"
                        [label]="('Register.Form.confirmPassword' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <oe-checkbox [form]="{formGroup: formGroup, controlName: 'acceptPrivacyPolicy'}" [attributes]="{labelPlacement: 'end', text: 'Register.Form.user.acceptPrivacyPolicy' | translate: {
                        link: docsLink
                    }}">
                </oe-checkbox>
                <oe-checkbox [form]="{formGroup: formGroup, controlName: 'acceptAgb'}"
                    [attributes]="{labelPlacement: 'end', text: 'Register.Form.acceptAgb' | translate}">
                </oe-checkbox>
                <ion-item>
                    <ion-text [innerHTML]="'Register.Form.subscribeNewsletter' | translate">
                    </ion-text>
                </ion-item>
            </ng-container>
            <!-- installer form -->
            <ng-container *ngSwitchCase="'installer'">
                <ion-item>
                    <ion-input formControlName="companyName" type="input"
                        [placeholder]="'Register.Form.companyName' | translate" label-placement="floating"
                        [label]="('Register.Form.companyName' | translate) + ' * '"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="firstname" type="input"
                        [placeholder]="'Register.Form.firstname' | translate" label-placement="floating"
                        [label]="('Register.Form.firstname' | translate) + ' * '"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="lastname" type="input"
                        [placeholder]="'Register.Form.lastname' | translate" label-placement="floating"
                        [label]="('Register.Form.lastname' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="street" type="input" [placeholder]="'Register.Form.street' | translate"
                        label-placement="floating" [label]="('Register.Form.street' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="zip" type="input" [placeholder]="'Register.Form.zip' | translate"
                        label-placement="floating" [label]="('Register.Form.zip' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="city" type="input" [placeholder]="'Register.Form.city' | translate"
                        label-placement="floating" [label]="('Register.Form.city' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-select formControlName="country" label-placement="floating"
                        [label]="('Register.Form.country' | translate) + ' * '">
                        <ng-container *ngFor="let country of countries">
                            <ion-select-option [value]="country.value">{{country.label}}</ion-select-option>
                        </ng-container>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="phone" type="input" [placeholder]="'Register.Form.phone' | translate"
                        label-placement="floating" [label]="('Register.Form.phone' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="email" type="input" [placeholder]="'Register.Form.email' | translate"
                        label-placement="floating" [label]="('Register.Form.email' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="confirmEmail" type="input"
                        [placeholder]="'Register.Form.confirmEmail' | translate" label-placement="floating"
                        [label]="('Register.Form.confirmEmail' | translate) + ' * '">
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="password" type="password"
                        [placeholder]="'Register.Form.password' | translate" label-placement="floating"
                        [label]="('Register.Form.password' | translate) + ' * '"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-input formControlName="confirmPassword" type="password"
                        [placeholder]="'Register.Form.confirmPassword' | translate" label-placement="floating"
                        [label]="('Register.Form.confirmPassword' | translate) + ' * '">
                    </ion-input>
                </ion-item>
            </ng-container>
            <!-- workaround for submit with enter key https://github.com/ionic-team/ionic-framework/issues/19368 -->
            <input type="submit" style="visibility: hidden; position: absolute; position: -999px" />

            <ion-row class="ion-padding-top ion-padding-bottom">
                <ion-col>
                    <ion-button type="submit" class="ion-float-right">
                        <small translate>Register.button</small>
                        <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </form>
    </ion-grid>
</ion-content>