<ng-container *ngIf="currentData && config">
  <ion-card>
    <ion-item>
      <ion-img style="width:40px" src="assets/img/consumption.png"></ion-img>
      <ion-label>Angesteuerte Relaisausgänge</ion-label>
    </ion-item>
    <ion-card-content>
      <table class="full_width">
        <tr>
          <!-- last element of array is 'state'
              .slice(0, -1) creates a copy of the array without the last element -->
          <ng-container *ngFor="let rel of this.keys(this.currentData.data.output0).slice(0, -1)">
            <td *ngIf="this.currentData.data.output0[rel]==true" style="text-align:center">
              Ausgang {{rel}}
              <br />
              <i class="material-icons orange600" title="Eingeschaltet">
                radio_button_checked
              </i>
            </td>
            <td *ngIf="this.currentData.data.output0[rel]==false" style="text-align:center">
              Ausgang {{rel}}
              <br />
              <i class=" material-icons red" title="Ausgeschaltet">
                radio_button_unchecked
              </i>
            </td>
          </ng-container>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ng-container>