<ion-grid no-padding>
  <ion-row>
    <ng-container *ngFor="let widget of widgets" [ngSwitch]="widget.name">

      <ion-col *ngSwitchCase="'Controller.Api.ModbusTcp'" size="12">
        <modbusapi [componentId]="widget.componentId"></modbusapi>
      </ion-col>

      <ion-col *ngSwitchCase="'io.openems.impl.controller.channelthreshold.ChannelThresholdController'" size="6">
        <channelthreshold [componentId]="widget.componentId"></channelthreshold>
      </ion-col>

      <ion-col *ngSwitchCase="'Controller.ChannelThreshold'" size="6">
        <channelthreshold [componentId]="widget.componentId"></channelthreshold>
      </ion-col>

    </ng-container>

    <ion-col *ngIf="haveEvcsWidget()" size="12">
      <evcs></evcs>
    </ion-col>

  </ion-row>
</ion-grid>