<svg style.width="{{width}}px" style.height="{{height}}px">
  <!--graphic-->
  <svg:g [attr.transform]="translation">
    <svg:g app-device-overview-energymonitor-chart-consumptionsection />
    <svg:g app-device-overview-energymonitor-chart-gridsection />
    <svg:g app-device-overview-energymonitor-chart-productionsection />
    <svg:g app-device-overview-energymonitor-chart-storagesection />
  </svg:g>
</svg>
<!--legend-->
<div fxHide fxShow.xs fxLayout fxFlex fxLayoutWrap="wrap" style="margin: 20px">
  <div fxFlex="50%">
    <svg style="width:20px; height:20px; background-color:black" /> Netz
  </div>
  <div fxFlex="50%">
    <svg style="width:20px; height:20px; background-color: dodgerblue" /> Erzeugung
  </div>
  <div fxFlex="50%">
    <svg style="width:20px; height:20px; background-color:orange" /> Verbrauch
  </div>
  <div fxFlex="50%">
    <svg style="width:20px; height:20px; background-color:darkgreen" /> Speicher
  </div>
</div>