<div fxLayout fxFlex fxLayoutWrap="wrap" fxLayoutAlign="center center">
  <div fxFlex="{{width}}px">
    <svg style.width="{{width}}px" style.height="{{height}}px">
      <!--graphic-->
      <svg:g [attr.transform]="translation">
        <svg:g consumptionsection />
        <svg:g gridsection />
        <svg:g productionsection />
        <svg:g storagesection />
      </svg:g>
    </svg>
  </div>
  <!--legend-->
  <div fxHide fxShow.xs fxLayout fxFlex="100%" fxLayoutWrap="wrap" style="margin: 20px">
    <div fxFlex="50%">
      <svg style="width:20px; height:20px; background-color:#000000" i18n/> Netz
    </div>
    <div fxFlex="50%">
      <svg style="width:20px; height:20px; background-color: #008dd2" i18n/> Erzeugung
    </div>
    <div fxFlex="50%">
      <svg style="width:20px; height:20px; background-color:#fdc507" i18n/> Verbrauch
    </div>
    <div fxFlex="50%">
      <svg style="width:20px; height:20px; background-color:#009846" i18n/> Speicher
    </div>
  </div>
</div>