<ion-header>
  <ion-toolbar style="--background: var(--ion-color-toolbar-primary); color: var(--ion-title-color);">
    <ion-title translate class="oe-ci-font-family-bold">GENERAL.STORAGE_SYSTEM</ion-title>

    <ion-buttons slot="end">
      <oe-help-button key="REDIRECT.COMMON_STORAGE" useDefaultPrefix="false"></oe-help-button>

      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close-outline" style="color: var(--ion-title-color);"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100%;">

  <form [formGroup]="formGroup" *ngIf="formGroup" style="margin-bottom: 15%;" class="align_items">

    <!-- ========================================================= -->
    <!-- ONE ESS COMPONENT                                          -->
    <!-- ========================================================= -->
    <ng-container *ngIf="essComponents?.length === 1 && (edge.currentData | async) as currentData">
      <ng-container *ngFor="let component of essComponents">

        <ion-card-content [class.underline]="!isLastElement(component, essComponents)">
          @let sum = currentData.summary.storage;

          <common-storage-system [component]="component"></common-storage-system>

          <ng-container [formGroupName]="component.id" *ngIf="formGroup.controls[component.id]">

            <!-- ========================= -->
            <!-- EmergencyReserveController -->
            <!-- ========================= -->
            <ng-container
              [formGroupName]="'emergencyReserveController'"
              *ngIf="formGroup.value[component.id]?.['emergencyReserveController']"
            >
              <ion-item-divider color="light">
                <ion-grid style="width: 100%;">
                  <ion-row class="ion-align-items-center">
                    <ion-col size="7">
                      <ion-label translate>EDGE.INDEX.EMERGENCY_RESERVE.EMERGENCY_RESERVE</ion-label>
                    </ion-col>

                    <ion-col size="3" class="ion-text-end">
                      <ion-label>
                        {{
            formGroup.value[component.id]?.['emergencyReserveController']?.reserveSoc
            | unitvalue:'%'
          }}
          </ion-label>
          </ion-col>

          <ion-col size="2" class="ion-text-end">
            <ng-container
              *ngIf="formGroup.controls[component.id].value['emergencyReserveController']?.hasOwnProperty('isReserveSocEnabled')">
              <ion-toggle mode="md" [formControlName]="'isReserveSocEnabled'"></ion-toggle>
            </ng-container>
          </ion-col>
          </ion-row>
          </ion-grid>
          </ion-item-divider>

          <ion-item lines="none">
            <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
            <ion-note class="ion-text-wrap">
              <ion-text>
                <small translate>EDGE.INDEX.EMERGENCY_RESERVE.INFO_FOR_EMERGENCY_RESERVE_SLIDER</small>
              </ion-text>
            </ion-note>
          </ion-item>

          <ng-container *ngIf="
                  formGroup.value[component.id]?.['emergencyReserveController']?.['reserveSoc']
                  && formGroup.value[component.id]?.['emergencyReserveController']?.['isReserveSocEnabled']
                ">
            <ion-item lines="none">
              <ion-range formControlName="reserveSoc" pin color="primary" min="5" max="100">
                <ion-label slot="start">{{ 5 | unitvalue:'%' }}</ion-label>
                <ion-label slot="end">{{ 100 | unitvalue:'%' }}</ion-label>
              </ion-range>
            </ion-item>

            <oe-modal-horizontal-line></oe-modal-horizontal-line>

            <!-- Meta Toggle + Hinweis (wie im Original) -->
            <ng-container
              *ngIf="formGroup.controls[component.id]?.value['prepareBatteryExtensionController'] as prepareBatteryExtensionController">
              <oe-modal-line [name]="'EDGE.INDEX.WIDGETS.STORAGE.GRID_CHARGE' | translate"
                [formGroup]="formGroup.controls['_meta']" controlName="isEssChargeFromGridAllowed"
                [control]="{ type: 'TOGGLE' }" leftColumnWidth="100"></oe-modal-line>

              <oe-modal-line *ngIf="hasRequiredEdgeVersion"
                [innerHtml]="'EDGE.INDEX.WIDGETS.STORAGE.GRID_CHARGE_WARNING' | translate"></oe-modal-line>

              <oe-modal-horizontal-line></oe-modal-horizontal-line>

              <!-- Info Text, falls targetTimeSpecified true -->
              <ng-container *ngIf="prepareBatteryExtensionController['targetTimeSpecified'] === 'true'">
                <ion-item lines="none">
                  <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                  <ion-note class="ion-text-wrap">
                    <ion-text>
                      <small *ngIf="
                              !isTargetTimeInValid.get(component.id)
                              && formGroup.controls[component.id]?.value['prepareBatteryExtensionController']?.['targetTimeBuffer']
                            " [translateParams]="{
                              targetDate: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['expectedStartOfPreparation'] | date:'dd.MM.yyyy',
                              targetTime: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['expectedStartOfPreparation'] | date:'HH:mm',
                              targetSoc: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetSoc'],
                              targetTimeBuffer: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetTimeBuffer']
                            }" translate>
                        EDGE.INDEX.RETROFITTING.INFORMATION_FOR_PLANNED_EXPANSION
                      </small>

                      <small *ngIf="isTargetTimeInValid.get(component.id)" [translateParams]="{
                              targetSoc: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetSoc']
                            }" translate>
                        EDGE.INDEX.RETROFITTING.INFORMATION_FOR_PLANNED_EXPANSION_INVALID_TARGET_DATE
                      </small>
                    </ion-text>
                  </ion-note>
                </ion-item>
              </ng-container>
            </ng-container>
          </ng-container>
      </ng-container>

      <!-- ================================ -->
      <!-- ChargeDischargeLimiterController  -->
      <!-- ================================ -->
      <ng-container formGroupName="chargeDischargeLimiterController"
        *ngIf="formGroup.value[component.id]?.['chargeDischargeLimiterController']">
        <ion-item
          [color]="getBackgroundClass(formGroup.value[component.id]?.['chargeDischargeLimiterController']?.stateNumber)">
          <ion-label>
            <oe-modal-line [name]="'GENERAL.MODE' | translate" [value]="
                      ('INSTALLATION.CHARGE_DISCHARGE_STATE.' +
                        (formGroup.value[component.id]?.['chargeDischargeLimiterController']?.stateKey ?? 'UNDEFINED')
                      ) | translate
                    "></oe-modal-line>

            <ng-container
              *ngIf="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.stateKey === 'BALANCING_ACTIVE'">
              <oe-modal-line [name]="'INSTALLATION.CHARGE_DISCHARGE_STATE.BALANCING_REMAINING_SECONDS' | translate"
                [value]="
                        formGroup.value[component.id]?.['chargeDischargeLimiterController']?.balancingRemainingSeconds
                          | formatSecondsToDuration
                      "></oe-modal-line>
            </ng-container>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
          <ion-note class="ion-text-wrap">
            <ion-text>
              <small translate>EDGE.INDEX.CHARGE_DISCHARGE_LIMITER.INFO_FOR_CHARGE_DISCHARGE_LIMITER_SLIDER</small>
            </ion-text>
          </ion-note>
        </ion-item>

        <ion-item-divider color="light">
          <ion-grid style="width: 100%;">
            <ion-row class="ion-align-items-center">
              <ion-col size="9">
                <ion-label translate>INSTALLATION.CHARGE_DISCHARGE_STATE.CHARGED_ENERGY_SINCE_LAST_BALANCING</ion-label>
              </ion-col>
              <ion-col size="3" class="ion-text-end">
                <ion-label>
                  {{
                          formGroup.value[component.id]?.['chargeDischargeLimiterController']?.chargedEnergy
                            | unitvalue:'kWh'
                        }}
                </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-divider>

        <ng-container *ngIf="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.['minSoc']">

          <!-- MIN SOC -->
          <ion-item-divider color="light">
            <ion-grid style="width: 100%;">
              <ion-row class="ion-align-items-center">
                <ion-col size="3">
                  <oe-modal-line
                    [name]="'INSTALLATION.CONFIGURATION_CHARGE_DISCHARGE_LIMITER.MIN_SOC_VALUE' | translate"
                    [value]="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.minSoc + ' %'"></oe-modal-line>
                </ion-col>
                <ion-col size="9">
                  <ion-range formControlName="minSoc" pin color="primary" min="5" max="80">
                    <ion-label slot="start">{{ 5 | unitvalue:'%' }}</ion-label>
                    <ion-label slot="end">{{ 80 | unitvalue:'%' }}</ion-label>
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <!-- MAX SOC -->
          <ion-item-divider color="light">
            <ion-grid style="width: 100%;">
              <ion-row class="ion-align-items-center">
                <ion-col size="3">
                  <oe-modal-line
                    [name]="'INSTALLATION.CONFIGURATION_CHARGE_DISCHARGE_LIMITER.MAX_SOC_VALUE' | translate"
                    [value]="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.maxSoc + ' %'"></oe-modal-line>
                </ion-col>
                <ion-col size="9">
                  <ion-range formControlName="maxSoc" pin color="primary" min="80" max="100">
                    <ion-label slot="start">{{ 80 | unitvalue:'%' }}</ion-label>
                    <ion-label slot="end">{{ 100 | unitvalue:'%' }}</ion-label>
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

          <!-- FORCE SOC -->
          <ion-item-divider color="light">
            <ion-grid style="width: 100%;">
              <ion-row class="ion-align-items-center">
                <ion-col size="3">
                  <oe-modal-line
                    [name]="'INSTALLATION.CONFIGURATION_CHARGE_DISCHARGE_LIMITER.FORCE_SOC_VALUE' | translate"
                    [value]="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.forceChargeSoc + ' %'"></oe-modal-line>
                </ion-col>
                <ion-col size="9">
                  <ion-range formControlName="forceChargeSoc" pin color="primary" min="85" max="100">
                    <ion-label slot="start">{{ 85 | unitvalue:'%' }}</ion-label>
                    <ion-label slot="end">{{ 100 | unitvalue:'%' }}</ion-label>
                  </ion-range>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item-divider>

        </ng-container>
      </ng-container>

      <!-- ================================= -->
      <!-- PrepareBatteryExtensionController  -->
      <!-- ================================= -->
      <ng-container [formGroupName]="'prepareBatteryExtensionController'" *ngIf="
                formGroup.value[component.id]?.['prepareBatteryExtensionController']?.hasOwnProperty('isRunning')
                && isAtLeastInstaller
              ">
        <ion-item-divider color="light">
          <ion-grid style="width: 100%;">
            <ion-row class="ion-align-items-center">
              <ion-col size="10">
                <ion-label translate>EDGE.INDEX.RETROFITTING.OPTIMAL</ion-label>
              </ion-col>
              <ion-col size="2" class="ion-text-end">
                <ion-toggle mode="md" formControlName="isRunning"></ion-toggle>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item-divider>

        <ng-container
          *ngIf="formGroup.controls[component.id]?.value['prepareBatteryExtensionController']?.['isRunning']">
          <ng-container *ngIf="controllerIsRequiredEdgeVersion; else oldControllerVersion">

            <ng-container
              *ngIf="formGroup.controls[component.id]?.value['prepareBatteryExtensionController'] as prepareBatteryExtensionController">

              <ion-item lines="none">
                <ion-segment [formControlName]="'targetTimeSpecified'">
                  <ion-segment-button value="false">
                    <ion-label>{{ "EDGE.INDEX.RETROFITTING.INSTANT_START" | translate }}</ion-label>
                  </ion-segment-button>
                  <ion-segment-button value="true">
                    <ion-label>{{ "EDGE.INDEX.RETROFITTING.PLANNED_EXPANSION" | translate }}</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ion-item>

              <ng-container *ngIf="
                        prepareBatteryExtensionController['targetTimeSpecified'] === 'false'
                        && prepareBatteryExtensionController['targetTime']
                        && prepareBatteryExtensionController['targetSoc']
                        && prepareBatteryExtensionController['targetTimeBuffer']
                      ">
                <ion-item lines="none">
                  <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                  <ion-note class="ion-text-wrap">
                    <ion-text>
                      <small [translateParams]="{
                                targetSoc: prepareBatteryExtensionController['targetSoc'],
                                targetTime: prepareBatteryExtensionController['targetTime'],
                                targetTimeBuffer: prepareBatteryExtensionController['targetTimeBuffer']
                              }" translate>
                        EDGE.INDEX.RETROFITTING.INFORMATION_FOR_INSTANT_START
                      </small>
                    </ion-text>
                  </ion-note>
                </ion-item>
              </ng-container>

              <ng-container *ngIf="prepareBatteryExtensionController['targetTimeSpecified'] === 'true'">
                <ion-item lines="none" class="ion-justify-content-center">
                  <ion-item button="true" id="open-date-input">
                    <ion-label style="text-align: center"
                      *ngIf="prepareBatteryExtensionController['targetTime'] as targetTime; else noValidTargetTime">
                      {{
                              "EDGE.INDEX.RETROFITTING.ON_DATE_AT_TIME"
                                | translate: { date: (targetTime | date:'dd.MM.yyyy'), time: (targetTime | date:'HH:mm') }
                            }}
                    </ion-label>

                    <ion-popover trigger="open-date-input" show-backdrop="false" side="top"
                      style="--offset-y: 0px !important; --height: 50%;">
                      <ng-template>
                        <ion-datetime [showDefaultButtons]="true" style="overflow-y: auto;" presentation="date-time"
                          [doneText]="translate.instant('GENERAL.OK')"
                          [cancelText]="translate.instant('GENERAL.CANCEL')"
                          [formControlName]="'targetTime'"></ion-datetime>
                      </ng-template>
                    </ion-popover>
                  </ion-item>
                </ion-item>

                <ion-item lines="none">
                  <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                  <ion-note class="ion-text-wrap">
                    <ion-text>
                      <small *ngIf="
                                !isTargetTimeInValid.get(component.id)
                                && formGroup.controls[component.id]?.value['prepareBatteryExtensionController']?.['targetTimeBuffer']
                              " [translateParams]="{
                                targetDate: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['expectedStartOfPreparation'] | date:'dd.MM.yyyy',
                                targetTime: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['expectedStartOfPreparation'] | date:'HH:mm',
                                targetSoc: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetSoc'],
                                targetTimeBuffer: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetTimeBuffer']
                              }" translate>
                        EDGE.INDEX.RETROFITTING.INFORMATION_FOR_PLANNED_EXPANSION
                      </small>

                      <small *ngIf="isTargetTimeInValid.get(component.id)" [translateParams]="{
                                targetSoc: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetSoc']
                              }" translate>
                        EDGE.INDEX.RETROFITTING.INFORMATION_FOR_PLANNED_EXPANSION_INVALID_TARGET_DATE
                      </small>
                    </ion-text>
                  </ion-note>
                </ion-item>
              </ng-container>

            </ng-container>

          </ng-container>
        </ng-container>
      </ng-container>

    </ng-container>
    </ion-card-content>

    </ng-container>
    </ng-container>

    <!-- ========================================================= -->
    <!-- MORE THAN ONE ESS COMPONENT                                -->
    <!-- ========================================================= -->
    <ng-container *ngIf="essComponents?.length > 1">

      <!-- SUMMARY OF ALL ESS COMPONENTS -->
      <ion-card-content class="underline" *ngIf="(edge.currentData | async) as currentData">
        <ng-container *ngIf="currentData.summary.storage as sum">

          <ion-list lines="none">
            <ion-item>
              <ion-label translate>GENERAL.TOTAL</ion-label>
            </ion-item>

            <ion-item>
              <ion-label translate>GENERAL.SOC</ion-label>
              <ion-note slot="end">{{ sum.soc | unitvalue:'%' }}</ion-note>
            </ion-item>

            <ion-item>
              <ion-label translate>GENERAL.CHARGE</ion-label>
              <ion-note slot="end">{{ sum.effectiveChargePower | unitvalue:'W' }}</ion-note>
            </ion-item>

            <ion-item>
              <ion-label translate>GENERAL.DISCHARGE</ion-label>
              <ion-note slot="end">{{ sum.effectiveDischargePower | unitvalue:'W' }}</ion-note>
            </ion-item>
          </ion-list>

          <!-- 3 Phases -->
          <ng-container *ngIf="sum.activePowerL1 !== null && sum.activePowerL2 !== null && sum.activePowerL3 !== null">
            <ion-list lines="none" class="ion-padding-top">
              <ng-container *ngFor="let phase of ['L1', 'L2', 'L3']">

                <ng-container *ngIf="chargerComponents?.length !== 0; else noChargerSum">
                  @let value = sum['effectiveActivePower' + phase];

                  <ion-item *ngIf="value !== null && value !== undefined">
                    <ion-label>
                      <span translate>GENERAL.PHASE</span> {{ phase }}
                  <span translate>{{ value > 0 ? 'GENERAL.DISCHARGE' : 'GENERAL.CHARGE' }}</span>
                  </ion-label>
                  <ion-note slot="end">{{ (value > 0 ? value : (value * -1)) | unitvalue:'W' }}</ion-note>
                  </ion-item>
                </ng-container>

                <ng-template #noChargerSum>
                  @let value = sum['activePower' + phase];

                  <ion-item *ngIf="value !== null && value !== undefined">
                    <ion-label>
                      <span translate>GENERAL.PHASE</span> {{ phase }}
                  <span translate>{{ value > 0 ? 'GENERAL.DISCHARGE' : 'GENERAL.CHARGE' }}</span>
                  </ion-label>
                  <ion-note slot="end">{{ (value > 0 ? value : (value * -1)) | unitvalue:'W' }}</ion-note>
                  </ion-item>
                </ng-template>

              </ng-container>
            </ion-list>
          </ng-container>

          <!-- Info Text -->
          <ng-container *ngIf="service.currentEdge() as edge2">
            <ng-container *ngIf="edge2.currentData | async as currentData2">
              <ng-container *ngIf="currentData2.summary.storage as sum2">
                <ion-grid
                  *ngIf="sum2.activePowerL1 !== null && sum2.activePowerL2 !== null && sum2.activePowerL3 !== null"
                  class="ion-padding-top">
                  <ion-row class="ion-justify-content-center ion-align-items-center">
                    <ion-col size="2" class="ion-text-center">
                      <ion-icon color="primary" size="large" name="alert-outline"></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                      <ion-note class="ion-text-wrap">
                        <small translate>EDGE.INDEX.WIDGETS.PHASES_INFO</small>
                      </ion-note>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ng-container>
            </ng-container>
          </ng-container>

        </ng-container>
      </ion-card-content>

      <!-- ACCORDION PER ESS -->
      <ng-container *ngIf="(edge.currentData | async)?.['channel'] as currentData">
        <ion-accordion-group [multiple]="true" class="ess-accordion-group">

          <ng-container *ngFor="let component of essComponents; let i = index">
            <ion-accordion [value]="component.id" class="ess-accordion ion-align">

              <ion-item slot="header" class="ess-accordion-header">
                <ion-label style="font-weight: bold;">
                  {{ component.alias || ('Speichersystem ' + (i + 1)) }}
                </ion-label>
              </ion-item>

              <div slot="content" class="ion-padding ess-accordion-content">

                <common-storage-system [component]="component"></common-storage-system>

                <ng-container *ngIf="config.factories[component.factoryId] as factory">

                  <ng-container [formGroupName]="component.id" *ngIf="formGroup.controls[component.id]">

                    <!-- ========================= -->
                    <!-- EmergencyReserveController -->
                    <!-- ========================= -->
                    <ng-container [formGroupName]="'emergencyReserveController'"
                      *ngIf="formGroup.value[component.id]?.['emergencyReserveController']">
                      <ion-item-divider color="light">
                        <ion-grid style="width: 100%;">
                          <ion-row class="ion-align-items-center">
                            <ion-col size="7">
                              <ion-label translate>EDGE.INDEX.EMERGENCY_RESERVE.EMERGENCY_RESERVE</ion-label>
                            </ion-col>

                            <ion-col size="3" class="ion-text-end">
                              <ion-label>
                                {{
                                  formGroup.value[component.id]?.['emergencyReserveController']?.reserveSoc
                                    | unitvalue:'%'
                                }}
                              </ion-label>
                            </ion-col>

                            <ion-col size="2" class="ion-text-end">
                              <ng-container
                                *ngIf="formGroup.controls[component.id].value['emergencyReserveController']?.hasOwnProperty('isReserveSocEnabled')">
                                <ion-toggle mode="md" [formControlName]="'isReserveSocEnabled'"></ion-toggle>
                              </ng-container>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item-divider>

                      <ion-item lines="none">
                        <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                        <ion-note class="ion-text-wrap ion-align-items-center">
                          <ion-text>
                            <small style="color: var(--ion-text-color);" translate>
                              EDGE.INDEX.EMERGENCY_RESERVE.INFO_FOR_EMERGENCY_RESERVE_SLIDER
                            </small>
                          </ion-text>
                        </ion-note>
                      </ion-item>

                      <ng-container *ngIf="
                          formGroup.value[component.id]?.['emergencyReserveController']?.['reserveSoc']
                          && formGroup.value[component.id]?.['emergencyReserveController']?.['isReserveSocEnabled']
                        ">
                        <ion-item lines="none">
                          <ion-range formControlName="reserveSoc" pin color="primary" min="5" max="100">
                            <ion-label slot="start">{{ 5 | unitvalue:'%' }}</ion-label>
                            <ion-label slot="end">{{ 100 | unitvalue:'%' }}</ion-label>
                          </ion-range>
                        </ion-item>
                      </ng-container>
                    </ng-container>

                    <!-- ================================ -->
                    <!-- ChargeDischargeLimiterController  -->
                    <!-- ================================ -->
                    <ng-container formGroupName="chargeDischargeLimiterController"
                      *ngIf="formGroup.value[component.id]?.['chargeDischargeLimiterController']">
                      <ion-item
                        [color]="getBackgroundClass(formGroup.value[component.id]?.['chargeDischargeLimiterController']?.stateNumber)">
                        <ion-label>
                          <oe-modal-line [name]="'GENERAL.MODE' | translate" [value]="
                              ('INSTALLATION.CHARGE_DISCHARGE_STATE.' +
                                (formGroup.value[component.id]?.['chargeDischargeLimiterController']?.stateKey ?? 'UNDEFINED')
                              ) | translate
                            "></oe-modal-line>

                          <ng-container
                            *ngIf="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.stateKey === 'BALANCING_ACTIVE'">
                            <oe-modal-line
                              [name]="'INSTALLATION.CHARGE_DISCHARGE_STATE.BALANCING_REMAINING_SECONDS' | translate"
                              [value]="
                                formGroup.value[component.id]?.['chargeDischargeLimiterController']?.balancingRemainingSeconds
                                  | formatSecondsToDuration
                              "></oe-modal-line>
                          </ng-container>
                        </ion-label>
                      </ion-item>

                      <ion-item lines="none">
                        <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                        <ion-note class="ion-text-wrap ion-align-items-center">
                          <ion-text>
                            <small
                              translate>EDGE.INDEX.CHARGE_DISCHARGE_LIMITER.INFO_FOR_CHARGE_DISCHARGE_LIMITER_SLIDER</small>
                          </ion-text>
                        </ion-note>
                      </ion-item>

                      <ion-item-divider color="light">
                        <ion-grid style="width: 100%;">
                          <ion-row class="ion-align-items-center">
                            <ion-col size="9">
                              <ion-label
                                translate>INSTALLATION.CHARGE_DISCHARGE_STATE.CHARGED_ENERGY_SINCE_LAST_BALANCING</ion-label>
                            </ion-col>
                            <ion-col size="3" class="ion-text-end">
                              <ion-label>
                                {{
                                  formGroup.value[component.id]?.['chargeDischargeLimiterController']?.chargedEnergy
                                    | unitvalue:'kWh'
                                }}
                              </ion-label>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item-divider>

                      <ng-container
                        *ngIf="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.['minSoc']">

                        <!-- MIN SOC -->
                        <ion-item-divider color="light">
                          <ion-grid style="width: 100%;">
                            <ion-row class="ion-align-items-center">
                              <ion-col size="3">
                                <oe-modal-line
                                  [name]="'INSTALLATION.CONFIGURATION_CHARGE_DISCHARGE_LIMITER.MIN_SOC_VALUE' | translate"
                                  [value]="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.minSoc + ' %'"></oe-modal-line>
                              </ion-col>
                              <ion-col size="9">
                                <ion-range formControlName="minSoc" pin color="primary" min="5" max="80">
                                  <ion-label slot="start">{{ 5 | unitvalue:'%' }}</ion-label>
                                  <ion-label slot="end">{{ 80 | unitvalue:'%' }}</ion-label>
                                </ion-range>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item-divider>

                        <!-- MAX SOC -->
                        <ion-item-divider color="light">
                          <ion-grid style="width: 100%;">
                            <ion-row class="ion-align-items-center">
                              <ion-col size="3">
                                <oe-modal-line
                                  [name]="'INSTALLATION.CONFIGURATION_CHARGE_DISCHARGE_LIMITER.MAX_SOC_VALUE' | translate"
                                  [value]="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.maxSoc + ' %'"></oe-modal-line>
                              </ion-col>
                              <ion-col size="9">
                                <ion-range formControlName="maxSoc" pin color="primary" min="80" max="100">
                                  <ion-label slot="start">{{ 80 | unitvalue:'%' }}</ion-label>
                                  <ion-label slot="end">{{ 100 | unitvalue:'%' }}</ion-label>
                                </ion-range>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item-divider>

                        <!-- FORCE SOC -->
                        <ion-item-divider color="light">
                          <ion-grid style="width: 100%;">
                            <ion-row class="ion-align-items-center">
                              <ion-col size="3">
                                <oe-modal-line
                                  [name]="'INSTALLATION.CONFIGURATION_CHARGE_DISCHARGE_LIMITER.FORCE_SOC_VALUE' | translate"
                                  [value]="formGroup.value[component.id]?.['chargeDischargeLimiterController']?.forceChargeSoc + ' %'"></oe-modal-line>
                              </ion-col>
                              <ion-col size="9">
                                <ion-range formControlName="forceChargeSoc" pin color="primary" min="85" max="100">
                                  <ion-label slot="start">{{ 85 | unitvalue:'%' }}</ion-label>
                                  <ion-label slot="end">{{ 100 | unitvalue:'%' }}</ion-label>
                                </ion-range>
                              </ion-col>
                            </ion-row>
                          </ion-grid>
                        </ion-item-divider>

                      </ng-container>
                    </ng-container>

                    <!-- ================================= -->
                    <!-- PrepareBatteryExtensionController  -->
                    <!-- ================================= -->
                    <ng-container [formGroupName]="'prepareBatteryExtensionController'" *ngIf="
                        formGroup.value[component.id]?.['prepareBatteryExtensionController']?.hasOwnProperty('isRunning')
                        && isAtLeastInstaller
                      ">
                      <ion-item-divider color="light">
                        <ion-grid style="width: 100%;">
                          <ion-row class="ion-align-items-center">
                            <ion-col size="10">
                              <ion-label translate>EDGE.INDEX.RETROFITTING.OPTIMAL</ion-label>
                            </ion-col>
                            <ion-col size="2" class="ion-text-end">
                              <ion-toggle mode="md" formControlName="isRunning"></ion-toggle>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </ion-item-divider>

                      <ng-container
                        *ngIf="formGroup.controls[component.id]?.value['prepareBatteryExtensionController']?.['isRunning']">
                        <ng-container *ngIf="controllerIsRequiredEdgeVersion; else oldControllerVersion">

                          <ng-container
                            *ngIf="formGroup.controls[component.id]?.value['prepareBatteryExtensionController'] as prepareBatteryExtensionController">

                            <ion-item lines="none">
                              <ion-segment [formControlName]="'targetTimeSpecified'">
                                <ion-segment-button value="false">
                                  <ion-label>{{ "EDGE.INDEX.RETROFITTING.INSTANT_START" | translate }}</ion-label>
                                </ion-segment-button>
                                <ion-segment-button value="true">
                                  <ion-label>{{ "EDGE.INDEX.RETROFITTING.PLANNED_EXPANSION" | translate }}</ion-label>
                                </ion-segment-button>
                              </ion-segment>
                            </ion-item>

                            <ng-container *ngIf="
                                prepareBatteryExtensionController['targetTimeSpecified'] === 'false'
                                && prepareBatteryExtensionController['targetTime']
                                && prepareBatteryExtensionController['targetSoc']
                                && prepareBatteryExtensionController['targetTimeBuffer']
                              ">
                              <ion-item lines="none">
                                <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                                <ion-note class="ion-text-wrap ion-align-items-center">
                                  <ion-text>
                                    <small [translateParams]="{
                                        targetSoc: prepareBatteryExtensionController['targetSoc'],
                                        targetTime: prepareBatteryExtensionController['targetTime'],
                                        targetTimeBuffer: prepareBatteryExtensionController['targetTimeBuffer']
                                      }" translate>
                                      EDGE.INDEX.RETROFITTING.INFORMATION_FOR_INSTANT_START
                                    </small>
                                  </ion-text>
                                </ion-note>
                              </ion-item>
                            </ng-container>

                            <ng-container *ngIf="prepareBatteryExtensionController['targetTimeSpecified'] === 'true'">
                              <!-- IMPORTANT: unique id/trigger per component -->
                              <ion-item lines="none" class="ion-justify-content-center">
                                <ion-item button="true" id="open-date-input-{{component.id}}">
                                  <ion-label style="text-align: center"
                                    *ngIf="prepareBatteryExtensionController['targetTime'] as targetTime; else noValidTargetTime">
                                    {{
                                      "EDGE.INDEX.RETROFITTING.ON_DATE_AT_TIME"
                                        | translate: { date: (targetTime | date:'dd.MM.yyyy'), time: (targetTime | date:'HH:mm') }
                                    }}
                                  </ion-label>

                                  <ion-popover [trigger]="'open-date-input-' + component.id" show-backdrop="false"
                                    side="top" style="--offset-y: 0px !important; --height: 50%;">
                                    <ng-template>
                                      <ion-datetime [showDefaultButtons]="true" style="overflow-y: auto;"
                                        presentation="date-time" [doneText]="translate.instant('GENERAL.OK')"
                                        [cancelText]="translate.instant('GENERAL.CANCEL')"
                                        [formControlName]="'targetTime'"></ion-datetime>
                                    </ng-template>
                                  </ion-popover>
                                </ion-item>
                              </ion-item>

                              <ion-item lines="none">
                                <ion-icon slot="start" name="information-outline" size="large"></ion-icon>
                                <ion-note class="ion-text-wrap ion-align-items-center">
                                  <ion-text>
                                    <small *ngIf="
                                        !isTargetTimeInValid.get(component.id)
                                        && formGroup.controls[component.id]?.value['prepareBatteryExtensionController']?.['targetTimeBuffer']
                                      " [translateParams]="{
                                        targetDate: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['expectedStartOfPreparation'] | date:'dd.MM.yyyy',
                                        targetTime: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['expectedStartOfPreparation'] | date:'HH:mm',
                                        targetSoc: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetSoc'],
                                        targetTimeBuffer: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetTimeBuffer']
                                      }" translate>
                                      EDGE.INDEX.RETROFITTING.INFORMATION_FOR_PLANNED_EXPANSION
                                    </small>

                                    <small *ngIf="isTargetTimeInValid.get(component.id)" [translateParams]="{
                                        targetSoc: formGroup.controls[component.id]?.value['prepareBatteryExtensionController']['targetSoc']
                                      }" translate>
                                      EDGE.INDEX.RETROFITTING.INFORMATION_FOR_PLANNED_EXPANSION_INVALID_TARGET_DATE
                                    </small>
                                  </ion-text>
                                </ion-note>
                              </ion-item>
                            </ng-container>

                          </ng-container>

                        </ng-container>
                      </ng-container>
                    </ng-container>

                  </ng-container>
                </ng-container>

              </div>
            </ion-accordion>
          </ng-container>

        </ion-accordion-group>
      </ng-container>

    </ng-container>

    <!-- ========================================================= -->
    <!-- DC Charger                                                 -->
    <!-- ========================================================= -->
    <ng-container *ngIf="chargerComponents?.length !== 0 && essComponents?.length !== 1">
      <ng-container *ngFor="let component of chargerComponents">

        <ion-card-content [class.underline]="!isLastElement(component, chargerComponents)">

          <ng-container *ngIf="(edge.currentData | async)?.['channel'] as currentData">
            @let value = currentData[component.id + '/ActualPower'];

            <ion-list lines="none" *ngIf="value !== null && value !== undefined">
              <ion-item>
                <ion-label>{{ component.alias }}</ion-label>
            </ion-item>

            <ion-item>
              <ion-label translate>GENERAL.CHARGE</ion-label>
              <ion-note slot="end">{{ (value > 0 ? value : null) | unitvalue:'W' }}</ion-note>
            </ion-item>

            <ion-item>
              <ion-label translate>GENERAL.DISCHARGE</ion-label>
              <ion-note slot="end">{{ (value <= 0 ? (value * -1) : null) | unitvalue:'W' }}</ion-note>
            </ion-item>
            </ion-list>
          </ng-container>

          <!-- Falls du für Charger ebenfalls Controller anzeigen willst, müsstest du hier analog
               component.id + formGroupName setzen. In deinem Original war das an mehreren Stellen
               inkonsistent; ich habe es bewusst weggelassen, damit das Template garantiert schließt. -->

        </ion-card-content>

      </ng-container>
    </ng-container>

  </form>

  <!-- ========================================================= -->
  <!-- Templates / Floating Action                                -->
  <!-- ========================================================= -->
  <ng-template #oldControllerVersion>
    <ion-item lines="none" class="ion-padding-top">
      <ion-text>
        <span translate>EDGE.INDEX.RETROFITTING.UPDATE_TO_NEW_VERSION</span>
        →
        <a (click)="modalCtrl.dismiss()" routerLink="/device/{{ edge.id }}/settings/system"
          [innerHtml]="'EDGE.INDEX.SYSTEMUPDATE' | translate"></a>
      </ion-text>
    </ion-item>
  </ng-template>

  <ion-fab *ngIf="formGroup?.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="applyChanges()">
      <ion-icon size="large" name="oe-checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ng-template #noValidTargetTime>
    <ion-icon name="oe-warning" color="warning"></ion-icon>
    <ion-label style="text-align: center;">
      {{ "EDGE.INDEX.RETROFITTING.SELECT_A_DATE" | translate }}
    </ion-label>
  </ng-template>

</ion-content>
