<ion-card>
    <ion-item lines="full" color="light">
        <ion-icon slot="start" size="large" color="primary" name="information-circle-outline"></ion-icon>
        <ion-label>Info</ion-label>
    </ion-item>
    <ion-card-content>
        <ion-grid no-padding>
            Durch eine Umstellung des Monitorings finden Sie das Diagramm für den Ladezustand ab sofort in der
            Darstellung der historischen Daten. Klicken Sie dazu oben auf "HISTORIE".
        </ion-grid>
    </ion-card-content>
</ion-card>