<oe-chart [title]="COMPONENT_SOME.DISPLAY_NAME" *ngIf="isInitialized && component && componentSome"
  [period]="SERVICE.HISTORY_PERIOD.VALUE">

  <ng-container [ngSwitch]="COMPONENT_SOME.TYPE">
    <sumChart *ngSwitchCase="'sum'" [isOnlyChart]="true"></sumChart>
    <productionMeterChart *ngSwitchCase="'productionMeter'" [isOnlyChart]="true"></productionMeterChart>
    <chargerChart *ngSwitchCase="'charger'" [isOnlyChart]="true"></chargerChart>
  </ng-container>
</oe-chart>
<oe-footer-subnavigation *ngIf="isInitialized" [backButton]="true"
  [navigationOptions]="navigationButtons"></oe-footer-subnavigation>
