<installation-view iconName="clipboard-outline"
  header="{{ 'INSTALLATION.PROTOCOL_FEED_IN_MANAGEMENT.TITLE' | translate }}" (previousClicked)="onPreviousClicked()"
  (nextClicked)="onNextClicked()">

  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

  <ion-card *ngIf="(form.controls['feedInType']?.value === FeedInType.DYNAMIC_LIMITATION) && !showRundSteuerManual">
    <ion-card-content>
      <ion-card-subtitle color="success">Info:</ion-card-subtitle>

      <ion-row>
        Ihr Energiespeichersystem versucht die Abregelung der PV-Anlage durch intelligente Beladung zu vermeiden.
      </ion-row>

      <ion-card-subtitle color="danger">Warning:</ion-card-subtitle>

      <ion-row>
        Dies ersetzt nicht die ordnungsgemäße Konfiguration des PV-Wechselrichters!
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-item *ngIf="(form.controls['feedInType']?.value === FeedInType.EXTERNAL_LIMITATION) && showRundSteuerManual">
    <ion-button (click)="openManual()" slot="end">
      <ion-label>{{ 'INSTALLATION.PROTOCOL_PV.OPEN_MANUAL' | translate }}</ion-label>
      <ion-icon name="open-outline" slot="start"></ion-icon>
    </ion-button>
  </ion-item>

</installation-view>
