<installation-view iconName="clipboard-outline" header="Einspeisemanagement" (previousClicked)="onPreviousClicked()"
  (nextClicked)="onNextClicked()">

  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>

  <ion-item *ngIf="form.controls['feedInType'].value == FeedInType.EXTERNAL_LIMITATION">
    <ion-button (click)="openManual()" slot="end">
      <ion-label>Anleitung öffnen</ion-label>
      <ion-icon name="open-outline" slot="start"></ion-icon>
    </ion-button>
  </ion-item>

</installation-view>