<ng-container *ngIf="device">
  <ng-container *ngFor="let bridge of (device.config | async)?.things">
    <ng-container *ngFor="let device of bridge.devices">
      <ng-container *ngIf="device.class == 'io.openems.impl.device.refu.Refu'">

        <md-card class="single">
          <md-card-header>
            <md-icon md-card-avatar>stop</md-icon>
            <md-card-title translate>Device.Config.More.RefuInverter</md-card-title>
            <md-card-subtitle>{{ device.ess.id }}</md-card-subtitle>
          </md-card-header>
          <md-card-content>
            <p translate>Device.Config.More.RefuStartStop</p>
            <button md-raised-button (click)="setInverterState(device.ess.id, true)" class="btn btn-default"><span translate>Device.Config.More.RefuStart</span></button>
            <button md-raised-button (click)="setInverterState(device.ess.id, false)" class="btn btn-default"><span translate>Device.Config.More.RefuStop</span></button>
          </md-card-content>
        </md-card>

      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>