<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{title}} <span class="label label-default">{{thing}}</span></h3>
  </div>
  <table class="table">
    <tr>
      <td>Wirkleistung</td>
      <td>L1</td>
      <td align="right">{{activePowerL1}} W</td>
    </tr>
    <tr>
      <td></td>
      <td>L2</td>
      <td align="right">{{activePowerL2}} W</td>
    </tr>
    <tr>
      <td></td>
      <td>L3</td>
      <td align="right">{{activePowerL3}} W</td>
    </tr>
    <!--<tr>
      <td>Blindleistung</td>
      <td>L1</td>
      <td align="right">{{reactivePowerL1}} W</td>
    </tr>
    <tr>
      <td></td>
      <td>L2</td>
      <td align="right">{{reactivePowerL2}} W</td>
    </tr>
    <tr>
      <td></td>
      <td>L3</td>
      <td align="right">{{reactivePowerL3}} W</td>
    </tr>-->
  </table>
</div>