<div *ngIf="(websocket.currentEdge | async) as currentEdge">
  <ng-container *ngIf="(currentEdge.config | async) as config">
    <h1>Things</h1>
    <ng-container *ngFor="let thing of utils.keyvalues(config.things)">
      <p>
        <b>{{ thing.key }}:</b>
      </p>
      <ul>
        <li *ngFor="let channel of utils.keyvalues(thing.value)">
          <b>{{ channel.key }}: </b>{{ channel.value | json }}</li>
      </ul>
    </ng-container>
    <h1>Meta</h1>
    <ng-container *ngFor="let class of utils.keyvalues(config.meta)">
      <p>
        <b>{{ class.key }}:</b>
      </p>
      <ul>
        <ng-container *ngFor="let key of utils.keyvalues(class.value)">
          <li *ngIf="key.key != 'channels'">
            <b>{{ key.key }}: </b>{{ key.value | json }}</li>
        </ng-container>
        <li>Channels</li>
        <ul *ngFor="let channel of utils.keyvalues(class.value.channels)">
          <li>
            <b>{{ channel.key }}: </b>
          </li>
          <ul>
            <li *ngFor="let key of utils.keyvalues(channel.value)">
              <b>{{ key.key }}: </b>{{ key.value | json }}</li>
          </ul>
        </ul>
      </ul>
    </ng-container>
  </ng-container>
</div>