<ion-grid>
  <ion-row justify-content-center>
    <ion-col size-xl="10" size-xs="12">
      <ion-card padding>
        <ion-item>
          <ion-avatar>
            <ion-icon size="large" color="primary" name="information-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-label text-wrap>
            OpenEMS UI
            <ion-card-subtitle translate>About.UI</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-card-content text-wrap>
          <p translate>About.Developed</p>
          <ul>
            <li>
              <a target="_blank" href="https://openems.io" translate>About.OpenEMS</a>
            </li>
            <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/releases/tag/2018.10">
              <span translate>About.Build</span>: 2018.10.0 (2018-11-27)</a>
            </li>
            <!-- <li>
              <a target="_blank" href="https://github.com/OpenEMS/openems/tree/develop">
                <span translate>About.Build</span>: 2018.10.0-SNAPSHOT</a>
            </li> -->
          </ul>
          <p>
            <span [innerHTML]="'About.Contact' | translate:{value: 'info@openems.io'}"></span>
          </p>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>