<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>announcement</md-icon>
    <md-card-title>FEMS UI</md-card-title>
    <md-card-subtitle translate>About.UI</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <p translate>About.Developed</p>
    <ul>
      <li><a target="_blank" href="https://fenecon.de" translate>About.Fenecon</a></li>
      <li><a target="_blank" href="https://fenecon.de/page/stromspeicher-fems" translate>About.Fems</a></li>
      <li><a target="_blank" href="https://github.com/OpenEMS/openems-gui" translate>About.Sourcecode</a></li>
      <li><a target="_blank" href="https://github.com/OpenEMS/openems-gui/commits/master" translate>About.CurrentDevelopments</a></li>
      <li><a target="_blank" href="https://github.com/OpenEMS/openems-gui/commit/COMMIT_ID" translate>About.Build</a></li>
    </ul>
    <p><span [innerHTML]="'About.Contact' | translate"></span></p>
    <hr/>
    <p translate>About.Language</p>
    <ul>
      <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
    </ul>
  </md-card-content>
</md-card>