<oe-modal [title]="this.component.alias" [component]="component" [formGroup]="formGroup" *ngIf="isInitialized">
    <oe-modal-buttons [formGroup]="formGroup" controlName="mode" [component]="component" [buttons]="[
    { name: 'Aus', value: 'ZERO', icon: {color:'primary', name: 'close-circle-outline'}},
    { name: 'Minimal', value: 'MINIMUM', icon: {color:'primary', name: 'radio-button-off-outline'}},
    { name: 'PV', value: 'SURPLUS', icon: {color:'primary', name: 'sunny-outline'}},
    { name: 'Schnell', value: 'FORCE', icon: {color:'primary', name: 'radio-button-on-outline'}}]">
    </oe-modal-buttons>

    <ng-container *ngIf="edge.roleIsAtLeast('admin')">
        <oe-modal-info-line [info]="'Edge.Index.Widgets.SCHEDULE.CHART_TITLE_ADMIN'| translate"></oe-modal-info-line>

        <scheduleChart class="ion-padding" [refresh]="refreshChart" [component]="component" [edge]="edge">
        </scheduleChart>
        <oe-modal-horizontal-line></oe-modal-horizontal-line>
        <powerChart class="ion-padding" [refresh]="refreshChart" [component]="component" [edge]="edge">
        </powerChart>

    </ng-container>
</oe-modal>
