<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/storagechart">
    <ion-item lines="full" color="light">
        <ion-avatar slot="start">
            <img src="assets/img/storage.png">
        </ion-avatar>
        <ion-label translate>General.storageSystem</ion-label>
    </ion-item>
    <ion-card-content>
        <ng-container *ngIf="data && edge && service.isKwhAllowed(edge); else noData">
            <ng-container *ngIf="essComponents.length == 1">
                <table class="full_width">
                    <tr>
                        <td style="width:65%" translate>General.chargePower</td>
                        <td style="width:35%" class="align_right">
                            {{data["_sum/EssActiveChargeEnergy"] | unitvalue:'kWh'}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.dischargePower</td>
                        <td style="width:35%" class="align_right">
                            {{data["_sum/EssActiveDischargeEnergy"] | unitvalue:'kWh'}}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>Ladung</td>
                        <td style="width:35%" class="align_right">
                            {{data["_sum/EssAmpereHours"] | unitvalue:'Ah'}}
                        </td>
                    </tr>
                </table>
            </ng-container>
            <ng-container *ngIf="essComponents.length > 1">
                <ng-container *ngFor="let component of essComponents">
                    <ion-card-content class="underline">
                        <table class="full_width">
                            <tr>
                                <td style="width: 100%">
                                    {{ component.alias }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:65%" translate>General.chargePower</td>
                                <td style="width:35%" class="align_right">
                                    {{ data[component.id + "/ActiveChargeEnergy"] | unitvalue:'kWh' }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:65%" translate>General.dischargePower</td>
                                <td style="width:35%" class="align_right">
                                    {{ data[component.id + "/ActiveDischargeEnergy"] | unitvalue:'kWh' }}
                                </td>
                            </tr>
                            <tr>
                                <td style="width:65%" translate>Ladung</td>
                                <td style="width:35%" class="align_right">
                                    {{ data[component.id + "/BmsAmpereHours"] | unitvalue:'Ah' }}
                                </td>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
            </ng-container>
        </ng-container>
        <ng-template #noData>
            <table class="full_width">
                <tr>
                    <td style="width:65%"></td>
                    <td style="width:35" class="align_right">&nbsp;</td>
                </tr>
            </table>
        </ng-template>
    </ion-card-content>
</ion-card>