<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/storagechart">
    <ion-item lines="full" color="light">
        <ion-icon slot="start" name="oe-storage" color="success" size="large"></ion-icon>
        <ion-label translate>General.storageSystem</ion-label>
    </ion-item>
    <ion-card-content>
        <ng-container *ngIf="data && edge; else noData">
            <table class="full_width">
                <tr>
                    <td style="width:65%" translate>General.chargePower</td>
                    <td style="width:35%" class="align_right">
                        {{ data["_sum/EssDcChargeEnergy"] | unitvalue:'kWh' }}
                    </td>
                </tr>
                <tr>
                    <td style="width:65%" translate>General.dischargePower</td>
                    <td style="width:35%" class="align_right">
                        {{ data["_sum/EssDcDischargeEnergy"] | unitvalue:'kWh' }}
                    </td>
                </tr>
            </table>
        </ng-container>
        <ng-template #noData>
            <table class="full_width">
                <tr>
                    <td style="width:65%"></td>
                    <td style="width:35" class="align_right">&nbsp;</td>
                </tr>
            </table>
        </ng-template>
    </ion-card-content>
</ion-card>
