<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>{{ component.alias }}</ion-title>
        <ion-buttons slot="end">
            <ion-button target="_blank"
                href="https://docs.fenecon.de/de/_/latest/fems/fems-app/includes/FEMS_App_Heizstab.html">
                <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button>
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="component && service.currentEdge | async as edge">
            <ng-container *ngIf="edge.currentData | async as currentData">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width:65%" translate>General.state</td>
                            <td style="width:35%" class="align_right" translate>
                                <ng-container *ngIf="(activePhases | async) > 0">
                                    General.active
                                </ng-container>
                                <ng-container *ngIf="(activePhases | async) == 0">
                                    General.inactive
                                </ng-container>
                            </td>
                        </tr>
                        <tr *ngIf="(activePhases | async) > 0">
                            <td style="width: 65%" translate>
                                Edge.Index.Widgets.Heatingelement.activeLevel
                            </td>
                            <td style="width:35%" class="align_right">
                                Level&nbsp;{{ (activePhases | async) }}</td>
                        </tr>
                    </table>
                </ion-card-content>
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td translate>
                                General.mode
                            </td>
                        </tr>
                    </table>
                    <ion-segment (ionChange)="updateMode($event, component)" value="{{ component.properties['mode'] }}"
                        scrollable="false">
                        <ion-segment-button value="MANUAL_ON">
                            <ion-label translate>
                                General.on
                            </ion-label>
                            <ion-icon color="success" style="width:40px" name="power"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="AUTOMATIC">
                            <ion-label translate>
                                General.automatic
                            </ion-label>
                            <ion-icon style="width:40px" name="sunny">
                            </ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="MANUAL_OFF">
                            <ion-label translate>
                                General.off
                            </ion-label>
                            <ion-icon name="power" style="width: 40px"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-card-content>
                <form [formGroup]="formGroup">
                    <ng-container *ngIf="component.properties['mode'] == 'MANUAL_ON'">
                        <ion-item lines="none">
                            <div style="font-size: 14px">Level:</div>
                            <ion-select formControlName="defaultLevel" [value]="component.properties['defaultLevel']"
                                (ionChange)="updateDefaultLevel($event)" [okText]="translate.instant('General.ok')"
                                [cancelText]="translate.instant('General.cancel')">
                                <ion-select-option value="LEVEL_1">Level 1</ion-select-option>
                                <ion-select-option value="LEVEL_2">Level 2</ion-select-option>
                                <ion-select-option value="LEVEL_3">Level 3</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ng-container>
                    <ng-container *ngIf="component.properties['mode'] == 'AUTOMATIC'">
                        <ion-card-content [class.underline]="
                        formGroup.value.workMode !='NONE'">
                            <table class=" full_width">
                                <tr>
                                    <td style="width: 65%">
                                        Minimale Beheizung garantieren
                                    </td>
                                    <td style="width: 35%" class="align_right">
                                        <ion-toggle (ionChange)="switchAllowMinimumHeating($event)"
                                            [checked]="formGroup.value.workMode != 'NONE'">
                                        </ion-toggle>
                                    </td>
                                </tr>
                            </table>
                        </ion-card-content>
                        <ng-container *ngIf="formGroup.value.workMode != 'NONE'">
                            <ion-card-content class="underline ion-no-padding">
                                <ion-grid>
                                    <ion-row class="ion-justify-content-center">
                                        <ion-col size="6">
                                            <ion-item lines="none" class="ion-text-end">
                                                <ion-label>
                                                    Endzeit:
                                                </ion-label>
                                                <ion-datetime [cancelText]="translate.instant('General.cancel')"
                                                    [value]="component.properties.endTime"
                                                    [doneText]="translate.instant('General.ok')"
                                                    (ionChange)="updateEndTime($event)" displayFormat="HH:mm"
                                                    pickerFormat="HH:mm">
                                                </ion-datetime>
                                            </ion-item>
                                        </ion-col>
                                        <ion-col size="6">
                                            <ion-item lines="none">
                                                Level:
                                                <ion-select formControlName="defaultLevel"
                                                    [value]="component.properties['defaultLevel']"
                                                    (ionChange)="updateDefaultLevel($event)"
                                                    [okText]="translate.instant('General.ok')"
                                                    [cancelText]="translate.instant('General.cancel')">
                                                    <ion-select-option value="LEVEL_1">Level 1</ion-select-option>
                                                    <ion-select-option value="LEVEL_2">Level 2</ion-select-option>
                                                    <ion-select-option value="LEVEL_3">Level 3</ion-select-option>
                                                </ion-select>
                                            </ion-item>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-card-content>
                            <ion-card-content>
                                <table class="full_width">
                                    <tr>
                                        <td style="width: 100%;">
                                            Mindeslaufzeit
                                        </td>
                                    </tr>
                                    <tr>
                                        <ion-range (ionChange)="updateMinTime($event)" style="width: 100%" color="dark"
                                            pin="true" min="1" max="10" style="padding-top: 8px;"
                                            [value]="component.properties.minTime" debounce="500">
                                            <ion-label slot="start">
                                                {{ 1 | unitvalue:'H'}}
                                            </ion-label>
                                            <ion-label slot="end">
                                                {{ 10 | unitvalue:'H'}}
                                            </ion-label>
                                        </ion-range>
                                    </tr>
                                </table>
                                <table class="full_width"
                                    *ngIf="currentData.channel[component.id + '/ForceStartAtSecondOfDay'] as forceStartAtSecondOfDay">
                                    <tr>
                                        <td style="width: 65%" translate>
                                            Edge.Index.Widgets.Heatingelement.timeCountdown
                                        </td>
                                        <td style="width: 35%" class="align_right">
                                            {{ forceStartAtSecondOfDay * 1000 | date:'H:mm':'UTC' }}&nbsp;h
                                        </td>
                                    </tr>
                                </table>
                            </ion-card-content>
                        </ng-container>
                    </ng-container>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>
    <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="applyChanges()">
            <ion-icon size="large" name="checkmark-circle-outline">
            </ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid *ngIf="loading == true">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-grid>
</ion-content>