<oe-navigation-view [formGroup]="form" [component]="PROPS.OPTIONS[0].component"
    *ngIf="props && PROPS.OPTIONS[0].component" (emitForm)="setForm($event)">
    <ngx-spinner name="formly-field-modal"></ngx-spinner>
    <ng-container *ngFor="let entry of PROPS.OPTIONS">
        <ng-container *ngFor="let line of ENTRY.LINES">
            <ng-container [ngSwitch]="LINE.TYPE">

                <!-- OE_FORMLY_FIELD.CHANNEL_LINE -->
                <oe-modal-line *ngSwitchCase="'channel-line'" [filter]="LINE.FILTER"
                    [textIndent]="LINE.INDENTATION ?? '0%'" [name]="LINE.NAME" [channelAddress]="LINE.CHANNEL"
                    [converter]="LINE.CONVERTER">
                </oe-modal-line>

                <!-- OE_FORMLY_FIELD.CHILDREN_LINE -->
                <oe-modal-line *ngSwitchCase="'children-line'" [filter]="LINE.FILTER"
                    [textIndent]="LINE.INDENTATION ?? '0%'" [name]="LINE.NAME">
                    <ng-container *ngFor="let lineItem of LINE.CHILDREN">
                        <!-- OE_FORMLY_FIELD.ITEM -->
                        <oe-modal-line-item [channelAddress]="LINE_ITEM.CHANNEL" [filter]="LINE_ITEM.FILTER"
                            [converter]="LINE_ITEM.CONVERTER">
                        </oe-modal-line-item>
                    </ng-container>
                </oe-modal-line>

                <!-- OE_FORMLY_FIELD.INFO_LINE -->
                <oe-modal-info-line *ngSwitchCase="'info-line'" [info]="LINE.NAME">
                </oe-modal-info-line>

                <!-- OE_FORMLY_FIELD.HORIZONTAL_LINE -->
                <oe-modal-horizontal-line *ngSwitchCase="'horizontal-line'"></oe-modal-horizontal-line>

                <oe-modal-value-line *ngSwitchCase="'value-from-channels-line'"
                    [channelsToSubscribe]="LINE.CHANNELS_TO_SUBSCRIBE" [textIndent]="LINE.INDENTATION ?? '0%'"
                    [valueCallback]="LINE.VALUE" [filter]="LINE.FILTER" [name]="LINE.NAME"></oe-modal-value-line>

                <!-- FormGrouped -->
                <ng-container *ngSwitchCase="'value-from-form-control-line'">
                    <oe-modal-line [controlName]="LINE.CONTROL_NAME" [formGroup]="form" [name]="LINE.NAME"
                        [control]="{type: 'TEXT', valueConverter: LINE.CONVERTER}">
                    </oe-modal-line>
                </ng-container>

                <ng-container *ngSwitchCase="'buttons-from-form-control-line'">
                    <oe-modal-buttons *ngIf="FORM.CONTROLS[LINE.CONTROL_NAME] !== null" [formGroup]="form"
                        [controlName]="LINE.CONTROL_NAME" [component]="component" [buttons]="LINE.BUTTONS"
                        [channelAddress]="LINE.CHANNEL?.toString() ?? null">
                    </oe-modal-buttons>
                </ng-container>

                <!-- OE_FORMLY_FIELD.RANGE_BUTTON_FROM_FORM_CONTROL_LINE -->
                <oe-modal-line *ngSwitchCase="'range-button-from-form-control-line'" [controlName]="LINE.CONTROL_NAME"
                    [control]="{type: 'RANGE', properties: LINE.PROPERTIES}" [formGroup]="form">
                </oe-modal-line>

            </ng-container>
        </ng-container>
    </ng-container>
</oe-navigation-view>