<oe-chart *ngIf="isInitialized" [title]="COMPONENT.ALIAS">
    <modbusTcpApiChart [isOnlyChart]="true" [component]="component">
        <div *ngIf="THIS.COMPONENT && THIS.COMPONENT.FACTORY_ID === 'CONTROLLER.API.MODBUS_TCP.READ_WRITE'">
            <ion-row class="ion-justify-content-center">
                <ion-item class="ion-text-center" lines="none">
                    <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                    <ion-label class="ion-text-wrap">
                        <ion-row class="ion-text-center" style="white-space: pre !important; width: 100%">
                            <small translate>
                                EDGE.INDEX.WIDGETS.INFO_STORAGE_FOR_CHARGE
                            </small>
                        </ion-row>
                        <ion-row size="6" class="ion-text-center" style="white-space: pre !important; width: 100%">
                            <small translate>
                                EDGE.INDEX.WIDGETS.INFO_STORAGE_FOR_DISCHARGE
                            </small>
                        </ion-row>
                    </ion-label>
                </ion-item>
            </ion-row>
        </div>
    </modbusTcpApiChart>
</oe-chart>
