<oe-chart *ngIf="isInitialized" [title]="component.alias">
    <modbusTcpApiChart [isOnlyChart]="true" [component]="component">
        <div *ngIf="this.component && this.component.factoryId === 'Controller.Api.ModbusTcp.ReadWrite'">
        <ion-row class="ion-justify-content-center">
            <ion-item class="ion-text-center" lines="none">
                <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <ion-row class="ion-text-center" translate>
                        <small translate>
                            Edge.Index.Widgets.InfoStorageForCharge
                        </small>
                    </ion-row>
                    <ion-row size="6" class="ion-text-center">
                        <small translate>
                             Edge.Index.Widgets.InfoStorageForDischarge
                        </small>
                    </ion-row>
                </ion-label>
            </ion-item>
        </ion-row>
    </div>
</modbusTcpApiChart>
</oe-chart>
