<md-card class="single" *ngIf="device">
  <md-card-header>
    <md-icon md-card-avatar>history</md-icon>
    <md-card-title translate>General.History</md-card-title>
  </md-card-header>
  <md-card-content>
    <div style="height: 150px">
      <socchart [device]="device" [channels]="socChannels" [fromDate]="fromDate" [toDate]="toDate"></socchart>
    </div>
  </md-card-content>
  <md-card-actions fxLayout fxLayoutAlign="end start">
    <button md-fab routerLink="/device/{{ device.name }}/history"><md-icon>navigate_next</md-icon></button>
  </md-card-actions>
</md-card>