<mat-card class="single" *ngIf="device">
  <mat-card-header>
    <mat-icon mat-card-avatar>history</mat-icon>
    <mat-card-title translate>General.History</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div style="height: 150px">
      <socchart [device]="device" [channels]="socChannels" [fromDate]="fromDate" [toDate]="toDate"></socchart>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout fxLayoutAlign="end start">
    <button mat-fab routerLink="/device/{{ device.name }}/history"><mat-icon>navigate_next</mat-icon></button>
  </mat-card-actions>
</mat-card>