<table class="full_width" *ngIf="show" style="color: var(--ion-card-content) !important">
    <tr>
        <!-- Name of Parameter on the left side -->
        <td [STYLE.WIDTH]="(leftColumnWidth ?? 65)  + '%'">
            <ng-container *ngIf="displayName">{{ displayName }}</ng-container>
        </td>
        <!-- Value of Parameter on the right side -->
        <td *ngIf="displayValue" [STYLE.WIDTH]="(leftColumnWidth ?? 35) +  '%'" class="align_right">
            <ng-container>{{ displayValue }}</ng-container>
        </td>

        <ng-container *ngTemplateOutlet="contentTpl"></ng-container>

        <ng-template #contentTpl>
            <td *ngIf="!displayValue" [STYLE.WIDTH]="(100 - (leftColumnWidth ?? 50))  + '%'" class="align_right">
                <!-- 'Normal' line, name and value  -->
                <ng-content></ng-content>
            </td>
        </ng-template>
    </tr>
</table>
