<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <ion-label style="white-space:pre-wrap">
                    <a [href]="PROPS.URL" class="underline" target="_blank">{{PROPS.LABEL}}</a>&nbsp;{{secondLabel}}
                </ion-label>
            </ion-item>
        </ion-col>
        <ion-col>
            <ion-item lines="none" class="custom-checkbox">
                <ion-checkbox color="primary" slot="end" [formControl]="formControl" [value]="PROPS.VALUE"
                    [required]="PROPS.REQUIRED"></ion-checkbox>
            </ion-item>
        </ion-col>
    </ion-row>
</ion-grid>
