<header></header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3" size-sm="4">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" color="danger" name="flame"></ion-icon>
            <ion-label>Heizstab RTU</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-button class="ion-float-right" (click)="presentModalHeatingelementRTU()">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3" size-sm="4">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" color="danger" name="flame"></ion-icon>
            <ion-label>Heizstab TCP</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-button class="ion-float-right" (click)="presentModalHeatingelementTCP()">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3" size-sm="4">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-avatar>
              <ion-img src="assets/img/evcs.png"></ion-img>
            </ion-avatar>
            <ion-label class="ion-padding-start">KEBA Ladestation</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-button class="ion-float-right" (click)="presentModalEVCS()">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3" size-sm="4">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" color="danger" name="thermometer-outline"></ion-icon>
            <ion-label>„SG-Ready“ Wärmepumpe TCP</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-button class="ion-float-right" (click)="presentModalHeatingpump()">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="3" size-sm="4">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" color="primary" size="large" name="reader-outline"></ion-icon>
            <ion-label>Modbus/TCP Read/Write</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-button class="ion-float-right" (click)="presentModalReadWrite()">
              <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>