<ng-container *ngIf="component && service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card button (click)="presentModal()">
            <ion-item lines="full" color="light">
                <ion-icon slot="start" color="danger" name="flame"></ion-icon>
                <ion-label>{{ component.alias }}</ion-label>
            </ion-item>
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            General.mode
                        </td>
                        <td *ngIf="component.properties['mode'] == 'MANUAL_ON'" style="width: 35%" class="align_right"
                            translate>
                            General.on
                        </td>
                        <td *ngIf="component.properties['mode'] == 'MANUAL_OFF'" style="width: 35%" class="align_right"
                            translate>
                            General.off
                        </td>
                        <td *ngIf="component.properties['mode'] == 'AUTOMATIC'" style="width: 35%" class="align_right"
                            translate>
                            General.automatic
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.state</td>
                        <td style="width:35%" class="align_right" translate>
                            <ng-container *ngIf="(activePhases | async) > 0">
                                General.active
                            </ng-container>
                            <ng-container *ngIf="(activePhases | async) == 0">
                                General.inactive
                            </ng-container>
                        </td>
                    </tr>
                    <tr *ngIf="(activePhases | async) > 0">
                        <td style="width: 65%" translate>
                            Edge.Index.Widgets.Heatingelement.activeLevel
                        </td>
                        <td style="width:35%" class="align_right">
                            Level&nbsp;{{ (activePhases | async) }}</td>
                    </tr>
                    <tr *ngIf="component.properties.mode == 'AUTOMATIC'">
                        <ng-container>
                            <td style="width: 65%" translate>
                                Edge.Index.Widgets.Heatingelement.timeCountdown
                            </td>
                            <td style="width:35%" class="align_right">
                                {{ currentData.channel[component.id + '/ForceStartAtSecondOfDay'] * 1000 | date:'H:mm':'UTC' }}&nbsp;h
                            </td>
                        </ng-container>
                    </tr>
                </table>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>