<ng-container *ngIf="controller && service.currentEdge | async as edge">
    <ng-container *ngIf="edge.currentData | async as currentData">
        <ion-card button (click)="presentModal()">
            <ion-item lines="full" color="light">
                <ion-icon class="ion-no-margin" slot="start" size="large" color="danger" name="flame"></ion-icon>
                <ion-label *ngIf="controller.alias != controller.id">{{ controller.alias }}</ion-label>
                <ion-label *ngIf="controller.alias == controller.id">Heizelement</ion-label>
            </ion-item>
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            General.Mode
                        </td>
                        <td *ngIf="controller.properties['mode'] == 'MANUAL_ON'" style="width: 35%" class="align_right"
                            translate>
                            General.On
                        </td>
                        <td *ngIf="controller.properties['mode'] == 'MANUAL_OFF'" style="width: 35%" class="align_right"
                            translate>
                            General.Off
                        </td>
                        <td *ngIf="controller.properties['mode'] == 'AUTOMATIC'" style="width: 35%" class="align_right"
                            translate>
                            General.Automatic
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65%" translate>General.State</td>
                        <td style="width:35%" class="align_right" translate>
                            <ion-icon *ngIf="currentData.channel[outputChannelPhaseOne] == null && currentData.channel[outputChannelPhaseTwo] == null 
                                && currentData.channel[outputChannelPhaseThree] == null" name="help"></ion-icon>
                            <ng-container *ngIf="currentData.channel[outputChannelPhaseOne] == 1 || currentData.channel[outputChannelPhaseTwo] == 1 
                                || currentData.channel[outputChannelPhaseThree] == 1">
                                General.Active
                            </ng-container>
                            <ng-container *ngIf="currentData.channel[outputChannelPhaseOne] == 0 || currentData.channel[outputChannelPhaseOne] == 0 
                                || currentData.channel[outputChannelPhaseOne] == 0">
                                General.Inactive
                            </ng-container>
                        </td>
                    </tr>
                    <tr *ngIf="currentData.channel[outputChannelPhaseOne] == 1 || currentData.channel[outputChannelPhaseTwo] == 1 
                    || currentData.channel[outputChannelPhaseThree] == 1">
                        <td style="width: 65%">
                            Aktive Phasen
                        </td>
                        <td style="width:35%" class="align_right">
                            {{ getActivePhases() }}</td>
                    </tr>
                    <tr>
                        <td style="width: 65%">
                            Priorität
                        </td>
                        <td style="width:35%" class="align_right"
                            *ngIf="controller.properties['priority'] == 'KILO_WATT_HOUR'">
                            Energie</td>
                        <td style="width:35%" class="align_right" *ngIf="controller.properties['priority'] == 'TIME'">
                            Zeit</td>
                    </tr>
                    <tr *ngIf="controller.properties['priority'] == 'TIME'">
                        <td style="width:65%">
                            Endzeit</td>
                        <td style="width:35%" class="align_right">
                            {{ controller.properties['endTime'] }}
                        </td>
                    </tr>
                    <tr *ngIf="controller.properties['priority'] == 'KILO_WATT_HOUR'">
                        <td style="width:65%">
                            Minimale Energiemenge</td>
                        <td style="width:35%" class="align_right">
                            {{controller.properties['minkwh'] | unitvalue:'kWh'}}</td>
                    </tr>
                </table>
            </ion-card-content>
        </ion-card>
    </ng-container>
</ng-container>