:org.apache.felix.configadmin.revision:=L"4"
alias="Control\ CHP\ (BHKW)"
enabled=B"true"
highThreshold=I"80"
id="ctrlChpSoc0"
inputChannelAddress="_sum/EssSoc"
invert=B"false"
lowThreshold=I"20"
mode="AUTOMATIC"
outputChannelAddress="io0/InputOutput2"
service.factoryPid="Controller.CHP.SoC"
service.pid="Controller.CHP.SoC.c92f1c86-a9fe-44be-87b4-8f0ace478e55"
