<ion-card>

    <ion-item color="light">
        <ion-icon slot="start" name="barcode" color="primary"></ion-icon>
        <ion-label>
            <ion-card-title>accumulated values</ion-card-title>
        </ion-label>
    </ion-item>

    <ion-item>
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                    <ion-img style="width: 40px" src="assets/img/production.png"></ion-img>
                </td>
                <td>
                    Production
                </td>
                <td style="width: 75%" class="align_right">50823</td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
        </table>
    </ion-item>

    <ion-item>
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                    <ion-img style="width: 40px" src="assets/img/production.png"></ion-img>
                </td>
                <td>
                    Grid
                </td>
                <td style="width: 75%" class="align_right">50823</td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
        </table>
    </ion-item>

    <ion-item>
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                    <ion-img style="width: 40px" src="assets/img/consumption.png"></ion-img>
                </td>
                <td>
                    Consumption
                </td>
                <td style="width: 75%" class="align_right">50823</td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
        </table>
    </ion-item>

</ion-card>