<ion-card>

    <ion-item color="light" lines="none">
        <ion-icon slot="start" name="barcode" color="primary"></ion-icon>
        <ion-label>
            <ion-card-title>kWh - Werte</ion-card-title>
        </ion-label>
    </ion-item>

    <ion-item lines="none">
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                    <ion-img style="width: 40px" src="assets/img/production.png"></ion-img>
                </td>
                <td>
                    Production
                </td>
            </tr>
        </table>
    </ion-item>

    <ion-item>
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                </td>
                <td>
                    PV1
                </td>
                <td *ngIf="data" style="width: 75%" class="align_right">
                    <div *ngIf="data">{{ data["production"] }}</div>
                </td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
        </table>
    </ion-item>

    <ion-item lines="none">
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                    <ion-img style="width: 40px" src="assets/img/grid.png"></ion-img>
                </td>
                <td translate>
                    Netz
                </td>
            </tr>
        </table>
    </ion-item>

    <ion-item>
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                </td>
                <td>
                    Bezug
                </td>
                <td style="width: 75%" class="align_right">
                    <div *ngIf="data">{{ data["gridbezug"] }}</div>
                </td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
            <tr>
                <td style="width: 12%">
                </td>
                <td>
                    Einspeisung
                </td>
                <td style="width: 75%" class="align_right">
                    <div *ngIf="data">{{ data["grideinspeisung"] }}</div>
                </td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
        </table>
    </ion-item>

    <ion-item lines="none">
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                    <ion-img style="width: 40px" src="assets/img/consumption.png"></ion-img>
                </td>
                <td translate>
                    Verbrauch
                </td>
            </tr>
        </table>
    </ion-item>

    <ion-item>
        <table class="full_width">
            <tr>
                <td style="width: 12%">
                </td>
                <td>
                    Lasten
                </td>
                <td style="width: 75%" class="align_right">
                    <div *ngIf="data">{{ data["consumption"] }}</div>
                </td>
                <td style="width: 100%">&nbsp;kWh</td>
            </tr>
        </table>
    </ion-item>

</ion-card>