<table class="full_width" style="cursor: pointer;" button (click)="presentModal()">
    <tr>
        <td style="width: 100%" style="text-align: center; line-height: 1.5em">
            <p><strong>"Heimatstrom"</strong>
            </p>
            <p>Ab sofort bieten wir Ihnen innerhalb Bayerns die Möglichkeit, Ihren Reststrombedarf mit
                <strong>Heimatstrom</strong> zu decken, um noch ein Stück <strong>nachhaltiger</strong> zu
                werden.
            </p>
        </td>
    </tr>
</table>