<div fxLayout fxLayoutAlign="start start" fxLayoutWrap="wrap">

  <md-card fxFlex="100%" class="single_leftright single_top">
    <md-card-header>
      <md-icon md-card-avatar>format_list_bulleted</md-icon>
      <md-card-title i18n>Status</md-card-title>
    </md-card-header>
    <md-card-content *ngIf="currentData && currentData['data'] as data">
      <table class="full_width">
        <tr>
          <td style="width:50%"></td>
          <td style="width:50%"></td>
        </tr>

        <ng-container *ngFor="let thing of tmpl.keys(fielddefinition)">
          <!-- Shows Headline
            <tr>
            <td><b>{{ thing }}</b></td>
            <td></td>
          </tr> -->

          <tr *ngFor="let channel of tmpl.keys(fielddefinition[thing])">
            <ng-container *ngIf="fielddefinition[thing][channel] as field">
              <td>{{ field.title }}</td>
              <ng-container *ngIf="tmpl.has(data, thing) && tmpl.has(data[thing], channel)">
                <td>
                  <ng-container *ngIf="field['map'] && tmpl.has(field.map, data[thing][channel]); else show_raw_value">{{ field.map[data[thing][channel]] }}</ng-container>
                  <ng-template #show_raw_value>{{ data[thing][channel] }}</ng-template>
                  <ng-container *ngIf="field['unit']"> {{ field.unit }}</ng-container>
                </td>
              </ng-container>
            </ng-container>
          </tr>

        </ng-container>
      </table>
    </md-card-content>
  </md-card>

</div>