<ion-row class="ion-justify-content-center">
  <ion-col size="12" size-lg="8" size-md="12" size-sm="12">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-icon [name]="iconName" slot="start" style="pointer-events: none;"></ion-icon>
          <ion-label>
            <ion-card-title class="ion-text-wrap">{{header}}</ion-card-title>
            <ion-card-subtitle class="ion-text-wrap">{{subtitle}}</ion-card-subtitle>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <form (keypress)="keyPressed($event)">
          <ng-content></ng-content>
          <ion-item lines="none">
            <ion-button *ngIf="!isFirstView && !isWaiting" slot="start" (click)="previousClicked.emit()">
              <ion-label>{{ 'INSTALLATION.BACK' | translate}}</ion-label>
              <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
            </ion-button>
            <ion-button slot="end" [disabled]="isWaiting || isNextDisabled" *ngIf="labelToShow"
              (click)="nextClicked.emit()">
              <ion-label>{{labelToShow.label}}</ion-label>
              <ion-icon [name]="labelToShow.icon" slot="end"></ion-icon>
            </ion-button>
          </ion-item>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>
