<ion-card style="cursor: pointer;" class="all-edges-shadow">
    <ion-item style="--background: var(--ion-background-color-card-header)" lines="full">
        <!-- color="light" -->

        <!-- Check if img or icon is handed over. -->
        <ion-avatar *ngIf="img" slot="start" [class]="'iconify' + (IMG.LARGE? ' icon-large' : '')">
            <img [src]="IMG.SRC">
        </ion-avatar>
        <ion-icon *ngIf="icon" slot="start" [size]="ICON.SIZE || 'large'" [color]="ICON.COLOR || 'primary'"
            [name]="ICON.NAME">
        </ion-icon>

        <!-- Check which title type is handed over. -->
        <ion-label *ngIf="title">{{ title }}</ion-label>

        <ng-content select="[button]"></ng-content>
    </ion-item>

    <ion-card-content style="--background: var(--ion-color-primary)">
        <ng-content></ng-content>
    </ion-card-content>
</ion-card>
