<ion-card style="cursor: pointer;">
    <ion-item color="light" lines="full">

        <!-- Check if img or icon is handed over. -->
        <ion-avatar *ngIf="img" slot="start" [class]="'iconify' + (img.large? ' icon-large' : '')">
            <img [src]="img.src">
        </ion-avatar>
        <ion-icon *ngIf="icon" slot="start" [size]="icon.size || 'large'" [color]="icon.color || 'primary'"
            [name]="icon.name">
        </ion-icon>

        <!-- Check which title type is handed over. -->
        <ion-label *ngIf="title">{{ title }}</ion-label>

        <ng-content select="[button]"></ng-content>
    </ion-item>

    <ion-card-content>
        <ng-content></ng-content>
    </ion-card-content>
</ion-card>
