<ion-header>
    <ion-toolbar color="primary">
        <ion-title translate>Updates</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="width:100%" *ngIf="currentData['_kacoUpdate/HasUpdate'] > 1" translate>
                        KacoUpdate.NewSoftware
                    </td>
                </tr>
                <tr>
                    <td style="width:100%"
                        *ngIf="currentData['_kacoUpdate/HasUpdate'] !== 2 && currentData['_kacoUpdate/HasUpdate'] > 0"
                        translate>KacoUpdate.NewUi
                    </td>
                </tr>
                <tr *ngIf="env.backend === 'OpenEMS Edge'">
                    <td style="width:100%" *ngIf="!isUpdating">
                        <ion-button (click)="updateSoftware()" translate>
                            KacoUpdate.Update
                        </ion-button>
                    </td>
                </tr>
                <tr *ngIf="env.backend !== 'OpenEMS Edge'">
                    <td style="width:100%" translate>
                        KacoUpdate.OpenLocal
                    </td>
                </tr>
                <ng-container *ngIf="(edge.updateData | async)['channel'] as updateData">
                    <tr>
                        <td style="width:100%" *ngIf="isUpdating">
                            <ion-text color="danger" translate>KacoUpdate.IsUpdating</ion-text>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/UpdateStep'] === 1" translate>
                            KacoUpdate.Step1
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/UpdateStep'] === 2" translate>
                            KacoUpdate.Step2
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/UpdateStep'] === 3" translate>
                            KacoUpdate.Step3
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/UpdateStep'] === 4" translate>
                            KacoUpdate.Step4
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/UpdateStep'] === 5" translate>
                            KacoUpdate.Step5
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/UpdateStep'] === 6">
                            KacoUpdate.Step6
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100%" *ngIf="updateData['_kacoUpdate/Progress'] > -1">
                            <percentagebar [value]="updateData['_kacoUpdate/Progress']"></percentagebar>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </ion-card-content>
    </ng-container>
</ion-content>