<installation-view iconName="key-outline" header="Installateursschlüssel eingeben" (nextClicked)="onNextClicked()"
    [isWaiting]="isWaiting || websocket.status !== 'online'" isFirstView="true">

    <table class="full_width ion-text-center">
        <tr>
            <td>
                <!-- [(ngModel)]="setupKey" - Two way binding is not working with keymask directive. The last letter in upper case, is not set to the setup key property-->
                <input oeKeyMask type="text" #setupKey style="width: 13em;" placeholder="XXXX-XXXX-XXXX-XXXX">

            </td>
        </tr>
    </table>

    <ion-item lines="none" class="ion-padding-top">
        <img [src]="image">
    </ion-item>

    <ion-card *ngIf="!validKey">
        <ion-card-content>
            <ion-card-subtitle style="color:orange" class="font-weight: bold">Hinweis:</ion-card-subtitle>
            <ion-text color="dark">
                Sollte der Installateursschlüssel fälschlicherweise als ungültig erkannt werden, aktualisieren Sie
                bitte die Seite.
            </ion-text>
        </ion-card-content>
    </ion-card>

</installation-view>