<installation-view iconName="key-outline" header="{{ 'INSTALLATION.PRE_INSTALLATION.TITLE' | translate }}"
    (nextClicked)="onNextClicked()" [isWaiting]="isWaiting || websocket.status !== 'online'" isFirstView="true">

    <table class="full_width ion-text-center">
        <tr>
            <td>
                <!-- [(ngModel)]="setupKey" - Two way binding is not working with keymask directive. The last letter in upper case, is not set to the setup key property-->
                <input oeKeyMask type="text" #setupKey style="width: 13em;" placeholder="XXXX-XXXX-XXXX-XXXX">
            </td>
        </tr>
    </table>

    <ion-row class="ion-justify-content-center">
        <ion-item lines="none" class="ion-padding-top">
            <img [src]="image" />
        </ion-item>
    </ion-row>

    <ion-card *ngIf="!validKey">
        <ion-card-content>
            <ion-card-subtitle style="color:orange" class="font-weight: bold">{{'INSTALLATION.PRE_INSTALLATION.NOTE'
                | translate}}</ion-card-subtitle>
            <ion-text color="dark">
                {{ 'INSTALLATION.PRE_INSTALLATION.WRONG_KEY_NOTE' | translate }}
            </ion-text>
        </ion-card-content>
    </ion-card>

</installation-view>
