<ion-content>
  <ion-grid *ngIf="config">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" *ngIf="edge">
        <ion-card>
          <ion-item color="light" lines="full">
            <ion-icon slot="start" name="today-outline" color="primary"></ion-icon>
            <ion-label translate>EDGE.CONFIG.INDEX.GENERAL_DATA</ion-label>
          </ion-item>
          <ion-card-content>
            <ion-list class="ion-font-size-small">
              <ion-item *ngIf="ENVIRONMENT.BACKEND === 'OpenEMS Backend'">
                <ion-label>Edge-ID</ion-label>
                {{ EDGE.ID }}
              </ion-item>
              <ion-item *ngIf="EDGE.COMMENT">
                <ion-label>{{ 'EDGE.CONFIG.INDEX.COMMENT' | translate }}</ion-label>
                {{ EDGE.COMMENT }}
              </ion-item>
              <ion-item *ngIf="EDGE.PRODUCTTYPE">
                <ion-label>{{ 'EDGE.CONFIG.INDEX.PRODUCT_TYPE' | translate }}</ion-label>
                {{ EDGE.PRODUCTTYPE }}
              </ion-item>
              <ion-item>
                <ion-label style="white-space: initial;">{{ ENVIRONMENT.EDGE_SHORT_NAME }}
                  Version</ion-label>
                <a class="ion-link"
                  style="white-space: initial; display: inline-block; max-width: 50%; text-align: right;"
                  routerLinkActive="active" routerLink="/changelog">{{ EDGE.VERSION |
                  version:EDGE.ROLE }}</a>
              </ion-item>
              <ion-item>
                <ion-label>{{ 'EDGE.CONFIG.INDEX.ROLE' | translate }}</ion-label>
                {{ EDGE.GET_ROLE_STRING() }}
              </ion-item>
              <ion-item lines="none" *ngIf="EDGE.FIRST_SETUP_PROTOCOL">
                <ion-label translate>INDEX.FIRST_SETUP_PROTOCOL</ion-label>
                {{ EDGE.FIRST_SETUP_PROTOCOL | date:'DD.MM.YYYY HH:mm' }}
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center" *ngIf="EDGE.FIRST_SETUP_PROTOCOL && isAtLeastOwner">
      <ion-col size="12" size-md="8">
        <ion-card>
          <ion-item color="light" lines="full">
            <ion-icon name="document-text-outline" slot="start" color="primary"></ion-icon>
            <ion-label translate>PROFILE.SYSTEM_PROTOCOL.TITLE</ion-label>
          </ion-item>
          <ion-card-content class="ion-padding ion-font-size-larger">
            <ion-grid class="ion-padding">

              <ion-row *ngIf="latestSetupProtocolData" class="ion-align-items-center">
                <ion-col size-md="4" size-xs="6">
                  <ion-label style="color:var(--ion-color-label)" translate>
                    PROFILE.SYSTEM_PROTOCOL.LABEL
                  </ion-label>
                </ion-col>
                <ion-col size-md="4" size-xs="6" class="ion-text-align-end ion-text-md-center">
                  <ion-label style="color:var(--ion-color-label)">
                    {{LATEST_SETUP_PROTOCOL_DATA.CREATE_DATE | date:'DD.MM.YYYY HH:mm'}}
                  </ion-label>
                </ion-col>
                <ion-col size-md="4" class="ion-text-align-end" size-xs="12">
                  <ngx-spinner [name]="spinnerId"></ngx-spinner>
                  <ion-button *ngIf="!isLoading()" size="small" (click)="downloadLatestSetupProtocol()">
                    <ion-label translate>
                      PROFILE.SYSTEM_PROTOCOL.DOWNLOAD
                    </ion-label>
                    <ion-icon name="download-outline" slot="end"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" *ngIf="components !== null">
        <ion-card>
          <ion-item color="light" lines="full">
            <ion-icon slot="start" name="today-outline" color="primary"></ion-icon>
            <ion-label>{{ 'EDGE.CONFIG.INDEX.CONFIGURATION' | translate }}</ion-label>
          </ion-item>

          <ion-card-content>

            <ion-list>
              <ng-container *ngFor="let category of components">
                <ion-item-group>
                  <ion-item lines="inset">
                    <ion-icon class="normal-icon" name="{{ CATEGORY.CATEGORY.ICON }}"></ion-icon>
                    <ion-label class="ion-padding-start">
                      {{ CATEGORY.CATEGORY.TITLE }}
                    </ion-label>
                  </ion-item>
                </ion-item-group>
                <ion-item lines="none" *ngFor="let item of CATEGORY.COMPONENTS">
                  <ion-label class="ion-text-wrap">
                    <ion-text>
                      <ion-text color="primary">
                        <h3>{{ ITEM.ALIAS }} <ion-icon *ngIf="EDGE.ROLE_IS_AT_LEAST('owner')" style="cursor: pointer;"
                            [routerLink]="ITEM.ID" name="create-outline">
                          </ion-icon>
                        </h3>
                      </ion-text>
                      <ng-container *ngIf="CONFIG.FACTORIES[ITEM.FACTORY_ID] as factory">
                        <p style="cursor: pointer" (click)="item['showProperties'] = !item['showProperties']">
                          <ion-icon *ngIf="!item['showProperties']" name="arrow-down-circle-outline">
                          </ion-icon>
                          <ion-icon *ngIf="item['showProperties']" name="arrow-up-circle-outline">
                          </ion-icon>
                          <span>&nbsp;{{ ITEM.ID }}</span>&nbsp;<span style="color:gray">{{ FACTORY.NAME }}</span><span
                            *ngIf="!ITEM.IS_ENABLED"> - <span translate>GENERAL.COMPONENT_INACTIVE</span></span>
                        </p>
                      </ng-container>
                    </ion-text>
                    <ng-container *ngIf="item['showProperties']">
                      <!-- Component details -->
                      <ul style="font-family: monospace; list-style-type: square">
                        <ng-container *ngFor="let p of (ITEM.PROPERTIES | keys)">
                          <li
                            *ngIf="!['alias', '_lastChangeBy', '_lastChangeAt', 'enabled', ':ORG.APACHE.FELIX.CONFIGADMIN.REVISION:'].includes(P.KEY) && !P.KEY.ENDS_WITH('.target')">
                            {{ P.KEY }}: {{ P.VALUE }}
                          </li>
                        </ng-container>
                      </ul>
                      <!-- Additional information for specific Factory-IDs -->
                      <ng-container *ngFor="let factoryId of [ITEM.FACTORY_ID]" [ngSwitch]="factoryId">
                        <ion-text *ngSwitchCase="'CONTROLLER.API.MODBUS_TCP.READ_ONLY'">
                          <ion-button (click)="getModbusProtocol(ITEM.ID,'tcp')">Download Protocol</ion-button>
                          <oe-help-button key="CONTROLLER_API_MODBUSTCP_READ">
                            <span translate>
                              GENERAL.MANUAL
                            </span>
                          </oe-help-button>
                        </ion-text>
                        <ion-text *ngSwitchCase="'CONTROLLER.API.MODBUS_RTU.READ_ONLY'">
                          <ion-button (click)="getModbusProtocol(ITEM.ID,'rtu')">Download Protocol</ion-button>
                        </ion-text>
                        <ion-text *ngSwitchCase="'CONTROLLER.API.MODBUS_TCP.READ_WRITE'">
                          <ion-button (click)="getModbusProtocol(ITEM.ID,'tcp')">Download Protocol</ion-button>
                          <oe-help-button key="CONTROLLER_API_MODBUSTCP_READWRITE">
                            <span translate>
                              GENERAL.MANUAL
                            </span>
                          </oe-help-button>
                        </ion-text>
                        <ion-text *ngSwitchCase="'CONTROLLER.API.MODBUS_RTU.READ_WRITE'">
                          <ion-button (click)="getModbusProtocol(ITEM.ID,'rtu')">Download Protocol</ion-button>
                        </ion-text>
                        <ion-text *ngSwitchCase="'CONTROLLER.API.REST.READ_ONLY'">
                          <oe-help-button key="CONTROLLER_API_REST_READ">
                            <span translate>
                              GENERAL.MANUAL
                            </span>
                          </oe-help-button>
                        </ion-text>
                        <ion-text *ngSwitchCase="'CONTROLLER.API.REST.READ_WRITE'">
                          <oe-help-button key="CONTROLLER_API_REST_READWRITE">
                            <span translate>
                              GENERAL.MANUAL
                            </span>
                          </oe-help-button>
                        </ion-text>
                      </ng-container>
                      <!-- Additional information for all Components -->
                      <ng-container *ngIf="EDGE.ROLE_IS_AT_LEAST('admin') && EDGE.IS_VERSION_AT_LEAST('2021.10.10')">
                        <ion-button (click)="getChannelExport(ITEM.ID)">
                          {{ 'EDGE.CONFIG.INDEX.EXPORT_CHANNELS' | translate }}</ion-button>
                      </ng-container>
                    </ng-container>
                  </ion-label>
                </ion-item>
              </ng-container>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
