<div *ngIf="_thing" class="alert alert-warning" role="alert">Form component for <b>{{_thing.class}}</b> is not implemented! Using universal component.</div>

<form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="save(form)" class="form-horizontal">
  <div class="form-group" *ngFor="let channel of form._value | keys">
    <!-- TODO don't show _collapsed -->
    <label [for]="channel.key" class="col-sm-2 control-label">{{channel.key}}</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" [formControlName]="channel.key">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" [disabled]="!form.valid">Controller speichern</button>
    </div>
  </div>
</form>