<ion-content>
    <oe-flat-modal [title]="'General.storageSystem' | translate">
        <ng-container *ngIf="essComponents != null && essComponents.length > 1">
            <oe-flat-modal-line [name]="'General.total'| translate"></oe-flat-modal-line>
            <oe-flat-modal-line [name]="'General.soc' | translate" [value]="this.totalStateOfCharge"
                [converter]="this.service.convertToPercent">
            </oe-flat-modal-line>
            <oe-flat-modal-line [name]="'General.capacity' | translate" [value]="this.totalCapacity"
                [converter]="this.service.convertWattToKiloWatt">
            </oe-flat-modal-line>
            <oe-flat-modal-line [name]="'General.chargePower'| translate" [value]="this.totalChargePower"
                [converter]="this.service.convertToWatt">
            </oe-flat-modal-line>
            <oe-flat-modal-line [name]="'General.dischargePower' | translate" [value]="this.totalDischargePower"
                [converter]="this.service.convertToWatt">
            </oe-flat-modal-line>
            <ng-container>
                <!-- <oe-flat-modal-line
                    [name]="('General.phase' | translate)+' L1 ' + (this.state[this.effectiveActivePowerL1] || ('General.dischargePower' | translate))"
                    [value]="this.effectiveActivePowerL1" [converter]="this.service.convertPhasesToWatt">
                </oe-flat-modal-line>
                <oe-flat-modal-line
                    [name]="('General.phase' | translate)+' L2 '+(this.state[this.effectiveActivePowerL2])"
                    [value]="this.effectiveActivePowerL2" [converter]="this.service.convertPhasesToWatt">
                </oe-flat-modal-line>
                <oe-flat-modal-line
                    [name]="('General.phase' | translate)+' L3 '+(this.state[this.effectiveActivePowerL3])"
                    [value]="this.effectiveActivePowerL3" [converter]="this.service.convertPhasesToWatt">
                </oe-flat-modal-line> -->
            </ng-container>
        </ng-container>
        <ng-container *ngFor="let component of essComponents, let i = index">
            <oe-flat-modal-line [name]="component.alias"></oe-flat-modal-line>
            <oe-flat-modal-line [name]="'General.soc' | translate" [channelAddress]="component.id + '/Soc'"
                [converter]="this.service.convertToPercent">
            </oe-flat-modal-line>
            <ng-container *ngIf="!component.factoryId.includes('Hybrid'), else HybridEss">
                <oe-flat-modal-line [name]="'General.chargePower' | translate"
                    [channelAddress]="component.id + '/ActivePower'" [converter]="convertChargePowerToWatt">
                </oe-flat-modal-line>
                <oe-flat-modal-line [name]="'General.dischargePower' | translate"
                    [channelAddress]="component.id + '/ActivePower'" [converter]="convertDischargePowerToWatt">
                </oe-flat-modal-line>
                <!-- <oe-flat-modal-line [name]="('General.phase' | translate)+' L1 '+ ('General.dischargePower'|translate)"
                    [value]="this.activePowerL1" [converter]="this.service.convertToWatt">
                </oe-flat-modal-line>
                <oe-flat-modal-line [name]="('General.phase' | translate)+' L2 '+ ('General.dischargePower'|translate)"
                    [value]="this.activePowerL1" [converter]="this.service.convertToWatt">
                </oe-flat-modal-line>
                <oe-flat-modal-line [name]="('General.phase' | translate)+' L3 '+ ('General.dischargePower'|translate)"
                    [value]="this.activePowerL1" [converter]="this.service.convertToWatt">
                </oe-flat-modal-line> -->
            </ng-container>
            <ng-template #HybridEss>
                <oe-flat-modal-line [name]="'General.chargePower' | translate"
                    [channelAddress]="component.id + '/DcDischargePower'" [converter]="convertChargePowerToWatt">
                </oe-flat-modal-line>
                <oe-flat-modal-line [name]="'General.dischargePower' | translate"
                    [channelAddress]="component.id +'/DcDischargePower'" [converter]="convertDischargePowerToWatt">
                </oe-flat-modal-line>
            </ng-template>
            <div *ngIf="essComponents.length > 1 && i != (essComponents.length -1)"
                style="border-bottom: 1px solid lightgray; width: 110%; margin-top: 2%; margin-bottom: 2%; margin-left: -5%;">
            </div>
        </ng-container>
    </oe-flat-modal>
</ion-content>