<ion-header>
    <ion-toolbar color="primary">
        <ion-title translate>General.storageSystem</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="formGroup" *ngIf="formGroup">

        <!-- one ESS Component -->
        <ng-container
            *ngIf="essComponents != null && essComponents.length == 1 && edge.currentData | async as currentData">
            <ng-container *ngFor="let component of essComponents">
                <ion-card-content *ngIf="currentData.summary.storage as sum"
                    [class.underline]="essComponents.length != 1 || !isLastElement(component, essComponents)">
                    <table class="full_width">
                        <div style="padding-top: 5px;"></div>
                        <tr>
                            <td style="width:65%" translate>General.soc</td>
                            <td style="width: 35%" class="align_right">
                                {{ sum.soc| unitvalue:'%' }}
                            </td>
                        </tr>
                        <!-- Charge/Discharge -->
                        <tr>
                            <td style="width:65%" translate>General.chargePower</td>
                            <td style="width:35%" class="align_right">
                                {{ sum.effectivePower <= 0? ((sum.effectivePower * -1) | number:'1.0-0') + '&nbsp;W'
                                    : '-&nbsp;' }} </td>
                        </tr>
                        <tr>
                            <td style="width:65%" translate>General.dischargePower</td>
                            <td style="width:35%" class="align_right">
                                {{ sum.effectivePower > 0? (sum.effectivePower | number:'1.0-0') + '&nbsp;W' : '-&nbsp;'
                                }}
                            </td>
                        </tr>
                    </table>
                    <!-- 3 Phases -->
                    <div style="padding-top: 5px;"></div>
                    <table class="full_width"
                        *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null">
                        <ng-container
                            *ngIf="chargerComponents != null && chargerComponents.length != 0;else noChargerL1">
                            <tr *ngIf="sum.effectiveActivePowerL1 > 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L1 <span
                                        translate>General.dischargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.effectiveActivePowerL1 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr *ngIf="sum.effectiveActivePowerL1 <= 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L1 <span
                                        translate>General.chargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ (sum.effectiveActivePowerL1 * -1) | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noChargerL1>
                            <tr *ngIf="sum.activePowerL1 > 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L1 <span
                                        translate>General.dischargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.activePowerL1 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr *ngIf="sum.activePowerL1 <= 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L1 <span
                                        translate>General.chargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ (sum.activePowerL1 * -1) | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-container
                            *ngIf="chargerComponents != null && chargerComponents.length != 0;else noChargerL2">
                            <tr *ngIf="sum.effectiveActivePowerL2 > 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L2 <span
                                        translate>General.dischargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.effectiveActivePowerL2 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr *ngIf="sum.effectiveActivePowerL2 <= 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L2 <span
                                        translate>General.chargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ (sum.effectiveActivePowerL2 * -1) | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noChargerL2>
                            <tr *ngIf="sum.activePowerL2 > 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L2 <span
                                        translate>General.dischargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.activePowerL2 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr *ngIf="sum.activePowerL2 <= 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L2 <span
                                        translate>General.chargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ (sum.activePowerL2 * -1) | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-container
                            *ngIf="chargerComponents != null && chargerComponents.length != 0;else noChargerL3">
                            <tr *ngIf="sum.effectiveActivePowerL3 > 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L3 <span
                                        translate>General.dischargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.effectiveActivePowerL3 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr *ngIf="sum.effectiveActivePowerL3 <= 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L3 <span
                                        translate>General.chargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ (sum.effectiveActivePowerL3 * -1) | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-container>
                        <ng-template #noChargerL3>
                            <tr *ngIf="sum.activePowerL3 > 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L3 <span
                                        translate>General.dischargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ sum.activePowerL3 | unitvalue:'W' }}
                                </td>
                            </tr>
                            <tr *ngIf="sum.activePowerL3 <= 0">
                                <td style="width:2%"></td>
                                <td style="width:63%"><span translate>General.phase</span> L3 <span
                                        translate>General.chargePower</span>
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ (sum.activePowerL3 * -1) | unitvalue:'W' }}
                                </td>
                            </tr>
                        </ng-template>
                    </table>

                    <!-- Show if ess has EmergencyCapacityReserveController assigned-->
                    <ng-container [formGroupName]="component.id" *ngIf="formGroup.controls[component.id]">
                        <table class="full_width" style="margin-top: 2%;">
                            <tr>
                                <ion-item-divider color="light">
                                    <td style="width: 70%;" translate>
                                        Edge.Index.EmergencyReserve.emergencyReserve
                                    </td>
                                    <td style="width: 15%;" class="align_right">
                                        {{ formGroup.value[component.id]?.reserveSoc | unitvalue:'%' }}
                                    </td>
                                    <td style="width: 15%" class="align_right"
                                        [style]="this.service.isSmartphoneResolution ? 'transform: scale(0.8)': ''">

                                        <!-- Sets the emergencyEnabled temporarily, to show the slider without changing config  -->
                                        <ion-toggle formControlName="isReserveSocEnabled">
                                        </ion-toggle>
                                    </td>
                                </ion-item-divider>
                            </tr>
                        </table>

                        <table class="full_width" style="margin-top: 2%;">
                            <tr>
                                <td style="width: 10%">
                                    <ion-icon name="information-outline" size="large"></ion-icon>
                                </td>
                                <td style="width: 90%">
                                    <ion-note class="ion-text-wrap ion-align-items-center">
                                        <ion-text>
                                            <small translate>
                                                Edge.Index.EmergencyReserve.InfoForEmergencyReserveSlider
                                            </small>
                                        </ion-text>
                                    </ion-note>
                                </td>
                            </tr>
                        </table>

                        <!-- Show only when EmergencyReserve is enabled -->
                        <ng-container *ngIf="formGroup.value[component.id]?.isReserveSocEnabled">
                            <ion-range formControlName="reserveSoc" pin color="primary" min="5" max="100">
                                <ion-label slot="start">
                                    {{ 5 | unitvalue:'%' }}
                                </ion-label>
                                <ion-label slot="end">
                                    {{ 100 | unitvalue:'%' }}
                                </ion-label>
                            </ion-range>
                        </ng-container>
                    </ng-container>

                </ion-card-content>
            </ng-container>
        </ng-container>

        <!-- more than one ESS component -->
        <ng-container *ngIf="essComponents != null && essComponents.length > 1">
            <!-- summary of all ESS components -->
            <ion-card-content class="underline" *ngIf="edge.currentData | async as currentData">
                <ng-container *ngIf="currentData.summary.storage as sum">
                    <table class="full_width">
                        <tr>
                            <td style="width:100%" translate>
                                General.total
                            </td>
                        </tr>
                        <div style="padding-top: 5px;"></div>
                        <tr>
                            <td style="width: 65%" translate>General.soc</td>
                            <td style="width:35%" class="align_right">
                                {{ sum.soc | unitvalue:'%' }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:65%" translate>General.chargePower</td>
                            <td style="width:35%" class="align_right">
                                {{ sum.effectiveChargePower | unitvalue:'W' }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:65%" translate>General.dischargePower</td>
                            <td style="width:35%" class="align_right">
                                {{ sum.effectiveDischargePower | unitvalue:'W' }}
                            </td>
                        </tr>
                    </table>
                    <!-- 3 Phases -->
                    <ng-container
                        *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null">
                        <div style="padding-top: 5px;"></div>
                        <table class="full_width">
                            <ng-container
                                *ngIf="chargerComponents != null && chargerComponents.length != 0;else noChargerL1">
                                <tr *ngIf="sum.effectiveActivePowerL1 > 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L1 <span
                                            translate>General.dischargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ sum.effectiveActivePowerL1 | unitvalue:'W' }}
                                    </td>
                                </tr>
                                <tr *ngIf="sum.effectiveActivePowerL1 <= 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L1 <span
                                            translate>General.chargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ (sum.effectiveActivePowerL1 * -1) | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noChargerL1>
                                <tr *ngIf="sum.activePowerL1 > 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L1 <span
                                            translate>General.dischargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ sum.activePowerL1 | unitvalue:'W' }}
                                    </td>
                                </tr>
                                <tr *ngIf="sum.activePowerL1 <= 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L1 <span
                                            translate>General.chargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ (sum.activePowerL1 * -1) | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-container
                                *ngIf="chargerComponents != null && chargerComponents.length != 0;else noChargerL2">
                                <tr *ngIf="sum.effectiveActivePowerL2 > 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L2 <span
                                            translate>General.dischargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ sum.effectiveActivePowerL2 | unitvalue:'W' }}
                                    </td>
                                </tr>
                                <tr *ngIf="sum.effectiveActivePowerL2 <= 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L2 <span
                                            translate>General.chargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ (sum.effectiveActivePowerL2 * -1) | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noChargerL2>
                                <tr *ngIf="sum.activePowerL2 > 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L2 <span
                                            translate>General.dischargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ sum.activePowerL2 | unitvalue:'W' }}
                                    </td>
                                </tr>
                                <tr *ngIf="sum.activePowerL2 <= 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L2 <span
                                            translate>General.chargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ (sum.activePowerL2 * -1) | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-template>
                            <ng-container
                                *ngIf="chargerComponents != null && chargerComponents.length != 0;else noChargerL3">
                                <tr *ngIf="sum.effectiveActivePowerL3 > 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L3 <span
                                            translate>General.dischargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ sum.effectiveActivePowerL3 | unitvalue:'W' }}
                                    </td>
                                </tr>
                                <tr *ngIf="sum.effectiveActivePowerL3 <= 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L3 <span
                                            translate>General.chargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ (sum.effectiveActivePowerL3 * -1) | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-container>
                            <ng-template #noChargerL3>
                                <tr *ngIf="sum.activePowerL3 > 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L3 <span
                                            translate>General.dischargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ sum.activePowerL3 | unitvalue:'W' }}
                                    </td>
                                </tr>
                                <tr *ngIf="sum.activePowerL3 <= 0">
                                    <td style="width:2%"></td>
                                    <td style="width:63%"><span translate>General.phase</span> L3 <span
                                            translate>General.chargePower</span>
                                    </td>
                                    <td style="width:35%" class="align_right">
                                        {{ (sum.activePowerL3 * -1) | unitvalue:'W' }}
                                    </td>
                                </tr>
                            </ng-template>
                        </table>
                        <!-- Info Text -->
                        <ng-container *ngIf="service.currentEdge | async as edge">
                            <ng-container *ngIf="edge.currentData | async as currentData">
                                <ng-container *ngIf="currentData.summary.storage as sum">
                                    <ion-grid
                                        *ngIf="sum.activePowerL1 != null && sum.activePowerL2 != null && sum.activePowerL3 != null"
                                        class="ion-padding-top">
                                        <ion-row class="ion-justify-content-center ion-align-items-center">
                                            <ion-col size="2" class="ion-text-center">
                                                <ion-icon padding-right color="primary" size="large"
                                                    name="alert-outline">
                                                </ion-icon>
                                            </ion-col>
                                            <ion-col size="10">
                                                <ion-note class="ion-text-wrap"><small
                                                        translate>Edge.Index.Widgets.phasesInfo</small>
                                                </ion-note>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ng-container>
                            </ng-container>
                        </ng-container>

                    </ng-container>
                </ng-container>
            </ion-card-content>

            <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
                <ng-container *ngFor="let component of essComponents">
                    <ng-container *ngIf="config.factories[component.factoryId] as factory">
                        <ion-card-content
                            [class.underline]="chargerComponents.length > 0 || !isLastElement(component, essComponents)">
                            <table class="full_width">
                                <tr>
                                    <td style="width:100%" *ngIf="component.id == component.alias">{{component.id}}
                                    </td>
                                    <td style="width: 100%" *ngIf="component.id != component.alias">
                                        {{component.alias}}
                                    </td>
                                </tr>
                                <div style="padding-top: 5px;"></div>
                                <tr>
                                    <td style="width: 65%" translate>General.soc</td>
                                    <td style="width: 35%" class="align_right">
                                        {{ currentData[component.id + '/Soc'] | unitvalue:'%' }}
                                    </td>
                                </tr>
                            </table>
                            <!-- Symmetric ESS -->
                            <table
                                *ngIf="factory.natureIds.includes('io.openems.edge.ess.api.SymmetricEss') && currentData[component.id + '/ActivePower'] != null"
                                class="full_width">
                                <tr>
                                    <td style="width:65%" translate>General.chargePower</td>
                                    <td style="width:35%" class="align_right">
                                        {{ currentData[component.id + '/ActivePower'] <= 0? ((currentData[component.id
                                            + '/ActivePower' ] * -1) | number:'1.0-0') + '&nbsp;W' : '-&nbsp;' }} </td>
                                </tr>
                                <tr>
                                    <td style="width:65%" translate>General.dischargePower</td>
                                    <td style="width:35%" class="align_right">
                                        {{ currentData[component.id + '/ActivePower'] > 0? (currentData[component.id +
                                        '/ActivePower'] | number:'1.0-0') + '&nbsp;W' : '-&nbsp;' }}
                                    </td>
                                </tr>
                            </table>
                            <!-- Asymmetric ESS -->
                            <table *ngIf="factory.natureIds.includes('io.openems.edge.ess.api.AsymmetricEss')"
                                class="full_width">
                                <tr *ngIf="currentData[component.id + '/ActivePowerL1'] != null">
                                    <ng-container *ngIf="currentData[component.id + '/ActivePowerL1'] > 0">
                                        <td style="width:2%"></td>
                                        <td style="width:63%"><span translate>General.phase</span> L1 <span
                                                translate>General.dischargePower</span>
                                        </td>
                                        <td style="width:35%" class="align_right">
                                            {{ currentData[component.id + '/ActivePowerL1'] | unitvalue:'W' }}
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="currentData[component.id + '/ActivePowerL1'] <= 0">
                                        <td style="width:2%"></td>
                                        <td style="width:63%"><span translate>General.phase</span> L1 <span
                                                translate>General.chargePower</span>
                                        </td>
                                        <td style="width:35%" class="align_right">
                                            {{ (currentData[component.id + '/ActivePowerL1'] * -1) | unitvalue:'W' }}
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="currentData[component.id + '/ActivePowerL2'] != null">
                                    <ng-container *ngIf="currentData[component.id + '/ActivePowerL2'] > 0">
                                        <td style="width:2%"></td>
                                        <td style="width:63%"><span translate>General.phase</span> L2 <span
                                                translate>General.dischargePower</span></td>
                                        <td style="width:35%" class="align_right">
                                            {{ currentData[component.id + '/ActivePowerL2'] | unitvalue:'W' }}
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="currentData[component.id + '/ActivePowerL2'] <= 0">
                                        <td style="width:2%"></td>
                                        <td style="width:63%"><span translate>General.phase</span> L2 <span
                                                translate>General.chargePower</span>
                                        </td>
                                        <td style="width:35%" class="align_right">
                                            {{ (currentData[component.id + '/ActivePowerL2'] * -1) | unitvalue:'W' }}
                                        </td>
                                    </ng-container>
                                </tr>
                                <tr *ngIf="currentData[component.id + '/ActivePowerL3'] != null">
                                    <ng-container *ngIf="currentData[component.id + '/ActivePowerL3'] > 0">
                                        <td style="width:2%"></td>
                                        <td style="width:63%"><span translate>General.phase</span> L3 <span
                                                translate>General.dischargePower</span>
                                        </td>
                                        <td style="width:35%" class="align_right">
                                            {{ currentData[component.id + '/ActivePowerL3'] | unitvalue:'W' }}
                                        </td>
                                    </ng-container>
                                    <ng-container *ngIf="currentData[component.id + '/ActivePowerL3'] <= 0">
                                        <td style="width:2%"></td>
                                        <td style="width:63%"><span translate>General.phase</span> L3 <span
                                                translate>General.chargePower</span>
                                        </td>
                                        <td style="width:35%" class="align_right">
                                            {{ (currentData[component.id + '/ActivePowerL3'] * -1) | unitvalue:'W' }}
                                        </td>
                                    </ng-container>
                                </tr>
                            </table>

                            <!-- Show if ess has EmergencyCapacityReserveController assigned-->
                            <ng-container [formGroupName]="component.id" *ngIf="formGroup.controls[component.id]">
                                <table class="full_width" style="margin-top: 2%;">
                                    <tr>
                                        <ion-item-divider color="light">
                                            <td style="width: 70%;" translate>
                                                Edge.Index.EmergencyReserve.emergencyReserve
                                            </td>
                                            <td style="width: 20%; text-align: right;">
                                                {{ formGroup.value[component.id]?.reserveSoc | unitvalue:'%' }}
                                            </td>
                                            <td style="width: 10%" class="align_right">

                                                <!-- Sets the emergencyEnabled temporarily, to show the slider without changing config  -->
                                                <ion-toggle formControlName="isReserveSocEnabled">
                                                </ion-toggle>
                                            </td>
                                        </ion-item-divider>
                                    </tr>
                                </table>

                                <table class="full_width" style="margin-top: 2%;">
                                    <tr>
                                        <td style="width: 10%">
                                            <ion-icon name="information-outline" size="large"></ion-icon>
                                        </td>
                                        <td style="width: 90%">
                                            <ion-note class="ion-text-wrap ion-align-items-center">
                                                <ion-text>
                                                    <small translate>
                                                        Edge.Index.EmergencyReserve.InfoForEmergencyReserveSlider
                                                    </small>
                                                </ion-text>
                                            </ion-note>
                                        </td>
                                    </tr>
                                </table>
                                <!-- Show only when EmergencyReserve is enabled -->
                                <ng-container *ngIf="formGroup.value[component.id]?.isReserveSocEnabled">
                                    <ion-range formControlName="reserveSoc" pin color="primary" min="5" max="100">
                                        <ion-label slot="start">
                                            {{ 5 | unitvalue:'%' }}
                                        </ion-label>
                                        <ion-label slot="end">
                                            {{ 100 | unitvalue:'%' }}
                                        </ion-label>
                                    </ion-range>
                                </ng-container>
                            </ng-container>
                        </ion-card-content>
                    </ng-container>
                </ng-container>
            </ng-container>
        </ng-container>

        <!-- DC Charger -->
        <ng-container *ngIf="chargerComponents != null && chargerComponents.length != 0 && essComponents.length != 1">
            <ng-container *ngFor="let component of chargerComponents">
                <ion-card-content [class.underline]="!isLastElement(component, chargerComponents)">
                    <table *ngIf="(edge.currentData | async)['channel'] as currentData" class="full_width">
                        <tr>
                            <td style="width: 100%" *ngIf="component.id == component.alias">{{component.id}}</td>
                            <td style="width: 100%" *ngIf="component.id != component.alias">{{component.alias}}</td>
                        </tr>
                        <tr>
                            <td style="width:20%" translate>General.chargePower</td>
                            <td style="width:30%"></td>
                            <td style="width:35%" class="align_right">
                                {{ currentData[component.id + '/ActualPower'] > 0? (currentData[component.id +
                                '/ActualPower'] | number:'1.0-0') + '&nbsp;W' : '-&nbsp;' }}
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%" translate>General.dischargePower</td>
                            <td style="width:30%"></td>
                            <td style="width:35%" class="align_right">
                                {{ currentData[component.id + '/ActualPower'] <= 0? ((currentData[component.id
                                    + '/ActualPower' ] * -1) | number:'1.0-0') + '&nbsp;W' : '-&nbsp;' }} </td>
                        </tr>
                    </table>

                    <!-- Show if ess has EmergencyCapacityReserveController assigned-->
                    <ng-container [formGroupName]="component.id" *ngIf="formGroup.controls[component.id]">
                        <table class="full_width" style="margin-top: 2%;">
                            <tr>
                                <ion-item-divider color="light">
                                    <td style="width: 70%;" translate>
                                        Edge.Index.EmergencyReserve.emergencyReserve
                                    </td>
                                    <td style="width: 20%; text-align: right;">
                                        {{ formGroup.value[component.id]?.reserveSoc | unitvalue:'%' }}
                                    </td>
                                    <td style="width: 10%" class="align_right">

                                        <!-- Sets the emergencyEnabled temporarily, to show the slider without changing config  -->
                                        <ion-toggle formControlName="isReserveSocEnabled">
                                        </ion-toggle>
                                    </td>
                                </ion-item-divider>
                            </tr>
                        </table>

                        <table class="full_width" style="margin-top: 2%;">
                            <tr>
                                <td style="width: 10%">
                                    <ion-icon name="information-outline" size="large"></ion-icon>
                                </td>
                                <td style="width: 90%">
                                    <ion-note class="ion-text-wrap ion-align-items-center">
                                        <ion-text>
                                            <small translate>
                                                Edge.Index.EmergencyReserve.InfoForEmergencyReserveSlider
                                            </small>
                                        </ion-text>
                                    </ion-note>
                                </td>
                            </tr>
                        </table>

                        <!-- Show only when EmergencyReserve is enabled -->
                        <ng-container *ngIf="formGroup.value[component.id]?.isReserveSocEnabled">
                            <ion-range formControlName="reserveSoc" pin color="primary" min="5" max="100">
                                <ion-label slot="start">
                                    {{ 5 | unitvalue:'%' }}
                                </ion-label>
                                <ion-label slot="end">
                                    {{ 100 | unitvalue:'%' }}
                                </ion-label>
                            </ion-range>
                        </ng-container>
                    </ng-container>

                </ion-card-content>
            </ng-container>
        </ng-container>
    </form>


    <ion-fab *ngIf="formGroup?.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="applyChanges()">
            <ion-icon size="large" name="checkmark-circle-outline">
            </ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>