<ion-item (click)="onSelectItem()" [disabled]="formControl.disabled" [button]="!formControl.disabled">
    <ion-label [position]="to.labelPosition" style="max-width:none">
        <span>{{ to.label }}</span>
        <span *ngIf="to.required && to.hideRequiredMarker !== true">*</span>
        <span *ngIf="to.description"><br /><small> {{ to.description }} </small></span>
    </ion-label>
    <ion-text>
        {{ model[pathToDisplayValue] }}
    </ion-text>
    <ion-icon name="caret-down-outline"></ion-icon>
</ion-item>