<header></header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8">

        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" size="large" color="primary" name="code-slash-outline"></ion-icon>
            <ion-label class="ion-text-wrap">
              {{ environment.edgeShortName }} - {{ environment.edgeLongName }}
            </ion-label>
          </ion-item>

          <ion-card-content class="ion-text-wrap">
            <p class="ion-padding">Dieses Energiemanagementsystem wird auf Basis von OpenEMS als Open-Source-Software
              entwickelt. OpenEMS - das Open Source Energy Management System - ist eine modulare Plattform für
              Energiemanagement-Anwendungen. Es wurde von FENECON initiiert und wird mittlerweile von einer breiten Zahl
              an Unternehmen, Universitäten und Instituten für deren Forschung und Entwicklung als auch eigene
              Energiemanagementsysteme eingesetzt. Die Entwicklung wird in der OpenEMS Association e.V. koordiniert.</p>
            <ul>
              <li>
                <a target="_blank" href="https://openems.io" translate>About.openEMS</a>
              </li>
            </ul>
          </ion-card-content>
        </ion-card>

        <ion-card *ngFor="let changelog of changelogs">
          <ion-card-header>
            <ion-card-title>Version {{ changelog.version }}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ul>
              <ng-container *ngFor="let change of changelog.changes">
                <ng-container *ngIf="change.hasOwnProperty('roleIsAtLeast'); else no_roleIsAtLeast">
                  <!-- Limited to 'roleIsAtLeast' -->
                  <ng-container *ngIf="(service.metadata | async)?.user as user">
                    <li *ngIf="roleIsAtLeast(user.globalRole, change.roleIsAtLeast)">
                      <span [innerHtml]="change.change"></span>
                      <span style="color: darkgray"><i> (Dieser Eintrag ist nur sichtbar für '{{
                          numberToRole(change['roleIsAtLeast'])
                          }}')</i></span>
                    </li>
                  </ng-container>
                </ng-container>
                <ng-template #no_roleIsAtLeast>
                  <!-- Default changelog entry -->
                  <li [innerHtml]="change"></li>
                </ng-template>
              </ng-container>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>