<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Energiemonitor</h3>
        </div>
        <div class="panel-body">
          <div *ngIf="device && device.data" class="container">
            <div class="row">
              <!--<div *ngFor="let thing of data | keys" [ngSwitch]="thing.value._tag" class="col-xs-12 col-sm-4 col-md-3">-->
              <div *ngFor="let thing of device.data | async | keys" class="col-xs-12 col-sm-4 col-md-3">
                <!-- Meter -->
                <!--<common-thing-meter-simulator *ngSwitchCase="'SimulatorMeter'" [data]="thing"></common-thing-meter-simulator>
      <common-thing-meter-asymmetric *ngSwitchCase="'AsymmetricMeter'" [data]="thing"></common-thing-meter-asymmetric>
      <common-thing-meter-symmetric *ngSwitchCase="'SymmetricMeter'" [data]="thing"></common-thing-meter-symmetric>-->
                <!-- Ess -->
                <!--<common-thing-ess-simulator *ngSwitchCase="'SimulatorEss'" [data]="thing"></common-thing-ess-simulator>
      <common-thing-ess-feneconpro *ngSwitchCase="'FeneconProEss'" [data]="thing"></common-thing-ess-feneconpro>
      <common-thing-ess-feneconcommercial *ngSwitchCase="'FeneconCommercialEss'" [data]="thing"></common-thing-ess-feneconcommercial>-->
                <!-- Default -->
                <!--<div *ngSwitchDefault class="panel panel-default">-->
                <common-thing-universal [thing]="thing"></common-thing-universal>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="col-xs-12 col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Apps</h3>
        </div>
      </div>
    </div>-->
  </div>
</div>


<!--<div *ngFor="let conn of connectionService.connections | keys">
      <div *ngIf="conn.value.isConnected" class="col-xs-4 col-md-3">
        <div routerLink="/monitor/{{conn.value.name}}" class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">{{conn.value.name}}</h3>
          </div>
          <div *ngFor="let dev of conn.value.data | async | keys">
            <div [ngSwitch]="dev.key">
              <template [ngSwitchCase]="'ess0'">
                <table class="table">
                  <tr>
                    <th colspan="3">Speicher</th>
                  </tr>
                  <tr>
                    <td>Ladezustand</td>
                    <td></td>
                    <td class="align-right">{{dev.value.Soc}} %</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <common-soc [soc]="dev.value.Soc"></common-soc>
                    </td>
                  </tr>
                  <tr>
                    <td>Wirkleistung</td>
                    <td></td>
                    <td class="align-right">{{dev.value.ActivePower}} W</td>
                  </tr>
                </table>
              </template>
            </div>
          </div>
        </div>
      </div>
    </div>-->