.weather-icon {
    font-size: 1.8rem;
    vertical-align: middle;
}

.sunshine-duration-icon {
    font-size: 1.05rem;
    vertical-align: middle;
}

.thin-divider {
    height: 1px;
    background-color: var(--ion-background-color);
    margin: 0.5rem 0 0.5rem 0;
}
