<ng-template #inside>
    <ion-segment [value]="selectedGroup?.group">
        <ng-container *ngFor="let optionGroup of optionGroups; let i = index">
            <ion-segment-button (click)="selectedIndex = i" [value]="OPTION_GROUP.GROUP">
                <ion-text translate style="white-space: initial">
                    {{ OPTION_GROUP.TITLE }}
                </ion-text>
            </ion-segment-button>
        </ng-container>
    </ion-segment>
    <div *ngFor="let optionGroup of optionGroups; let i = index">
        <div *ngIf="selectedIndex === i">
            <ion-row *ngFor="let option of OPTION_GROUP.OPTIONS">
                <ion-col>
                    <ion-item [disabled]="OPTION.DISABLED">
                        <div *ngIf="multi; else noMulti">
                            <ion-checkbox labelPlacement="start" (ionChange)="valueChangeCheckbox(option);"
                                [checked]="OPTION.SELECTED" class="ion-margin-end"></ion-checkbox>
                        </div>
                        <ng-template #noMulti>
                            <ion-radio slot="start" [value]="OPTION.VALUE"></ion-radio>
                        </ng-template>
                        {{ OPTION.TITLE }}
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ng-template>

<div *ngIf="OPTION_GROUPS.LENGTH === 0; elseShowOptions">
    <!-- no options set -->
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-col size="12" class="ion-text-center">
                <ion-label>
                    <h1> {{ TO.MISSING_OPTIONS_TEXT }} </h1>
                </ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>

<div #elseShowOptions *ngIf="multi; else singleSelect">
    <template [ngTemplateOutlet]="inside"></template>
</div>
<ng-template #singleSelect>
    <ion-radio-group #elseShowOptions [(ngModel)]="selectedValue" [value]="selectedValue" (ionChange)="valueChange()">
        <template [ngTemplateOutlet]="inside"></template>
    </ion-radio-group>
</ng-template>
