<ion-card>
  <ion-item>
    <ion-icon slot="start" name="today" color="primary"></ion-icon>
    <ion-label>
      <ion-card-title translate>Edge.Index.Energytable.Title</ion-card-title>
    </ion-label>
  </ion-item>

  <ngx-loading [show]="!(currentData && config)"></ngx-loading>
  <ng-container *ngIf="currentData && config">

    <!-- Storage -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/storage.png"></ion-img>
      <ion-label translate>General.StorageSystem</ion-label>
    </ion-item>

    <ion-card-content *ngIf="currentData.summary.storage as sum">
      <table class="full_width">
        <tr class="underline">
          <td style="width:50%" translate>General.Soc</td>
          <td style="width:15%"></td>
          <td style="width:25%" class="align_right">{{ sum.soc }}</td>
          <td style="width:10%">&nbsp;%</td>
        </tr>
        <!-- Symmetric ESS -->
        <ng-container *ngIf="sum.isAsymmetric == false && sum.chargeActivePowerAC != null && sum.dischargeActivePowerAC != null">
          <tr>
            <td translate>General.ChargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td></td>
            <ng-container *ngIf="sum.chargeActivePowerAC != 0; else empty">
              <td class="align_right">{{ sum.chargeActivePowerAC | number:'1.0-0' }}</td>
              <td>&nbsp;W</td>
            </ng-container>
            <ng-template #empty>
              <td class="align_right">-</td>
              <td></td>
            </ng-template>
          </tr>
          <tr>
            <td translate>General.DischargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td></td>
            <ng-container *ngIf="sum.dischargeActivePowerAC != 0; else empty">
              <td class="align_right">{{ sum.dischargeActivePowerAC | number:'1.0-0' }}</td>
              <td>&nbsp;W</td>
            </ng-container>
            <ng-template #empty>
              <td class="align_right">-</td>
              <td></td>
            </ng-template>
          </tr>
        </ng-container>
        <!-- Asymmetric ESS -->
        <ng-container *ngIf="sum.isAsymmetric == true && sum.chargeActivePowerACL1 != null && sum.dischargeActivePowerACL1 != null">
          <tr>
            <td translate>General.ChargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td>L1</td>
            <td class="align_right">{{ sum.chargeActivePowerACL1 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.chargeActivePowerACL2 != null">
            <td></td>
            <td>L2</td>
            <td class="align_right">{{ sum.chargeActivePowerACL2 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.chargeActivePowerACL3 != null" class="underline">
            <td></td>
            <td>L3</td>
            <td class="align_right">{{ sum.chargeActivePowerACL3 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr>
            <td translate>General.DischargePower
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td>L1</td>
            <td class="align_right">{{ sum.dischargeActivePowerACL1 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.dischargeActivePowerACL2 != null">
            <td></td>
            <td>L2</td>
            <td class="align_right">{{ sum.dischargeActivePowerACL2 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr *ngIf="sum.dischargeActivePowerACL3 != null">
            <td></td>
            <td>L3</td>
            <td class="align_right">{{ sum.dischargeActivePowerACL3 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
        </ng-container>
        <!-- DC -->
        <tr *ngIf="sum.chargeActivePowerDC != null">
          <td translate>Edge.Index.Energytable.LoadingDC</td>
          <td></td>
          <td class="align_right">{{ sum.chargeActivePowerDC | number:'1.0-0' }}</td>
          <td>&nbsp;W</td>
        </tr>
      </table>
    </ion-card-content>

    <!-- Show details for more than one ESS -->
    <ng-container *ngIf="config.esss.length > 1">
      <ng-container *ngFor="let thing of config.esss">
        <ion-item>
          <ion-label style="text-decoration: underline">{{ config.things[thing].alias }}</ion-label>
        </ion-item>
        <ion-card-content *ngIf="currentData.data[thing] as data">
          <table class="full_width">
            <tr class="underline">
              <td style="width:50%" translate>General.Soc</td>
              <td style="width:15%"></td>
              <td style="width:25%" class="align_right">{{ data.Soc }}</td>
              <td style="width:10%">&nbsp;%</td>
            </tr>
            <!-- Symmetric ESS -->
            <ng-container *ngIf="data.ActivePower != null">
              <tr>
                <td translate>General.ChargePower</td>
                <td></td>
                <td class="align_right" *ngIf="data.ActivePower < 0">{{ data.ActivePower | sign | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePower >= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
              <tr>
                <td translate>General.DischargePower</td>
                <td></td>
                <td class="align_right" *ngIf="data.ActivePower > 0">{{ data.ActivePower | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePower <= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
            </ng-container>
            <!-- Asymmetric ESS -->
            <ng-container *ngIf="data.ActivePowerL1 != null && data.ActivePowerL2 != null && data.ActivePowerL3 != null">
              <tr>
                <td translate>General.ChargePower</td>
                <td>L1</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 < 0">{{ data.ActivePowerL1 | sign | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 >= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 < 0">{{ data.ActivePowerL2 | sign | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 >= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
              <tr class="underline">
                <td></td>
                <td>L3</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 < 0">{{ data.ActivePowerL3 | sign | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 >= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
              <tr>
                <td translate>General.DischargePower</td>
                <td>L1</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 > 0">{{ data.ActivePowerL1 | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL1 <= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 > 0">{{ data.ActivePowerL2 | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL2 <= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
              <tr>
                <td></td>
                <td>L3</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 > 0">{{ data.ActivePowerL3 | number:'1.0-0' }}</td>
                <td class="align_right" *ngIf="data.ActivePowerL3 <= 0">0</td>
                <td>&nbsp;W</td>
              </tr>
            </ng-container>
          </table>
        </ion-card-content>
      </ng-container>
    </ng-container>

    <!-- Grid -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/grid.png"></ion-img>
      <ion-label translate>Edge.Index.Energymonitor.GridMeter</ion-label>
    </ion-item>
    <ion-card-content>
      <ng-container *ngFor="let thing of config.gridMeters">
        <table *ngIf="currentData.data[thing] as data" class="full_width">
          <!-- Symmetric Meter -->
          <ng-container *ngIf="data.ActivePower != null">
            <tr>
              <td style="width:50%" translate>General.GridBuy</td>
              <td style="width:15%"></td>
              <td style="width:25%" class="align_right" *ngIf="data.ActivePower > 0">{{ data.ActivePower | number:'1.0-0'
                }}
              </td>
              <td style="width:25%" class="align_right" *ngIf="data.ActivePower <= 0">0</td>
              <td style="width:10%">&nbsp;W</td>
            </tr>
            <tr>
              <td translate>General.GridSell</td>
              <td></td>
              <td class="align_right" *ngIf="data.ActivePower < 0">{{ data.ActivePower | sign | number:'1.0-0' }}</td>
              <td class="align_right" *ngIf="data.ActivePower >= 0">0</td>
              <td>&nbsp;W</td>
            </tr>
          </ng-container>
          <!-- Asymmetric Meter -->
          <ng-container *ngIf="data.ActivePower == null && data.ActivePowerL1 != null && data.ActivePowerL2 != null && data.ActivePowerL3 != null">
            <tr>
              <td style="width:50%" translate>General.GridBuy</td>
              <td style="width:15%">L1</td>
              <td style="width:25%" class="align_right" *ngIf="data.ActivePowerL1 > 0">{{ data.ActivePowerL1 | number:'1.0-0'
                }}
              </td>
              <td style="width:25%" class="align_right" *ngIf="data.ActivePowerL1 <= 0">0</td>
              <td style="width:10%">&nbsp;W</td>
            </tr>
            <tr>
              <td></td>
              <td>L2</td>
              <td class="align_right" *ngIf="data.ActivePowerL2 > 0">{{ data.ActivePowerL2 | number:'1.0-0' }}</td>
              <td class="align_right" *ngIf="data.ActivePowerL2 <= 0">0</td>
              <td>&nbsp;W</td>
            </tr>
            <tr class="underline">
              <td></td>
              <td>L3</td>
              <td class="align_right" *ngIf="data.ActivePowerL3 > 0">{{ data.ActivePowerL3 | number:'1.0-0' }}</td>
              <td class="align_right" *ngIf="data.ActivePowerL3 <= 0">0</td>
              <td>&nbsp;W</td>
            </tr>
            <tr>
              <td translate>General.GridSell</td>
              <td>L1</td>
              <td class="align_right" *ngIf="data.ActivePowerL1 < 0">{{ data.ActivePowerL1 | sign | number:'1.0-0' }}</td>
              <td class="align_right" *ngIf="data.ActivePowerL1 >= 0">0</td>
              <td>&nbsp;W</td>
            </tr>
            <tr>
              <td></td>
              <td>L2</td>
              <td class="align_right" *ngIf="data.ActivePowerL2 < 0">{{ data.ActivePowerL2 | sign | number:'1.0-0' }}</td>
              <td class="align_right" *ngIf="data.ActivePowerL2 >= 0">0</td>
              <td>&nbsp;W</td>
            </tr>
            <tr>
              <td></td>
              <td>L3</td>
              <td class="align_right" *ngIf="data.ActivePowerL3 < 0">{{ data.ActivePowerL3 | sign | number:'1.0-0' }}</td>
              <td class="align_right" *ngIf="data.ActivePowerL3 >= 0">0</td>
              <td>&nbsp;W</td>
            </tr>
          </ng-container>
        </table>
      </ng-container>
    </ion-card-content>

    <!-- Production -->
    <ion-item color="light">
      <ion-img style="width:40px" src="assets/img/production.png"></ion-img>
      <ion-label translate>Edge.Index.Energymonitor.ProductionMeter</ion-label>
    </ion-item>
    <ion-card-content>
      <table *ngIf="currentData.summary.production as sum" class="full_width">
        <!-- Symmetric Meter -->
        <ng-container *ngIf="sum.isAsymmetric == false && sum.activePowerAC != null">
          <tr>
            <td style="width:50%" translate>General.Production
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <ng-container *ngIf="sum.activePowerAC != 0; else empty">
              <td style="width:15%"></td>
              <td style="width:25%" class="align_right">{{ sum.activePowerAC | number:'1.0-0' }}</td>
              <td style="width:10%">&nbsp;W</td>
            </ng-container>
            <ng-template #empty>
              <td style="width:15%"></td>
              <td style="width:25%" class="align_right">-</td>
              <td style="width:10%"></td>
            </ng-template>
          </tr>
        </ng-container>
        <!-- Asymmetric Meter -->
        <ng-container *ngIf="sum.isAsymmetric == true && sum.activePowerACL1 != null && sum.activePowerACL2 != null && sum.activePowerACL3 != null">
          <tr>
            <td style="width:50%" translate>General.Production
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td style="width:15%">L1</td>
            <td style="width:25%" class="align_right">{{ sum.activePowerACL1 | number:'1.0-0' }}</td>
            <td style="width:10%">&nbsp;W</td>
          </tr>
          <tr>
            <td translate>General.Production
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td>L2</td>
            <td class="align_right">{{ sum.activePowerACL2 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
          <tr>
            <td translate>General.Production
              <span *ngIf="sum.hasDC"> AC</span>
            </td>
            <td>L3</td>
            <td class="align_right">{{ sum.activePowerACL3 | number:'1.0-0' }}</td>
            <td>&nbsp;W</td>
          </tr>
        </ng-container>
        <!-- DC -->
        <tr *ngIf="sum.activePowerDC != null">
          <td translate>Edge.Index.Energytable.ProductionDC</td>
          <td></td>
          <td class="align_right">{{ sum.activePowerDC | number:'1.0-0' }}</td>
          <td>&nbsp;W</td>
        </tr>
      </table>
    </ion-card-content>

    <!-- Show details for more than one Meter -->
    <ng-container *ngIf="config.productionMeters.length > 1">
      <ng-container *ngFor="let thing of config.productionMeters">
        <ion-item>
          <ion-label style="text-decoration: underline">{{ config.things[thing].alias }}</ion-label>
        </ion-item>
        <ion-card-content *ngIf="currentData.data[thing] as data">
          <table class="full_width">
            <ng-container *ngIf="data.ActualPower != null">
              <tr>
                <td style="width:50%" translate>General.Production</td>
                <td style="width:15%"></td>
                <td style="width:25%" class="align_right">{{ data.ActualPower | number:'1.0-0' }}</td>
                <td style="width:10%">&nbsp;W</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.ActivePower != null">
              <tr>
                <td style="width:50%" translate>General.Production</td>
                <td style="width:15%"></td>
                <td style="width:25%" class="align_right">{{ data.ActivePower | number:'1.0-0' }}</td>
                <td style="width:10%">&nbsp;W</td>
              </tr>
            </ng-container>
            <ng-container *ngIf="data.ActivePower == null && data.ActivePowerL1 != null && data.ActivePowerL2 != null && data.ActivePowerL3 != null">
              <tr>
                <td style="width:50%" translate>General.Production</td>
                <td style="width:15%">L1</td>
                <td style="width:25%" class="align_right">{{ data.ActivePowerL1 | number:'1.0-0' }}</td>
                <td style="width:10%">&nbsp;W</td>
              </tr>
              <tr>
                <td></td>
                <td>L2</td>
                <td class="align_right">{{ data.ActivePowerL2 | number:'1.0-0' }}</td>
                <td>&nbsp;W</td>
              </tr>
              <tr>
                <td></td>
                <td>L3</td>
                <td class="align_right">{{ data.ActivePowerL3 | number:'1.0-0' }}</td>
                <td>&nbsp;W</td>
              </tr>
            </ng-container>
          </table>
        </ion-card-content>
      </ng-container>
    </ng-container>

    <!-- Consumption -->
    <ng-container *ngIf="currentData.summary.consumption as data">
      <ion-item color="light">
        <ion-img style="width:40px" src="assets/img/consumption.png"></ion-img>
        <ion-label translate>General.Consumption</ion-label>
      </ion-item>
      <ion-card-content>
        <table class="full_width">
          <ng-container *ngIf="data.activePower != null">
            <tr>
              <td style="width:50%" translate>General.Power</td>
              <td style="width:15%"></td>
              <td style="width:25%" class="align_right">{{ data.activePower | number:'1.0-0' }}</td>
              <td style="width:10%">&nbsp;W</td>
            </tr>
          </ng-container>
        </table>
      </ion-card-content>
    </ng-container>
  </ng-container>
</ion-card>