:org.apache.felix.configadmin.revision:=L"5"
_lastChangeAt="2024-10-08T10:45:20"
_lastChangeBy="admin:\ Admin"
aggregationPriority="LOW"
alias=""
apiTimeout=I"60"
apikey="1235"
debugMode=B"false"
enabled=B"false"
id="ctrlBackend0"
isAppCenterBackend="YES"
persistencePriority="HIGH"
proxyAddress=""
proxyPort=I"0"
proxyType="HTTP"
resendPriority="HIGH"
service.factoryPid="Controller.Api.Backend"
service.pid="Controller.Api.Backend.907c8cc8-e2b7-4c8c-8c08-550e6b0da007"
uri="ws://localhost:8081"
