<ion-grid *ngIf="PROPS.OPTIONS" class="ion-no-padding">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @for (row of PROPS.OPTIONS; track row; let odd = $odd) {
    <ion-row *ngIf="row?.props" class="ion-align-self-start"
      [STYLE.BACKGROUND]="odd ? 'var(--ion-background-color-card-header)' : ''">
      <ion-col size="auto" class="ion-padding ion-align-self-center">
        <ion-icon class="ion-margin-start" size="large" [name]="ROW.PROPS?.ICON.NAME" [color]="ROW.PROPS?.ICON.COLOR"
          [size]="ROW.PROPS?.ICON.SIZE" item-left></ion-icon>
      </ion-col>
      <ion-col>
        <ion-row class="ion-no-padding ion-align-items-center">
          <ion-col>
            <ion-item lines="none" class="ion-full-width ion-background-transparent">
              {{ ROW.PROPS?.title }}
            </ion-item>
          </ion-col>
          <ion-col>
            @for (col of ROW.FIELD_GROUP; track $index) {
            @switch (COL.TYPE) {
            @case ("toggle") {
            <ion-item lines="none" class="ion-background-transparent">
              <ion-toggle label-placement="start" slot="end" [formControlName]="COL.KEY"
                (ionChange)="changeEditMode(COL.KEY)"></ion-toggle>
            </ion-item>
            }
            }
            }
          </ion-col>
        </ion-row>
        <ion-row class="ion-no-padding ion-align-items-center">
          @for (col of ROW.FIELD_GROUP; track $index) {
          @switch (COL.TYPE) {
          @case ("radio-buttons") {
          <ion-col>
            <ion-item lines="none" class="ion-background-transparent">
              <ion-select [formControlName]="COL.KEY" interface="popover"
                class="custom-ion-popover ion-background-transparent" label-placement="floating" [label]="COL.NAME"
                justify="start" [CLASS.DISABLED]="TO.DISABLED">
                @for (option of COL.PROPS.OPTIONS; track OPTION.VALUE) {
                <ion-select-option class="ion-full-width" [value]="OPTION.VALUE" labelPlacement="end" justify="start">
                  {{ OPTION.LABEL }}
                </ion-select-option>
                }
              </ion-select>
            </ion-item>
          </ion-col>
          }
          @case ("checkbox") {
          <!-- Checkbox -->
          <ion-col class="ion-align-self-center ion-no-padding ion-no-padding-top" [ngClass]="
                              nestedGroup?.controls[COL.PROPS.DISABLED_ON_FORM_CONTROL]?.value === false ? 'ion-disabled' : ''
                            " size-md="5" size-lg="5" size-sm="5" size-xs="11">
            <ion-row>
              <ion-col>
                <ion-item class="ion-background-transparent" lines="none">
                  <ion-checkbox style="margin-right: 5%" class="ion-font-size-smaller" slot="start" labelPlacement="end"
                    [formControlName]="COL.KEY" justify="start" [formlyAttributes]="col">
                    {{ COL.NAME }}
                  </ion-checkbox>
                  <oe-help-popover-button [helpMsg]="COL.PROPS.HELP"></oe-help-popover-button>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-col>
          }
          }
          }
        </ion-row>
      </ion-col>
    </ion-row>
    }
  </form>
</ion-grid>
