<form [formGroup]="form" *ngIf="PROPS.OPTIONS">
  <ion-accordion-group [multiple]="true">
    @for (user of PROPS.OPTIONS; track $index; let trackEven = $even; let i = $index) {
    <ion-row [formGroupName]="USER.KEY" class="ion-justify-content-center">
      <ion-accordion [value]="USER.KEY"
        [class]="MAIL_CHECK_BOX_CHECKED.GET(USER.KEY) === false ? 'ng-invalid': 'ng-valid'">
        <ion-item slot="header" [color]="trackEven ? 'var(--ion-background-color-card-header)' : 'light'" lines="none">
          <ion-label>{{ USER.KEY }}</ion-label>
        </ion-item>
        <div class="ion-no-padding" slot="content">
          @for (userCol of USER.FIELD_GROUP; track USER_COL.KEY; let oddInnerRow = $odd) {
          <ion-row class="ion-align-self-start ion-no-padding" [STYLE.BACKGROUND]="
                          (trackEven && !oddInnerRow) || (!trackEven && oddInnerRow)
                            ? 'var(--ion-background-color-card-header)' : ''">
            <ion-col size="auto" class="ion-padding ion-align-self-center" *ngIf="USER_COL.PROPS.ICON">
              <ion-icon class="ion-margin-start" size="large" [name]="USER_COL.PROPS?.ICON.NAME"
                [color]="USER_COL.PROPS?.ICON.COLOR" [size]="USER_COL.PROPS?.ICON.SIZE" item-left></ion-icon>
            </ion-col>
            <ion-col>
              <ion-row class="ion-no-padding ion-align-items-center">
                <ion-col>
                  <ion-item lines="none" class="ion-full-width ion-background-transparent">
                    {{USER_COL.NAME }}
                  </ion-item>
                </ion-col>
                <ion-col>
                  @switch (USER_COL.TYPE) {
                  @case ("toggle") {
                  <ion-item lines="none" class="ion-background-transparent">
                    <ion-toggle label-placement="start" slot="end" [formControlName]="USER_COL.KEY"
                      (ionChange)="changeEditMode(USER.KEY, USER_COL.KEY)"></ion-toggle>
                  </ion-item>
                  }
                  }
                </ion-col>
              </ion-row>

              <ion-row class="ion-no-padding ion-align-items-center">
                @for (col of USER_COL.FIELD_GROUP; track $index) {
                @switch (COL.TYPE) {
                @case ("radio-buttons") {
                <ion-col>
                  <ion-item lines="none" class="ion-background-transparent">
                    <ion-select [formControlName]="COL.KEY" interface="popover"
                      class="custom-ion-popover ion-background-transparent" label-placement="floating"
                      [label]="COL.NAME" justify="start">
                      @for (option of COL.PROPS.OPTIONS; track OPTION.VALUE) {
                      <ion-select-option class="ion-full-width" [value]="OPTION.VALUE" labelPlacement="end"
                        justify="start">
                        {{ OPTION.LABEL }}
                      </ion-select-option>
                      }
                    </ion-select>
                  </ion-item>
                </ion-col>
                }
                @case ("checkbox") {
                <!-- Checkbox -->
                <ion-col class="ion-align-self-center ion-no-padding ion-no-padding-top" [ngClass]="
                                                  nestedGroup?.controls[COL.PROPS.DISABLED_ON_FORM_CONTROL]?.value === false
                                                    ? 'ion-disabled'
                                                    : ''
                                                " size-md="5" size-lg="5" size-sm="5" size-xs="11">
                  <ion-row>
                    <ion-col>
                      <ion-item class="ion-background-transparent" lines="none">
                        <ion-checkbox class="ion-font-size-smaller" style="margin-right: 5%" slot="start"
                          (ionChange)="checkValidity(USER.KEY)" [formControlName]="COL.KEY" justify="start"
                          [STYLE.POINTER-events]="nestedGroup?.controls[COL.PROPS.DISABLED_ON_FORM_CONTROL]?.value === false
                                                            ? 'none'
                                                            : 'inherit'
                                                        " labelPlacement="end">
                          {{ COL.NAME }}
                        </ion-checkbox>
                        <oe-help-popover-button [helpMsg]="COL.PROPS.HELP"></oe-help-popover-button>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-col>
                }
                }
                }
              </ion-row>
            </ion-col>
          </ion-row>
          }
        </div>
      </ion-accordion>
    </ion-row>
    }
  </ion-accordion-group>
</form>
