<ng-template #content>
    <ng-container *ngIf="edge">
        <table class="full_width" *ngIf="edge.currentData | async as currentData">
            <tr content>

                <!-- Title of Parameter on the left side -->
                <td *ngIf="title && !title_addition && !title_translate" style="width:65%">{{title}}</td>
                <td *ngIf="title_translate && !title" style="width:65%" translate>
                    {{title_translate}}</td>
                <td *ngIf="title && title_addition" style="width:65%">
                    {{title}}<span>&nbsp;{{title_addition}}</span></td>
                <td *ngIf="title_translate && title_addition" style="width:65%" translate>
                    {{title_translate}}<span>&nbsp;{{title_addition}} 123</span></td>

                <!-- Title Values of the Parameter on the right side -->
                <td style="width:35%" class="align_right"
                    *ngIf="channel && !unit &&(edge.currentData | async) as currentData">
                    <ng-container *ngIf="channel != null && channel != undefined">
                        {{ currentData.channel[channel] | unitvalue:'kW'}}
                    </ng-container>
                </td>
                <ng-container *ngIf="unit">
                    <td style="width:35%" class="align_right"
                        *ngIf="currentData.channel != null && unit.otherUnit && channel &&(edge.currentData | async) as currentData">
                        <ng-container *ngIf="channel!= null">
                            {{ currentData.channel[channel] | unitvalue:unit.otherUnit}}
                        </ng-container>
                    </td>
                    <td style="width:35%" class="align_right"
                        *ngIf="unit.otherUnit && !unit.value && !unit.format&& value != null &&title || title_translate">
                        {{ value | unitvalue:unit.otherUnit }}
                    </td>
                    <td style="width:35%" class="align_right"
                        *ngIf="value != null && unit.value== 'number' && unit.format != '' && unit.otherUnit != '' ">
                        {{ value | number:unit.format }}{{unit.otherUnit}}
                    </td>
                    <td style="width:35%" class="align_right"
                        *ngIf="value != null && unit.value == 'date' && !unit.otherUnit && !unit.format &&currentData.channel">
                        {{ value | date: 'H:mm':'UTC'}}&nbsp;h
                    </td>
                </ng-container>
                <td style="width:35%" class="align_right" *ngIf="value != null && !channel">
                    {{ value | unitvalue:'kW'}}
                </td>
                <td style="width:35%" class="align_right"
                    *ngIf="title || title_translate  && title_value_translate && !value" translate>
                    {{title_value_translate}}
                </td>
                <td style="width:35%" class="align_right" *ngIf="title || title_translate  && title_value && !value">
                    {{title_value}}
                </td>
                <td style="width:35%" class="align_right"
                    *ngIf="title_value &&!title && !title_translate&& !value && !title_value_translate"
                    [innerHTML]="title_value">{{title_value}}
                </td>
                <td style="width:35%" class="align_right" *ngIf="title_value_translate && !value && title_value == '-'"
                    [innerHTML]="title_value_translate">
                </td>
            </tr>
        </table>
    </ng-container>
</ng-template>
<ng-template #empty>

    <td style=" width:35%;" class="align_right">-</td>


</ng-template>