<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>{{ component.alias }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!loading">
        <ion-card-content class="underline" *ngIf="(edge.currentData | async)['channel'] as currentData">
            <ng-container *ngIf="component.properties['meter.id'] as meterId">
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            GENERAL.MEASURED_VALUE
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ng-container *ngIf="(currentData[meterId + '/ActivePower'] || true) as value">
                                {{ (value >= 0 ? value : 0) | unitvalue:'W' }}
                            </ng-container>
                        </td>
                    </tr>
                </table>
            </ng-container>
        </ion-card-content>
        <form [formGroup]="formGroup">
            <ion-card-content class="underline">
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.PEAKSHAVING_POWER
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="number" formControlName="peakShavingPower"
                                    style="text-align: end;">
                                </ion-input>
                                <ion-label class="regularFont">&nbsp;W</ion-label>
                            </ion-item>
                        </td>
                    </tr>
                </table>
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.RECHARGE_POWER
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="number" formControlName="rechargePower"
                                    style="text-align: end;">
                                </ion-input>
                                <ion-label class="regularFont">&nbsp;W</ion-label>
                            </ion-item>
                        </td>
                    </tr>
                </table>
            </ion-card-content>
            <ion-card-content class="underline">
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.START_DATE
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="text" formControlName="startDate"
                                    style="text-align: end;">
                                </ion-input>
                            </ion-item>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.END_DATE
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="text" formControlName="endDate"
                                    style="text-align: end;">
                                </ion-input>
                            </ion-item>
                        </td>
                    </tr>
                </table>
            </ion-card-content>
            <ion-card-content class="underline">
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.START_TIME</td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="text" formControlName="startTime"
                                    style="text-align: end;">
                                </ion-input>
                            </ion-item>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.END_TIME</td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="text" formControlName="endTime"
                                    style="text-align: end;">
                                </ion-input>
                            </ion-item>
                        </td>
                    </tr>
                </table>
            </ion-card-content>
            <ion-card-content class="underline">
                <table class="full_width">
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.RECHARGE
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="number" formControlName="slowChargePower"
                                    style="text-align: end;">
                                </ion-input>
                                <ion-label class="regularFont">&nbsp;W</ion-label>
                            </ion-item>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 65%" translate>
                            EDGE.INDEX.WIDGETS.PEAKSHAVING.START_TIME_CHARGE
                        </td>
                        <td style="width: 35%" class="align_right">
                            <ion-item lines="inset" class="noPadding">
                                <ion-input class="regularFont" type="text" formControlName="slowChargeStartTime"
                                    style="text-align: end;">
                                </ion-input>
                            </ion-item>
                        </td>
                    </tr>
                </table>
            </ion-card-content>
            <ion-card-content>
                <ion-row mode="md" class="ion-justify-content-center">
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.MON</ion-label>
                            <ion-checkbox formControlName="monday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.TUE</ion-label>
                            <ion-checkbox formControlName="tuesday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.WED</ion-label>
                            <ion-checkbox formControlName="wednesday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.THU</ion-label>
                            <ion-checkbox formControlName="thursday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.FRI</ion-label>
                            <ion-checkbox formControlName="friday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.SAT</ion-label>
                            <ion-checkbox formControlName="saturday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                    <ion-col>
                        <div>
                            <ion-label translate>EDGE.HISTORY.SUN</ion-label>
                            <ion-checkbox formControlName="sunday">
                            </ion-checkbox>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </form>
    </ng-container>
    <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="applyChanges()">
            <ion-icon size="large" name="checkmark-circle-outline">
            </ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid *ngIf="loading === true">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-grid>
</ion-content>