<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>Heimatstrom</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Info Text -->
<ion-content>
    <ion-row class="ion-justify-content-center" lines="full"
        style="line-height: 1.5em; padding-left: 1em; padding-right: 1em;">
        <ion-col size="12" class="ion-align-self-center ion-text-center">
            <p>Unser niederbayerischer Kooperationspartner <strong>Regionalwerke</strong> bietet
                <strong>regional</strong> erzeugten Strom aus Bayern für Bayern an, den Heimatstrom. Dabei schafft das
                Unternehmen einen echten Mehrwert für seine Kunden, die eine regionale und ökologisch nachhaltige
                Energiewende in Bürgerhand unterstützen. Mit vielen Forschungsprojekten arbeiten sie an einer
                <strong>erfolgreichen</strong> Energiewende <strong>in Einklang mit Mensch und Natur</strong> in ganz
                Bayern.
            </p>
        </ion-col>
        <ion-col size="12" class="ion-align-self-center ion-text-center">
            <img src="assets/img/solarfield.jpg" style="width: 93%">
        </ion-col>
        <ion-col size="12" class="ion-text-center">
            <p><strong>Klingt interessant?</strong></p>
        </ion-col>
        <ion-col class="ion-text-center">
            <p>Wenn Sie, genauso wie wir, von den regionalwerken <strong>überzeugt</strong> sind, können Sie jetzt ganz
                einfach Ihren
                Reststrombedarf mit <strong>„Heimatstrom“</strong> decken. Dabei spielt es keine Rolle, ob und in
                welcher Kombination Sie
                bereits PV-Dachanlage und Stromspeicher von FENECON besitzen. Mit „Heimatstrom“ haben Sie jetzt auch
                noch die Möglichkeit, ihre Heimatregion <strong>wirtschaftlich</strong> und <strong>ökologisch</strong>
                zu unterstützen. <a href="https://regionalwerke.com/pv-reststrom" target="_blank">Hier</a> mehr
                Informationen…</p>
        </ion-col>
    </ion-row>
</ion-content>
