<ion-grid *ngIf="factory">
  <ion-row justify-content-center>

    <ion-col size="12" size-sm="6">
      <ion-card>
        <ion-item>
          <ion-icon slot="start" name="stats" color="primary"></ion-icon>
          <ion-label>
            <ion-card-title>{{ factory.name }}</ion-card-title>
            <ion-card-subtitle>{{ factory.description }}</ion-card-subtitle>
          </ion-label>
        </ion-item>
        <ion-card-content>
          {{ factory.properties | json }}
        </ion-card-content>
      </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

{{ factory | json }}