:org.apache.felix.configadmin.revision:=L"4"
_lastChangeAt="2024-10-08T10:45:36"
_lastChangeBy="admin:\ Admin"
alias=""
apiTimeout=I"61"
debugMode=B"false"
enabled=B"true"
id="ctrlApiWebsocket0"
port=I"8085"
service.factoryPid="Controller.Api.Websocket"
service.pid="Controller.Api.Websocket.84643a01-e636-4060-b5fc-9ffbbf0d615b"
