<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title class="ion-text-start ion-padding-left" translate>General.Autarchy</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <autarchychart [period]="service.historyPeriod">
    </autarchychart>
</ion-content>