<!-- <div fxLayout="row">
  <mat-toolbar color="primary">
    <div fxFlex="40px">
      <div *ngIf="router.url !== '/overview'">
        <button routerLink="/overview" mat-icon-button>
          <ion-icon size="large" name="arrow-back"></ion-icon>
        </button>
      </div>
    </div>


    <ng-container #rolli *ngIf="(websocket.currentEdge | async) as currentEdge">
      <div fxFlex>
        <button routerLink="/device/{{ currentEdge.name }}/overview" mat-button>
          Energiemonitor
          <small>({{ currentEdge.name }})</small>
        </button>
      </div>
    </ng-container>


    <div fxFlex="50px">
      <button (click)="presentPopover($event)" mat-icon-button>
        <ion-icon name="menu" size="large"></ion-icon>
      </button>
    </div>


  </mat-toolbar>
</div> -->


<ion-header>
  <ion-toolbar color=primary>
    <ion-buttons slot="start">
      <ion-button *ngIf="router.url !== '/overview'" routerLink="/overview" routerLinkActive="active">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-button *ngIf="(websocket.currentEdge | async) as currentEdge" routerLink="/device/{{ currentEdge.name }}/overview">
        Energiemonitor
        <small>({{ currentEdge.name }})</small>
      </ion-button> -->
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngIf="router.url !== '/overview'" (click)="presentPopover($event)">
        <ion-icon name="settings" size="large"></ion-icon>
      </ion-button>
      <ion-button *ngIf="router.url === '/overview'" (click)="presentPopover($event)">
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="(websocket.currentEdge | async) as currentEdge" routerLink="/device/{{ currentEdge.name }}/overview">
      <button mat-button>
        Energiemonitor
        <small>({{ currentEdge.name }})</small>
      </button>
    </ion-title>

  </ion-toolbar>
</ion-header>



<!--   -->
<div *ngIf="websocket.status == 'connecting'" fxLayout fxLayoutAlign="center start" fxLayout="wrap" style="font-family: sans-serif; background-color: yellow">
  <span>Trying to reconnect...</span>
  <!-- TODO translate -->
</div>
<ng-container *ngIf="(websocket.currentEdge | async) as currentEdge">
  <div *ngIf="!currentEdge.online" fxLayout fxLayoutAlign="center start" fxLayout="wrap" style="font-family: sans-serif; background-color: yellow">
    <span>Device not connected.</span>
    <!-- TODO translate -->
  </div>
</ng-container>
<div fxLayout fxLayoutAlign="center start" fxLayout="wrap">
  <div fxFlex="100%">
    <router-outlet></router-outlet>
  </div>
</div>
<toaster-container></toaster-container>