:org.apache.felix.configadmin.revision:=L"1"
alias=""
apiTimeout=I"60"
apikey="DEMO_API_KEY"
debug=B"false"
enabled=B"true"
id="ctrlBackend0"
noOfCycles=I"10"
proxyAddress=""
proxyPort=I"0"
proxyType="HTTP"
service.factoryPid="Controller.Api.Backend"
service.pid="Controller.Api.Backend.28628d01-a978-4328-9a8f-b9c7751ed2d2"
uri="ws://localhost:8081"
