:org.apache.felix.configadmin.revision:=L"1"
alias="Self-consumption\ optimization"
enabled=B"true"
ess.id="ess0"
id="ctrlBalancing0"
meter.id="meter0"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.6e15c5d6-3005-49a4-9a96-68fa5f39740f"
targetGridSetpoint=I"0"
