:org.apache.felix.configadmin.revision:=L"3"
alias="Self-consumption\ optimization"
enabled=B"true"
ess.id="ess0"
ess.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.6e15c5d6-3005-49a4-9a96-68fa5f39740f))(|(id\=ess0)))"
id="ctrlBalancing0"
meter.id="meter0"
meter.target="(&(enabled\=true)(!(service.pid\=Controller.Symmetric.Balancing.6e15c5d6-3005-49a4-9a96-68fa5f39740f))(|(id\=meter0)))"
service.factoryPid="Controller.Symmetric.Balancing"
service.pid="Controller.Symmetric.Balancing.6e15c5d6-3005-49a4-9a96-68fa5f39740f"
targetGridSetpoint=I"0"
