<ion-card button routerLink="/device/{{edge.id}}/history/{{componentId}}/singlethresholdchart"
  *ngIf="component && edge">
  <ion-item lines="full" color="light">
    <ion-icon slot="start" color="primary" size="large" name="aperture-outline"></ion-icon>
    <ion-label>{{ component.alias }}</ion-label>
  </ion-item>
  <ion-card-content>
    <table class="full_width">
      <tr>
        <td style="width:65%" translate>
          Edge.History.activeDuration</td>
        <td style="width:35%" class="align_right">
          {{ activeSecondsOverPeriod | formatSecondsToDuration }}
        </td>
      </tr>
    </table>
  </ion-card-content>
</ion-card>
