<ng-container *ngIf="edge">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{ component.alias }}</ion-title>
            <ion-buttons slot="end">
                <oe-help-button key="CONTROLLER_ESS_GRID_OPTIMIZED_CHARGE"></oe-help-button>
                <ion-button routerLink="/device/{{edge.id}}/history/">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="width:100%" class="ion-padding" translate>
                        General.chargePower
                    </td>
                </tr>
            </table>
            <gridOptimizedChargeChart [component]="component" [period]="service.historyPeriod.value">
            </gridOptimizedChargeChart>
        </ion-card-content>
        <!-- Info Text -->
        <ion-card-content class="underline">
            <ion-row class="ion-justify-content-center">
                <ion-item class="ion-text-center" lines="none">
                    <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                    <ion-label class="ion-text-wrap">
                        <small translate>
                            Edge.Index.Widgets.GridOptimizedCharge.History.priorityDescription
                        </small>
                    </ion-label>
                </ion-item>
            </ion-row>
        </ion-card-content>
        <ion-card-content>
            <table class="full_width">
                <tr>
                    <td style="width:100%" class="ion-padding" translate>
                        General.gridSell
                    </td>
                </tr>
            </table>
            <sellToGridLimitChart [component]="component" [period]="service.historyPeriod.value">
            </sellToGridLimitChart>
        </ion-card-content>
        <!-- Info Text -->
        <ion-card-content class="underline">
            <ion-row class="ion-justify-content-center">
                <ion-item class="ion-text-center" lines="none">
                    <ion-icon color="primary" size="large" slot="start" name="alert-outline"></ion-icon>
                    <ion-label class="ion-text-wrap">
                        <small translate>
                            Edge.Index.Widgets.GridOptimizedCharge.History.batteryChargeGridLimitDescription
                        </small>
                    </ion-label>
                </ion-item>
            </ion-row>
        </ion-card-content>
    </ion-content>
</ng-container>