<oe-modal [title]="PROPS.ATTRIBUTES.TITLE" *ngIf="props">
    <ngx-spinner name="formly-field-modal"></ngx-spinner>
    <ng-container *ngFor="let entry of PROPS.OPTIONS">
        <ng-container *ngFor="let line of ENTRY.LINES">
            <ng-container [ngSwitch]="LINE.TYPE">


                <!-- OE_FORMLY_FIELD.CHANNEL_LINE -->
                <oe-modal-line *ngSwitchCase="'channel-line'" [filter]="LINE.FILTER"
                    [textIndent]="LINE.INDENTATION ?? '0%'" [name]="LINE.NAME" [channelAddress]="LINE.CHANNEL"
                    [converter]="LINE.CONVERTER">
                </oe-modal-line>

                <!-- OE_FORMLY_FIELD.CHILDREN_LINE -->
                <oe-modal-line *ngSwitchCase="'children-line'" [filter]="LINE.FILTER"
                    [textIndent]="LINE.INDENTATION ?? '0%'" [name]="LINE.NAME">
                    <ng-container *ngFor="let lineItem of LINE.CHILDREN">
                        <!-- OE_FORMLY_FIELD.ITEM -->
                        <oe-modal-line-item [channelAddress]="LINE_ITEM.CHANNEL" [filter]="LINE_ITEM.FILTER"
                            [converter]="LINE_ITEM.CONVERTER">
                        </oe-modal-line-item>
                    </ng-container>
                </oe-modal-line>

                <!-- OE_FORMLY_FIELD.INFO_LINE -->
                <oe-modal-info-line *ngSwitchCase="'info-line'" [info]="LINE.NAME">
                </oe-modal-info-line>

                <!-- OE_FORMLY_FIELD.HORIZONTAL_LINE -->
                <oe-modal-horizontal-line *ngSwitchCase="'horizontal-line'"></oe-modal-horizontal-line>

                <oe-modal-value-line *ngSwitchCase="'value-from-channels-line'"
                    [channelsToSubscribe]="LINE.CHANNELS_TO_SUBSCRIBE" [textIndent]="LINE.INDENTATION ?? '0%'"
                    [valueCallback]="LINE.VALUE" [filter]="LINE.FILTER" [name]="LINE.NAME"></oe-modal-value-line>

                <!-- FormGrouped -->
                <ng-container *ngSwitchCase="'buttons-from-form-control-line'">
                    <oe-modal-buttons *ngIf="FORM.CONTROLS[LINE.CONTROL_NAME] !== null" [formGroup]="form"
                        [controlName]="LINE.CONTROL_NAME" [component]="component" [buttons]="LINE.BUTTONS"
                        [channelAddress]="LINE.CHANNEL?.toString() ?? null">
                    </oe-modal-buttons>
                </ng-container>

                <!-- Submit-Button appears when formControl values are changed, if Smartphone, button placed right bottom, else center bottom -->
                <ion-fab *ngIf="form?.dirty" vertical="bottom" style="position: fixed"
                    [horizontal]="THIS.SERVICE.IS_SMARTPHONE_RESOLUTION ? 'end':'center'">
                    <ion-fab-button (click)="onSubmit()">
                        <ion-icon size="large" name="checkmark-circle-outline">
                        </ion-icon>
                    </ion-fab-button>
                </ion-fab>

            </ng-container>
        </ng-container>
    </ng-container>
</oe-modal>
