<ion-header>
  <ion-toolbar mode="md" class="ion-justify-content-center" color="primary">
    <ion-title>{{ component.alias }}</ion-title>
    <ion-buttons slot="end">
      <oe-help-button key="CONTROLLER_IO_CHANNEL_SINGLE_THRESHOLD"></oe-help-button>
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="service.currentEdge | async as edge">
  <ng-container *ngIf="edge.currentData | async as currentData">
    <ng-container *ngIf="currentData.summary as sum">
      <ion-content>
        <ng-container *ngIf="!loading">
          <ion-card-content class="underline">
            <table class="full_width">
              <tr>
                <td style="width: 65%" translate>
                  GENERAL.STATE
                </td>
                <td style="width: 35%" class="align_right">
                  <ng-container [ngSwitch]="currentData.channel[outputChannel]">
                    <span *ngSwitchCase="1" translate>GENERAL.ON</span>
                    <span *ngSwitchCase="0" translate>GENERAL.OFF</span>
                    <ion-icon *ngSwitchDefault name="help-outline"></ion-icon>
                  </ng-container>
                </td>
              </tr>
            </table>
          </ion-card-content>

          <ion-card-content class="underline">
            <table class="full_width">
              <tr>
                <td style="width: 65%" translate>
                  GENERAL.MODE
                </td>
              </tr>
            </table>
            <ion-segment (ionChange)="updateMode($event)" value="{{ component.properties['mode'] }}" scrollable="false">
              <ion-segment-button value="ON">
                <ion-label translate>
                  GENERAL.ON
                </ion-label>
                <ion-icon color="success" style="width:40px" name="power-outline"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="AUTOMATIC">
                <ion-label translate>
                  GENERAL.AUTOMATIC
                </ion-label>
                <ion-icon style="width:40px" name="sunny-outline">
                </ion-icon>
              </ion-segment-button>
              <ion-segment-button value="OFF">
                <ion-label translate>
                  GENERAL.OFF
                </ion-label>
                <ion-icon name="power-outline" style="width: 40px"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </ion-card-content>
          <ng-container *ngIf="component.properties['mode'] === 'AUTOMATIC' && !loading">
            <form [formGroup]="formGroup">
              <ng-container *ngIf="inputMode.value === 'OTHER'">
                <ion-card-content class="underline">
                  <table class="full_width">
                    <tr>
                      <td style="width: 50%" translate>
                        EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.DEPENDEND_ON
                      </td>
                      <td style="width: 50%" class="align_right">
                        <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.OTHER</span>
                        ({{ component.properties.inputChannelAddress }})
                      </td>
                    </tr>
                  </table>
                </ion-card-content>
              </ng-container>
              <ng-container *ngIf="inputMode.value !== 'OTHER'">
                <ion-card-content class="ion-no-padding">
                  <ion-row>
                    <ion-col class="ion-no-padding" size="12">
                      <ion-item lines="none" class="noPadding">
                        <ion-label class="regularFont" translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.DEPENDEND_ON
                        </ion-label>
                        <ion-select formControlName="inputMode" [value]="inputMode.value"
                          (ionChange)="updateInputMode($event)">
                          <ion-select-option value="SOC" translate>GENERAL.SOC</ion-select-option>
                          <ion-select-option value="PRODUCTION" translate>GENERAL.PRODUCTION</ion-select-option>
                          <ion-select-option value="GRIDSELL" translate>GENERAL.GRID_SELL</ion-select-option>
                          <ion-select-option value="GRIDBUY" translate>GENERAL.GRID_BUY</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ng-container>

              <ng-container *ngIf="inputMode.value !== 'SOC' && inputMode.value !== 'PRODUCTION'">
                <ion-card-content class="underline" style="padding-top: 0;">
                  <table class="full_width">
                    <tr>
                      <td style="width: 65%" translate>
                        EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCHED_LOAD_POWER
                      </td>
                      <td style="width: 35%" class="align_right">
                        <ion-item lines="inset" class="noPadding">
                          <ion-input class="regularFont" type="number" formControlName="switchedLoadPower"
                            style="text-align: end;">
                          </ion-input>
                          <ion-label class="regularFont">&nbsp;W</ion-label>
                        </ion-item>
                      </td>
                    </tr>
                  </table>
                  <table class="full_width"
                    *ngIf="formGroup.controls.switchedLoadPower.dirty && formGroup.controls.inputMode.value === 'GRIDSELL'">
                    <tr>
                      <td style="width: 100%">
                        <ion-text color="danger" translate>
                          EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.MORE_THAN_MAX_POWER
                        </ion-text>
                      </td>
                    </tr>
                  </table>
                </ion-card-content>
              </ng-container>

              <ion-card-content class="underline">
                <table class="full_width">
                  <tr>
                    <td style="width: 65%" translate>
                      EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.CURRENT_VALUE</td>
                    <ng-container [ngSwitch]="inputMode.value">
                      <td style="width: 35%" class="align_right" *ngSwitchCase="'SOC'">
                        {{ sum.storage.soc | unitvalue:'%' }}
                      </td>
                      <td style="width: 35%" class="align_right" *ngSwitchCase="'GRIDSELL'">
                        {{ sum.grid.sellActivePower | unitvalue: 'W' }}
                      </td>
                      <td style="width: 35%" class="align_right" *ngSwitchCase="'GRIDBUY'">
                        {{ sum.grid.buyActivePower | unitvalue: 'W' }}
                      </td>
                      <td style="width: 35%" class="align_right" *ngSwitchCase="'PRODUCTION'">
                        {{ sum.production.activePower | unitvalue: 'W' }}
                      </td>
                      <td style="width: 35%" class="align_right" *ngSwitchCase="'OTHER'">
                        {{ currentData.channel[component.properties['inputChannelAddress']] }}
                        <div *ngIf="inputChannelUnit">
                          &nbsp;{{inputChannelUnit}}
                        </div>
                      </td>
                    </ng-container>
                  </tr>
                </table>
                <ng-container *ngIf="inputMode.value === 'SOC'">
                  <table class="full_width">
                    <tr>
                      <td style="width: 65%;" translate>
                        EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.THRESHOLD</td>
                      <td style="width: 35%" class="align_right">
                        {{ threshold.value | unitvalue:'%' }}
                      </td>
                    </tr>
                  </table>
                  <table class="full_width">
                    <tr>
                      <ion-range formControlName="threshold" pin color="dark" min="1" max="100"
                        [value]="threshold.value">
                        <ion-label slot="start">
                          {{ 0 | unitvalue:'%' }}
                        </ion-label>
                        <ion-label slot="end">
                          {{ 100 | unitvalue:'%' }}
                        </ion-label>
                      </ion-range>
                    </tr>
                  </table>
                </ng-container>
                <ng-container *ngIf="inputMode.value !== 'SOC'">
                  <table class="full_width">
                    <tr>
                      <td style="width: 65%" translate>
                        EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.THRESHOLD
                      </td>
                      <td style="width: 35%" class="align_right">
                        <ion-item lines="inset" class="noPadding">
                          <ion-input class="regularFont" style="text-align: end;" type="number"
                            formControlName="threshold">
                          </ion-input>
                          <ion-label *ngIf="inputMode.value !== 'OTHER'" class="regularFont">&nbsp;W
                          </ion-label>
                          <ion-label *ngIf="inputMode.value === 'OTHER'" class="regularFont">
                            <div *ngIf="inputChannelUnit">
                              &nbsp;{{ inputChannelUnit }}
                            </div>
                          </ion-label>
                        </ion-item>
                      </td>
                    </tr>
                  </table>
                </ng-container>
              </ion-card-content>

              <ion-card-content class="underline">
                <table class="full_width">
                  <tr>
                    <td style="width: 65%" translate>
                      EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.BEHAVIOUR
                    </td>
                  </tr>
                </table>
                <!-- regular behaviour for invert if GridSell is not selected -->
                <ion-segment *ngIf="inputMode.value !== 'GRIDSELL'" formControlName="invert" scrollable="false"
                  [value]="invert.value">
                  <ion-segment-button value="false">
                    <ion-label>
                      <ng-container *ngIf="inputMode.value === 'SOC'; else noSocFalse">
                        <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCH_ON_ABOVE</span>
                        {{ threshold.value | unitvalue:'%' }}
                      </ng-container>
                      <ng-template #noSocFalse>
                        <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCH_ON_ABOVE</span>
                        {{ threshold.value | unitvalue:'W'}}
                      </ng-template>
                    </ion-label>
                    <ion-icon style="width:40px" name="arrow-up-outline"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button value="true">
                    <ion-label>
                      <ng-container *ngIf="inputMode.value === 'SOC'; else noSocTrue">
                        <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCH_ON_BELOW</span>
                        {{ threshold.value | unitvalue:'%' }}
                      </ng-container>
                      <ng-template #noSocTrue>
                        <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCH_ON_BELOW</span>
                        {{ threshold.value | unitvalue:'W' }}
                      </ng-template>
                    </ion-label>
                    <ion-icon style="width:40px" name="arrow-down-outline"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
                <!-- invert behaviour for invert if GridSell is selected -->
                <ion-segment *ngIf="inputMode.value === 'GRIDSELL'" formControlName="invert" scrollable="false"
                  [value]="invert.value">
                  <ion-segment-button value="true">
                    <ion-label>
                      <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCH_ON_ABOVE</span>
                      {{ threshold.value | unitvalue:'W' }}
                    </ion-label>
                    <ion-icon style="width:40px" name="arrow-up-outline"></ion-icon>
                  </ion-segment-button>
                  <ion-segment-button value="false">
                    <ion-label>
                      <span translate>EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.SWITCH_ON_BELOW</span>
                      {{ threshold.value | unitvalue:'W' }}
                    </ion-label>
                    <ion-icon style="width:40px" name="arrow-down-outline"></ion-icon>
                  </ion-segment-button>
                </ion-segment>
              </ion-card-content>

              <ion-card-content>
                <table class="full_width">
                  <tr>
                    <td style="width: 65%" translate>
                      EDGE.INDEX.WIDGETS.SINGLETHRESHOLD.MIN_SWITCHING_TIME
                    </td>
                    <td style="width: 35%" class="align_right">
                      <ion-item lines="inset" class="noPadding">
                        <ion-input class="regularFont" type="number" formControlName="minimumSwitchingTime"
                          inputmode="decimal" style="text-align: end;">
                        </ion-input>
                        <ion-label class="regularFont">&nbsp;s</ion-label>
                      </ion-item>
                    </td>
                  </tr>
                </table>
              </ion-card-content>
            </form>
            <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center"
              slot="fixed">
              <ion-fab-button (click)="applyChanges()">
                <ion-icon size="large" name="checkmark-circle-outline">
                </ion-icon>
              </ion-fab-button>
            </ion-fab>
          </ng-container>
        </ng-container>
        <ion-grid *ngIf="loading">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </ion-grid>
      </ion-content>
    </ng-container>
  </ng-container>
</ng-container>
