<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col size="12" size-md="12" size-xl="4" class="ion-no-padding">
            <ion-item lines="none">{{ to.label }}</ion-item>
        </ion-col>
        <ion-col *ngIf="field.fieldGroup.length > 0; else noValues" size="12" size-md="12" size-xl="8"
            class="ion-no-padding">
            <ion-item lines="none" class="noPadding">
                <ion-icon class="ion-no-padding; ion-no-margin" name="add-outline" (click)="add(-1)" slot="end">
                </ion-icon>
            </ion-item>

            <ion-item lines="none" *ngFor="let field of field.fieldGroup; let i=index" class="noPadding">
                <formly-field slot="end" [field]="field"></formly-field>
                <ion-icon class="ion-no-padding; ion-no-margin" name="add-outline" (click)="add(field.key)" slot="end">
                </ion-icon>
                <ion-icon class="ion-no-padding; ion-no-margin" name="trash-outline" (click)="remove(i)" slot="end">
                </ion-icon>
            </ion-item>
        </ion-col>
        <ng-template #noValues>
            <ion-col>
                <ion-item>
                    <ion-icon name="add-outline" (click)="add()"></ion-icon>
                </ion-item>
            </ion-col>
        </ng-template>
    </ion-row>
</ion-grid>