<div class="container" *ngIf="connection.isConnected">
  <div class="row">
    <div class="col-md-12">
      <h2>{{connection.name}}</h2>
    </div>
  </div>
  <form *ngIf="form" [formGroup]="form" novalidate (ngSubmit)="save()" class="form-horizontal">
    <div *ngIf="form.dirty" class="row">
      <div class="col-md-12">
        <div class="alert alert-info" role="alert">Konfiguration wurde geändert. <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Jetzt speichern</button></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Controller</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <form-controllers [form]="form" [connection]="connection"></form-controllers>
      </div>
    </div>
  </form>
  <!--
    <div class="row">
    <div class="col-md-12">
      <h3>Scheduler</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">
      <div [ngSwitch]="connection.config.scheduler.class" class="panel panel-default">
        <div (click)="connection.config.scheduler._collapsed = !connection.config.scheduler._collapsed" class="panel-heading">
          <h4 class="panel-title">{{connection.config.scheduler.id}} <small>{{connection.config.scheduler.class}}</small></h4>
        </div>
        <div *ngIf="connection.config.scheduler._collapsed" class="panel-body">
          -->
          <!-- Defined views -->
          <!--<form-scheduler-weektime *ngSwitchCase="'io.openems.impl.scheduler.time.WeekTimeScheduler'" [thing]="connection.config.scheduler"
            [connection]="connection"></form-scheduler-weektime>
            -->
          <!-- Default -->
          <!--<div *ngSwitchDefault>Undefined</div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Verbindungen <small>(bridges)</small></h3>
    </div>
  </div>
  <div class="row" *ngFor="let bridge of connection.config.things">
    <div class="col-md-12">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="id" class="col-sm-2 control-label">Id</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="id" name="id" [ngModel]="bridge.id" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="class" class="col-sm-2 control-label">Class</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="class" name="class" [ngModel]="bridge.class" disabled>
          </div>
        </div>
      </form>
      <div class="container">
        <div class="row" *ngFor="let device of bridge.devices">
          <div class="col-md-11 col-md-offset-1">
            <h4>Geräte <small>(devices)</small></h4>
          </div>
        </div>
        <div class="row" *ngFor="let device of bridge.devices">
          <div class="col-md-11 col-md-offset-1">
            <form class="form-horizontal">
              <div class="form-group" *ngFor="let channel of device | keys">
                <label [for]="channel.key" class="col-sm-2 control-label">{{channel.key}}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" [id]="channel.key" [name]="channel.key" [ngModel]="channel.value" disabled>
                </div>
              </div>
            </form>
            {{device | json}}
          </div>
        </div>
      </div>
      {{bridge | json}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Konfigurationsoption setzen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="thing" class="col-sm-2 control-label">Thing</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="thing" name="thing" placeholder="ess0" [(ngModel)]="thing">
          </div>
        </div>
        <div class="form-group">
          <label for="channel" class="col-sm-2 control-label">Channel</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="channel" name="channel" placeholder="minSoc" [(ngModel)]="channel">
          </div>
        </div>
        <div class="form-group">
          <label for="value" class="col-sm-2 control-label">Wert</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="value" name="value" placeholder="15" [(ngModel)]="value">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" (click)="setChannel()">Senden</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
-->
<small>{{connection.config | json}}</small>