<ng-container *ngIf="edge">
    <ion-card>
        <ion-item lines="full" color="light">
            <img style="width: 98px" src="assets/img/Corrently.png">
        </ion-item>
        <ion-card-content *ngIf="(edge.currentData | async).channel as channel">
            <table class="full_width">
                <tr>
                    <td style="width:65%">GSI</td>
                    <td style="width:35%" class="align_right">
                        {{ channel['corrently0/BestHourGsi'] | unitvalue:'%' }}
                    </td>
                </tr>
                <tr>
                    <td style="width:65%">Uhrzeit</td>
                    <td style="width:35%" class="align_right">
                        {{ getEpochTimeHours() | unitvalue:'Uhr' }}
                    </td>
                </tr>
            </table>
        </ion-card-content>
    </ion-card>
</ng-container>