<div *ngIf="mode == '' && device && device.config" class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Verbindungen und Geräte</h3>
        </div>
        <table class="table">
          <tr *ngFor="let bridge of device.config.things">
            <td>{{ bridge.id }}<br/><small class="is-breakable">{{ bridge.class }}</small></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" *ngIf="device.config.scheduler">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">App-Planer</h3>
        </div>
        <table class="table">
          <tr>
            <td *ngIf="device.config.scheduler.id && device.config.scheduler.class">{{ device.config.scheduler.id }}<br/><small class="is-breakable">{{ device.config.scheduler.class }}</small></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6" *ngIf="device.config.scheduler && device.config.scheduler.controllers">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Apps</h3>
        </div>
        <table class="table">
          <tr *ngFor="let controller of device.config.scheduler.controllers">
            <td *ngIf="controller.id && controller.class">{{ controller.id }}<br/><small class="is-breakable">{{ controller.class }}</small></td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default" (click)="mode = 'manualPQ'">
        <div class="panel-heading">
          <h3 class="panel-title">Test-Modus</h3>
        </div>
        <div class="panel-body">Manuelle Leistungsvorgabe</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="mode != ''" class="container">
  <div class="row">
    <div class="col-xs-12">
      <p (click)="mode = ''"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Zurück</p>
    </div>
  </div>
</div>

<div *ngIf="mode == 'manualPQ'" class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default" (click)="mode = 'manualPQ'">
        <div class="panel-heading">
          <h3 class="panel-title">Wechselrichter</h3>
        </div>
        <div class="panel-body">
          <button (click)="setInverterState(true)" class="btn btn-default">starten</button>
          <button (click)="setInverterState(false)" class="btn btn-default">stoppen</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Leistungsvorgabe</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" [formGroup]="manualPQForm">
            <div class="form-group">
              <label for="p" class="col-xs-4 control-label">Wirkleistung (P)</label>
              <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="p" required="" formControlName="p">
                  <div class="input-group-addon">W</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="q" class="col-xs-4 control-label">Blindleistung (Q)</label>
              <div class="col-xs-6">
                <div class="input-group">
                  <input type="text" class="form-control" id="q" required="" formControlName="q">
                  <div class="input-group-addon">VA</div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-offset-4 col-xs-6">
                <button (click)="applyManualPQ(manualPQForm)" type="submit" class="btn btn-default">Übernehmen</button>
                <button (click)="removeManualPQ()" class="btn btn-default">Zurücksetzen</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>