:org.apache.felix.configadmin.revision:=L"1"
log4j2.appender.console.layout.pattern="%d{ISO8601}\ [%-8.8t]\ %-5p\ [%-30.30c]\ %m%n"
log4j2.appender.console.layout.type="PatternLayout"
log4j2.appender.console.name="console"
log4j2.appender.console.type="Console"
log4j2.appender.paxosgi.name="paxosgi"
log4j2.appender.paxosgi.type="PaxOsgi"
log4j2.rootLogger.appenderRef.console.ref="console"
log4j2.rootLogger.appenderRef.paxosgi.ref="paxosgi"
log4j2.rootLogger.level="INFO"
service.pid="org.ops4j.pax.logging"
