/* You can add global styles to this file, and also import other style files */

md-card.single  {
  margin: 20px;
}

md-card.not_single {
  margin-left: 20px;
  margin-right: 20px;
}

table.full_width {
  width: 100%;
}

td.align_right {
  text-align: right;
}

.gray_color {
  color: gray;
}