<oe-flat-widget button (click)="presentModal()" *ngIf="isInitialized"
    [icon]="{color: 'danger', name: 'flame', size: 'medium'}" [title]="component.alias">
    <oe-flat-widget-line *ngIf="isConnectionSuccessful, else noConnection" [name]="'GENERAL.STATE'|translate"
        [value]="statusValue">
    </oe-flat-widget-line>

    <ng-template #noConnection>
        <oe-flat-widget-line [name]="'GENERAL.STATE'| translate" [icon]="{name: 'help-outline'}"></oe-flat-widget-line>
    </ng-template>

    <oe-flat-widget-line [name]="'GENERAL.MODE'| translate" [value]="mode | translate">
    </oe-flat-widget-line>
</oe-flat-widget>