:org.apache.felix.configadmin.revision:=L"5"
alias="Consumption"
datasource.id="datasource0"
datasource.target="(&(enabled\=true)(!(service.pid\=Simulator.NRCMeter.Acting.40fc5c07-36e1-41f1-a5ea-770c1e4195e0))(|(id\=datasource0)))"
enabled=B"true"
id="meter3"
maxActivePower=""
minActivePower=""
service.factoryPid="Simulator.NRCMeter.Acting"
service.pid="Simulator.NRCMeter.Acting.40fc5c07-36e1-41f1-a5ea-770c1e4195e0"
