<ion-card>
    <ion-item lines="full" color="light">
        <ion-icon slot="start" size="large" color="danger" name="information-circle-outline"></ion-icon>
        <ion-label>FEMS ist offline <p>
                <a href="https://fenecon.de/page/faq-monitoring-fems-1">mehr Infos</a>
            </p>
        </ion-label>
    </ion-item>
    <ion-card-content>
        <ion-list class="ion-text-center">
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h3>Stromversorgung prüfen:</h3>
                    <p>Wenn die blaue LED leuchtet, wird das FEMS mit Strom versorgt.
                        Leuchtet die LED nicht, wenden Sie sich bitte an service@fenecon.de oder +49 991 648800-33.</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h3>FEMS neu starten:</h3>
                    <p>Netzteil vom FEMS abstecken und nach etwa 10 Sekunden wieder anstecken. Anschließend prüfen, ob
                        das
                        FEMS Daten in das Online-Monitoring überträgt.</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h3>Routerverbindung mit Laptop überprüfen:</h3>
                    <p>a) Stecken Sie das LAN-Kabel vom FEMS ab und schließen Sie dieses an einem Laptop an (Achtung:
                        WLAN des Notebook ausschalten). Wenn der Laptop erfolgreich eine Internetverbindung aufbauen
                        konnte, gehen Sie weiter zu Schritt 4, ansonsten weiter zu b.</p>
                    <p>b) Wenn der Laptop keine Internetverbindung aufbaut, schließen Sie das Notebook bitte direkt per
                        LAN-Kabel am Router an, um die Funktionalität des Routers sicherzustellen (also ohne zusätzliche
                        Kabelstrecke und ohne weitere Netzwerkteilnehmer dazwischen).</p>
                    <p>
                        &rarr; Wenn die Funktionalität des Routers sichergestellt ist, leitet das LAN-Kabel, ein WLAN
                        Repeater oder ein Powerline Adapter das Singal vermutlich nicht korrekt weiter. In diesem Fall
                        finden Sie in den produktspezifischen Anleitungen des jeweiligen Herstellers weitere
                        Informationen.
                    </p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h3>Firewall prüfen:</h3>
                    <p>Eventuell blockiert eine Einstellung der Firewall das FEMS. Für nähere Informationen hinsichtlich
                        der Portfreigabe wenden Sie sich bitte an service@fenecon.de oder +49 991 648800-33.</p>
                </ion-label>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h3>Service:</h3>
                    <p>Sofern alle oben genannten Punkte geprüft wurden und das FEMS immer noch keine Daten ins
                        Online-Monitoring überträgt, wenden Sie sich bitte an service@fenecon.de oder +49 991 648800-33.
                    </p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ion-card-content>
</ion-card>