<ion-card>
    <ion-item lines="full" color="light">
        <ion-icon slot="start" size="large" color="danger" name="information-circle-outline"></ion-icon>
        <ion-label>FEMS ist offline <p>
                <a href="https://fenecon.de/faq/#fems" target="_blank">mehr Infos</a>
            </p>
        </ion-label>
    </ion-item>
    <ion-card-content>
        <ion-list class="ion-text-center">
            <ng-container *ngIf="edge?.producttype === 'home', else otherTypes">
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>1.FEMS neu starten:</h3>
                        <p>Im Anschlussbereich des FENECON Home Stromspeichersystems befindet sich ein blauer
                            Steckverbinder.
                            Dieser versorgt das FEMS (FENECON Energiemanagementsystem) mit einer Hilfsversorgung.
                            Stecken Sie den Stecker aus und nach 10 Sekunden wieder ein, um das FEMS neu zu starten.
                            Warten Sie anschließend einige Minuten und aktualisieren Sie das Browser-Fenster.
                            Die Fehlermeldung sollte anschließend verschwunden sein und das Online-Monitoring wieder
                            sichtbar.
                            Falls dies nicht der Fall ist, gehen Sie weiter zu Schritt 2.
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>2.Routerverbindung mit Laptop überprüfen: </h3>
                        <p>a) Stecken Sie das LAN-Kabel von der Home-FEMS Box („LAN“ Schnittstelle) ab und schließen Sie
                            dieses an einem Laptop/PC an (Achtung: WLAN Adapter ausschalten).
                            Wenn der Laptop/PC erfolgreich eine Internetverbindung aufbauen konnte, gehen Sie weiter zu
                            Schritt 3, ansonsten weiter zu b.</p>
                        <p>b) Wenn der Laptop/PC keine Internetverbindung aufbaut, schließen Sie das Gerät bitte direkt
                            per LAN-Kabel am Router an,
                            um die Funktionalität des Routers sicherzustellen
                            (also ohne zusätzliche Kabelstrecke und ohne weitere Netzwerkteilnehmer dazwischen).</p>
                        <p> → Wenn die Funktionalität des Routers sichergestellt ist, leitet das LAN-Kabel,
                            ein WLAN Repeater oder ein Powerline Adapter das Signal vermutlich nicht korrekt weiter.
                            In diesem Fall finden Sie in den produktspezifischen Anleitungen des jeweiligen Herstellers
                            weitere Informationen.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>3.Firewall prüfen:</h3>
                        <p>Eventuell blockiert eine Einstellung der Firewall das FEMS.
                            Für nähere Informationen hinsichtlich der Portfreigabe wenden Sie sich bitte an
                            service@fenecon.de oder +49 9903 6280-0.</p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-label class="ion-text-wrap">
                        <h3>4.Service:</h3>
                        <p>Sofern alle oben genannten Punkte geprüft wurden und das FEMS immer noch keine Daten ins
                            Online-Monitoring überträgt,
                            wenden Sie sich bitte an service@fenecon.de oder +49 9903 6280-0. </p>
                    </ion-label>
                </ion-item>
            </ng-container>

            <ng-template #otherTypes>

                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>1.Stromversorgung prüfen:</h3>
                        <p>Wenn die blaue LED leuchtet, wird das FEMS mit Strom versorgt.
                            Leuchtet die LED nicht, wenden Sie sich bitte an service@fenecon.de oder +49 9903 6280-0
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>2.FEMS neu starten:</h3>
                        <p>Die Sicherung für das FEMS in der FEMS-Anschlussbox abschalten. Alternativ das Netzteil des
                            FEMS
                            abstecken. Nach 10 Sekunden die Sicherung wieder einschalten bzw. das Netzteil wieder
                            einstecken. Anschließend prüfen, ob das FEMS Daten in das Online-Monitoring überträgt.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>3.Routerverbindung mit Laptop überprüfen:</h3>
                        <p>a) Stecken Sie das LAN-Kabel vom FEMS ab und schließen Sie dieses an einem Laptop an
                            (Achtung:
                            WLAN des Notebook ausschalten). Wenn der Laptop erfolgreich eine Internetverbindung aufbauen
                            konnte, gehen Sie weiter zu Schritt 4, ansonsten weiter zu b.</p>
                        <p>b) Wenn der Laptop keine Internetverbindung aufbaut, schließen Sie das Notebook bitte direkt
                            per
                            LAN-Kabel am Router an, um die Funktionalität des Routers sicherzustellen (also ohne
                            zusätzliche
                            Kabelstrecke und ohne weitere Netzwerkteilnehmer dazwischen).</p>
                        <p>
                            &rarr; Wenn die Funktionalität des Routers sichergestellt ist, leitet das LAN-Kabel, ein
                            WLAN
                            Repeater oder ein Powerline Adapter das Signal vermutlich nicht korrekt weiter. In diesem
                            Fall
                            finden Sie in den produktspezifischen Anleitungen des jeweiligen Herstellers weitere
                            Informationen.
                        </p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>4.Firewall prüfen:</h3>
                        <p>Eventuell blockiert eine Einstellung der Firewall das FEMS. Für nähere Informationen
                            hinsichtlich
                            der Portfreigabe wenden Sie sich bitte an service@fenecon.de oder +49 9903 6280-0.</p>
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-label class="ion-text-wrap">
                        <h3>5.Service:</h3>
                        <p>Sofern alle oben genannten Punkte geprüft wurden und das FEMS immer noch keine Daten ins
                            Online-Monitoring überträgt, wenden Sie sich bitte an service@fenecon.de oder +49 9903
                            6280-0.
                        </p>
                    </ion-label>
                </ion-item>
            </ng-template>

        </ion-list>
    </ion-card-content>
</ion-card>
