<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>{{ component.alias }}</ion-title>
        <ion-buttons slot="end">
            <!--Todo: Add href to docs.fenecon.de-->
            <!-- <ion-button target="_blank"
                href="">
                <ion-icon name="help-circle-outline"></ion-icon>
            </ion-button> -->
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="component && service.currentEdge | async as edge">
            <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
                <ion-card-content class="underline" *ngIf="component.properties.mode != 'OFF'">
                    <!--TODO: Translate-->
                    <table class="full_width" [ngSwitch]="currentData[component.id + '/SellToGridLimitState']">
                        <ng-container *ngSwitchCase="0">
                            <tr>
                                <td style="width:65%" translate>General.state</td>
                                <td style="width:35%" class="align_right" translate>
                                    Maximales Einspeiselimit erreicht
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <tr [ngSwitch]="currentData[component.id + '/DelayChargeState']">
                                <td style="width:65%" translate>General.state</td>
                                <td style="width:35%" class="align_right" translate>
                                    <ng-container *ngSwitchCase="-1">
                                        Nicht definiert
                                    </ng-container>
                                    <ng-container *ngSwitchCase="0">
                                        Beladelimit aktiv
                                    </ng-container>
                                    <ng-container *ngSwitchCase="1">
                                        Endzeitpunkt der begrenzten Beladung überschritten
                                    </ng-container>
                                    <ng-container *ngSwitchCase="2">
                                        Speicher bereits voll
                                    </ng-container>
                                    <ng-container *ngSwitchCase="3">
                                        Endzeitpunkt nicht berechnet
                                    </ng-container>
                                    <ng-container *ngSwitchCase="4">
                                        Keine Begrenzung Möglich(Eingeschränkt durch Controller mit höherer Priorität)
                                    </ng-container>
                                    <ng-container *ngSwitchCase="5">
                                        Keine Beladelimit aktiv
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </table>
                    <table class="full_width">

                        <!--SellToGridLimit-->
                        <ng-container
                            *ngIf="currentData[component.id + '/SellToGridLimitChargeLimit'] != null; else sellToGridLimitNotActive">
                            <tr>
                                <td style="width:65%" translate>Minimale Beladung</td>
                                <td style="width:35%" class="align_right" translate>
                                    <ng-container>
                                        {{currentData[component.id + '/SellToGridLimitChargeLimit'] | unitvalue: 'W'}}
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>

                        <!--DelayCharge-->
                        <ng-template #sellToGridLimitNotActive>
                            <ng-container
                                *ngIf="currentData[component.id + '/DelayChargeMaximumChargeLimit'] != null as limit">
                                <tr>
                                    <td style="width:65%" translate>Maximale Beladung</td>
                                    <td style="width:35%" class="align_right" translate>
                                        <ng-container>
                                            {{ currentData[component.id + '/DelayChargeMaximumChargeLimit'] |
                                            unitvalue:'W' }}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-template>
                        <tr *ngIf="currentData[component.id + '/TargetMinute'] as targetMinute">
                            <ng-container>
                                <td style="width: 65%" translate>
                                    Endzeitpunkt der beschränkten Beladung
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ targetMinute * 60 * 1000 | date:'H:mm':'UTC' }}&nbsp;h
                                </td>
                            </ng-container>
                        </tr>

                        <!-- Capacity (visible for admin only)-->
                        <tr *ngIf="channelCapacity">
                            <td style="width: 65%" translate>
                                Speicher-Kapazität (nur sichtbar für admin)
                            </td>
                            <td style="width:35%" class="align_right">
                                {{ currentData[channelCapacity] }}&nbsp;Wh
                            </td>
                        </tr>
                    </table>
                </ion-card-content>
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td translate>
                                General.mode
                            </td>
                        </tr>
                    </table>
                    <ion-segment (ionChange)="updateMode($event, component)" value="{{ component.properties['mode'] }}"
                        scrollable="false">
                        <ion-segment-button value="MANUAL">
                            <ion-label translate>
                                General.manually
                            </ion-label>
                            <ion-icon color="success" style="width:40px" name="power"></ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="AUTOMATIC">
                            <ion-label translate>
                                General.automatic
                            </ion-label>
                            <ion-icon style="width:40px" name="sunny">
                            </ion-icon>
                        </ion-segment-button>
                        <ion-segment-button value="OFF">
                            <ion-label translate>
                                General.off
                            </ion-label>
                            <ion-icon name="power" style="width: 40px"></ion-icon>
                        </ion-segment-button>
                    </ion-segment>
                </ion-card-content>
                <form [formGroup]="formGroup">

                    <!--Manual Mode-->
                    <ng-container *ngIf="component.properties['mode'] == 'MANUAL'">
                        <ion-card-content>
                            <table class="full_width">
                                <tr>
                                    <td>
                                        <ion-label class="ion-text-wrap">
                                            Die Beladung erfolgt nicht mit der maximalleistung für wenige Stunden,
                                            sondern gleichmäßig bis zu diesem Zeitpunkt.
                                        </ion-label>
                                    </td>
                                </tr>
                            </table>
                            <ion-grid>
                                <ion-row class="ion-justify-content-left">
                                    <ion-col size="6">
                                        <ion-item lines="none" class="ion-text-left">
                                            <ion-label>
                                                Endzeit:
                                            </ion-label>
                                            <ion-datetime lines="inset" class="ion-text-left"
                                                [cancelText]="translate.instant('General.cancel')"
                                                [value]="component.properties['manual.targetTime']"
                                                [doneText]="translate.instant('General.ok')"
                                                (ionChange)="updateProperty('manual_targetTime',$event)"
                                                displayFormat="HH:mm" pickerFormat="HH:mm">
                                            </ion-datetime>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                            <table class="full_width">
                                <tr *ngIf="component.properties['sellToGridLimitEnabled'] != null as sellToGridLimit">
                                    <td style=" width: 65%; vertical-align: middle;" translate>
                                        Maximale Netzeinspeisung berücksichtigen
                                    </td>
                                    <td style="width: 35%" class="align_right">
                                        <ion-toggle
                                            (ionChange)="updateToggleProperty('sellToGridLimitEnabled', formGroup.controls['sellToGridLimitEnabled'].value)"
                                            [checked]="formGroup.controls['sellToGridLimitEnabled'].value">
                                        </ion-toggle>
                                    </td>
                                </tr>
                                <tr *ngIf="formGroup.controls['sellToGridLimitEnabled'].value">
                                    <td style="width:65%" translate>
                                        Maximale Netzeinspeisung (70% Abregelung)
                                    </td>
                                    <td style="width: 35%" class="align_right">
                                        <ion-item lines="inset" class="noPadding">
                                            <ion-input class="regularFont" type="number"
                                                formControlName="sellToGridPowerLimit" style="text-align: end;">
                                            </ion-input>
                                            <ion-label class="regularFont">&nbsp;W</ion-label>
                                        </ion-item>
                                    </td>
                                </tr>
                            </table>
                        </ion-card-content>
                    </ng-container>

                    <!--Automatic Mode-->
                    <ng-container *ngIf="component.properties['mode'] == 'AUTOMATIC'">
                        <ng-container>
                            <ion-card-content>
                                <table class="full_width">
                                    <tr>
                                        <td style="width:100%">
                                            <ion-label class="ion-text-wrap">
                                                Die Beladung erfolgt nicht mit der maximalleistung für wenige
                                                Stunden, sondern gleichmäßig bis zu dem errechneten Zeitpunkt. <br>
                                                Damit der Speicher bei weniger Produktion dennoch (annähernd) voll wird,
                                                kann noch ein Puffer angegeben werden.
                                            </ion-label>
                                        </td>
                                    </tr>
                                </table>
                                <table class="full_width" style="margin-top: 20px;">
                                    <tr>
                                        <td style="width:65%" translate>Errechneter Endzeitpunkt</td>
                                        <td style="width:35%" class="align_right"
                                            *ngIf="currentData[component.id + '/PredictedTargetMinute'] as targetMinute">
                                            {{ targetMinute * 60 * 1000 | date:'H:mm':'UTC' }}&nbsp;h
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width:65%" translate>Zeitpuffer</td>
                                        <td style="width:35%" class="align_right"
                                            *ngIf="component.properties.noOfBufferMinutes as bufferMinutes">
                                            {{getHoursAndMinutes(bufferMinutes)}}
                                        </td>
                                    </tr>
                                </table>
                                <table class="full_width">
                                    <tr>
                                        <td style="width:100%">
                                            <ion-range (ionChange)="updateProperty('noOfBufferMinutes', $event)"
                                                style="width: 100%" color="dark" pin="true" min="0" max="480"
                                                style="padding-top: 8px;"
                                                [value]="component.properties.noOfBufferMinutes" step="10"
                                                debounce="500">
                                                <ion-label slot="start">
                                                    {{ 0 | unitvalue:'min'}}
                                                </ion-label>
                                                <ion-label slot="end">
                                                    {{ 480 | unitvalue:'min'}}
                                                </ion-label>
                                            </ion-range>
                                        </td>
                                    </tr>
                                    <tr>
                                        <ion-label style="font-size: small; text-align: left;">
                                            Ein Puffer von 2 Stunden wird empfohlen
                                        </ion-label>
                                    </tr>
                                </table>
                                <table class="full_width">
                                    <tr
                                        *ngIf="component.properties['sellToGridLimitEnabled'] != null as sellToGridLimit">
                                        <td style=" width: 65%; vertical-align: middle;" translate>
                                            Maximale Netzeinspeisung berücksichtigen
                                        </td>
                                        <td style="width: 35%" class="align_right">
                                            <ion-toggle
                                                (ionChange)="updateToggleProperty('sellToGridLimitEnabled', formGroup.controls['sellToGridLimitEnabled'].value)"
                                                [checked]="formGroup.controls['sellToGridLimitEnabled'].value">
                                            </ion-toggle>
                                        </td>
                                    </tr>
                                    <tr *ngIf="formGroup.controls['sellToGridLimitEnabled'].value">
                                        <td style="width:65%" translate>
                                            Maximale Netzeinspeisung (70% Abregelung)
                                        </td>
                                        <td style="width: 35%" class="align_right">
                                            <ion-item lines="inset" class="noPadding">
                                                <ion-input class="regularFont" type="number"
                                                    formControlName="sellToGridPowerLimit" style="text-align: end;">
                                                </ion-input>
                                                <ion-label class="regularFont">&nbsp;W</ion-label>
                                            </ion-item>
                                        </td>
                                    </tr>
                                </table>
                            </ion-card-content>
                        </ng-container>
                    </ng-container>

                    <!--OFF Mode-->
                    <ng-container *ngIf="component.properties['mode'] == 'OFF'">
                        <ng-container>
                            <ion-card-content>
                                <table class="full_width">
                                    <tr>
                                        <td style="width:100%">
                                            <ion-label class="ion-text-wrap">
                                                Netzdienliche Beladung deaktiviert.
                                            </ion-label>
                                        </td>
                                    </tr>
                                </table>
                            </ion-card-content>
                        </ng-container>
                    </ng-container>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>
    <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="applyChanges()">
            <ion-icon size="large" name="checkmark-circle-outline">
            </ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid *ngIf="loading == true">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-grid>
</ion-content>