<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title>{{ component.alias }}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ng-container *ngIf="!loading">
        <ng-container *ngIf="component && service.currentEdge | async as edge">


            <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
                <ion-card-content class="underline" *ngIf="this.formGroup.controls['mode'].value != 'OFF'">

                    <!--SellToGridLimit - Grid feed in limitation is avoided-->
                    <table class="full_width"
                        *ngIf="(currentData[component.id + '/SellToGridLimitState'] == 0 || (currentData[component.id + '/SellToGridLimitState'] == 3 && currentData[component.id + '/DelayChargeState'] != 0 && currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] > 0)); else sellToGridLimitNotActiveTemp">
                        <tr>
                            <td style="width:65%" translate>General.state</td>
                            <td style="width:35%" class="align_right" translate>
                                Edge.Index.Widgets.GridOptimizedCharge.State.gridFeedInLimitationIsAvoided
                            </td>
                        </tr>
                        <!--Minimum charge limit - negative are not shown-->
                        <ng-container
                            *ngIf="currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] != null && currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] > 0">
                            <tr>
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.GridOptimizedCharge.minimumCharge
                                </td>
                                <td style="width:35%" class="align_right" translate>
                                    <ng-container>
                                        {{currentData[component.id + '/SellToGridLimitMinimumChargeLimit'] | unitvalue:
                                        'W'}}
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-container>
                    </table>

                    <!--DelayCharge-->
                    <ng-template #sellToGridLimitNotActiveTemp>
                        <table class="full_width">
                            <!--DelayCharge State-->
                            <tr [ngSwitch]="currentData[component.id + '/DelayChargeState']">
                                <td style="width:65%" translate>General.state</td>
                                <td style="width:35%" class="align_right" translate>
                                    <ng-container *ngSwitchCase="-1">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.notDefined
                                    </ng-container>
                                    <ng-container *ngSwitchCase="0">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.chargeLimitActive
                                    </ng-container>
                                    <ng-container *ngSwitchCase="1">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.passedEndTime
                                    </ng-container>
                                    <ng-container *ngSwitchCase="2">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.storageAlreadyFull
                                    </ng-container>
                                    <ng-container *ngSwitchCase="3">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.endTimeNotCalculated
                                    </ng-container>
                                    <ng-container *ngSwitchCase="4">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.noLimitPossible
                                    </ng-container>
                                    <ng-container *ngSwitchCase="5">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.noLimitActive
                                    </ng-container>
                                    <ng-container *ngSwitchCase="7">
                                        Edge.Index.Widgets.GridOptimizedCharge.State.noLimitActive
                                    </ng-container>
                                </td>
                            </tr>
                            <!--DelayCharge maximum charge limit-->
                            <ng-container *ngIf="currentData[component.id + '/DelayChargeMaximumChargeLimit'] != null">
                                <tr>
                                    <td style="width:65%" translate>
                                        Edge.Index.Widgets.GridOptimizedCharge.maximumCharge
                                    </td>
                                    <td style="width:35%" class="align_right" translate>
                                        <ng-container>
                                            {{ currentData[component.id + '/DelayChargeMaximumChargeLimit'] |
                                            unitvalue:'W' }}
                                        </ng-container>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>
                    </ng-template>

                    <!--DelayCharge target minute-->
                    <table class="full_width">
                        <tr *ngIf="currentData[component.id + '/TargetMinute'] as targetMinute">
                            <ng-container *ngIf="currentData[component.id + '/DelayChargeState'] != 1">
                                <td style="width: 65%" translate>
                                    Edge.Index.Widgets.GridOptimizedCharge.endTimeLong
                                </td>
                                <td style="width:35%" class="align_right">
                                    {{ targetMinute * 60 * 1000 | date:'H:mm':'UTC' }}&nbsp;h
                                </td>
                            </ng-container>
                        </tr>

                        <!-- Capacity (visible for admin only)-->
                        <tr *ngIf="channelCapacity">
                            <td style="width: 65%" translate>
                                Speicher-Kapazität (nur sichtbar für admin)
                            </td>
                            <td style="width:35%" class="align_right">
                                {{ currentData[channelCapacity] | unitvalue:
                                'Wh' }}
                            </td>
                        </tr>

                        <!--Sell to grid limit-->
                        <tr *ngIf="formGroup.controls['sellToGridLimitEnabled'].value">
                            <td style="width:65%" translate>
                                Edge.Index.Widgets.GridOptimizedCharge.maximumGridFeedIn
                            </td>
                            <td style="width: 35%" class="align_right">
                                <ion-text>
                                    {{ component.properties.maximumSellToGridPower | unitvalue:
                                    'W' }}
                                </ion-text>
                            </td>
                        </tr>
                    </table>
                </ion-card-content>

                <form [formGroup]="formGroup">

                    <!--Select Mode-->
                    <ion-card-content class="underline">
                        <table class="full_width">
                            <ion-text translate>General.mode</ion-text>
                        </table>
                        <ion-segment (ionChange)="updateProperty('mode',$event)" (click)="showPreview()"
                            [value]="this.formGroup.controls['mode'].value" scrollable="false">
                            <ion-segment-button value="MANUAL">
                                <ion-label translate>
                                    General.manually
                                </ion-label>
                                <ion-icon color="success" style="width:40px" name="power"></ion-icon>
                            </ion-segment-button>
                            <ion-segment-button value="AUTOMATIC">
                                <ion-label translate>
                                    General.automatic
                                </ion-label>
                                <ion-icon style="width:40px" name="sunny">
                                </ion-icon>
                            </ion-segment-button>
                            <ion-segment-button value="OFF">
                                <ion-label translate>
                                    General.off
                                </ion-label>
                                <ion-icon name="power" style="width: 40px"></ion-icon>
                            </ion-segment-button>
                        </ion-segment>
                    </ion-card-content>

                    <!--Manual Mode-->
                    <ng-container *ngIf="this.formGroup.controls['mode'].value == 'MANUAL'">
                        <ion-card-content class="underline">
                            <table class="full_width">
                                <tr>
                                    <td>
                                        <ion-label class="ion-text-wrap" translate>
                                            Edge.Index.Widgets.GridOptimizedCharge.endTimeDescription
                                        </ion-label>
                                    </td>
                                </tr>
                            </table>
                            <ion-grid>
                                <ion-row class="ion-justify-content-left">
                                    <ion-col size="6">
                                        <ion-item lines="none" class="ion-text-left">
                                            <table class="full_width">
                                                <tr>
                                                    <td style="width: 20%"></td>
                                                    <td style="width: 40%;">
                                                        <ion-text translate>
                                                            Edge.Index.Widgets.GridOptimizedCharge.endTime
                                                        </ion-text>:
                                                    </td>
                                                    <td style="width: 40%;">
                                                        <ion-datetime lines="inset" class="ion-text-right"
                                                            [cancelText]="translate.instant('General.cancel')"
                                                            [value]="component.properties['manualTargetTime']"
                                                            [doneText]="translate.instant('General.ok')"
                                                            (ionChange)="updateProperty('manualTargetTime',$event)"
                                                            displayFormat="HH:mm" pickerFormat="HH:mm">
                                                        </ion-datetime>
                                                    </td>
                                                </tr>
                                            </table>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ng-container>

                    <!--Automatic Mode-->
                    <ng-container *ngIf="this.formGroup.controls['mode'].value == 'AUTOMATIC'">
                        <ion-card-content class="underline">
                            <table class="full_width">
                                <tr>
                                    <td style="width:100%">
                                        <ng-container
                                            *ngIf="currentData[component.id + '/TargetMinute'] as targetMinute; else defaultEndTimeDescription">
                                            <ng-container
                                                *ngIf="currentData[component.id + '/DelayChargeMaximumChargeLimit'] as delayChargeMaximumChargeLimit; else defaultEndTimeDescription">

                                                <ion-label class="ion-text-wrap"
                                                    [translateParams]="{value1: delayChargeMaximumChargeLimit | unitvalue:'W', value2: (targetMinute * 60 * 1000) | date:'H:mm':'UTC' }"
                                                    translate>
                                                    Edge.Index.Widgets.GridOptimizedCharge.endTimeDetailedDescription
                                                </ion-label>
                                            </ng-container>
                                        </ng-container>
                                        <ng-template #defaultEndTimeDescription>
                                            <ion-label class="ion-text-wrap" translate>
                                                Edge.Index.Widgets.GridOptimizedCharge.endTimeDescription
                                            </ion-label>
                                        </ng-template>
                                    </td>
                                </tr>
                            </table>
                        </ion-card-content>

                        <!--Predicted soc chart-->
                        <ion-card-content class="underline"
                            *ngIf="currentData[component.id + '/DelayChargeState'] != 1 && currentData[component.id + '/DelayChargeState'] != 3 ; else afterEndTime">

                            <!--Description-->
                            <table class="full_width" padding-bottom style="padding-bottom: 20px;">
                                <tr>
                                    <td style="width: 65%">
                                        <ion-text translate>Edge.Index.Widgets.GridOptimizedCharge.expectedSoc
                                        </ion-text>
                                        <br>
                                        <ion-note class=" ion-text-wrap ion-align-items-left">
                                            <ion-text translate>
                                                Edge.Index.Widgets.GridOptimizedCharge.expectedSocWithoutSellToGridLimit
                                            </ion-text>
                                        </ion-note>
                                    </td>
                                </tr>
                            </table>

                            <!--Chart-->
                            <table class="full_width" style="padding-top: 20px;" padding-top>
                                <tr style="padding-top: 20px;">
                                    <td *ngIf="currentData[component.id + '/TargetEpochSeconds'] as targetEpochSeconds">

                                        <predictionChart padding-bottom padding-top [refresh]="refreshChart"
                                            [component]="component" [edge]="edge"
                                            [targetEpochSeconds]="targetEpochSeconds">
                                        </predictionChart>
                                    </td>
                                </tr>
                            </table>
                        </ion-card-content>
                        <ng-template #afterEndTime>
                            <!--TODO: Info, if we are after the end time or where not able to calculate an end time-->
                        </ng-template>

                        <!--Risk propensity-->
                        <ion-card-content class="underline">
                            <table class="full_width">
                                <tr>
                                    <td style="width: 65%">
                                        <ion-text translate>Edge.Index.Widgets.GridOptimizedCharge.riskPropensity
                                        </ion-text>
                                    </td>
                                </tr>
                            </table>

                            <!--Select Risk-->
                            <ion-segment mode="md" formControlName="delayChargeRiskLevel" value="delayChargeRiskLevel"
                                scrollable="false">
                                <ion-segment-button value="LOW" (click)="showPreview('LOW')">
                                    <ion-label translate>
                                        Edge.Index.Widgets.GridOptimizedCharge.low
                                    </ion-label>
                                </ion-segment-button>
                                <ion-segment-button value="MEDIUM" (click)="showPreview('MEDIUM')">
                                    <ion-label translate>
                                        Edge.Index.Widgets.GridOptimizedCharge.medium
                                    </ion-label>
                                </ion-segment-button>
                                <ion-segment-button value="HIGH" (click)="showPreview('HIGH')">
                                    <ion-label translate>
                                        Edge.Index.Widgets.GridOptimizedCharge.high
                                    </ion-label>
                                </ion-segment-button>
                            </ion-segment>
                        </ion-card-content>

                        <!-- Use images if there is a more intelligent risk algorithm 
                        <ion-card-content class="underline" *ngIf="image != null">
                            <img [src]="'assets/img/' + image" style="height: 20vh;">
                        </ion-card-content> -->

                        <!--Risk description-->
                        <ion-card-content class="underline" *ngIf="riskDescription != null">
                            <table class="full_width">
                                <tr>
                                    <td>{{riskDescription.functionDescription}}</td>
                                </tr>
                            </table>
                            <br>
                            <ng-container *ngFor="let description of riskDescription.riskLevelDescription">
                                <table class="full_width" style="margin-bottom: 10px;">
                                    <tr>
                                        <td style="width:5%">
                                        </td>
                                        <td style="width:5%">
                                            <ng-container [ngSwitch]="description.state">

                                                <ion-icon *ngSwitchCase="descriptionStateEnum.POSITIVE" color="primary"
                                                    name="arrow-up-outline">
                                                </ion-icon>
                                                <ion-icon *ngSwitchCase="descriptionStateEnum.NEGATIVE" color="primary"
                                                    name="arrow-down-outline">
                                                </ion-icon>
                                                <ion-icon *ngSwitchCase="descriptionStateEnum.NEUTRAL" color="primary"
                                                    name="arrow-forward-outline">
                                                </ion-icon>
                                            </ng-container>
                                        </td>
                                        <td style="width:90%">
                                            {{description.text}}
                                        </td>
                                    </tr>
                                </table>
                            </ng-container>
                            <ion-card-content *ngIf="!isInstaller">
                                <div style="padding-top: 50px;"></div>
                            </ion-card-content>
                        </ion-card-content>
                    </ng-container>

                    <!--OFF Mode-->
                    <ng-container *ngIf="this.formGroup.controls['mode'].value == 'OFF'">
                        <ng-container>
                            <ion-card-content>
                                <table class="full_width">
                                    <tr>
                                        <td style="width:100%">
                                            <ion-label class="ion-text-wrap" translate>
                                                Edge.Index.Widgets.GridOptimizedCharge.gridOptimizedChargeDisabled
                                            </ion-label>
                                        </td>
                                    </tr>
                                </table>
                            </ion-card-content>
                        </ng-container>
                    </ng-container>

                    <!--Set the maximum feed into grid limit only visible for installer & admin-->
                    <ion-card-content *ngIf="isInstaller">
                        <table class="full_width ion-text-center" style="background-color: rgba(0, 200, 0, 0.2); ">
                            <tr>
                                <td class="align_left">
                                    <ion-icon name="information-outline" size="large" color="black"></ion-icon>
                                </td>
                                <td class="align-right">
                                    <ion-note class=" ion-text-wrap ion-align-items-center">
                                        <ion-text translate>
                                            Edge.Index.Widgets.GridOptimizedCharge.settingOnlyVisableForInstaller
                                        </ion-text>
                                    </ion-note>
                                </td>
                            </tr>
                        </table>

                        <!--Enable/Disable SellToGridLimit control-->
                        <table class="full_width">
                            <tr *ngIf=" component.properties['sellToGridLimitEnabled'] !=null as sellToGridLimit">
                                <td style="width: 65%" class="align_left" translate>
                                    Edge.Index.Widgets.GridOptimizedCharge.considerGridFeedInLimit
                                </td>
                                <td style="width: 35%" class="align_right">
                                    <ion-toggle
                                        (ionChange)="updateToggleProperty('sellToGridLimitEnabled', formGroup.controls['sellToGridLimitEnabled'].value)"
                                        [checked]="formGroup.controls['sellToGridLimitEnabled'].value">
                                    </ion-toggle>
                                </td>
                            </tr>
                            <!--Set sell to grid limit-->
                            <tr *ngIf="formGroup.controls['sellToGridLimitEnabled'].value">
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.GridOptimizedCharge.maximumGridFeedIn
                                </td>
                                <td style="width: 35%" class="align_right">
                                    <ion-item lines="full" class="noPadding">
                                        <ion-input class="regularFont" type="number"
                                            formControlName="maximumSellToGridPower" style="text-align: end;">
                                        </ion-input>
                                        <ion-label class="regularFont">&nbsp;W</ion-label>
                                    </ion-item>
                                </td>
                            </tr>
                        </table>
                    </ion-card-content>
                </form>
            </ng-container>
        </ng-container>
    </ng-container>

    <!--Form Group - Check button-->
    <ion-fab *ngIf="formGroup.dirty" class="ion-padding-bottom" vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="applyChanges(); image = null">
            <ion-icon size="large" name="checkmark-circle-outline">
            </ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid *ngIf="loading == true">
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-grid>


</ion-content>
