<ion-grid class="ion-no-padding">
    <ion-card>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label style="white-space:pre-wrap">{{props.label}}</ion-label>
                    <ion-checkbox slot="end" [checked]="value" [value]="props.value" [disabled]="props.disabled"
                        (ionChange)="updateFormControl($event)">
                    </ion-checkbox>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="props.description && showContent()">
            <ion-col>
                <ion-item [class.disabled]="props.disabled" lines="none" style="padding-top: 10px;">
                    <ion-text style="white-space: pre-wrap;">{{props.description}}</ion-text>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center" style="padding-top: 10px;" *ngIf="showContent()">
            <ion-item lines="none">
                <img class="center" [src]="props.url">
            </ion-item>
        </ion-row>
    </ion-card>
</ion-grid>
