<ion-button (click)="goBackward()" [disabled]="!isBackArrowAllowed">
    <ion-icon class="ion-padding-start" name="arrow-back-outline" slot="start" ngClass="secondary-color-contrast">
    </ion-icon>
</ion-button>
<ion-button *ngIf="translate" (click)="presentPopover($event)" ngClass="secondary-color-contrast">
    {{service.historyPeriod.value.getText(translate)}}
</ion-button>
<ion-button [disabled]="!isForwardArrowAllowed" (click)="goForward()">
    <ion-icon class="ion-padding-end" slot="end" name="arrow-forward-outline" ngClass="secondary-color-contrast">
    </ion-icon>
</ion-button>