<ng-container *ngIf="disableArrow !== null">
    <ion-button (click)="goBackward()">
        <ion-icon class="ion-padding-start" name="arrow-back-outline" slot="start"
            ngClass="secondary-color-contrast">
        </ion-icon>
    </ion-button>
    <ion-button *ngIf="translate" (click)="presentPopover($event)" ngClass="secondary-color-contrast">
        {{service.historyPeriod.value.getText(translate)}}
    </ion-button>
    <ng-container *ngIf="disableArrow === false">
        <ion-button (click)="goForward()">
            <ion-icon class="ion-padding-end" name="arrow-forward-outline" slot="end"
                ngClass="secondary-color-contrast">
            </ion-icon>
        </ion-button>
    </ng-container>
    <ng-container *ngIf="disableArrow === true">
        <ion-button disabled (click)="goForward()">
          <ion-icon class="ion-padding-end" slot="end" ngClass="secondary-color-contrast">
          </ion-icon>
        </ion-button>
    </ng-container>
</ng-container>