<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>timeline</md-icon>
    <md-card-title>Energiemonitor</md-card-title>
  </md-card-header>
  <md-card-content *ngIf="device && device.data" fxLayout fxLayoutAlign="start start" fxLayoutWrap="wrap">
    <app-device-overview-energymonitor-chart fxFlex="100%"></app-device-overview-energymonitor-chart>
    <div *ngFor="let thing of device.data | async | keys" fxFlex="50%" fxFlex.xs="100%">
      <md-card>
        <md-card-title>{{ thing.key }}</md-card-title>
        <md-card-content fxLayout fxLayoutWrap="wrap">
          <div *ngFor="let channel of thing.value | keys" fxFlex="100%" fxLayout>
            <div fxFlex="50%">{{ channel.key }}</div>
            <div fxFlex>{{ channel.value }}</div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </md-card-content>
</md-card>