<md-card class="single">
  <md-card-header>
    <md-icon md-card-avatar>timeline</md-icon>
    <md-card-title>Energiemonitor</md-card-title>
  </md-card-header>
  <md-card-content *ngIf="device && device.data" fxLayout fxLayoutAlign="start start" fxLayoutWrap="wrap">
    <div *ngFor="let thing of device.data | async | keys" fxFlex="50%" fxFlex.xs="100%">
      <md-card>
        <md-card-title>{{ thing.key }}</md-card-title>
        <md-card-content>
          <table style="width:100%">
<tr *ngFor="let channel of thing.value | keys">
  <td>{{ channel.key }}</td>
  <td>{{ channel.value }}</td>
</tr>
</table>
</md-card-content>
</md-card>
</div>
</md-card-content>
</md-card>