<header></header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">

        <ng-container [ngSwitch]="websocket.status">

          <!-- Sent authentication request; waiting for response -->
          <ion-card *ngSwitchCase="'authenticating'">
          </ion-card>

          <!-- Login is required. Waiting for credentials input -->
          <ion-card *ngSwitchCase="'waiting for credentials'">
            <ion-item color="primary" lines="full">
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-label translate>Login.title</ion-label>
            </ion-item>

            <!-- OpenEMS Edge Login -->
            <ion-card-content *ngIf="environment.backend === 'OpenEMS Edge'">
              <form (ngSubmit)="doLogin({ password: password.value.trim() })">
                <div class="ion-padding">
                  <ion-item>
                    <ion-text class="ion-text-wrap" color="medium" translate>
                      Login.preamble
                    </ion-text>
                  </ion-item>
                  <ion-item>
                    <ion-label position="floating" translate>Login.passwordLabel</ion-label>
                    <ion-input #password required type="password" [placeholder]="'Login.passwordLabel' | translate"
                      value="user"></ion-input>
                  </ion-item>

                  <!-- workaround for submit with enter key https://github.com/ionic-team/ionic-framework/issues/19368 -->
                  <input type="submit" style="visibility: hidden; position: absolute; position: -999px" />

                  <ion-button [disabled]="formIsDisabled" type="submit" class="ion-float-right">
                    <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
                  </ion-button>
                </div>
              </form>
            </ion-card-content>

            <!-- OpenEMS Backend Login -->
            <ion-card-content *ngIf="environment.backend === 'OpenEMS Backend'">
              <form (ngSubmit)="doLogin({ username: username.value.trim(), password: password.value.trim() })">
                <ion-item>
                  <ion-label position="floating">E-Mail / <span translate>Login.user</span>
                  </ion-label>
                  <ion-input #username required type="input" [placeholder]="'E-Mail / ' + ('Login.user' | translate)">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" translate>Login.passwordLabel</ion-label>
                  <ion-input #password required type="password" [placeholder]="'Login.passwordLabel' | translate">
                  </ion-input>
                </ion-item>

                <!-- workaround for submit with enter key https://github.com/ionic-team/ionic-framework/issues/19368 -->
                <input type="submit" style="visibility: hidden; position: absolute; position: -999px" />

                <ion-item lines="none" class="ion-margin-top">
                  <table class=" full_width">
                    <a type="button" class="ion-float-left" size="small"
                      href="https://erp.fenecon.de/web/reset_password?" style="text-decoration: none;">
                      <small translate>Login.passwordReset</small>
                    </a>
                    <ion-button type="submit" class="ion-float-right" size="medium" [disabled]="formIsDisabled">
                      <small>Login</small>
                      <ion-icon slot="end" name="log-in-outline"></ion-icon>
                    </ion-button>
                    <br>
                    <registration style="cursor: pointer;"></registration>
                  </table>
                </ion-item>
              </form>
            </ion-card-content>
          </ion-card>

          <!-- Logged in + normal operation -->
          <ng-container *ngSwitchCase="'online'">
            <ng-container *ngIf="environment.backend === 'OpenEMS Backend'">
              <ng-container *ngIf="noEdges; else showEdges">

                <ion-card class="ion-justify-content-center">

                  <ng-container *ngIf="(service.metadata | async)?.user as user">
                    <ng-container *ngIf="(user.globalRole === 'installer' || user.globalRole === 'admin'), else others">
                      <!-- No access to Edges -->
                      <ion-item color="warning" lines="full">
                        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
                        <ion-label class="ion-text-wrap ion-text-center">Sie haben noch kein
                          {{environment.edgeShortName}} hinzugefügt.</ion-label>
                      </ion-item>
                      <ion-card-content class="ion-text-center">
                        <ion-text>{{ 'INSTALLATION.CLICK_RECOMMENDATION' | translate: { edgeShortName:
                          environment.edgeShortName } }}</ion-text>
                      </ion-card-content>
                    </ng-container>
                    <ng-template #others>
                      <ion-item color="warning" lines="full">
                        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
                        <ion-label class="ion-text-wrap ion-text-center">Leider wurde noch kein
                          {{environment.edgeShortName}} mit Ihrem Account verknüpft.
                        </ion-label>
                      </ion-item>
                      <ion-card-content class="ion-text-center">
                        <p>Nach dem Ihr {{environment.edgeShortName}} durch einen Installateur in Betrieb genommen
                          wurde, sehen Sie es an dieser Stelle.
                        </p>
                      </ion-card-content>
                    </ng-template>
                  </ng-container>
                </ion-card>

              </ng-container>
              <ng-template #showEdges>
                <!-- Show searchbar and list of Edges -->
                <ion-grid>
                  <ion-row class="ion-justify-content-center">
                    <ion-col>
                      <ion-searchbar [(ngModel)]="filter" [debounce]="500" (ionChange)="searchOnChange($event)"
                        *ngIf="!onlyOneEdgeAvailable">
                      </ion-searchbar>
                    </ion-col>
                  </ion-row>

                  <ion-row class="ion-justify-content-center">
                    <ion-col>
                      <ion-list lines="full">
                        <ngx-spinner [name]="spinnerId"></ngx-spinner>

                        <ng-container *ngFor="let edge of filteredEdges; let i=index">
                          <ion-item lines="inset" [routerLink]="['/device', edge.id]"
                            [color]="edge.isOnline ? null : 'light'">
                            <ion-label>
                              <h2 class="ion-text-wrap">{{ edge.comment }}</h2>
                              <p *ngIf="!edge.isOnline" class="ion-text-wrap">
                                <ion-text translate>Index.deviceOffline</ion-text>
                                <ion-label *ngIf="edge.lastmessage">
                                  <ion-text translate>Index.OFFLINE_SINCE</ion-text>
                                  {{edge.lastmessage | date:'dd.MM.yyyy HH:mm'}}
                                </ion-label>
                              </p>
                            </ion-label>
                            <ion-label>
                              <ng-container *ngIf="environment.backend === 'OpenEMS Backend'">
                                <p>ID: {{ edge.id }}</p>
                                <p class="ion-text-wrap">
                                  <ion-text translate>Index.type</ion-text> {{ edge.producttype }}
                                </p>
                              </ng-container>
                              <p class="ion-text-wrap">
                                <ion-text translate>Index.loggedInAs</ion-text> {{ edge.getRoleString() }}.
                              </p>
                            </ion-label>
                            <ion-icon slot="end" name="play-outline" color="primary"></ion-icon>
                          </ion-item>
                        </ng-container>
                        <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [disabled]="limitReached">
                          <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                          </ion-infinite-scroll-content>
                        </ion-infinite-scroll>

                      </ion-list>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ng-template>
            </ng-container>

            <!-- Add-Button for desktop devices -->
            <ion-fab style="position: fixed;" vertical="bottom" horizontal="center"
              *ngIf="loggedInUserCanInstall && !this.service.isSmartphoneResolution">
              <ion-fab-button size="large">
                <ion-icon name="add-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="top" style="left: 0; align-items: flex-start;" id="blurred">
                <ion-button color="primary" routerLink="/index/installation" routerLinkActive="active">
                  {{'Index.ADD_EDGE' | translate: { edgeShortName: environment.edgeShortName } }}</ion-button>
              </ion-fab-list>
            </ion-fab>

            <!-- Add-Button for mobile devices -->
            <ion-fab style="position: fixed;" horizontal="end" vertical="bottom"
              *ngIf="loggedInUserCanInstall && this.service.isSmartphoneResolution">
              <ion-fab-button size="small">
                <ion-icon name="add-outline"></ion-icon>
              </ion-fab-button>
              <ion-fab-list side="top" style="right: 0; align-items: flex-end;">
                <ion-button color="primary" routerLink="/index/installation" routerLinkActive="active">
                  {{ 'Index.ADD_EDGE' | translate: { edgeShortName: environment.edgeShortName } }}</ion-button>
              </ion-fab-list>
            </ion-fab>

          </ng-container>
        </ng-container>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>