<header></header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">

        <!-- Waiting for authentication -->
        <ion-card *ngIf="env.backend === 'OpenEMS Edge' && websocket.status == 'waiting for authentication'">
          <ion-item color="primary" lines="full">
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label translate>Login.title</ion-label>
          </ion-item>

          <ion-card-content>
            <form (ngSubmit)="doLogin(password.value)">
              <div class="ion-padding">
                <ion-item>
                  <ion-text class="ion-text-wrap" color="medium" translate>Login.preamble</ion-text>
                </ion-item>
                <ion-item>
                  <ion-label position="floating" translate>Login.passwordLabel</ion-label>
                  <ion-input #password required type="password" [placeholder]="'Login.passwordPlaceholder' | translate"
                    value="guest"></ion-input>
                </ion-item>
                <ion-button class="ion-float-right" type="submit">
                  <ion-icon slot="icon-only" name="log-in-outline"></ion-icon>
                </ion-button>
              </div>
            </form>
          </ion-card-content>

        </ion-card>
        <ion-card *ngIf="env.backend === 'App' && websocket.status != 'online'" padding>
          <ion-item>
            <ion-icon slot="start" name="contact" color="primary"></ion-icon>
            <ion-label>
              <ion-card-title>Login</ion-card-title>
              <ion-card-subtitle class="ion-text-wrap" translate>
                Index.PleaseLogin
              </ion-card-subtitle>
            </ion-label>
          </ion-item>
          <ion-card-content>
            <ion-item>
              <form [formGroup]="wpForm" (ngSubmit)="doWPLogin()" (keyup.enter)="doWPLogin()">
                <ion-item>
                  <ion-label position="stacked" translate>Index.Username</ion-label>
                  <ion-input formControlName="username" required placeholder="{{ 'Index.Username' | translate }}">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="stacked" translate>Index.Password</ion-label>
                  <ion-input formControlName="password" required type="password"
                    placeholder="{{ 'Index.Password' | translate }}"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label translate>Index.SaveLogin
                    <ion-checkbox formControlName="saveAccount"></ion-checkbox>
                  </ion-label>
                </ion-item>

              </form>
            </ion-item>
            <!-- Messages -->

            <ion-button class="ion-float-right" (click)="doWPLogin()" [disabled]="!wpForm.valid">
              <ion-icon slot="icon-only" name="log-in"></ion-icon>
            </ion-button>
            <a href="javascript:void(0);" (click)="retrievePwd()" translate>Index.LostPassword</a>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="(env.backend === 'OpenEMS Backend' || env.backend === 'App') && websocket.status == 'online'">

      <!--
      No access to Edges
    -->
      <ion-row *ngIf="noEdges; else showEdges" class="ion-justify-content-center">
        <ion-col size-md="8" size-xl="4">
          <ion-card>
            <ion-item color="warning" lines="full">
              <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
              <ion-label>No access</ion-label>
            </ion-item>

            <ion-card-content>
              <p>Unfortunately, it seems that you do not have permission to access any OpenEMS Edge devices.</p>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!--
      Show searchbar and list of Edges
    -->
      <ng-template #showEdges>
        <ion-row class="ion-justify-content-center">
          <ion-col size-md="12" size-xl="4">
            <ion-searchbar [(ngModel)]="filter" (ionChange)="updateFilteredEdges()"></ion-searchbar>
          </ion-col>
        </ion-row>

        <ion-row class="ion-justify-content-center">
          <ion-col size-md="12" size-xl="4">
            <ion-list lines="full">

              <ion-item *ngFor="let edge of filteredEdges | slice:0:slice; let i=index" lines="inset"
                [routerLink]="['/device', edge.id]" [color]="edge.isOnline ? null : 'light'">
                <ion-label>
                  <h2 class="ion-text-wrap">{{ edge.comment }}</h2>
                  <p *ngIf="!edge.isOnline" class="ion-text-wrap">Das Gerät ist nicht verbunden!</p>
                </ion-label>
                <ion-label>
                  <ng-container *ngIf="env.backend === 'OpenEMS Backend' || env.backend === 'App'">
                    <p>ID: {{ edge.id }}</p>
                    <p class="ion-text-wrap">Typ: {{ edge.producttype }}</p>
                  </ng-container>
                  <p class="ion-text-wrap">Angemeldet als: {{ edge.getRoleString() }}.</p>
                </ion-label>
                <ion-icon slot="end" name="play-outline" color="primary"></ion-icon>
              </ion-item>

              <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content loadingSpinner="bubbles" distance="1%" loadingText="Loading more data...">
                </ion-infinite-scroll-content>
              </ion-infinite-scroll>

            </ion-list>
          </ion-col>
        </ion-row>
      </ng-template>
    </ng-container>
  </ion-grid>
</ion-content>