<div fxLayout fxLayoutAlign="start start" fxLayoutWrap="wrap">

  <mat-card fxFlex="100%" class="single_leftright single_top">
    <mat-card-header>
      <mat-icon mat-card-avatar>format_list_bulleted</mat-icon>
      <mat-card-title>Status</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="currentData && currentData['data'] as data">
      <table class="full_width">
        <tr>
          <td style="width:50%"></td>
          <td style="width:50%"></td>
        </tr>

        <ng-container *ngFor="let thing of utils.keys(fielddefinition)">
          <!-- Shows Headline
            <tr>
            <td><b>{{ thing }}</b></td>
            <td></td>
          </tr> -->

          <tr *ngFor="let channel of utils.keys(fielddefinition[thing])">
            <ng-container *ngIf="fielddefinition[thing][channel] as field">
              <td>{{ field.title }}</td>
              <ng-container *ngIf="utils.has(data, thing) && utils.has(data[thing], channel)">
                <td>
                  <ng-container *ngIf="field['map'] && utils.has(field.map, data[thing][channel]); else show_raw_value">{{ field.map[data[thing][channel]] }}</ng-container>
                  <ng-template #show_raw_value>{{ data[thing][channel] }}</ng-template>
                  <ng-container *ngIf="field['unit']"> {{ field.unit }}</ng-container>
                </td>
              </ng-container>
            </ng-container>
          </tr>

        </ng-container>
      </table>
    </mat-card-content>
  </mat-card>

</div>