<ion-card *ngIf="edge">
    <!-- <ng-container *ngIf="essComponents"> -->
    <ng-container *ngIf="service.currentEdge | async as edge">
        <ng-container *ngIf="edge.currentData | async as currentData">
            <ng-container *ngIf="currentData.summary.storage as sum">
                <ng-container>
                    <ion-item color="light" lines="full">
                        <ion-avatar slot="start" *ngIf="!icon.includes('<img')">
                            <img [src]="icon">
                        </ion-avatar>
                        <ion-avatar slot="start" *ngIf="icon.includes('<img')" [innerHTML]="icon">
                        </ion-avatar>
                        <ion-label translate>{{title}}</ion-label>
                    </ion-item>
                    <ion-card-content [class.underline]="essComponents.length > 1">
                        <ng-content></ng-content>
                    </ion-card-content>
                </ng-container>
            </ng-container>
        </ng-container>
    </ng-container>
    <!-- </ng-container> -->
</ion-card>