<ion-card *ngIf="edge">
  <ngx-loading [show]="!(edge.currentData | async)"></ngx-loading>
  <ng-container *ngIf="edge.currentData | async as currentData">
    <ion-item lines="full" color="light">
      <ion-icon size="large" slot="start" name="laptop" color="primary"></ion-icon>
      <ion-label translate>
        Edge.Index.Energymonitor.Title
      </ion-label>
    </ion-item>
    <ion-card-content>
      <energymonitor-chart [currentData]="currentData" fxLayoutAlign="center start"></energymonitor-chart>
    </ion-card-content>
  </ng-container>
</ion-card>