<table class="full_width" style="line-height: 1.4; margin-top: 0.5%" *ngIf="isAllowedToBeSeen && show">
  <tr *ngIf="textIndent" [style.text-indent]="textIndent">

    <!-- Name of Parameter on the left side -->
    <td [style.width]="(leftColumnWidth ?? 50)  + '%'" class="align_left">
      <ng-container *ngIf="displayName">{{ displayName }}</ng-container>
    </td>

    <!-- Value of Parameter on the right side -->
    <td [style.width]="(leftColumnWidth ?? 50)  + '%'" class="align_right" *ngIf="displayValue">
      <!-- 'Normal' line, name and value  -->
      <ng-container>{{ displayValue }}</ng-container>
    </td>
  </tr>
</table>