<ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title *ngIf="currentData[componentId + '/Alias'] as alias">{{alias}}</ion-title>
            <ion-title *ngIf="!currentData[componentId + '/Alias'] as alias" translate>
                Edge.Index.Widgets.EVCS.ChargingStation
                <ion-text>
                    {{ componentId }}
                </ion-text>
            </ion-title>
            <ion-buttons slot="end">
                <ion-button (click)="cancel()">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>

        <ng-container *ngIf="currentData[componentId + '/State'] != 3">
            <ng-container *ngIf="controller">
                <!--Controllable Evcs-->
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width:20%" translate>
                                Edge.Index.Widgets.EVCS.Status
                            </td>
                            <td style="width:80%" class="align_right">
                                {{ getState(currentData[componentId + "/Status"], currentData[componentId + "/Plug"]) }}
                            </td>
                        </tr>
                    </table>
                    <table class="full_width">
                        <tr>
                            <td style="width:65%" translate>
                                Edge.Index.Widgets.EVCS.ChargingPower
                            </td>
                            <ng-container *ngIf="currentData[componentId + '/ChargePower'] > 0;else empty">
                                <td style="width:35%" class="align_right">
                                    {{ currentData[componentId + "/ChargePower"] | number:'1.0-0' }}&nbsp;W&nbsp;
                                </td>
                            </ng-container>
                            <ng-template #empty>
                                <td style="width:35%" class="align_right">
                                    -&nbsp;
                                </td>
                            </ng-template>
                        </tr>
                        <tr *ngIf="currentData[componentId + '/ChargePower'] > 0">
                            <td style="width:65%" translate>
                                Edge.Index.Widgets.EVCS.EnergieSinceBeginning</td>
                            <td style="width:35%" class="align_right">
                                {{ currentData[componentId + "/EnergySession"] | number:'1.0-0' }}&nbsp;Wh
                            </td>
                        </tr>
                    </table>
                </ion-card-content>
                <ion-card-content>
                    <table class="full_width">
                        <tr>
                            <td translate>
                                General.Mode
                            </td>
                            <td class="align_right" *ngIf="chargeMode != 'OFF'">
                                <ion-icon (click)="isPrioritization = false; presentPopover()" class="ion-no-padding"
                                    style="text-align: right; font-size: 20px" style="cursor: pointer"
                                    name="information-circle-outline">
                                </ion-icon>
                            </td>
                        </tr>
                    </table>
                    <table class="full_width">
                        <tr>
                            <td colspan="3">
                                <ion-segment (ionChange)="updateChargeMode($event, controller)" value={{chargeMode}}>
                                    <ion-segment-button value="FORCE_CHARGE">
                                        <ion-item lines="none">
                                            <ion-img style="width:40px" src="assets/img/gridStorage.png">
                                            </ion-img>
                            <td translate>
                                General.Manually
                            </td>
                            </ion-item>
                            </ion-segment-button>
                            <ion-segment-button value="EXCESS_POWER">
                                <ion-item lines="none">
                                    <ion-icon style="width:40px" name="sunny">
                                    </ion-icon>
                                    <td translate>
                                        Edge.Index.Widgets.EVCS.OptimizedChargeMode.ShortName
                                    </td>
                                </ion-item>
                            </ion-segment-button>
                            <ion-segment-button value="OFF">
                                <ion-item lines="none">
                                    <ion-icon name="power" style="width: 40px"></ion-icon>
                                    <td translate>
                                        General.Off
                                    </td>
                                </ion-item>
                            </ion-segment-button>
                            </ion-segment>
                            </td>
                        </tr>
                    </table>
                </ion-card-content>
                <ng-container *ngIf="controller.properties['chargeMode'] == 'EXCESS_POWER'">
                    <!--Excess Power settings-->
                    <ion-card-content>
                        <table class="full_width">
                            <tr>
                                <td style="width: 65%" translate>
                                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinCharging
                                </td>
                                <td style="width: 35%" class="align_right">
                                    <ion-toggle
                                        (ionChange)="allowMinimumChargePower($event, currentData[componentId + '/Phases'], controller)"
                                        [checked]="controller.properties['defaultChargeMinPower'] != 0">
                                    </ion-toggle>
                                </td>
                            </tr>
                            <tr *ngIf="controller.properties['defaultChargeMinPower'] != 0">
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinChargePower
                                </td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['defaultChargeMinPower']}}&nbsp;W&nbsp;
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range class="swiper-no-swiping" style="z-index: 10000; page-break-inside: auto"
                                    *ngIf="controller.properties['defaultChargeMinPower'] != 0"
                                    (ionChange)="updateDefaultMinPower($event, controller)"
                                    min="{{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) }}"
                                    max="{{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) }}"
                                    color="dark" pin="true" style="padding-top: 8px;" step="100" debounce="1000"
                                    value="{{controller.properties['defaultChargeMinPower']}}">
                                    <ion-label slot="start">
                                        {{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) | number:'1.0-0'}}
                                        &nbsp;W
                                    </ion-label>
                                    <ion-label slot="end">
                                        {{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) | number:'1.0-0'}}&nbsp;W
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ion-card-content>
                    <ion-card-content class="underline">
                        <table class="full_width">
                            <tr>
                                <td translate>
                                    Edge.Index.Widgets.EVCS.Prioritization
                                </td>
                                <td class="align_right" style="width: 100%">
                                    <ion-icon class="ion-no-padding" style="text-align: right; font-size: 20px"
                                        style="cursor: pointer" name="information-circle-outline"
                                        (click)="isPrioritization = true; presentPopover()">
                                    </ion-icon>
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <td colspan="3">
                                    <ion-segment ion-width="50%" (ionChange)="priorityChanged($event, controller)"
                                        value="{{controller.properties['priority']}}">
                                        <ion-segment-button ion-margin="0px" ion-padding="0px" value="CAR">
                                            <ion-item lines="none">
                                                <ion-img style="width:40px" src="assets/img/evcs.png">
                                                </ion-img>
                                <td translate>Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Car
                                </td>
                                </ion-item>
                                </ion-segment-button>
                                <ion-segment-button ion-margin="0px" ion-padding="0px" value="STORAGE">
                                    <ion-item lines="none">
                                        <ion-img padding-right style="width:40px" src="assets/img/storage.png">
                                        </ion-img>
                                        <td translate>
                                            Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Storage
                                        </td>
                                    </ion-item>
                                </ion-segment-button>
                                </ion-segment>
                                </td>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
                <ng-container *ngIf="controller.properties['chargeMode'] == 'FORCE_CHARGE'">
                    <ion-card-content class="underline">
                        <!--Force Charge settings-->
                        <table class="full_width">
                            <tr>
                                <td style="width:65%" translate>
                                    Edge.Index.Widgets.EVCS.ForceChargeMode.MaxCharging
                                </td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['forceChargeMinPower']}}&nbsp;W&nbsp;
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range style="width: 100%" (ionChange)="updateForceMinPower($event, controller)"
                                    min="{{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) }}"
                                    max="{{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) }}"
                                    color="dark" pin="true" style="padding-top: 8px;" step="100" debounce="1000"
                                    value="{{controller.properties['forceChargeMinPower']}}">
                                    <ion-label slot="start">
                                        {{ formatNumber(currentData[componentId + '/MinimumHardwarePower']) | number:'1.0-0'}}&nbsp;W
                                    </ion-label>
                                    <ion-label slot="end">
                                        {{ formatNumber(currentData[componentId + '/MaximumHardwarePower']) | number:'1.0-0'}}&nbsp;W
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ion-card-content>
                </ng-container>
                <ion-card-content *ngIf="controller">
                    <table class="full_width">
                        <tr>
                            <td style="width: 65%">
                                Maximale Energie pro Ladevorgang garantieren
                            </td>
                            <td style="width: 35%" class="align_right">
                                <ion-toggle (ionChange)="allowEnergySessionLimit($event, controller)"
                                    [checked]="controller.properties['energySessionLimit'] != 0">
                                </ion-toggle>
                            </td>
                        </tr>
                    </table>
                    <ng-container *ngIf="controller.properties['energySessionLimit'] != 0">
                        <div style="padding-top: 10px;"></div>

                        <table class="full_width">
                            <tr>
                                <td style="width: 65%">Ladekapazität</td>
                                <td style="width: 35%" class="align_right">
                                    {{controller.properties['energySessionLimit'] | unitvalue:'kWh'}}</td>
                                <td class="align_right" style="width: 100%">
                                </td>
                            </tr>
                        </table>
                        <table class="full_width">
                            <tr>
                                <ion-range (ionChange)="updateEnergySessionLimit($event, controller)" min="1" max="80"
                                    color="dark" pin="true" style="width: 100%" step="1" debounce="1000"
                                    value="{{(controller.properties['energySessionLimit'] / 1000)}}">
                                    <ion-label slot="start">
                                        {{1000 | unitvalue:'kWh'}}
                                    </ion-label>
                                    <ion-label slot="end">
                                        {{80000 | unitvalue:'kWh'}}
                                    </ion-label>
                                </ion-range>
                            </tr>
                        </table>
                    </ng-container>
                </ion-card-content>
            </ng-container>
            <!--Uncontrollable Evcs-->
            <ng-container *ngIf="!controller">
                <ion-item padding-bottom padding-top class="normalFontSize" lines="full">
                    <table class="full_width">
                        <tr>
                            <td style="width:50%" translate>
                                Edge.Index.Widgets.EVCS.ChargingPower
                            </td>
                            <td style="width:50%" class="align_right">
                                {{ getState(currentData[componentId + "/ChargePower"] | number:'1.0-0',currentData[componentId + "/Status"], currentData[componentId + "/Plug"]) }}
                            </td>
                        </tr>
                    </table>
                </ion-item>
                <ion-item>
                    <ion-label translate>
                        Diese Ladesäule kann nicht gesteuert werden
                    </ion-label>
                </ion-item>
            </ng-container>
        </ng-container>
        <ion-item class="normalFontSize" style="padding-top: 20px" *ngIf="currentData[componentId + '/State'] == 3">
            <tr>
                <td translate>
                    Edge.Index.Widgets.EVCS.NoConnection.Description
                </td>
            </tr>
            <tr>
                <td>
                    <ul>
                        <li translate>Edge.Index.Widgets.EVCS.NoConnection.Help1</li>
                        <li translate>Edge.Index.Widgets.EVCS.NoConnection.Help1_1</li>
                    </ul>
                </td>
            </tr>
        </ion-item>
    </ion-content>
</ng-container>