<ion-radio-group [(ngModel)]="value" (ionChange)="updateFormControl()">
    <ion-item *ngIf="PROPS.LABEL">
        <ion-label>{{PROPS.LABEL}}</ion-label>
    </ion-item>

    <ng-container *ngFor="let option of PROPS.OPTIONS">
        <ion-card>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label>{{OPTION.LABEL}}</ion-label>
                        <ion-radio slot="end" [value]="OPTION.VALUE"> </ion-radio>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <ion-col>
                    <ion-list lines="none">
                        <ion-item>
                            <ion-img [src]="OPTION.URL"></ion-img>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-card>
    </ng-container>
</ion-radio-group>
