<installation-view iconName="clipboard-outline"
    header="{{ 'INSTALLATION.PROTOCOL_SERIAL_NUMBERS.SERIAL_NUMBER' | translate }}"
    (previousClicked)="onPreviousClicked()" (nextClicked)="onNextClicked()" [isWaiting]="isWaiting">

    <ngx-spinner [name]="spinnerId"></ngx-spinner>

    <ion-card>
        <ion-card-header>
            <ion-item>
                <ion-label>
                    <ion-card-title>{{ 'INSTALLATION.PROTOCOL_SERIAL_NUMBERS.SYSTEM_SETUP' | translate }}
                    </ion-card-title>
                </ion-label>
            </ion-item>
        </ion-card-header>
        <ion-card-content>
            <formly-form [form]="formSettings" [fields]="fieldsSettings" [model]="modelSettings"></formly-form>
            <ion-item>
                <ion-button (click)="saveSettings()">
                    <ion-label>{{ 'INSTALLATION.PROTOCOL_SERIAL_NUMBERS.CONFIRM' | translate }}</ion-label>
                </ion-button>
            </ion-item>
        </ion-card-content>
    </ion-card>

    <ng-container *ngIf="!isWaiting">
        <ion-card>
            <ion-card-content>{{'INSTALLATION.PROTOCOL_SERIAL_NUMBERS.SETUP_NOTE' | translate }}</ion-card-content>
        </ion-card>

        <ng-container *ngFor="let form of forms, let i = index">
            <ion-card>
                <ion-card-header>
                    <ion-item>
                        <ion-card-title>{{form.header}}</ion-card-title>
                    </ion-item>
                </ion-card-header>
                <ion-card-content>
                    <formly-form [form]="form.formGroup" [fields]="form.fieldSettings" [model]="form.model">
                    </formly-form>
                </ion-card-content>
            </ion-card>
        </ng-container>

        <ion-card>
            <ion-card-content>{{ 'INSTALLATION.PROTOCOL_SERIAL_NUMBERS.NEXT_BUTTON_DESCRIPTION' | translate }}
            </ion-card-content>
        </ion-card>
    </ng-container>
</installation-view>