# Takes care of version constraints strictly.
# For ex: node.js constraint added in package.json is taken strictly and throws errors during compile time if the mentioned version is out of range.
engine-strict=true
legacy-peer-deps=true
