<ion-card *ngIf="edge" button routerLink="/device/{{edge.id}}/history/consumptionchart">
    <ion-item lines="full" color="light">
        <ion-icon slot="start" name="oe-consumption" color="warning" size="large"></ion-icon>
        <ion-label translate>General.consumption</ion-label>
    </ion-item>
    <ion-card-content>
        <table class="full_width">
            <ng-container *ngIf="data && edge; else noData">
                <ng-container *ngIf="evcsComponents.length === 0 && consumptionMeterComponents.length === 0">
                    <tr>
                        <td style="width:65%"></td>
                        <td style="width:35%" class="align_right">
                            {{ data["_sum/ConsumptionActiveEnergy"] | unitvalue:'kWh' }}
                        </td>
                    </tr>
                </ng-container>
                <ng-container *ngFor="let component of evcsComponents">
                    <ng-container>
                        <tr>
                            <td style="width:65%">{{ component.alias }}
                            </td>
                            <td style="width:35%" class="align_right">
                                {{ data[component.id + "/ActiveConsumptionEnergy"] ?? 0 | unitvalue:'kWh' }}
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngFor="let component of consumptionMeterComponents">
                    <ng-container>
                        <tr>
                            <td style="width:65%">{{ component.alias }}</td>
                            <td style="width:35%" class="align_right">
                                {{ (data[component.id + "/ActiveProductionEnergy"]| unitvalue:'kWh') ?? "-" }}
                            </td>
                        </tr>
                    </ng-container>
                </ng-container>
                <tr *ngIf="(evcsComponents.length !== 0 || consumptionMeterComponents.length !== 0)"
                    style="border-top: 2px solid lightgray;">
                    <td style="width:65%" translate>General.otherConsumption</td>
                    <td style="width:35%" class="align_right">
                        {{ totalOtherEnergy ?? 0 | unitvalue:'kWh' }}
                    </td>
                </tr>
            </ng-container>

            <ng-template #noData>
                <tr>
                    <td style="width:65%"></td>
                    <td style="width:35%" class="align_right">
                        &nbsp;
                    </td>
                </tr>
            </ng-template>
        </table>
    </ion-card-content>
</ion-card>