<ng-container *ngIf="isInitialized">
    <oe-flat-widget [icon]="{name: 'oe-consumption', color: 'warning'}" [title]="'General.consumption' | translate"
        button (click)="presentModal()">

        <!-- Evcss -->
        <ng-container *ngIf="evcss.length > 0">
            <ng-container *ngFor="let component of evcss, let i = index">
                <oe-flat-widget-line [name]="component.alias" [channelAddress]="component.id + '/ChargePower'"
                    [converter]="CONVERT_WATT_TO_KILOWATT">
                </oe-flat-widget-line>
            </ng-container>
        </ng-container>

        <!-- ConsumptionMeters -->
        <ng-container *ngIf="consumptionMeters.length > 0">
            <ng-container *ngFor="let component of consumptionMeters">
                <oe-flat-widget-line [name]="component.alias" [channelAddress]="component.id + '/ActivePower'"
                    [converter]="CONVERT_WATT_TO_KILOWATT">
                </oe-flat-widget-line>
            </ng-container>
        </ng-container>

        <!-- If at least Evcss or ConsumptionMeters -->
        <ng-container *ngIf="evcss.length !== 0 || consumptionMeters.length !== 0; else noMeters">
            <oe-flat-widget-horizontal-line></oe-flat-widget-horizontal-line>
            <oe-flat-widget-line [name]="'General.otherConsumption' | translate" [value]="otherPower"
                [converter]="CONVERT_WATT_TO_KILOWATT">
            </oe-flat-widget-line>
        </ng-container>

        <!-- For no Evcss and ConsumptionMeters -->
        <ng-template #noMeters>
            <oe-flat-widget-line [value]="sumActivePower" [converter]="CONVERT_WATT_TO_KILOWATT">
            </oe-flat-widget-line>
        </ng-template>

    </oe-flat-widget>
</ng-container>