<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title translate>Stille Beteiligung am Erfolg von FENECON</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- Info Text -->
<ion-content style="line-height: 1.5em;text-align: justify;">
    <ion-img style="width: 80%; margin-left: 10%; margin-top: 2%;" src="assets/img/silent_partnership.png"></ion-img>
    <ion-row lines="full" style="padding: 0em 1em 0em 1em;">
        <ion-col style="padding-top: 1em;">
            Sehen Sie im Video wie es geht: <br><a href="https://www.youtube.com/watch?v=xIYxTmevG5g"
                target="_blank">https://www.youtube.com/watch?v=xIYxTmevG5g</a>
        </ion-col>
    </ion-row>

    <ion-row style="padding: 0em 1em 0em 1em;">
        <ion-col>
            <h6 class="ion-text-center" style="font-weight: bold;">
                Unabhängigkeit
            </h6>
            Der Deggendorfer Stromspeicherhersteller FENECON steht für eine bessere Zukunft mit 100% Erneuerbaren
            Energien. Dieses Ziel verfolgen wir erfolgreich und stark wachsend durch unsere unternehmerische
            Unabhängigkeit. Diese bewahrt uns als Familienunternehmen und wir haben es dank unserer Innovationskraft und
            unsere treuen Kunden unter die 50 wachstumsstärksten Technologieunternehmen Deutschlands geschafft.
        </ion-col>
    </ion-row>

    <ion-row style="padding: 0em 1em 0em 1em;">
        <ion-col>
            <h6 style="font-weight: bold;">
                Neuer Standort – noch mehr Nachhaltigkeit – von der EU gefördert.
            </h6>
            Und deshalb investieren wir in das nächste Projekt, das die Nachhaltigkeit von Elektrofahrzeugbatterien noch
            mehr steigert: Mit einem neuen Fertigungsstandort in der Nähe von Deggendorf für 2nd Life Speicher und einer
            umfangreichen EU-Förderung setzen wir unseren Weg konsequent fort.
        </ion-col>
    </ion-row>
    <ion-row style="padding: 0em 1em 0em 1em;">
        <ion-col>
            <h6 style="font-weight: bold;">
                Unsere Vision ist Ihre Rendite
            </h6>
            Verschiedenen Personen und Institutionen, die die Vision der 100% Energiewende mittragen, haben wir mit
            einer „stillen Beteiligung“ bereits ermöglicht, an unserem erfolgreichen Weg teilzuhaben und eine attraktive
            Verzinsung zu erzielen. Diese steht jetzt auch Ihnen offen.
        </ion-col>
    </ion-row>
    <ion-row style="padding: 1em 1em 0em 1em;">
        <ion-col>
            Interessierte, die mehr über diese Beteiligungsmöglichkeit erfahren möchten, wenden sich mit einem kurzen
            Motivationsschreiben an unseren CFO Michael Miedl (<a
                href="mailto:michael.miedl@fenecon.de">michael.miedl@fenecon.de</a>). So können Menschen, denen eine
            bessere Zukunft mit 100% Erneuerbaren Energien am Herzen liegt, Teil der selbstbestimmten, offenen
            Energiewende werden!
        </ion-col>
    </ion-row>
    <ion-row style="padding: 1em 1em 0em 1em;">
        <ion-col>
            Erfahren Sie mehr dazu:
            <ul>
                <li><a target="_blank"
                        href="https://www.youtube.com/watch?v=xIYxTmevG5g">https://www.youtube.com/watch?v=xIYxTmevG5g</a>
                </li>
                <li>
                    Oder bei: <a target="_blank"
                        href="https://fenecon.de/investor-relations/">https://fenecon.de/investor-relations/</a>
                </li>
            </ul>
        </ion-col>
    </ion-row>
</ion-content>