<ion-list lines="none" inset="false">
    <ion-item mode="md" [class.active]="showPhases" (click)="setPhases()" class="ion-text-center" lines="none" button
        *ngIf="showPhases !== null">
        <ion-label translate>
            GENERAL.PHASES
        </ion-label>
        <ion-toggle style="pointer-events: none" [checked]="showPhases"></ion-toggle>
    </ion-item>
    <ion-item mode="md" [class.active]="showTotal" (click)="setTotal()" class="ion-text-center" lines="none" button
        *ngIf="showTotal !== null">
        <ion-label translate>
            GENERAL.TOTAL
        </ion-label>
        <ion-toggle [checked]="showTotal"></ion-toggle>
    </ion-item>
</ion-list>