<ion-list lines="none" inset="false">
    <ion-item mode="md" [class.active]="showPhases" (click)="setPhases()" class="ion-text-center" lines="none" button
        *ngIf="showPhases != null">
        <ion-label translate>
            General.Phases
        </ion-label>
        <ion-toggle [checked]="showPhases"></ion-toggle>
    </ion-item>
    <ion-item mode="md" [class.active]="showTotal" (click)="setTotal()" class="ion-text-center" lines="none" button
        *ngIf="showTotal != null">
        <ion-label translate>
            General.Total
        </ion-label>
        <ion-toggle [checked]="showTotal"></ion-toggle>
    </ion-item>
</ion-list>