<ng-container *ngIf="edge && component">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>{{ component.alias }}</ion-title>
            <ion-buttons slot="end">
                <ion-button routerLink="/device/{{edge.id}}/history">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ng-container>
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 100%" class="ion-padding"></td>
                    </tr>
                </table>
                <timeOfUseTariffDischargeChart [componentId]="component.id" [period]="service.historyPeriod.value">
                </timeOfUseTariffDischargeChart>
            </ion-card-content>
        </ng-container>
    </ion-content>
</ng-container>