:org.apache.felix.configadmin.revision:=L"5"
alias="Control\ by\ Threshold"
enabled=B"true"
id="ctrlChannelSingleThreshold0"
inputChannelAddress="_sum/EssSoc"
invert=B"true"
minimumSwitchingTime=I"60"
mode="AUTOMATIC"
outputChannelAddress="io0/InputOutput0"
service.factoryPid="Controller.IO.ChannelSingleThreshold"
service.pid="Controller.IO.ChannelSingleThreshold.ca5bcfd0-236e-4394-a484-730559795770"
switchedLoadPower=I"0"
threshold=I"40"
