<div fxLayout="row" fxLayoutWrap="wrap" *ngIf="form?.controls.scheduler?.controls.controllers as controllers">

    <ng-container *ngIf="controllers.controls[currentControllerIndex] as controller; else no_selection">
        <ng-container *ngIf="tmpl.meta(controller.value.class, 'controller') as meta">
            <!-- Headline: current controller -->
            <md-toolbar>
                <div fxFlex="100%" fxLayout="row">
                    <div fxFlex>{{ meta.title }}</div>
                    <div fxFlex="50px">
                        <button md-icon-button (click)="currentControllerIndex = -1"><md-icon>keyboard_arrow_down</md-icon></button>
                    </div>
                </div>
            </md-toolbar>

            <!-- Details: current controller -->
            <div fxFlex.xs="100%" fxFlex.gt-xs="70%">
                {{ meta | json }}
                <p>{{ controller.value | json }}</p>
            </div>
        </ng-container>
    </ng-container>

    <!-- List all Controllers -->
    <ng-template #no_selection>
        <div fxFlex="100%" fxLayout fxLayoutWrap="wrap">
            <div fxFlex="33%" *ngFor="let controller of controllers.value, let i=index">
                <md-card class="single">
                    <md-card-header>
                        <md-icon md-card-avatar>apps</md-icon>
                        <ng-container *ngIf="tmpl.meta(controller.class, 'controller') as meta; else no_meta">
                            <md-card-title>{{ meta.title }}</md-card-title>
                        </ng-container>
                        <ng-template #no_meta>
                            <md-card-title>{{ tmpl.classname(controller.class) }}</md-card-title>
                        </ng-template>
                    </md-card-header>
                    <md-card-content>
                        <table class="full_width">
                            <tr>
                                <td>Interne ID:</td>
                                <td>{{ controller.id }}</td>
                            </tr>
                            <tr>
                                <td>App:</td>
                                <td>{{ tmpl.classname(controller.class) }}</td>
                            </tr>
                            <tr>
                                <td>Priorität:</td>
                                <td>{{ controller.priority }}</td>
                            </tr>
                        </table>
                    </md-card-content>
                    <md-card-actions fxLayout fxLayoutAlign="end start">
                        <button md-fab (click)="currentControllerIndex = i"><md-icon>navigate_next</md-icon></button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </ng-template>
</div>