<div *ngIf="form" [formGroup]="form">
    <div formGroupName="scheduler">
        <div fxLayout fxLayoutWrap="wrap" formArrayName="controllers">
            <div fxFlex.xs="100%" fxFlex.gt-xs="50%" *ngFor="let controller of form.controls.scheduler['controls']['controllers']['controls'], let i=index"
                [formGroupName]="i">
                <!--existing controller-->
                <div *ngFor="let controllerMeta of form.value._meta['availableControllers'], let j=index">
                    <ng-container *ngIf="controllerMeta.class == controller.value.class && controller.value.id != ''">
                        <md-card class="single">
                            <md-card-header (click)="setSelectedController(controller.value.id)">
                                <md-icon md-card-avatar>apps</md-icon>
                                <md-card-title>
                                    {{ controllerMeta.class | classname }}
                                </md-card-title>
                                <md-card-subtitle>
                                    {{ controller.value.id }}
                                </md-card-subtitle>
                            </md-card-header>
                            <md-card-content style="margin: 20px" *ngIf="selectedController == controller.value.id">
                                <div fxLayout fxLayoutWrap="wrap">
                                    <md-input-container fxFlex.gt-xs="50%" fxFlex.xs="100%">
                                        <input placeholder="Priorität" formControlName="priority" type="number" mdInput>
                                    </md-input-container>
                                </div>
                                <div style="margin-top: 20px" *ngFor="let channelMeta of controllerMeta.channels">
                                    <ng-container *ngIf="channelMeta.name != 'priority'">
                                        <md-input-container *ngIf="!channelMeta.array  && hasAccesslevel(channelMeta.accessLevel)" fxFlex.gt-xs="50%" fxFlex.xs="100%">
                                            <input placeholder="{{ channelMeta.title }}" [formControlName]="channelMeta.name" type="text" mdInput>
                                        </md-input-container>
                                        <div *ngIf="channelMeta.array && hasAccesslevel(channelMeta.accessLevel)" [formArrayName]="channelMeta.name">
                                            <div fxLayout fxLayoutWrap="wrap">
                                                <div *ngFor="let channelChannelMeta of controller.value[channelMeta.name], let k=index">
                                                    <md-select placeholder="{{ channelMeta.type }}" [formControlName]="k" fxFlex.gt="33%" fxFlex.xs="100%">
                                                        <ng-container *ngFor="let nature of form.value._meta['natures'] | keys">
                                                            <ng-container *ngFor="let natureImplement of nature.value.implements">
                                                                <md-option *ngIf="natureImplement == channelMeta.type + 'Nature'" [value]="nature.key">{{ nature.key }}</md-option>
                                                            </ng-container>
                                                        </ng-container>
                                                    </md-select>
                                                    <button (click)="deleteChannel(k, controller['controls'][channelMeta.name])" md-mini-fab>
                                                        <md-icon>delete</md-icon>
                                                    </button>
                                                </div>
                                                <button (click)="add(controller['controls'][channelMeta.name])" md-mini-fab>
                                                    <md-icon>add</md-icon>
                                                </button>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <div style="position: absolute;bottom: 0;right: 0; margin: 20px">
                                    <button (click)="save(controller)" [disabled]="form.pristine" color="primary" md-mini-fab>
                                        <md-icon>save</md-icon>
                                    </button>
                                    <button (click)="delete(form.controls.scheduler['controls']['controllers'], i)" color="primary" md-mini-fab>
                                        <md-icon>delete</md-icon>
                                    </button>
                                </div>
                            </md-card-content>
                        </md-card>
                    </ng-container>
                </div>
                <!--New controller-->
                <div *ngIf="controller.value.class == '' || controller.value.id == ''">
                    <md-card class="single">
                        <md-card-header>
                            <md-icon md-card-avatar>stop</md-icon>
                            <label i18n>Neuer Controller...</label>
                        </md-card-header>
                        <md-card-content>
                            <div fxLayout fxLayoutWrap="wrap" style="margin-bottom: 20px">
                                <md-input-container>
                                    <input placeholder="Name" formControlName="id" type="text" mdInput>
                                </md-input-container>
                                <button [disabled]="form.pristine" (click)="setNameReady()" md-mini-fab>
                                    <md-icon>send</md-icon>
                                </button>
                            </div>
                            <div *ngIf="nameReady" fxLayout fxLayoutWrap="wrap">
                                <label i18n>Klasse: </label>
                                <select fxFlex="50%" formControlName="class" (change)="addChannelsToController(controller, controller.value.class)">
                                    <option></option>
                                    <option *ngFor="let availableControllers of form.value._meta['availableControllers']">
                                        {{ availableControllers.class }}
                                    </option>
                                </select>
                            </div>
                        </md-card-content>
                    </md-card>
                </div>
            </div>
            <md-card class="single_leftright" *ngIf="newController == false" fxFlex="100%">
                <md-card-header>
                    <md-icon md-card-avatar>stop</md-icon>
                    <label i18n>Neuer Controller...</label>
                </md-card-header>
                <md-card-content>
                    <div fxLayout fxLayoutAlign="end start">
                        <button (click)="addController(form.controls.scheduler['controls']['controllers'])" md-mini-fab>
                            <md-icon>add</md-icon>
                        </button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>