<div *ngIf="form" fxLayout>
    <!-- List of all Controllers -->
    <div fxFlex.xs="100%" fxFlex.gt-xs="30%" *ngIf="form.value.scheduler.controllers as controllers">
        <div class="single" fxFlex>
            <md-button-toggle-group fxFlex vertical="true" [(ngModel)]="currentControllerIndex">
                <md-button-toggle *ngFor="let controller of controllers, let i=index" [value]="i">{{ tmpl.classname(controller.class) }}<br/><small>{{ controller.id }}</small></md-button-toggle>
            </md-button-toggle-group>
        </div>
    </div>

    <!-- Currently selected controller -->
    <div fxFlex.xs="100%" fxFlex.gt-xs="70%" *ngIf="form.controls.scheduler.controls.controllers.controls[currentControllerIndex] as controller">
        <div *ngIf="form.value._meta.availableControllers[controller.value.class] as controllerMeta">
            <!-- {{ controllerMeta.channels.priority.getAccessLevelRole() }} {{ controllerMeta | json }} -->
        </div>
        <p>{{ controller.value | json }}</p>
    </div>
</div>

<!-- <div *ngIf="form" [formGroup]="form">
    <div formGroupName="scheduler">
        <div fxLayout fxLayoutWrap="wrap" formArrayName="controllers">
            <ng-container *ngFor="let controller of form.controls.scheduler['controls']['controllers']['controls'], let i=index" [formGroupName]="i">

            </ng-container>
            <md-card class="single_leftright" *ngIf="displayCreateNewController() && newController == false" fxFlex="100%">
                <md-card-header>
                    <md-icon md-card-avatar>stop</md-icon>
                    <label i18n>Neuer Controller...</label>
                </md-card-header>
                <md-card-content>
                    <div fxLayout fxLayoutAlign="end start">
                        <button (click)="addController(form.controls.scheduler['controls']['controllers'])" md-mini-fab>
                            <md-icon>add</md-icon>
                        </button>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div> -->