<header></header>
<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">

      <ion-col size="12" size-md="6" *ngIf="edge && alertingOdoo">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" name="settings-outline" color="primary"></ion-icon>
            <ion-label>
              <span translate>Menu.settings</span>
              <!--span *ngIf="environment.backend == 'OpenEMS Backend'"> für {{ edge.id }}</span-->
            </ion-label>
          </ion-item>

          <ion-card-content>
            <form (ngSubmit)="updateAlerting()">
              <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>
              <ion-button expand="block" type=" submit" color="primary" [disabled]="form.invalid || noChanges"
                translate>
                Edge.Config.Alerting.save
              </ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12" size-md="6" *ngIf="!alertingState">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" name="warning-outline" color="danger"></ion-icon>
            <ion-label color="danger">
              <span>Error</span>
            </ion-label>
          </ion-item>

          <ion-card-content>
            <ion-label color="danger">
              <span>No Settings for Alerting</span>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>