<style>
  ion-select {
    max-width: 100% !important;
    margin: auto;
    padding: 0;
    vertical-align: middle;
  }
</style>
<header></header>
<ion-content>
  <!-- Loading Spinner -->
  <ngx-spinner [name]="spinnerId"></ngx-spinner>

  <!-- User Settings View -->
  <ion-grid *ngIf="!error; else error_view">
    <!-- Current User View -->
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="8" *ngIf="currentUserInformation as cuser">
        <ion-card>
          <ion-item lines="full" color="light">
            <ion-icon slot="start" name="settings-outline" color="primary"></ion-icon>
            <ion-label>
              <span>{{user.name}}</span>
            </ion-label>
            <oe-help-button key="SETTINGS_ALERTING"></oe-help-button>
          </ion-item>
          <ion-card-content>
            <form [formGroup]="currentUserForm">
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col size="6">
                      <ion-label>
                        <span translate>Edge.Config.Alerting.activate</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6">
                      <ion-label>
                        <span translate>Edge.Config.Alerting.delay</span>
                      </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="wrap-text" style="opacity: 0.7;">
                        <span translate>Edge.Config.Alerting.offlineAlerting</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6">
                      <ion-checkbox formControlName="isOfflineActive"
                        (ionChange)="cuser.isOfflineActive = !cuser.isOfflineActive">
                      </ion-checkbox>
                    </ion-col>
                    <ion-col size="6">
                      <ion-select *ngIf="cuser.isOfflineActive" class="custom-options" interface="popover"
                        formControlName="offlineEdgeDelay">
                        <ion-select-option *ngFor="let option of defaultValues[AlertingType.offline]"
                          [value]="option.value">
                          {{option.label}}
                        </ion-select-option>
                        <ion-select-option *ngIf="isInvalidDelay(AlertingType.offline, cuser.offlineEdgeDelay)"
                          [value]="cuser.offlineEdgeDelay">
                          {{getLabelToDelay(cuser.offlineEdgeDelay)}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="wrap-text" style="opacity: 0.7;">
                        <span translate>Edge.Config.Alerting.faultAlerting</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6">
                      <ion-checkbox formControlName="isFaultActive"
                        (ionChange)="cuser.isFaultActive = !cuser.isFaultActive">
                      </ion-checkbox>
                    </ion-col>
                    <ion-col size="6">
                      <ion-select *ngIf="cuser.isFaultActive" class="custom-options" interface="popover"
                        formControlName="faultEdgeDelay">
                        <ion-select-option *ngFor="let option of defaultValues[AlertingType.fault]"
                          [value]="option.value">
                          {{option.label}}
                        </ion-select-option>
                        <ion-select-option *ngIf="isInvalidDelay(AlertingType.fault, cuser.faultEdgeDelay)"
                          [value]="cuser.faultEdgeDelay">
                          {{getLabelToDelay(cuser.faultEdgeDelay)}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col size="12">
                      <ion-label class="wrap-text" style="opacity: 0.7;">
                        <span translate>Edge.Config.Alerting.warningAlerting</span>
                      </ion-label>
                    </ion-col>
                    <ion-col size="6">
                      <ion-checkbox formControlName="isWarningActive"
                        (ionChange)="cuser.isWarningActive = !cuser.isWarningActive">
                      </ion-checkbox>
                    </ion-col>
                    <ion-col size="6">
                      <ion-select *ngIf="cuser.isWarningActive" class="custom-options" interface="popover"
                        formControlName="warningEdgeDelay">
                        <ion-select-option *ngFor="let option of defaultValues[AlertingType.warning]"
                          [value]="option.value">
                          {{option.label}}
                        </ion-select-option>
                        <ion-select-option *ngIf="isInvalidDelay(AlertingType.warning, cuser.warningEdgeDelay)"
                          [value]="cuser.warningEdgeDelay">
                          {{getLabelToDelay(cuser.warningEdgeDelay)}}
                        </ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Other Users View -->
    <ng-container *ngIf="otherUserInformation">
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8">
          <ion-card>
            <ion-accordion-group (ionChange)="loadOtherUsers()">
              <ion-accordion>
                <ion-item slot="header" lines="full" color="light">
                  <ion-icon slot="start" name="person-outline" color="primary"></ion-icon>
                  <ion-label>
                    <span translate>Menu.otherUser</span>
                  </ion-label>
                </ion-item>

                <ion-card-content slot="content" *ngIf="true">
                  <form [formGroup]="otherUserForm">
                    <ion-item>
                      <ion-grid>
                        <ion-row>
                          <ion-col size="4.5">
                            <ion-label class="wrap-text">
                              <span translate>Menu.user</span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="2.5">
                            <ion-label class="wrap-text">
                              <span translate>Edge.Config.Alerting.offlineAlerting</span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="2.5">
                            <ion-label class="wrap-text">
                              <span translate>Edge.Config.Alerting.faultAlerting</span>
                            </ion-label>
                          </ion-col>
                          <ion-col size="2.5">
                            <ion-label class="wrap-text">
                              <span translate>Edge.Config.Alerting.warningAlerting</span>
                            </ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                    <ion-item>
                      <ion-grid>
                        <ion-row *ngFor="let user of otherUserInformation; let i = index;"
                          [formGroupName]="user.userLogin" style="align-items: center;"
                          [ngClass]="(i % 2 === 0) ? '' : 'even-row'">
                          <ion-col size="4.5">
                            <ion-label>
                              {{user.userLogin}}
                            </ion-label>
                          </ion-col>
                          <ion-col size="2.5">
                            <ion-select class="custom-options" interface="popover" formControlName="offlineEdgeDelay">
                              <ion-select-option [value]="0">
                                <span translate>Edge.Config.Alerting.deactivated</span>
                              </ion-select-option>
                              <ion-select-option *ngFor="let option of defaultValues[AlertingType.offline]"
                                [value]="option.value">
                                {{option.label}}
                              </ion-select-option>
                              <ion-select-option *ngIf="isInvalidDelay(AlertingType.offline, user.offlineEdgeDelay)"
                                [value]="user.offlineEdgeDelay">
                                {{getLabelToDelay(user.offlineEdgeDelay)}}
                              </ion-select-option>
                            </ion-select>
                          </ion-col>
                          <ion-col size="2.5">
                            <ion-select class="custom-options" interface="popover" formControlName="faultEdgeDelay">
                              <ion-select-option [value]="0">
                                <span translate>Edge.Config.Alerting.deactivated</span>
                              </ion-select-option>
                              <ion-select-option *ngFor="let option of defaultValues[AlertingType.fault]"
                                [value]="option.value">
                                {{option.label}}
                              </ion-select-option>
                              <ion-select-option *ngIf="isInvalidDelay(AlertingType.fault, user.faultEdgeDelay)"
                                [value]="user.faultEdgeDelay">
                                {{getLabelToDelay(user.faultEdgeDelay)}}
                              </ion-select-option>
                            </ion-select>
                          </ion-col>
                          <ion-col size="2.5">
                            <ion-select class="custom-options" interface="popover" formControlName="warningEdgeDelay">
                              <ion-select-option [value]="0">
                                <span translate>Edge.Config.Alerting.deactivated</span>
                              </ion-select-option>
                              <ion-select-option *ngFor="let option of defaultValues[AlertingType.warning]"
                                [value]="option.value">
                                {{option.label}}
                              </ion-select-option>
                              <ion-select-option *ngIf="isInvalidDelay(AlertingType.warning, user.warningEdgeDelay)"
                                [value]="user.warningEdgeDelay">
                                {{getLabelToDelay(user.warningEdgeDelay)}}
                              </ion-select-option>
                            </ion-select>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
                  </form>
                </ion-card-content>
              </ion-accordion>
            </ion-accordion-group>
          </ion-card>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <!-- Error View -->
  <ng-template #error_view>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="6">
          <ion-card>
            <ion-item lines="full" color="light">
              <ion-icon slot="start" name="warning-outline" color="danger"></ion-icon>
              <ion-label color="danger" translate>
                General.fault
              </ion-label>
              <oe-help-button key="SETTINGS_ALERTING"></oe-help-button>
            </ion-item>

            <ion-card-content>
              <ion-label color="danger" expand="block" color="danger">
                <span>{{error.message}}</span>
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-content>

<!-- Save Button -->
<ion-footer *ngIf="isDirty()">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6">
        <form (ngSubmit)="setUsersAlertingConfig()">
          <ion-button expand="block" type="submit" color="primary" translate>
            General.save
          </ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
