<div [formGroup]="_form">
  <div fxLayout>
    <p fxFlex="100px">Speicher</p>
    <div [formGroup]="_form.controls.ess" fxFlex fxLayout fxLayoutWrap="wrap">
      <md-input-container fxFlex="50%"><input formControlName="id" type="text" placeholder="Id" md-input></md-input-container>
      <md-input-container fxFlex="50%"><input formControlName="minSoc" type="number" placeholder="Ladezustand Minimal" md-input></md-input-container>
      <md-input-container fxFlex="50%"><input formControlName="chargeSoc" type="number" placeholder="Ladezustand Zwangsbeladung" md-input></md-input-container>
    </div>
  </div>
  <div fxLayout>
    <p fxFlex="100px">Zähler</p>
    <div [formGroup]="_form.controls.meter" fxFlex fxLayout fxLayoutWrap="wrap">
      <md-input-container fxFlex="50%"><input formControlName="id" type="text" placeholder="Id" md-input></md-input-container>
    </div>
  </div>
  <div fxLayout fxLayoutAlign="end start">
    <button md-mini-fab (click)="save(_form)" [disabled]="_form.pristine" color="primary"><md-icon>check</md-icon></button>
    <button md-mini-fab (click)="delete(_form)"><md-icon>delete</md-icon></button>
  </div>
</div>