<ion-grid no-padding>
  <ng-container *ngFor="let name of widgetNames" [ngSwitch]="name">

    <ion-row *ngSwitchCase="'io.openems.edge.evcs.api.Evcs'" style.height="150px">
      <ion-col size="12">
        <evcs [fromDate]="fromDate" [toDate]="toDate"></evcs>
      </ion-col>
    </ion-row>

    <ion-row *ngSwitchCase="'io.openems.impl.controller.channelthreshold.ChannelThresholdController'" style.height="150px">
      <ion-col size="12">
        <channelthreshold [fromDate]="fromDate" [toDate]="toDate"></channelthreshold>
      </ion-col>
    </ion-row>

    <ion-row *ngSwitchCase="'Controller.ChannelThreshold'" style.height="150px">
      <ion-col size="12">
        <channelthreshold [fromDate]="fromDate" [toDate]="toDate"></channelthreshold>
      </ion-col>
    </ion-row>

  </ng-container>
</ion-grid>