<installation-view iconName="clipboard-outline"
    header="{{ 'INSTALLATION.PROTOCOL_PV_AND_ADDITIONAL_AC.TITLE_ADDITIONAL_AC' | translate }}"
    (previousClicked)="onPreviousClicked()" (nextClicked)="onNextClicked()">

    <formly-form *ngIf="insertModeEnabled" [form]="form" [fields]="fields" [model]="model"></formly-form>

    <ion-item lines="none">
        <ion-button [disabled]="ibn.pv.ac.length >= 1" (click)="switchMode()" slot="start">
            <ion-label>{{insertModeEnabled ? ('INSTALLATION.PROTOCOL_PV_AND_ADDITIONAL_AC.SAVE' | translate) :
                ('INSTALLATION.PROTOCOL_PV_AND_ADDITIONAL_AC.ADD' | translate)}}</ion-label>
            <ion-icon [name]="insertModeEnabled ? 'save-outline':'add-outline'" slot="start"></ion-icon>
        </ion-button>
        <ion-button (click)="openManual()" slot="end" [disabled]="manualLink === null">
            <ion-label>{{ 'INSTALLATION.PROTOCOL_PV_AND_ADDITIONAL_AC.OPEN_MANUAL' | translate}}</ion-label>
            <ion-icon name="open-outline" slot="start"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-card *ngIf="ibn.pv.ac?.length > 0">
        <ion-card-content>
            <ion-item *ngFor="let ac of ibn.pv.ac" lines="none">
                <ion-item slot="start" lines="none">
                    <ion-button (click)="editElement(ac)" title="bearbeiten">
                        <ion-icon name="pencil-outline">
                        </ion-icon>
                    </ion-button>
                    <ion-button (click)="removeElement(ac)" title="entfernen">
                        <ion-icon name="trash-outline">
                        </ion-icon>
                    </ion-button>
                </ion-item>
                <div>{{ac.alias}}</div>
            </ion-item>
        </ion-card-content>
    </ion-card>

</installation-view>