<ion-header>
    <ion-toolbar class="ion-justify-content-center" color="primary">
        <ion-title class="ion-text-start ion-padding-left" translate>General.SelfConsumption</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="modalCtrl.dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-buttons class="ion-justify-content-center">
            <pickdate></pickdate>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card-content>
        <table class="full_width">
            <tr>
                <td style="width: 100%" class="ion-padding"></td>
            </tr>
        </table>
        <selfconsumptionChart [period]="service.historyPeriod"></selfconsumptionChart>
    </ion-card-content>
</ion-content>