<!--<ion-card button (click)="presentModal()" style="cursor: pointer;" *ngIf="edge">
  <ngx-loading [show]="!(edge.currentData | async)"></ngx-loading>
  <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-item lines="full" color="light">
      <ion-avatar>
        <ion-img src="assets/img/evcs.png"></ion-img>
      </ion-avatar>
      <ion-label style="padding-left: 20px;" translate>
        Edge.Index.Widgets.EVCS.ChargingStation
      </ion-label>
    </ion-item>

    <ion-label *ngIf="currentData[componentId + '/State'] != 3">
      <ion-card-content *ngIf="chargingStations">
        <table class="full_width">
          <ng-container *ngIf="chargingStations.length > 1 ">
            
            <tr>
              <td style="width:50%" translate>Edge.Index.Widgets.EVCS.AmountOfChargingStations</td>
              <td style="width:15%"></td>
              <td style="width:45%" class="align_right">
                {{ chargingStations.length }}
              </td>
            </tr>
          </ng-container>
          <tr>
            <td style="width:50%">
              <ion-label *ngIf="chargingStations.length > 1" translate>
                Edge.Index.Widgets.EVCS.TotalChargingPower
              </ion-label>
              <ion-label *ngIf="chargingStations.length == 1" translate>Edge.Index.Widgets.EVCS.ChargingPower
              </ion-label>
            </td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ currentChargingPower() | number:'1.0-0' }} W
            </td>
          </tr>
          <tr *ngIf="evcsCollection.length>0">
            <td style="width:50%">
              Maximaler Stromfluss (Netz):
            </td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ evcsCollection[0].properties.gridCurrentLimit | number:'1.0-0' }} A
            </td>
          </tr>
          <tr *ngIf="evcsCollection.length>0">
            <td style="width:50%">
              Maximaler Stromfluss (Manuell):
            </td>
            <td style="width:15%"></td>
            <td style="width:45%" class="align_right">
              {{ evcsCollection[0].properties.manualCurrentLimit | number:'1.0-0' }} A
            </td>
          </tr>
         
        </table>
      </ion-card-content>
    </ion-label>
    <ion-label *ngIf="currentData[componentId + '/State'] == 3">
      <ion-item class="normalFontSize">
        <table>
          <tr>
            <td translate>
              Edge.Index.Widgets.EVCS.NoConnection.Description
            </td>
          </tr>
        </table>
      </ion-item>
    </ion-label>
  </ng-container>
</ion-card> -->