<ion-card button (click)="presentModal()" style="cursor: pointer;" *ngIf="edge">
  <ng-container *ngIf="(edge.currentData | async)['channel'] as currentData">
    <ion-item lines="full" color="light">
      <ion-avatar>
        <ion-img src="assets/img/evcs.png"></ion-img>
      </ion-avatar>
      <ion-label *ngIf="currentData[componentId + '/Alias'] as alias" style="padding-left: 20px;">
        {{ alias }}
      </ion-label>
      <ion-label *ngIf="!currentData[componentId + '/Alias']" style="padding-left: 20px;" translate>
        Edge.Index.Widgets.EVCS.ChargingStation
        <ion-text>
          {{ componentId }}
        </ion-text>
      </ion-label>
    </ion-item>

    <ng-container *ngIf="currentData[componentId + '/State'] != 3">
      <ion-card-content *ngIf="controller">
        <ion-grid>
          <table class="full_width">
            <tr>
              <td style="width:20%" translate>
                Edge.Index.Widgets.EVCS.Status
              </td>
              <td style="width:80%" class="align_right">
                {{ getState(currentData[componentId + "/Status"], currentData[componentId + "/Plug"])}}
              </td>
            </tr>
          </table>
          <table class="full_width">
            <tr>
              <td style="width: 50%" *ngIf="controller.properties.enabledCharging == true" translate>
                General.Mode
              </td>
              <td style="width: 50%" class="align_right" translate
                *ngIf="controller.properties.chargeMode == 'FORCE_CHARGE' && controller.properties.enabledCharging == true">
                General.Manually
              </td>
              <td style="width: 50%" class="align_right" translate
                *ngIf="controller.properties.chargeMode == 'EXCESS_POWER' && controller.properties.enabledCharging == true">
                Edge.Index.Widgets.EVCS.OptimizedChargeMode.ShortName
              </td>
            </tr>
          </table>
          <ng-container
            *ngIf="controller.properties.chargeMode == 'EXCESS_POWER' && controller.properties.enabledCharging == true">
            <table class="full_width">
              <tr>
                <td style="width: 65%" translate>
                  Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinCharging
                </td>
                <td style="width: 35%" class="align_right" *ngIf="controller.properties.defaultChargeMinPower == 0"
                  translate>
                  General.Inactive
                </td>
                <td style="width: 35%" class="align_right" *ngIf="controller.properties.defaultChargeMinPower > 0"
                  translate>
                  General.Active
                </td>
              </tr>
              <tr *ngIf="controller.properties.defaultChargeMinPower > 0">
                <td style=" width: 50%" translate>
                  Edge.Index.Widgets.EVCS.OptimizedChargeMode.MinChargePower
                </td>
                <td style="width: 50%" class="align_right">
                  {{controller.properties.defaultChargeMinPower}}&nbsp;W
                </td>
              </tr>
              <tr>
                <td style="width: 50%" translate>
                  Edge.Index.Widgets.EVCS.Prioritization
                </td>
                <td style="width: 50%" class="align_right" *ngIf="controller.properties.priority == 'CAR'" translate>
                  Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Car
                </td>
                <td style="width: 50%" class="align_right" *ngIf="controller.properties.priority == 'STORAGE'"
                  translate>
                  Edge.Index.Widgets.EVCS.OptimizedChargeMode.ChargingPriority.Storage
                </td>
              </tr>
            </table>
          </ng-container>
          <ng-container
            *ngIf="controller.properties.chargeMode == 'FORCE_CHARGE' && controller.properties.enabledCharging == true">
            <table class="full_width">
              <tr>
                <td style="width: 50%" translate>Edge.Index.Widgets.EVCS.ForceChargeMode.MaxCharging</td>
                <td style="width: 50%" class="align_right">{{controller.properties.forceChargeMinPower}}&nbsp;W</td>
              </tr>
            </table>
          </ng-container>
        </ion-grid>
      </ion-card-content>
    </ng-container>
    <ng-container *ngIf="currentData[componentId + '/State'] == 3">
      <ion-card-content>
        <ion-grid>
          <table class="full_width">
            <tr>
              <td translate>
                Edge.Index.Widgets.EVCS.NoConnection.Description
              </td>
            </tr>
          </table>
        </ion-grid>
      </ion-card-content>
    </ng-container>
  </ng-container>
</ion-card>