<ion-header>
  <ion-toolbar mode="md" class="ion-justify-content-center" color="primary">
    <ion-title *ngIf="controller.alias != controller.id">{{ controller.alias }}</ion-title>
    <ion-title *ngIf="controller.alias == controller.id">{{ controller.id }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="modalCtrl.dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ng-container *ngIf="service.currentEdge | async as edge">
  <ng-container *ngIf="edge.currentData | async as currentData">
    <ng-container *ngIf="currentData.summary as sum">
      <ion-content>

        <ion-card-content class="underline">
          <table class="full_width">
            <tr>
              <td style="width: 65%" translate>
                General.State
              </td>
              <td style="width: 35%" class="align_right" translate>
                <ion-icon *ngIf="currentData.channel[outputChannel] == null" name="help"></ion-icon>
                <ng-container *ngIf="currentData.channel[outputChannel] == 1">
                  General.On
                </ng-container>
                <ng-container *ngIf="currentData.channel[outputChannel] == 0">
                  General.Off
                </ng-container>
              </td>
            </tr>
          </table>
        </ion-card-content>

        <ion-card-content class="underline">
          <table class="full_width">
            <tr>
              <td style="width: 65%" translate>
                General.Mode
              </td>
            </tr>
          </table>
          <ion-segment (ionChange)="updateMode($event)" value="{{controller.properties['mode']}}" scrollable="false">
            <ion-segment-button value="ON">
              <ion-label translate>
                General.On
              </ion-label>
              <ion-icon color="success" style="width:40px" name="power"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="AUTOMATIC">
              <ion-label translate>
                General.Automatic
              </ion-label>
              <ion-icon style="width:40px" name="sunny">
              </ion-icon>
            </ion-segment-button>
            <ion-segment-button value="OFF">
              <ion-label translate>
                General.Off
              </ion-label>
              <ion-icon name="power" style="width: 40px"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-card-content>
        <ng-container *ngIf="controller.properties['mode'] == 'AUTOMATIC' && loading == false">
          <form [formGroup]="formGroup">
            <ng-container *ngIf="inputMode == 'OTHER'">
              <ion-card-content class="underline">
                <table class="full_width">
                  <tr>
                    <td style="width: 50%">
                      Abhängig von:
                    </td>
                    <td style="width: 50%" class="align_right">
                      Sonstige ({{controller.properties.inputChannelAddress}})
                    </td>
                  </tr>
                </table>
              </ion-card-content>
            </ng-container>
            <ng-container *ngIf="inputMode != 'OTHER'">
              <ion-card-content class="ion-no-padding">
                <ion-row>
                  <ion-col class="ion-no-padding" size="12">
                    <ion-item lines="none" class="noPadding">
                      <ion-label class="regularFont">Abhängig von</ion-label>
                      <ion-select formControlName="inputMode" [value]="inputMode" (ionChange)="updateInputMode($event)">
                        <ion-select-option value="SOC" translate>General.Soc</ion-select-option>
                        <ion-select-option value="PRODUCTION" translate>General.Production</ion-select-option>
                        <ion-select-option value="GRIDSELL" translate>General.GridSell</ion-select-option>
                        <ion-select-option value="GRIDBUY" translate>General.GridBuy</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ng-container>

            <ng-container *ngIf="inputMode != 'SOC'">
              <ion-card-content class="underline" style="padding-top: 0;">
                <table class="full_width">
                  <tr>
                    <td style="width: 65%">
                      Geschaltete Last
                    </td>
                    <td style="width: 35%" class="align_right">
                      <ion-item lines="inset" class="noPadding">
                        <ion-input class="regularFont" [value]="formGroup.value.switchedLoadPower"
                          formControlName="switchedLoadPower" style="text-align: end;">
                        </ion-input>
                        <ion-label class="regularFont">&nbsp;W</ion-label>
                      </ion-item>
                    </td>
                  </tr>
                </table>
              </ion-card-content>
            </ng-container>

            <ion-card-content class="underline">
              <table class="full_width">
                <tr>
                  <td style="width: 65%">
                    Aktueller Wert</td>
                  <ng-container [ngSwitch]="inputMode">
                    <td style="width: 35%" class="align_right" *ngSwitchCase="'SOC'">
                      {{sum.storage.soc | unitvalue:'%'}}
                    </td>
                    <td style="width: 35%" class="align_right" *ngSwitchCase="'GRIDSELL'">
                      {{sum.grid.sellActivePower | unitvalue: 'W'}}
                    </td>
                    <td style="width: 35%" class="align_right" *ngSwitchCase="'GRIDBUY'">
                      {{sum.grid.buyActivePower | unitvalue: 'W'}}
                    </td>
                    <td style="width: 35%" class="align_right" *ngSwitchCase="'PRODUCTION'">
                      {{sum.production.activePower | unitvalue: 'W'}}
                    </td>
                    <td style="width: 35%" class="align_right" *ngSwitchCase="'OTHER'">
                      {{currentData.channel[controller.properties['inputChannelAddress']]}}
                      <div *ngIf="config.getChannel(inputChannel)['unit'] !== ''">
                        &nbsp;{{config.getChannel(inputChannel)['unit']}}
                      </div>
                    </td>
                  </ng-container>
                </tr>
              </table>
              <ng-container *ngIf="inputMode == 'SOC'">
                <table class="full_width">
                  <tr>
                    <td style="width: 65%;">
                      Schwellenwert</td>
                    <td style="width: 35%" class="align_right">
                      {{formGroup.value.threshold | unitvalue:'%'}}
                    </td>
                  </tr>
                </table>
                <table class="full_width">
                  <tr>
                    <ion-range formControlName="threshold" pin color="dark" min="1" max="100"
                      [value]="formGroup.value.threshold">
                      <ion-label slot="start">
                        {{0 | unitvalue:'%'}}
                      </ion-label>
                      <ion-label slot="end">
                        {{100 | unitvalue:'%'}}
                      </ion-label>
                    </ion-range>
                  </tr>
                </table>
              </ng-container>
              <ng-container *ngIf="inputMode != 'SOC'">
                <table class="full_width">
                  <tr>
                    <td style="width: 65%">
                      Schwellenwert
                    </td>
                    <td style="width: 35%" class="align_right">
                      <ion-item lines="inset" class="noPadding">
                        <ion-input class="regularFont" style="text-align: end;" [value]="formGroup.value.threshold"
                          formControlName="threshold">
                        </ion-input>
                        <ion-label *ngIf="inputMode != 'OTHER'" class="regularFont">&nbsp;W</ion-label>
                        <ion-label *ngIf="inputMode == 'OTHER'" class="regularFont">
                          <div *ngIf="config.getChannel(inputChannel)['unit'] !== ''">
                            &nbsp;{{config.getChannel(inputChannel)['unit']}}
                          </div>
                        </ion-label>
                      </ion-item>
                    </td>
                  </tr>
                </table>
              </ng-container>
            </ion-card-content>

            <ion-card-content class="underline">
              <table class="full_width">
                <tr>
                  <td style="width: 65%" translate>
                    Verhalten
                  </td>
                </tr>
              </table>
              <ion-segment formControlName="invert" scrollable="false" [value]="formGroup.value.invert">
                <ion-segment-button value="false">
                  <ion-label>
                    <ng-container *ngIf="inputMode == 'SOC'; else noSocNoInvert">
                      Über {{formGroup.value.threshold | unitvalue:'%'}} einschalten
                    </ng-container>
                    <ng-template #noSocNoInvert>
                      <ng-container *ngIf="!formGroup.value.threshold; else notNull">
                        Über {{ 0 | unitvalue:'W'}} einschalten
                      </ng-container>
                      <ng-template #notNull>
                        <ng-container *ngIf="inputMode == 'GRIDSELL'">
                          Über {{formGroup.value.threshold | unitvalue:'W'}} einschalten
                        </ng-container>
                        <ng-container *ngIf="inputMode != 'GRIDSELL'">
                          Über {{formGroup.value.threshold | unitvalue:'W'}} einschalten
                        </ng-container>
                      </ng-template>
                    </ng-template>
                  </ion-label>
                  <ion-icon style="width:40px" name="arrow-round-up"></ion-icon>
                </ion-segment-button>
                <ion-segment-button value="true">
                  <ion-label>
                    <ng-container *ngIf="inputMode == 'SOC'; else noSocInvert">
                      Unter {{formGroup.value.threshold | unitvalue:'%'}} einschalten
                    </ng-container>
                    <ng-template #noSocInvert>
                      <ng-container *ngIf="!formGroup.value.threshold; else notNull">
                        Über {{ 0 | unitvalue:'W'}} einschalten
                      </ng-container>
                      <ng-template #notNull>
                        <ng-container *ngIf="inputMode == 'GRIDSELL'">
                          Unter {{formGroup.value.threshold | unitvalue:'W'}} einschalten
                        </ng-container>
                        <ng-container *ngIf="inputMode != 'GRIDSELL'">
                          Unter {{formGroup.value.threshold | unitvalue:'W'}} einschalten
                        </ng-container>
                      </ng-template>
                    </ng-template>
                  </ion-label>
                  <ion-icon style="width:40px" name="arrow-round-down"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </ion-card-content>

            <ion-card-content>
              <table class="full_width">
                <tr>
                  <td style="width: 65%">
                    Mindestumschaltzeit
                  </td>
                  <td style="width: 35%" class="align_right">
                    <ion-item lines="inset" class="noPadding">
                      <ion-input class="regularFont" [value]="formGroup.value.minimumSwitchingTime"
                        formControlName="minimumSwitchingTime" inputmode="decimal" style="text-align: end;">
                      </ion-input>
                      <ion-label class="regularFont">&nbsp;s</ion-label>
                    </ion-item>
                  </td>
                </tr>
              </table>
            </ion-card-content>
          </form>
          <ion-fab *ngIf="showApplyChanges()" class="ion-padding-bottom" vertical="bottom" horizontal="center"
            slot="fixed">
            <ion-fab-button (click)="applyChanges()">
              <ion-icon size="large" name="checkmark-circle-outline">
              </ion-icon>
            </ion-fab-button>
          </ion-fab>
        </ng-container>
        <ion-grid *ngIf="loading == true">
          <ion-progress-bar type="indeterminate"></ion-progress-bar>
        </ion-grid>
      </ion-content>
    </ng-container>
  </ng-container>
</ng-container>