<ng-container *ngIf="config && edge">
    <ion-header>
        <ion-toolbar class="ion-justify-content-center" color="primary">
            <ion-title class="ion-text-start ion-padding-left" translate>General.production</ion-title>
            <ng-container>
                <ion-buttons slot="start">
                    <chartOptions (setShowTotal)='onNotifyTotal($event)' (setShowPhases)='onNotifyPhases($event)'
                        [showTotal]="showTotal" [showPhases]="showPhases"></chartOptions>
                </ion-buttons>
            </ng-container>
            <ion-buttons slot="end">
                <ion-button routerLink="/device/{{edge.id}}/history/">
                    <ion-icon name="close-outline"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-toolbar color="primary">
            <ion-buttons class="ion-justify-content-center">
                <pickdate></pickdate>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ng-container *ngIf="showTotal">
            <ion-card-content>
                <table class="full_width">
                    <tr>
                        <td style="width: 100%" class="ion-padding" translate>General.TOTAL</td>
                    </tr>
                </table>
                <productionTotalChart [showPhases]="showPhases" [period]="service.historyPeriod"></productionTotalChart>
            </ion-card-content>
        </ng-container>
        <ng-container *ngIf="!showTotal">
            <!-- total summary of AC + DC -->
            <ng-container *ngIf="productionMeterComponents.length > 0 && chargerComponents.length > 0">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding" translate>General.TOTAL</td>
                        </tr>
                    </table>
                    <productionSingleChart [period]="service.historyPeriod">
                    </productionSingleChart>
                </ion-card-content>
            </ng-container>
            <!-- One Production Meter -->
            <ng-container *ngIf="productionMeterComponents.length === 1 && chargerComponents.length === 0">
                <ng-container *ngFor="let component of productionMeterComponents">
                    <ion-card-content>
                        <table class="full_width">
                            <tr>
                                <td style="width: 100%" class="ion-padding">
                                    {{ component.alias }}
                                </td>
                            </tr>
                        </table>
                        <productionMeterChart [showPhases]="showPhases" [isOnlyChart]="isOnlyChart"
                            [period]="service.historyPeriod" [componentId]="component.id">
                        </productionMeterChart>
                    </ion-card-content>
                </ng-container>
            </ng-container>
            <!-- disable Phases if Total AC + DC Chart is shown -->
            <ng-container *ngIf="productionMeterComponents.length === 1 && chargerComponents.length > 0">
                <ng-container *ngFor="let component of productionMeterComponents">
                    <ion-card-content [class.underline]="chargerComponents.length > 0">
                        <table class="full_width">
                            <tr>
                                <td style="width: 100%" class="ion-padding">
                                    {{ component.alias }}
                                </td>
                            </tr>
                        </table>
                        <productionMeterChart [showPhases]="showPhases" [isOnlyChart]="isOnlyChart"
                            [period]="service.historyPeriod" [componentId]="component.id">
                        </productionMeterChart>
                    </ion-card-content>
                </ng-container>
            </ng-container>
            <!-- more than one Production Meter -->
            <!-- summary of Production Meters -->
            <ng-container *ngIf="productionMeterComponents.length > 1">
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding" translate>General.TOTAL</td>
                        </tr>
                    </table>
                    <productionTotalAcChart [showPhases]="showPhases" [period]="service.historyPeriod">
                    </productionTotalAcChart>
                </ion-card-content>
            </ng-container>

            <ng-container *ngIf="productionMeterComponents.length > 1">
                <ng-container *ngFor="let component of productionMeterComponents">
                    <ng-container *ngIf="config.factories[component.factoryId] as factory">
                        <ion-card-content
                            [class.underline]="chargerComponents.length > 0 || !isLastElement(component, productionMeterComponents)">
                            <ng-container
                                *ngIf="factory.natureIds.includes('io.openems.edge.meter.api.SymmetricMeter')">
                                <table class="full_width">
                                    <tr>
                                        <td style="width: 100%" class="ion-padding">
                                            {{ component.alias }}
                                        </td>
                                    </tr>
                                </table>
                                <productionMeterChart [period]="service.historyPeriod" [componentId]="component.id">
                                </productionMeterChart>
                            </ng-container>
                        </ion-card-content>
                    </ng-container>
                </ng-container>
            </ng-container>

            <!-- one DC Charger -->
            <ng-container *ngIf="chargerComponents.length === 1">
                <ng-container *ngFor="let component of chargerComponents">
                    <ion-card-content>
                        <table class="full_width">
                            <tr>
                                <td style="width: 100%" class="ion-padding">
                                    {{ component.alias }}
                                </td>
                            </tr>
                        </table>
                        <productionChargerChart [isOnlyChart]="isOnlyChart" [period]="service.historyPeriod"
                            [componentId]="component.id">
                        </productionChargerChart>
                    </ion-card-content>
                </ng-container>
            </ng-container>
            <!-- more than one DC Charger -->
            <ng-container *ngIf="chargerComponents.length > 1">
                <!-- summary of DC Charger -->
                <ion-card-content class="underline">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding" translate>General.TOTAL<span> DC</span></td>
                        </tr>
                    </table>
                    <productionTotalDcChart [period]="service.historyPeriod"></productionTotalDcChart>
                </ion-card-content>
                <ng-container *ngFor="let component of chargerComponents">
                    <table class="full_width">
                        <tr>
                            <td style="width: 100%" class="ion-padding">
                                {{ component.alias }}
                            </td>
                        </tr>
                    </table>
                    <ion-card-content [class.underline]="!isLastElement(component, chargerComponents)">
                        <productionChargerChart [period]="service.historyPeriod" [componentId]="component.id">
                        </productionChargerChart>
                    </ion-card-content>
                </ng-container>
            </ng-container>
        </ng-container>
    </ion-content>
</ng-container>