<ion-card class="ion-no-padding">
  <ion-item lines="full" color="light">
    <ion-icon size="large" slot="start" name="laptop" color="primary"></ion-icon>
    <ion-label translate>
      Edge.Index.Energymonitor.title
    </ion-label>
    <ion-button (click)="exportToXlxs()" slot="end">
      <ion-icon name="download"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-card-content>
    <div [style.height.px]="getChartHeight()">
      <ngx-loading [show]="loading"></ngx-loading>
      <ng-container *ngIf="!loading">
        <canvas baseChart [datasets]="datasets" [labels]="labels" [options]="options" [colors]="colors"
          chartType="line"></canvas>
      </ng-container>
    </div>
  </ion-card-content>
</ion-card>