<ng-template #tplCard>
  <ion-item lines="full" color="light">
    <ion-icon size="large" slot="start" name="laptop-outline" color="primary"></ion-icon>
    <ion-label translate>
      Edge.Index.Energymonitor.title
    </ion-label>
    <ion-button *ngIf="errorResponse === null" (click)="exportToXlxs()" slot="end">
      <ion-icon name="download-outline"></ion-icon>
    </ion-button>
  </ion-item>
</ng-template>

<ng-template #tplChart>
  <oe-history-data-error [response]="errorResponse"></oe-history-data-error>

  <div [style.height.px]="getChartHeight()">
    <ngx-spinner [name]="spinnerId"></ngx-spinner>
    <ng-container *ngIf="!loading">
      <canvas baseChart [datasets]="datasets" [labels]="labels" [options]="options" [colors]="colors"
        [chartType]="chartType"></canvas>
    </ng-container>
  </div>
</ng-template>

<div class="ion-hide-sm-down">
  <ion-card class="ion-no-padding">
    <ng-template *ngTemplateOutlet="tplCard"></ng-template>
    <ion-card-content>
      <ng-template *ngTemplateOutlet="tplChart"></ng-template>
    </ion-card-content>
  </ion-card>
</div>

<div class="ion-hide-sm-up">
  <ion-card class="ion-no-padding" style="box-shadow: none !important">
    <ng-template *ngTemplateOutlet="tplCard"></ng-template>
  </ion-card>
  <ng-template *ngTemplateOutlet="tplChart"></ng-template>
</div>